{% load mtags %}
<div class="sm_megamenu_wrapper_vertical_menu sambar">
  <div class="sm_megamenu_block-title">
    <span class="icon-menu-ver fa fa-bars"></span>
    <span class="text">Меню ресторана</span>
  </div>
  <div class="sambar-inner">
    <ul class="sm-megamenu-hover sm_megamenu_menu sm_megamenu_menu_black megamenu-vertical">
      {% for menu in menus %}
      <li class="other-toggle sm_megamenu_lv1 sm_megamenu_nodrop{% if menu.sub %} parent{% endif %}">
        <a class="sm_megamenu_head sm_megamenu_{% if not menu.sub %}no{% endif %}drop" href="{{ menu.link }}">
          <span class="sm_megamenu_icon sm_megamenu_nodesc">
            <span class="sm_megamenu_title">{{ menu.name }}</span>
          </span>
        </a>
        {% if menu.sub %}
        <div class="sm-megamenu-child sm_megamenu_dropdown_6columns">
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
              <div class="sm_megamenu_head_item">
              </div>
{% comment %}<!-- Разбить на 3 блока надо и выводить
              <div class="sm_megamenu_col_2 sm_megamenu_firstcolumn">
                <div class="sm_megamenu_head_item">
                </div>
                <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
                  <div class="sm_megamenu_head_item">
                    <div class="sm_megamenu_title">
                      <span class="sm_megamenu_title_lv4">Camera & Photo</span>
                    </div>
                  </div>
                  <div class="sm_megamenu_content">
                  </div>
                </div>
                <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
                  <div class="sm_megamenu_head_item">
                    <div class="sm_megamenu_title">
                      <a class="sm_megamenu_nodrop " href="/">
                        <span class="sm_megamenu_title_lv4">Digital</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
                  <div class="sm_megamenu_head_item">
                    <div class="sm_megamenu_title">
                      <a class="sm_megamenu_nodrop " href="/">
                        <span class="sm_megamenu_title_lv4">Lenses</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
                  <div class="sm_megamenu_head_item">
                    <div class="sm_megamenu_title">
                      <a class="sm_megamenu_nodrop " href="/">
                        <span class="sm_megamenu_title_lv4">Digital Frames</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sm_megamenu_col_2">
                <div class="sm_megamenu_head_item">
                </div>
                <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
                  <div class="sm_megamenu_head_item">
                    <div class="sm_megamenu_title">
                      <span class="sm_megamenu_title_lv4">Computer & Accessories</span>
                    </div>
                  </div>
                  <div class="sm_megamenu_content">
                  </div>
                </div>
                <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
                  <div class="sm_megamenu_head_item ">
                    <div class="sm_megamenu_title">
                      <a class="sm_megamenu_nodrop" href="/">
                        <span class="sm_megamenu_title_lv4">Monitors</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
                  <div class="sm_megamenu_head_item">
                    <div class="sm_megamenu_title">
                      <a class="sm_megamenu_nodrop " href="/">
                        <span class="sm_megamenu_title_lv4">All Accessories</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
-->{% endcomment %}
<!-- Еще одна колонка -->

            </div>
{% comment %}<!--
            <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
              <div class="sm_megamenu_head_item ">
              </div>
              <div class="sm_megamenu_content">
                <div class="static-image-menu">
                  <a title="Static Image" href="#">
                    <img src="misc/image-menu-5.jpg" alt="Static Image" />
                  </a>
                </div>
              </div>
            </div>
-->{% endcomment %}
          </div>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
{% comment %}<!--
    <div class="btn-showmore">
      <a href="javascript:void(0)" title="Все категории">Все категории</a>
    </div>
-->{% endcomment %}
  </div>
</div>

