{% load mtags tags %}
<style type="text/css">
table.cruise {
    margin-left: 60px;
}
table.cruise td,
table.cruise th {
    padding: 5px;
}
table.cruise.bordered,
table.cruise.bordered td,
table.cruise.bordered th {
    border:1px solid #ccc;
}
.red_alert {
  color:red;
  text-align: center;
}
</style>
{% with request|cruises as cruises %}
<!-- Форма помощник -->
<div id="survey_container">
  <div id="top-wizard">
    <strong>Процесс <span id="location"></span></strong>
    <div id="progressbar"></div>
    <div class="shadow"></div>
  </div>

  <form name="example-1" id="wrapped_cruises" action="/order_form_cruise/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="insurance_type" value="Страховка Круизы" />
    <div id="middle-wizard">
      <input type="hidden" name="ptype" value="2" />

      <div class="step">
        <div class="row">
          <h3 class="col-md-10">Данные о страхователе:</h3>

          <div class="col-md-6">
            <ul class="data-list">
              <li><input type="text" name="name" class="required form-control" placeholder="ФИО страхователя на русском языке"></li>
              <li><input type="text" name="fname" class="required form-control" placeholder="ФИО страхователя на латинице"></li>
              <li>
                <input type="text" name="passport_birthday" class="required date form-control" placeholder="Дата рождения страхователя"  max='{% adult_date %}'>
                <span class="input_helper">Условие: совершеннолетие ({% adult_date %})</span>
              </li>
              <li><input type="text" name="phone" class="required form-control phone" placeholder="Ваш телефон"></li>
             <li><input type="email" name="email" class="required form-control" placeholder="Ваш email"></li>
              <input id="website" name="website" type="hidden" value="" ><!-- Leave for security protection, read docs for details -->
            </ul>
            <ul class="data-list-2">
              <li>
                <input name="already_safe" type="checkbox" class="check_radio" value="1"><label>Страхователь застрахован</label>
                <div class="clear clearfix"></div>
                <p class="red_alert">Выбрать, если страхователь страхует себя</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6">

            <ul class="data-list-2" style="margin: 0;">
              <li>
                <label>
                  <input name="passport_ptype" type="radio" class="check_radio passport_type passport_type required" value="1"> паспорт гражданина России
                </label>
              </li>
              <li>
                <label>
                  <input name="passport_ptype" type="radio" class="check_radio passport_type passport_type required" value="2"> загранпаспорт гражданина России
                </label>
              </li>
            </ul>

            <div class="passport_type_1 passport_type">
              <ul class="data-list">
                <li class="col-md-4"><input type="text" name="passport_series" class="form-control passport_series required" placeholder="Серия паспорта"></li>
                <li class="col-md-6"><input type="text" name="passport_number" class="form-control passport_number required" placeholder="Номер паспорта"></li>
              </ul>
            </div>

            <div class="passport_type_2 passport_type">
              <ul class="data-list">
                <li class="col-md-4"><input type="text" name="fpassport_series" class="form-control fpassport_series required" placeholder="Серия паспорта"></li>
                <li class="col-md-6"><input type="text" name="fpassport_number" class="form-control fpassport_number required" placeholder="Номер паспорта"></li>
              </ul>
            </div>
            <div class="clear clearfix"></div>

            {% with request|insurance_products_cruise as products %}
              {% for cat_id, data in products.items %}
                <h4>{{ data.cat.name }}</h4>
                <ul class="data-list-2">
                  {% for product in data.products %}
                    <li>
                      <table class="cruise">
                        <tr>
                          <td>{{ product.name }} - {{ product.price|money_format }} {% get_currency_symbol %}</td>
                        </tr>
                      </table>
                      <label>
                        <input name="cat_{{ cat_id }}" type="radio" class="required check_radio group group_{{ cat_id }}" value="{{ product.id }}">
                      </label>
                    </li>
                  {% endfor %}
                <div class="clear clearfix"></div>
                </ul>
              {% endfor %}
            {% endwith %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <ul class="data-list" id="terms">
              <li>
                <strong>Вы принимаете<a href="#" data-toggle="modal" data-target="#terms-txt"> соглашение по обработке персональных данных</a> ?</strong>
                <label class="switch-light switch-ios ">
                  <input type="checkbox" name="terms" class="required fix_ie8" value="yes">
                  <span>
                    <span class="ie8_hide">Нет</span>
                    <span>Да</span>
                  </span>
                  <a></a>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>




      <div class="step row">
        <div class="col-md-10">
          <h3>Пожалуйста, выберите круиз</h3>
          <ul class="data-list-2">
            {% for cruise in cruises %}
              <li>
                <table class="cruise bordered">
                  <thead>
                    <th>Дата</th>
                    <th>Дней</th>
                    <th>Круиз</th>
                    <th>Рейс</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ cruise.created|date:'d-m-Y' }}</td>
                      <td>{{ cruise.description }}</td>
                      <td>{{ cruise.name }}</td>
                      <td>{{ cruise.title }}</td>
                    </tr>
                  </tbody>
                </table>
                <label>
                  <input name="cruise" type="radio" class="required check_radio" value="{{ cruise.id }}">
                </label>
              </li>
              <div class="clear clearfix"></div>
            {% endfor %}
          </ul>
        </div>
      </div>


      <div class="step">
        <div class="row">

          {% for item in '11111111111111111111111111111111111111111111111111111111111111111111111111111111' %}
          <div class="member member{{ forloop.counter }} hidden">
            <div class="col-md-10">
              <h3>Застрахованный {{ forloop.counter }}</h3>
            </div>

            <div class="col-md-10">
              <ul class="data-list">
                <li><input type="text" name="name_{{ forloop.counter }}" class="form-control disabled" placeholder="Фамилия и имя на латинице Застрахованного лица (в пользу кого заключен договор страхования)"></li>
                <li>
                  <input type="text" name="birthday_{{ forloop.counter }}" class="date form-control disabled" placeholder="Дата рождения Застрахованного лица">
                </li>
              </ul>
            </div>
          </div>
          {% endfor %}

          <div class="col-md-10">
            <div class="new_member">
              <a class="btn btn-default">Добавить застрахованного</a>
            </div>
          </div>
        </div>

      </div>

{% comment %}<!--
      <div class="step row">
        <div class="col-md-10">
          <h3>Паспортные данные</h3>
          <ul class="data-list-2">
            <li><input type="text" name="passport_series" class="required form-control" placeholder="Серия"></li>
            <li><input type="text" name="passport_number" class="required form-control" placeholder="Номер"></li>
          </ul>
          <ul class="data-list-2">
            <li><input type="text" name="passport_issued" class="required form-control" placeholder="Кем выдан"></li>
            <li><input type="text" name="passport_issued_date" class="required date form-control" placeholder="Когда выдан"></li>
          </ul>
          <ul class="data-list-2">
            <li><input type="text" name="passport_registration" class="required form-control" placeholder="Место регистрации"></li>
          </ul>
        </div>
      </div>
-->{% endcomment %}
      <div class="submit step without_preview" id="complete">
        <i class="icon-check"></i>
        <h3>Спасибо, заявка на страховку заполнена!<br>
            Пожалуйста, подождите, сейчас вам будет предложена онлайн оплата
        </h3>
<!--
        <button type="submit" name="process" class="submit">Отправить заявку</button>
-->
      </div>
    </div>

    <div id="bottom-wizard">
      <button type="button" name="backward" class="backward">Назад</button>
      <button type="button" name="forward" class="forward">Дальше </button>
    </div>
  </form>
</div>
{% endwith %}
<script type="text/javascript">
function select_passport_type() {
  var passport_type = ($("input.passport_type:checked").val());
  $("div.passport_type").hide();
  $("div.passport_type_" + passport_type).show();
  if (passport_type == 1) {
    $("input[name='fpassport_series']").addClass("disabled");
    $("input[name='fpassport_number']").addClass("disabled");
    $("input[name='passport_series']").removeClass("disabled");
    $("input[name='passport_number']").removeClass("disabled");
  } else {
    $("input[name='passport_series']").addClass("disabled");
    $("input[name='passport_number']").addClass("disabled");
    $("input[name='fpassport_series']").removeClass("disabled");
    $("input[name='fpassport_number']").removeClass("disabled");
  }
}
function new_member() {
  var members_count = $(".member.show").length + 1;
  $(".member" + members_count).removeClass("hidden");
  $(".member" + members_count + " input").removeClass("disabled");
  $(".member" + members_count).addClass("show");
  $("input[name='name_" + members_count + "'").addClass("required");
  $("input[name='birthday_" + members_count + "'").addClass("required");
}
$(".new_member a.btn").click(function(){
  new_member();
});
$(document).ready(function(){
  //new_member();
  select_passport_type();
  $("input.passport_type").click(function(){
    select_passport_type();
  });


  $(".check_radio").on("ifClicked", function(event){
    if($(this).hasClass("group") && $(this).prop("checked")){
      $(this).prop("checked", false);
      $(this).iCheck("update");
      if($(".check_radio.group:checked").length > 0){
        $(".check_radio.group").removeClass("required");
        console.log("ok");
      }else{
        $(".check_radio.group").addClass("required");
        console.log("nok");
      }
      $(".check_radio.group").iCheck("update");
    }
  });

  $(".check_radio").on("ifChanged", function(event){
    if($(this).hasClass("group")){
      if($(".check_radio.group:checked").length > 0){
        $(".check_radio.group").removeClass("required");
        console.log("ok2");
      }else{
        $(".check_radio.group").addClass("required");
        console.log("nok2");
      }
      $(".check_radio.group").iCheck("update");
    }
  });

  $("#wrapped_cruises button.forward").click(function() {
    console.log("forward");
    if (!$("#wrapped_cruises input[name='already_safe']").prop("checked")) {
      console.log("add member");
      var members_count = $(".member.show").length;
      if (members_count < 1) {
          new_member();
      }
    };
  });

});
</script>