{% load mtags %}
{% if costs_types %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Типы цен</strong>
    </div>
    <div class="panel-body">

      {% for cost_type in costs_types %}
        <div class="form-group">
          <label class="col-lg-2 control-label">Цена {{ cost_type.name }}</label>
          <div class="col-lg-10">
            <input type="number" step="0.01" placeholder="Цена {{ cost_type.name|textize }}" class="form-control" name="price_{{ cost_type.id }}" value="{% if cost_type.price %}{{ cost_type.price }}{% endif %}" autocomplete="off">
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endif %}