{% load mtags %}
{% ifequal tag "mainmenu" %}
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      {% for menu in menus %}
        <li{% ifequal request.META.PATH_INFO menu.link %} class="active"{% endifequal %}>
          <a href="{% ifnotequal request.META.PATH_INFO '/' %}{% if '#' in menu.link %}/{% endif %}{% endifnotequal %}{{ menu.link }}">{{ menu.name }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="/profile/">
          <i class="fa fa-user"></i>
        </a>
      </li>
    </ul>
  </div>
{% endifequal %}