{% extends "skeleton.html" %}
{% load flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
  .stylization .btn{
    display: inline-block;
    border: none;
    transition: all 0.2s;
    font-weight: 500;
    background: #373d54;
    padding: 10px 35px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
  }
  .social i{
    font-size:18px;
  }
</style>
{% if request.session.shopper %}
<script type="text/javascript">
  window.location.href = '/profile/';
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="page-content mb-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
        <form action="/login/" method="post" id="login_form">
          {% csrf_token %}
          <div class="login-form">
            <h4 class="login-title">Вход</h4>
            <div class="row">
              <div class="col-md-12 col-12 mb-20">
                <label>Ваш логин *</label>
                <input class="mb-0 required" type="text" placeholder="Ваш логин" name="login" data-msg="Введите логин">
              </div>
              <div class="col-12 mb-20">
                <label>Пароль</label>
                <input class="mb-0 required" type="password" placeholder="Пароль" name="passwd" data-msg="Введите пароль">
              </div>

<!--
              <div class="col-md-8">
                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                  <input type="checkbox" id="remember_me">
                  <label for="remember_me">Запомнить меня</label>
                </div>
              </div>

              <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                <a href="/lost_password/"> Забыли пароль?</a>
              </div>
-->

              <div class="col-md-12 feedback_alerts"></div>

              <div class="col-md-12 mb-20">
                <button class="register-button mt-0">Вход</button>
              </div>

              <div class="col-12">
                <div class="social stylization">
                  <p>
                    <a class="btn btn-default" href="{{ vk_link }}">Войти через <i class="fa fa-vk"></i></a>
                    <a class="btn btn-default" href="{{ yandex_link }}">Войти через Yandex <i class="fa fa-renren fa-rotate-180"></i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
        <form action="/registration/" method="post" id="register_form">
          {% csrf_token %}
          <div class="login-form">
            <h4 class="login-title">Регистрация</h4>
            <div class="row">
              <div class="col-md-6 col-12 mb-20">
                <label>Ваше имя *</label>
                <input class="mb-0 required" type="text" placeholder="Ваше имя" name="name" data-msg="Введите ваше имя">
              </div>
              <div class="col-md-6 col-12 mb-20">
                <label>Ваш Email</label>
                <input class="mb-0 email" type="text" placeholder="Ваш Email" name="email" data-msg="Введите ваш Email">
              </div>
              <div class="col-md-6 mb-20">
                <label>Логин *</label>
                <input class="mb-0 required" type="text" placeholder="Логин" name="login" data-msg="Введите логин">
              </div>
              <div class="col-md-6 mb-20">
                <label>Телефон *</label>
                <input class="mb-0 required phone" type="text" placeholder="Ваш телефон" name="phone" data-msg="Введите ваш телефон">
              </div>
              <div class="col-md-6 mb-20">
                <label>Пароль *</label>
                <input class="mb-0 required" type="password" placeholder="Пароль" name="passwd" data-msg="Введите пароль">
              </div>
              <div class="col-md-6 mb-20">
                <label>Повторите пароль *</label>
                <input class="mb-0 required" type="password" placeholder="Повторите пароль" name="passwd2" data-msg="Повторите пароль">
              </div>
              <div class="col-md-12 feedback_alerts"></div>
              <div class="col-12">
                <button class="register-button mt-0">Регистрция</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}
{% endblock %}

{% block extrascripts %}
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script src="/static/js/feedback.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    function redirect_to_profile(result){
      setTimeout(function(){
          window.location.href = result['redirect'];
      }, 800);
    }
    var reg = new FeedBack("register_form", {
      "wait": "Ждите...",
      //"send": "Отправить",
      "success": "Пользователь создан",
      "progress": "Пожалуйста, ждите...",
      "error": "Произошла ошибка, сообщите нам по телефону",
      "error_captcha": "Не пройдена проверка на работа",
      "callback_success": redirect_to_profile,
      "callback_error": "",
      "dont_reset_on_submit": 1, // or 1
      //"errorClass": "invalid",
    });
    var auth = new FeedBack("login_form", {
      "wait": "Ждите...",
      //"send": "Отправить",
      "success": "Вы вошли",
      "progress": "Пожалуйста, ждите...",
      "error": "Произошла ошибка, сообщите нам по телефону",
      "error_captcha": "Не пройдена проверка на работа",
      "callback_success": redirect_to_profile,
      "callback_error": "",
      "dont_reset_on_submit": 1, // or 1
      //"errorClass": "invalid",
    });
  });
</script>
{% endblock %}