{% load mtags %}

  <div class="latest-post-wrapper">
    <div id="messages_product_view">
        </div>

<div class="primary-title">
  <h2>Latest Blog</h2>
</div>

<div class="owl-carousel slider-post">
    <div class="item">
    <div class="post-content post-ftimg-hld">
      <div class="featured-image">
                
        
<a title="Praesent quam ligula sate" href="/" >
<img src="misc/blog-short-image.jpg" alt="Image Blog" />
</a>
      </div>
      
      <a class="post-item-link" href="/" >Praesent quam ligula sate</a>
      
      <div class="date-post">
                
        <div class="day-post">15</div>
        <div class="month-post">Mar</div>
      </div>
    </div>
    </div>
    <div class="item">
    <div class="post-content post-ftimg-hld">
      <div class="featured-image">
                
        
<a title="Ut nonummy rutrum turpis" href="/" >
<img src="misc/blog-short-image-2.jpg" alt="Image Blog" />
</a>
      </div>
      
      <a class="post-item-link" href="/" >Ut nonummy rutrum turpis</a>
      
      <div class="date-post">
                
        <div class="day-post">15</div>
        <div class="month-post">Mar</div>
      </div>
    </div>
    </div>
    <div class="item">
    <div class="post-content post-ftimg-hld">
      <div class="featured-image">
                
        
<a title="Pellentesque orci lacus commodo" href="/" >
<img src="misc/blog-short-image-3.jpg" alt="Image Blog" />
</a>
      </div>
      
      <a class="post-item-link" href="/" >Pellentesque orci lacus commodo</a>
      
      <div class="date-post">
                
        <div class="day-post">15</div>
        <div class="month-post">Mar</div>
      </div>
    </div>
    </div>
    <div class="item">
    <div class="post-content post-ftimg-hld">
      <div class="featured-image">
                
        
<a title="Morbi in turpis vel ante feugiat placerat" href="/" >
<img src="misc/blog-image-6.jpg" alt="Image Blog" />
</a>
      </div>
      
      <a class="post-item-link" href="/" >Morbi in turpis vel ante feugiat placerat</a>
      
      <div class="date-post">
                
        <div class="day-post">15</div>
        <div class="month-post">Mar</div>
      </div>
    </div>
    </div>
    <div class="item">
    <div class="post-content post-ftimg-hld">
      <div class="featured-image">
                
        
<a title="Phasellus sit amet metus et neque tincidunt porta" href="/" >
<img src="misc/blog-image-5.jpg" alt="Image Blog" />
</a>
      </div>
      
      <a class="post-item-link" href="/" >Phasellus sit amet metus et neque tincidunt porta</a>
      
      <div class="date-post">
                
        <div class="day-post">15</div>
        <div class="month-post">Mar</div>
      </div>
    </div>
    </div>
    <div class="item">
    <div class="post-content post-ftimg-hld">
      <div class="featured-image">
                
        
<a title="Nulla a tellus proin tristique viverra urna" href="/" >
<img src="misc/blog-image-7.jpg" alt="Image Blog" />
</a>
      </div>
      
      <a class="post-item-link" href="/" >Nulla a tellus proin tristique viverra urna</a>
      
      <div class="date-post">
                
        <div class="day-post">15</div>
        <div class="month-post">Mar</div>
      </div>
    </div>
    </div>
</div>


    
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".latest-post-wrapper .slider-post").owlCarousel({
          responsive:{
            0:{
              items:1
            },
            480:{
              items:2
            },
            768:{
              items:3
            },
            992:{
              items:4
            },
            1200:{
              items:4
            }
          },
          
          autoplay:false,
          loop:false,
          nav : true, 
          dots: false,
          autoplaySpeed : 500,
          navSpeed : 500,
          dotsSpeed : 500,
          autoplayHoverPause: true,
          margin:20,
        });    
      });  
    </script>
  </div>
  