{% load mtags %}
<div class="container catalogue pl-lg-0 pr-lg-0 pl-md-0 pr-md-0">
  <div class="row mb-5 pb-3">
    {% for menu in menus %}
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="card rounded-0">
          <div class="card">
            <a class="my-4" href="{{ menu.link }}" {% if menu.blank %} target="_blank"{% endif %}>
              <img src="{{ menu.imagine }}" loading="lazy" />
              <h4 class="font-weight-bold text-6 pl-4 roboto">{{ menu.name }}{% if menu.icon %} <i class="fa fa-{{ menu.icon }}"></i>{% endif %}</h4>
            </a>
          </div>
{% comment %}<!--
        <div class="card flip-card flip-card-3d text-center rounded-0">
          <div class="flip-front p-5 card">
            <a class="flip-content my-4" href="{{ menu.link }}">
              <img src="{{ menu.imagine }}" loading="lazy" />
              <h4 class="font-weight-bold">{{ menu.name }}</h4>
            </a>
          </div>

          <div class="flip-back d-flex align-items-center p-5 card">
            <a class="flip-content my-4" href="{{ menu.link }}">
              <img src="{{ menu.imagine }}" loading="lazy" />
              <h4 class="font-weight-bold">{{ menu.name }}</h4>
            </a>
          </div>
-->{% endcomment %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
