{% load mtags %}
<div class="header-middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 logo-container">
        <h1 class="logo">
          <a href="/" title="{{ containers.main.tags.logo.description|textize }}" class="logo">
            <img src="{{ containers.main.tags.logo.imagine }}" alt="{{ containers.main.tags.logo.description|textize }}" />
          </a>
        </h1>
      </div>
      <div class="col-sm-9 right-container">
        <div class="search-wrapper">
          <form id="search_mini_form" action="/cat/" method="get">
            <div class="form-search">
              <input id="search" type="text" name="q" value="{{ q_string.q.q }}" class="input-text" />
              <button type="submit" title="Поиск" class="button-search fa fa-search"><span><span>Поиск</span></span></button>
              <div id="search_autocomplete" class="search-autocomplete"></div>
            </div>
          </form>
        </div>
        <div class="phone-header-container">
          <p><em class="fa fa-phone"></em> {{ containers.main.tags.phone.name }} <br>{{ containers.main.tags.phone.html|safe }}</p>
        </div>
        {% include "web/header/mini_cart.html" %}
      </div>
    </div>
  </div>
</div>
