{% load tags %}
<div class="minicart-header">
  <div id="sm_cartpro" class="sm-cartpro">
    <div class="cartpro-title cartpro-empty">
      <div class="info-minicart">
        <h2 class="cartpro-label">Ваш заказ</h2>
        <div class="item-info">
          <span class="cartpro-count">0</span>
          <span class="label-item"> кол-во: </span>
          <span class="total-price">
            <span class="price">0.00 ₽</span>
          </span>
        </div>
      </div>
    </div>
    <div class="cartpro-content" id="mini-cart">
      <!--
      <div class="cartpro-error cartpro-message"></div>
      <div class="cartpro-success cartpro-message"></div>
      -->
      {% ajax_cart request %}
    </div>
  </div>
</div>