<div class="mobile-menu">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="mobile-menu-wrapper">
        <div class="btn-mobile-wrapper">
          <a class="btn-menu-mobile btn-sidebar" title="Меню">
            <span>Меню</span>
          </a>
        </div>
        <div class="dropdown_sidebar">
          <ul class="nav-mobile">
            {% for menu in menus %}
              <li class="level-top">
                <a href="{{ menu.link }}" class="level-top">
                  <span>{{ menu.name }}</span>
                </a>
                {% if menu.sub %}
                  <ul>
                    {% for sub1 in menu.sub %}
                      <li>
                        <a href="{{ sub1.link }}"><span>{{ sub1.name }}</span></a>
                        {% if sub1.sub %}
                          <ul>
                            {% for sub2 in sub1.sub %}
                              <li>
                                <a href="{{ sub2.link }}"><span>{{ sub2.name }}</span></a>
                                {% if sub2.sub %}
                                  <ul>
                                    {% for sub3 in sub2.sub %}
                                      <li>
                                        <a href="{{ sub3.link }}"><span>{{ sub3.name }}</span></a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
