{% if perms.addresses.view_address %}
<li{% ifequal menu 'addresses' %} class="active"{% endifequal %} id="left_menu_addresses_app">
  <a class="has-submenu" data-toggle="collapse-next" href="{% url 'addresses:show_addresses' %}">
    <em class="fa fa-map-marker"></em>
    <div class="label label-primary pull-right"><i class="fa fa-angle-down"></i></div>
    <span class="item-text">Адреса</span>
  </a>
  <ul class="nav collapse{% ifequal menu 'addresses' %} in{% endifequal %}">
    <li{% ifequal submenu 'addresses' %} class="active"{% endifequal %} id="left_menu_addresses_app_addresses">
      <a class="no-submenu" data-toggle="" href="{% url 'addresses:show_addresses' %}">
        <span class="item-text">Адреса</span>
      </a>
    </li>
    <li{% ifequal submenu 'polygons' %} class="active"{% endifequal %} id="left_menu_addresses_app_polygons">
      <a class="no-submenu" data-toggle="" href="{% url 'addresses:show_polygons' %}">
        <span class="item-text">Полигоны</span>
      </a>
    </li>
  </ul>
</li>
{% endif %}
