{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<a class="btn btn-primary pull-right" href="{{ url_create }}">
  <em class="fa fa-plus-circle fa-fw mr-sm"></em> {{ action_create }} {{ rp_singular_obj }}
</a>

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {
        title: "Название места",
        field: "place",
        headerFilterPlaceholder: "Название места",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {
        title: "Адрес строкой",
        field: "addressLines",
        headerFilterPlaceholder: "Адрес строкой",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {
        title: "Индекс",
        field: "postalCode",
        headerFilterPlaceholder: "Индекс",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {
        title: "Страна",
        field: "country",
        headerFilterPlaceholder: "Страна",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {
        title: "Город",
        field: "city",
        headerFilterPlaceholder: "Город",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {
        title: "Район",
        field: "district",
        headerFilterPlaceholder: "Район",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {
        title: "Подрайон",
        field: "subdistrict",
        headerFilterPlaceholder: "Подрайон",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {
        title: "Улица",
        field: "street",
        headerFilterPlaceholder: "Улица",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {
        title: "Дом",
        field: "houseNumber",
        headerFilterPlaceholder: "Дом",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        width: 150,
      },
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}