{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}

{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script src="/static/admin/js/parsley.min.js"></script>
<script type="text/javascript">
var main_table = null;
var main_table_columns = null;

$(document).ready(function(){

  main_table_columns = [
    {% include "core/tabulator_cell/drag.html" %}
    {% include "core/tabulator_cell/id.html" %}
    {
      title: "Имя",
      field: "shopper.name",
      headerFilterPlaceholder: "Имя",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 120,
    },
    {
      title: "Телефон",
      field: "shopper.phone",
      headerFilterPlaceholder: "Телефон",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 120,
    },
    {
      title: "Серия паспорта",
      field: "series",
      headerFilterPlaceholder: "Серия паспорта",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 90,
    },
    {
      title: "Номер паспорта",
      field: "number",
      headerFilterPlaceholder: "Номер паспорта",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 120,
    },
    {
      title: "Кем выдан",
      field: "issued",
      headerFilterPlaceholder: "Кем выдан",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 120,
    },
    {
      title: "Когда выдан",
      field: "number",
      headerFilterPlaceholder: "Когда выдан",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 120,
    },
    {
      title: "Регистрация",
      field: "registration",
      headerFilterPlaceholder: "Регистрация",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 120,
    },
    {% include "core/tabulator_cell/image.html" %}
    {% include "core/tabulator_cell/is_active.html" %}
    {% include "core/tabulator_cell/position.html" %}
    {% include "core/tabulator_cell/actions.html" %}
  ]
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns: main_table_columns,
  });

  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "cat"){
      $("#menu_filter").select2({
        placeholder: 'Выберите меню',
        width: '100%',
        //tags: true,
        allowClear: true,
        ajax: {
          delay: 150,
          url: "{% url 'flatcontent:search_blocks' %}",

          data: function (params) {
            var query = {
              q: params.term,
              filter__container__tag: 'phones8800',
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        }
      }).change(function(){
        //console.log('cat', $(this).val());
        var select = document.querySelector("#menu_filter");
        select.value = $(this).val();
        // changed - custom event (instead of change)
        select.dispatchEvent(new Event('changed'));
      });
    }
  });
});
</script>
{% endblock %}