{% extends "core/base.html" %}

{% block extrahead %}
<style type="text/css">
#preview_img{
  max-width: 100%;
}
.tooltip_hint_container{
  background-color:#333;
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
}
.item-hints{
  position: absolute;
}
.item-hints .hint_text{
  margin: 25px 0 0 0;
}
.item-hints .hint {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-hints .hint::before{ /* rotated squre */
  background-color: #fff;
  width: 8px;
  height: 8px;
  z-index: 2;
  -webkit-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.item-hints .hint::after{ /* color glow */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  -webkit-box-shadow: 0 0 50px 30px rgba(70,140,200,.3);
  box-shadow: 0 0 50px 30px rgba(70,140,200,.3);
  -webkit-animation: home_hero_item_hints_glow 2s cubic-bezier(.25,.1,.2,1) infinite;
  animation: home_hero_item_hints_glow 2s cubic-bezier(.25,.1,.2,1) infinite;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
@-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #488eaa; /* Цвет свечения */
    box-shadow: 0 0 30px 5px #488eaa; /* Цвет свечения */
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(70, 140, 200, 0);
    box-shadow: 0 0 70px 50px rgba(70, 140, 200, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(70, 140, 200, 0);
    box-shadow: 0 0 0 50px rgba(70, 140, 200, 0)
  }
}
@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #488eaa; /* Цвет свечения */
    box-shadow: 0 0 30px 5px #488eaa; /* Цвет свечения */
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(70, 140, 200, 0);
    box-shadow: 0 0 70px 50px rgba(70, 140, 200, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(70, 140, 200, 0);
    box-shadow: 0 0 0 50px rgba(70, 140, 200, 0)
  }
}
.item-hints .hint-dot {
  z-index: 3;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  -webkit-transform: translate(-0%,-0%) scale(.95);
  transform: translate(-0%,-0%) scale(.95);
  -webkit-animation: home_hero_item_hints_border 2s linear infinite;
  animation: home_hero_item_hints_border 2s linear infinite;
  margin: auto;
}
@-webkit-keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}
@keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }
  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}
.item-hints .hint-radius {
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color,opacity,visibility,-webkit-transform;
  transition-property: background-color,opacity,visibility,-webkit-transform;
  transition-property: background-color,opacity,visibility,transform;
  transition-property: background-color,opacity,visibility,transform,-webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
  transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
}
.item-hints .hint:hover .hint-radius {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Алтернативный вывод - справа */
.item-hints .hint[data-position="4"] .hint-content {
/*
  top: 85px;
  left: 50%;
  margin-left: 56px;
*/
  top: 29px;
  left: 0;
}
/* Алтернативный вывод - слева */
.item-hints .hint[data-position="2"] .hint-content {
  top: 29px;
  right: 0;
  text-align: right;
}
.item-hints .hint[data-position="2"] .hint-content::before{
  left: auto;
  right: -150px;
}
.item-hints .hint[data-position="2"] .hint-content::after{
  left: auto;
  right: -230px;
  transform: rotate(45deg);
}
.item-hints .hint-content {
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .7s ease,visibility .7s ease;
  transition: opacity .7s ease,visibility .7s ease;
  pointer-events: none;
  color: #fff;
  visibility: hidden;
  pointer-events: none
}
.item-hints .hint:hover .hint-content {
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 1;
  visibility: visible !important;
  -webkit-transition: opacity .7s ease,visibility .7s ease;
  transition: opacity .7s ease,visibility .7s ease;
  pointer-events: none;
  color: #fff;
  visibility: hidden;
  pointer-events: none
}
/* Палка в сторону от подсказки */
.item-hints .hint-content::before {
  width: 0px;
  /*
  bottom: 0;
  left: 0;
  */
  top: 0;
  left: -150px;
  content: '';
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
  width: 180px;
  transition: width 0.4s;
}
/* Палка вниз от подсказки */
.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  /*
  bottom: 0;
  left: 0;
  */
  top: 0;
  left: -150px;
  width: 80px;
  content: '';
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}
</style>
{% endblock %}

{% block content %}
<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Текст подсказки</label>
            <div class="col-lg-10">
              <input type="text" id="input_hint_text" placeholder="Текст подсказки" class="form-control" name="name" value="{% if row.name %}{{ row.name }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Координаты подсказки, %</label>
            <div class="col-md-2">
              <input type="number" id="xpos" placeholder="x позиция" class="form-control" name="xpos" value="{% if row.xpos %}{{ row.xpos }}{% endif %}">
            </div>
            <div class="col-md-2">
              <input type="number" id="ypos" placeholder="y позиция" class="form-control" name="ypos" value="{% if row.ypos %}{{ row.ypos }}{% endif %}">
            </div>
            <div class="col-md-2">
              <select id="hint_direction" class="form-control" name="direction">
                {% for direction in directions %}
                  <option value="{{ direction.0 }}"{% ifequal row.direction direction.0 %} selected{% endifequal %}>{{ direction.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Размер изображения</label>
            <div class="col-lg-3">
              <input type="text" placeholder="Размер изображения" class="form-control" name="img_size" value="{% if row.img_size %}{{ row.img_size }}{% else %}1920x1080{% endif %}">
            </div>
          </div>
          <!-- Привязанный блок (картинка) -->
          <div class="form-group">
            <label class="col-lg-2 control-label">Блок</label>
            <div class="col-lg-10">
              <select id="block_select2" name="block" autocomplete="off">
                {% if row.block %}
                  <option value="{{ row.block.id }}" selected>{{ row.block.name }} #{{ row.block.id }} ({{ row.block.tag }})</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Изображение</label>
            <div class="col-lg-10">
              <div class="tooltip_hint_container">

                <div class="item-hints">
                  <div class="hint" data-position="4"><!-- is-hint -->
                    <span class="hint-radius"></span>
                    <span class="hint-dot"></span>
                    <div class="hint-content do--split-children">
                      <p class="hint_text"></p>
                    </div>
                  </div>
                </div>

                <img id="preview_img" src="{% if img %}{{ img }}{% else %}/static/img/empty.png{% endif %}" />
              </div>
            </div>
          </div>
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script src="/static/admin/js/parsley.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#current_edit_form").parsley();
      $("#current_edit_form").submit(function(e) {
        var $form = $(this);
        var msg = 'Произошла ошибка, обновите страничку';
        var status = 'danger'; // success, warning, info, danger
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
            //$("#current_edit_form").attr("action", r.redirect);
            {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
          }
          $.notify({
            message: msg,
          },{
            status: status,
          });
          // Обновление ссылок
          update_links(r);

        }).fail(function() {
          $.notify({
            message: msg,
          },{
            status: status,
          });
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });

      function update_links(r){
        var thumb = r['img'];
        if(thumb === ''){
          thumb = '/static/img/empty.png';
        }
        $("#preview_img").attr("src", thumb + "?_=" + Date.now());
        set_hint_position();
      }
      $("#hint_direction").select2({
        placeholder: 'Выберите размещение',
      });
      $('#block_select2').select2({
        placeholder: 'Выберите блок',
        width: '100%',
        tags: true,
        ajax: {
          url: "{% url 'flatcontent:search_blocks' %}",

          data: function (params) {
            var query = {
              q: params.term,
              with_images: 1,
              page: params.page || 1,
            }
            return query;
          },

          //data: "without_templates=1&without_menus=1&without_main=1",
          cache: false,
          dataType: 'json',
        }
      });

      function set_hint_position(){
        var xpos = $("#xpos").val();
        var ypos = $("#ypos").val();
        $(".item-hints").css({left: xpos + "%", top: ypos + "%", position:'absolute'});
        $(".hint_text").html($("#input_hint_text").val());
        $(".tooltip_hint_container .hint").attr('data-position', $("#hint_direction").val());
      }
      {% if row.xpos and row.ypos %}
        set_hint_position();
      {% endif %}

      // Расчитываем позицию подсказки на изображении
      $(".tooltip_hint_container").click(function(e){
        var preview_img = $("#preview_img");
        // Расчитываем координаты клика
        var x = e.pageX - $(this).offset().left;
        var y = e.pageY - $(this).offset().top;
        var width = preview_img.width();
        var height = preview_img.height();
        // Расчитываем процент для смещения
        var one_percent_x = width / 100;
        var xpos = parseInt(x / one_percent_x);
        var one_percent_y = height / 100;
        var ypos = parseInt(y / one_percent_y);
        $("#xpos").val(xpos);
        $("#ypos").val(ypos);
        set_hint_position();
      });
    });
  </script>
{% endblock %}