{% extends "skeleton.html" %}
{% load tags mtags flatcontent_tags %}

{% block extrahead %}
<link rel="stylesheet" href="/media/css/owl.carousel.min.css">
<link rel="stylesheet" href="/media/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/media/css/white_page.css">

<style type="text/css">
.tab-content h4 {
  padding: 20px 0 10px;
}
table.table-borderless {
  max-width: 300px;
}
.price .sale{
  font-size: 1.5em;
}
p.price_desc {
  font-size: 1.1em;
  color: #a5a5a5;
}
.box_shadow {
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0 0 2rem rgba(36,36,36,.28);
  box-shadow: 0 0 2rem rgba(36,36,36,.28);
}
.color_name {
  display: none;
}
.photo_slider {
  display: none;
}
.noborder {
  border-color: transparent !important;
}
.product_color_1 {
  background-color: #f00 !important;
}
.product_color_2 {
  background-color: #000 !important;
}
.product_color_4 {
  background: #fff233 !important;
}
.product_color_5 {
  background-color: #0000FF !important;
}
.product_color_6 {
  background-color: #7CFC00 !important;
}
.product_color_7 {
  background-color: #555a5d !important;
}
.product_color_8 {
  background-color: #DCDCDC !important;
}
.hidden {
  display: none;
}
</style>
{% endblock %}

{% block extracontent %}
<div class="simple_page">
  {% include "web/components/breadcrumbs.html" %}
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6">

        <h2 class="h-title font-title anim-1 w-full">
          {{ product.name }}
        </h2>
        <div class="summary entry-summary position-relative">
          <div class="text-3-5 mb-3 text-5">{{ product.mini_info|safe }}</div>
{% comment %}<!--
          <div class="pb-0 clearfix d-flex align-items-center">
            <div class="review-num">
              <a href="#description" class="text-decoration-none text-color-default text-color-hover-primary" data-hash data-hash-offset="75" data-hash-trigger-click=".nav-link-reviews" data-hash-trigger-click-delay="1000">
                <span class="count text-color-inherit" itemprop="ratingCount">Отзывы (0)</span>
              </a>
            </div>
          </div>
-->{% endcomment %}
          <div class="divider divider-small"><hr class="bg-color-grey-scale-4"></div>
          <div class="order_price">
            <p class="price_desc">Минимальная розничная цена</p>
            <p class="price mb-3">
              <span class="sale text-color-dark">{{ product.price|money_format }} ₽</span>
              {% if product.old_price %}
                <span class="amount">{{ product.old_price|money_format }} ₽</span>
              {% endif %}
            </p>
          </div>
          {% include "web/cat/costs_types.html" %}
          <ul class="list list-unstyled text-2">
            <li class="mb-0">Доступность: <strong class="text-color-dark">{% if product.price and product.count %}на складе{% else %}под заказ{% endif %}</strong></li>
          </ul>
          {% if photo_sections|length > 0 %}
            <div{% if photo_main_section_id == "0" %} style="display:none;"{% endif %}>
              Цвет - <span class="current_color"></span>
              <div class="btn-group-toggle" data-toggle="buttons">
                {% for section in photo_sections %}
                    <label class="btn btn-outline btn-primary{% comment %} active{% endcomment %} mb-2 product_color_{{ section.section_id }} noborder">
                      <input type="radio" name="color" id="product_color_{{ section.section_id }}" autocomplete="off"{% comment %} checked{% endcomment %} class="product_color" data-section_id="{{ section.section_id }}">&nbsp;
                      <div class="color_name">
                        {% if section.section_id == "1" %}Красный{% endif %}
                        {% if section.section_id == "2" %}Черный{% endif %}
                        {% if section.section_id == "4" %}Желтый{% endif %}
                        {% if section.section_id == "5" %}Синий{% endif %}
                        {% if section.section_id == "6" %}Зеленый{% endif %}
                        {% if section.section_id == "7" %}Серый{% endif %}
                        {% if section.section_id == "8" %}Серебристый{% endif %}
                      </div>
                    </label>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          <div class="pt-4 pb-5">
            {% if product.costs %}
              <div class="custom_select mb-4">
                <select id="product_order_type">
                  <option disabled>Выберите вариант покупки</option>
                  {% if product.price and product.count %}<option value="1">В наличии</option>{% endif %}
                  <option value="2">Под заказ</option>
                </select>
              </div>
            {% endif %}

            {% if product.price and product.count %}
              <button class="add_to_cart_btn btn btn-dark btn-modern text-uppercase bg-color-hover-primary border-color-hover-primary" data-product_id="{{ product.id }}">Добавить в корзину</button>
            {% endif %}

            <a class="hidden fancybox_form order_product btn btn-dark btn-modern text-uppercase bg-color-hover-primary border-color-hover-primary" data-product_id="{{ product.id }}" href="#product_order_form">Заказать</a>
          </div>
        </div>
      </div>
      {% for section in photo_sections %}
          <div class="col-md-6 mb-5 mb-md-0 photo_slider" id="photo_slider_{{ section.section_id }}">
            <div class="thumb-gallery-wrapper">
              <div class="thumb-gallery-detail owl-carousel owl-theme manual nav-inside nav-style-1 nav-dark mb-3">
                {% if section.section_id == photo_main_section_id %}
                  {% if product.img %}
                    <div>
                      <img alt="{{ product.name|textize }}" class="img-fluid" src="{% imagine product.img '600x400' product.get_folder True %}" data-zoom-image="{{ product.imagine }}">
                    </div>
                  {% endif %}
                {% endif %}
                {% for photo in section.photos %}
                  <div>
                    <img alt="{{ product.name|textize }}" class="img-fluid" src="{% imagine photo.img '600x400' photo.get_folder True %}" data-zoom-image="{{ photo.imagine }}">
                  </div>
                {% endfor %}
              </div>
              <div class="thumb-gallery-thumbs owl-carousel owl-theme manual thumb-gallery-thumbs">
                {% if section.section_id == photo_main_section_id %}
                  {% if product.img %}
                    <div class="cur-pointer">
                      <img src="{% imagine product.img '150x150' product.get_folder True %}" class="img-fluid" alt="{{ product.name|textize }}" loading="lazy">
                    </div>
                  {% endif %}
                {% endif %}
                {% for photo in section.photos %}
                  <div class="cur-pointer">
                    <img src="{% imagine photo.img '150x150' photo.get_folder True %}" class="img-fluid" alt="{{ product.name|textize }}" loading="lazy">
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
      {% endfor %}

      {% if not photo_sections %}
        <div class="col-md-6 mb-5 mb-md-0">
          <div class="thumb-gallery-wrapper">
            <div class="thumb-gallery-detail owl-carousel owl-theme manual nav-inside nav-style-1 nav-dark mb-3">
              {% if product.img %}
                <div>
                  <img alt="{{ product.name|textize }}" class="img-fluid" src="{% imagine product.img '600x400' product.get_folder True %}" data-zoom-image="{{ product.imagine }}">
                </div>
              {% endif %}
            </div>
            <div class="thumb-gallery-thumbs owl-carousel owl-theme manual thumb-gallery-thumbs">
              {% if product.img %}
                <div class="cur-pointer">
                  <img src="{% imagine product.img '150x150' product.get_folder True %}" class="img-fluid" alt="{{ product.name|textize }}" loading="lazy">
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="divider divider-solid divider-style-4 taller"> </div>
  {% include "web/cat/product_tabs.html" %}
  {% include "web/components/footer.html" %}
</div>
<div class="hidden">
  <div id="product_order_form">
    <form action="/feedback/" method="POST" id="confirm_order" class="checkout-form">
      <input type="hidden" name="product_id" value="{{ product.id }}" />
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <img src="{{ product.thumb }}" />
        </div>
        <div class="form-group colo-md-6">
          {% include "web/cat/costs_types.html" %}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="mb-1 text-2">Ваше имя</label>
          <input type="text" value="" class="form-control text-3 h-auto py-2 required" name="name" data-msg="Ваше имя">
        </div>
        <div class="form-group col-md-6">
          <label class="mb-1 text-2">Телефон</label>
          <input type="text" value="" class="form-control text-3 h-auto py-2 required" name="phone" data-msg="Ваш телефон">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12 mb-4">
          <label class="mb-1 text-2">Сообщение</label>
          <textarea rows="6" class="form-control text-3 h-auto py-2" name="msg">Хочу заказать "{{ product.name }}"</textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <hr>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12 feedback_alerts">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12 mb-5">
          <input type="submit" id="contactFormSubmit" value="Заказать" class="btn btn-primary btn-modern pull-right">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/media/js/owl.carousel.min.js"></script>

<script type="text/javascript">
  function pick_color(section_id){
    $(".photo_slider").hide();
    var color = $(".product_color_" + section_id + " .color_name");
    $(".current_color").html(color.html());
    $("#photo_slider_" + section_id).show();
  }
  $(document).ready(function(){

    var order_product = new FeedBack("confirm_order", {
      "wait": "Ждите...",
      //"send": "Отправить",
      "success": "Спасибо, сообщение отправлено",
      "progress": "Пожалуйста, ждите...",
      "error": "Произошла ошибка, сообщите нам по телефону",
      "error_captcha": "Не пройдена проверка на работа",
      "callback_success": "",
      "callback_error": "",
      "dont_reset_on_submit": 0, // or 1
      //"errorClass": "invalid",
    });

    var $thumbGalleryDetail=$(this).find('.thumb-gallery-detail'),
        $thumbGalleryThumbs=$(this).find('.thumb-gallery-thumbs'),
        flag=false,
        duration=300;

    $thumbGalleryDetail.owlCarousel({
      items:1,
      margin:10,
      nav:true,
      dots:false,
      loop:false,
      autoHeight:true,
      navText:[],
      rtl:($('html').attr('dir')=='rtl')?true:false
    }).on('changed.owl.carousel',function(e){
      if(!flag){
        flag=true;
        $thumbGalleryThumbs.trigger('to.owl.carousel',[e.item.index-1,duration,true]);
        $thumbGalleryThumbs.find('.owl-item').removeClass('selected');
        $thumbGalleryThumbs.find('.owl-item').eq(e.item.index).addClass('selected');
        flag=false;
      }
    });
    $thumbGalleryThumbs.owlCarousel({
      margin:15,
      items:$(this).data('thumbs-items')?$(this).data('thumbs-items'):4,
      nav:false,
      center:$(this).data('thumbs-center')?true:false,
      dots:false,
      rtl:($('html').attr('dir')=='rtl')?true:false
    }).on('click','.owl-item',function(){
      $thumbGalleryDetail.trigger('to.owl.carousel',[$(this).index(),duration,true]);
    }).on('changed.owl.carousel',function(e){
      if(!flag){
        flag=true;
        $thumbGalleryDetail.trigger('to.owl.carousel',[e.item.index,duration,true]);
        flag=false;
      }
    });
    $thumbGalleryThumbs.find('.owl-item').eq(0).addClass('selected');

if($('a[data-toggle="tab"]').length){
  $('a[data-toggle="tab"]').on('shown.bs.tab',function(e){
    $(this).parents('.nav-tabs').find('.active').removeClass('active');
    $(this).addClass('active').parent().addClass('active');
  });
}
if(window.location.hash){
  $(window).on('load',function(){
    if($(window.location.hash).get(0)){
      $('a.nav-link[href="'+window.location.hash+'"]:not([data-hash])').trigger('click');
    }
  });
}
if($('a[data-toggle="tab"]').length){
  $('a[data-toggle="tab"]').on('shown.bs.tab',function(e){
    var $tabPane=$($(e.target).attr('href'));
    if($tabPane.length){
      $tabPane.find('.owl-carousel').trigger('refresh.owl.carousel');
    }
  });
}

    var cur_color = null;
    if($(".product_color").length == 0){
    }
    $(".product_color").each(function(){
      if(cur_color == null){
        $(this).parent().click();
        cur_color = $(this).attr("data-section_id");
        pick_color(cur_color);
      }
      if($(this).hasClass("touched")){
        return;
      }
      $(this).addClass("touched");
      $(this).click(function(){
        cur_color = $(this).attr("data-section_id");
        pick_color(cur_color);
      });
    });

    function check_order_type(){
      var preorder_price = "";
      var order_price = "";
      var value = $("#product_order_type").val();
      if(value == "1"){
        $(".order_product").addClass("hidden");
        $(".add_to_cart_btn").removeClass("hidden");
        $(".order_price").removeClass("hidden");
        $(".preorder_price").addClass("hidden");
      }else{
        $(".order_product").removeClass("hidden");
        $(".add_to_cart_btn").addClass("hidden");
        $(".order_price").addClass("hidden");
        $(".preorder_price").removeClass("hidden");
      }

      {% if product.price and product.count %}
      {% else %}
        $("#product_order_type").parent().addClass("hidden");
      {% endif %}
    }
    $("#product_order_type").change(function(){
      check_order_type();
    });
    {% if product.costs %}
      check_order_type();
    {% endif %}
  });
</script>
{% endblock %}
