{% load mtags %}
<div class="row products product-thumb-info-list mb-5" {% comment %}data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}"{% endcomment %}>
  {% for product in products %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="product_card mb-4">
        <div class="product">
          <div class="product-thumb-info border-0">
{% comment %}<!--
            <div class="product-thumb-info-badges-wrapper">
              <span class="badge badge-ecommerce badge-success">NEW</span>
            </div>
            <div class="addtocart-btn-wrapper">
              <a href="" class="text-decoration-none addtocart-btn" data-tooltip data-original-title="">
                <i class="icons icon-bag"></i>
              </a>
            </div>
            <a href="" class="quick-view text-uppercase font-weight-semibold text-2">Быстрый просмотр</a>
-->{% endcomment %}
            <a href="{{ product.link }}">
              <div class="product-thumb-info-image">
                <img alt="{{ product.name|textize }}" class="img-fluid" src="{% imagine product.img '600x400' product.get_folder True %}" loading="lazy">
            </div>
            </a>
          </div>

          <div class="pl-4 pr-4 pb-1 infoblock">
            <div class="d-flex justify-content-between">
              <div>
                <a href="{{ page.link }}" class="d-block text-uppercase text-decoration-none text-black-0 fs-09 mb-1">{{ page.name }}</a>
                <h3 class="text-3-5 font-weight-semi-bold font-alternative text-transform-none line-height-3 mb-0"><a href="{{ product.link }}" class="text-black-9 fs-1-2">{{ product.name }}</a></h3>
              </div>
              {% comment %}<!--
              <a href="#" class="text-decoration-none text-color-default text-color-hover-dark text-4"><i class="fa fa-heart"></i></a>
              -->{% endcomment %}
            </div>

{% comment %}<!--
            <div title="Rated 5 out of 5">
              <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
            </div>
-->{% endcomment %}
            <p class="price text-5 mb-3">
              {% if product.price %}
                <span class="sale text-color-dark">{{ product.price|money_format }} ₽</span>
              {% endif %}
              {% if product.old_price %}
                <span class="amount">{{ product.old_price|money_format }} ₽</span>
              {% endif %}
              {% if product.price and product.count %}
                <a data-product_id="{{ product.id }}" href="javascript:void(0);" class="text-decoration-none text-color-default text-color-hover-dark add_to_cart_btn"><i class="fa fa-shopping-cart"></i></a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% if paginator %}{{ paginator|safe }}{% endif %}