{% load mtags %}

    <section id="download">
        <div class="background-img" style="background-image: url(misc/background-img-2.jpg)"></div>
        <div class="masc">
            <!-- Background animation -->
            <div class="space">
                <div class="stars"></div>
            </div>
            <!-- Background animation end -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 download-text">
                        <div>
                            <!--Title-->
                            
<p class="h1 white">Download
<br>
<b>App ollo
</b>Today!
</p>
                            <!-- Description -->
                            
<h3 class="white">
<i>It`s very simple!
</i>
</h3>
                            <br>
                            <!-- Appstore button -->
                            
<a href="#" class="btn dwnld-btn appstore">
<i class="fa fa-apple" aria-hidden="true">
</i>&nbsp; App Store
</a>
                            <!-- Playmarket button -->
                            
<a href="#" class="btn dwnld-btn playmarket">
<i class="fa fa-android" aria-hidden="true">
</i>&nbsp; Play Market
</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 text-center">
                        <div class="ilustration">
                            <!-- Back phone -->
                            <div class="back-phone wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s">
                                <div class="iphone-x">
                                    <i></i>
                                    <b></b>
                                    <!-- Screenshot -->
                                    <img src="/media/misc/screenshot(5)375x812.jpg" alt="Screenshot">
                                </div>
                            </div>
                            <!-- Back phone end -->
                            <!-- Front phone -->
                            <div class="front-phone wow slideInUp" data-wow-duration="1.2s">
                                <div class="iphone-x">
                                    <i></i>
                                    <b></b>
                                    <!-- Screenshot -->
                                    <img src="/media/misc/screenshot(4)375x812.jpg" alt="Screenshot">
                                </div>
                            </div>
                            <!-- Front phone end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>