<section class="blog-details">
        <div class="padding-masc">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">
                    <img src="images/blog-3.jpeg" alt="Post ilustration">
                    <div class="row blog-panel">
                        <div class="col-md-6 blog-panel-left">
                            <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; 24.12.17 &nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; 17:17</p>
                        </div>
                        <div class="col-md-6 blog-panel-right">
                            <p class="interactive"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp; 45 &nbsp;<i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp; 2</p>
                        </div>
                    </div>
                    <h3 class="post-title"><b>App ollo</b> is Awesome</h3>
                    <p>Tempora est quae voluptatum dolore fugit. This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt debitis ea ridicule magni error aut <b>suscipit</b> minus nam. Distinctio, doloremque!. The same is true as we experience the emotional sensation of stress from our first instances of social rejection ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</p>
                    <br>
                    <blockquote><i>A brand lorem ipsum dolor sit amet, consectetur usually all we need to avoid that kind of discomfort in the future adipisicing elit. Harum ut minima dicta recusandae mollitia pariatur quod. Maiores beatae, delectus tempore.</i></blockquote>
                    <br>
                    <p>Dolorer opsum dolor sit amet. learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. </p>
                    <p><b>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future.</b> The same is true as we experience the emotional sensation of stress from our first instances of social rejection ridicule. We quickly learn to fear and thus automatically.</p>
                    <br>
                    <ul class="text-list">
                        <li><i class="fa fa-check"></i> Quibusdam eligendi</li>
                        <li><i class="fa fa-check"></i> Adipisicing elit</li>
                        <li><i class="fa fa-check"></i>Maxime autem</li>
                    </ul>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque for our ability to learn from mistakes, but it alsogives voluptates quo minima repudiandae dolorum est qui earum sint natus accusantium provident, eius ipsa commodi, eos reprehenderit perspiciatis recusandae! Tempora est quae voluptatum dolore fugit, libero error assumenda non quidem itaque!</p>
                    <br>
                    <p>Lorem ipsum dolor!</p>


                    <div class="row blog-panel">
                        <div class="col-md-6 blog-panel-left">
                            <ul>
                                <li><b>Tags:</b></li>
                                <li><a href="" class="tran3s">UI Design,</a></li>
                                <li><a href="" class="tran3s">Bootstrap,</a></li>
                                <li><a href="" class="tran3s">IT</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 blog-panel-right">
                            <ul>
                                <li><b>Share:</b></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comments">
        <div class="padding-masc">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">
                    <h3><b>Comments</b> on the post</h3>
                    <h4 class="mb50"><i class="color">2 recent comments</i></h4>
                    <div class="single-comment wow fadeInUp" data-wow-duration="1.3s">
                        <div class="avatar" style="background-image: url(images/team3.400x400.jpeg);"></div>
                        <div class="comment float-left">
                            <h4>Cristina Miller</h4>
                            <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; 24.12.17 &nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; 17:17</p>
                            <p>Tempora est quae voluptatum dolore fugit, libero error dotogo rozvobia trial ssumenda non quidem itaque!</p>
                        </div>
                    </div>
                    <div class="single-comment wow fadeInUp" data-wow-duration="1.3s">
                        <div class="avatar" style="background-image: url(images/team2.400x400.jpeg);"></div>
                        <div class="comment float-left">
                            <h4>Robert Colino</h4>
                            <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; 24.12.17 &nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; 17:17</p>
                            <p>One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in future. Tempora est quae voluptatum dolore fugit, libero error assumenda non!</p>
                        </div>
                    </div>
                    <div class="leave-comment">
                        <h3><b>Leave</b> A Comment</h3>
                        <h4 class="mb50"><i class="color">Sing in to post your comment</i></h4>
                        <form action="#">
                            <div class="row wow fadeInUp" data-wow-duration="1.3s">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Name *">
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" placeholder="Email *">
                                </div>
                                <div class="col-xs-12">
                                    <textarea placeholder="Your Comment"></textarea>
                                </div>
                            </div>
                            <!-- Submit button -->
                            <a href="#" class="btn dwnld-btn playmarket"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp; Send Comment</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>