/* Alternative color blue */
.main-menu nav > ul > li.active > a,
.main-menu nav > ul > li:hover > a,
.hero-side-category nav.category-menu > ul > li > a:hover,
.category-mega-menu > li > a,
.slider .slick-arrow:hover i.fa,
.tab-slider-wrapper .nav-tabs .nav-link.active,
a:hover,
a.readmore-btn:hover,
.copyright-section .copyright-segment p a:hover,
.single-navigation-section ul li a:hover,
.header-top-menu ul li a:hover,
.breadcrumb-area .breadcrumb-container ul li.active,
.sidebar-area .sidebar ul.product-categories li a:hover,
.sidebar-area .sidebar ul.product-categories li a.active,
.sidebar-area .sidebar .top-rated-product-container .single-top-rated-product p.product-price span.discounted-price,
.sidebar-area .sidebar .top-rated-product-container .single-top-rated-product p a:hover,
.shop-grid-view-product .product-content .price-box .discounted-price,
.shop-list-view-product .product-content .price-box .discounted-price,
.shop-grid-view-product .product-content .product-categories a:hover,
.shop-list-view-product .product-content .product-categories a:hover,
.tab-slider-sub-product .product-content .price-box .discounted-price,
.best-seller-sub-product .product-content .price-box .discounted-price,
.product-feature-details h2.product-price{
  color:#4b7ea9; /* Light */
}
.slider .slick-arrow:hover i.fa,
.sidebar-area .sidebar ul.product-categories li a:hover:before,
.sidebar-area .sidebar ul.product-categories li a.active:before{
  border-color: #416e93; /* Dark */
  color: #416e93; /* Dark */
}
.subscription-form button,
.category-toggle-wrap:before,
.hero-side-category .category-toggle-wrap,
.header-advance-search button,
a.slider-two-btn,
.slider .section-title h3:before,
.slider .section-title h3,
.tab-slider-wrapper .nav-tabs .nav-link.active:before,
.tab-slider-wrapper .nav-tabs .nav-link:hover:before,
a.scroll-top:hover,
.pagination-content ul li a.active,
.pagination-content ul li a:hover,
.view-mode-icons a:hover,
.view-mode-icons a.active,
.product-hover-icons a,
.list-product-icons a{
  background-color:#4b7ea9; /* Light */
}
.newsletter-section,
.subscription-form button:hover,
.header-advance-search button:hover,
a.slider-two-btn:hover,
.product-hover-icons a:hover,
.list-product-icons a:hover{
  background-color: #416e93; /* Dark */
}
.category-toggle-wrap:after,
.slider .section-title h3:after{
  border-top: 15px solid #416e93; /* Dark */
}
.single-product-tab-section .ratting-form input[type="submit"]{
  background-color:#4b7ea9; /* Light */
  border: 1px solid #4b7ea9; /* Dark */
}
.single-product-tab-section .ratting-form input[type="submit"]:hover,
.contact-form-btn:hover{
  background-color: #416e93;/* Light */
  border: 1px solid #416e93; /* Dark */
}