{% extends "skeleton.html" %}
{% load tags mtags %}

{% block extrahead %}

{% endblock %}

{% block page_title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="news">
  <h1 class="pcstyle">{{ product.name }}</h1>
  <div class="blokl">
    <span class="gallery clearfix">
      <table>
        <tr>
          <td>
            <div id="imtvgblock" class="product_container">
              <div class="sliding_product">
                <a href="{{ product.imagine }}" class="bigimgtovar">
                  <img src="{% imagine product.img '800x600' product.get_folder True %}" loading="lazy">
                </a>
              </div>
            </div>
            <div id="imtvgmenu">
              <img class="smallimg" src="{{ product.thumb }}" loading="lazy">
              {% for photo in photos %}
                <img class="smallimg" src="{{ photo.thumb }}" loading="lazy">
              {% endfor %}
            </div>
          </td>
          <td valign="top" style="padding-left:30px; id=showcard align=left">
            <h3>
              {{ product.price|money_format }} ₽
            </h3>
            <table border="0" cellpadding="0" cellspacing="0" id="cardshoper">
              <tr>
                <td valign="middle">
                  <div class="iblok" style="margin-top:10px;">
                    <table style="vertical-align:middle; display:inline-block" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td>
                          <a href="javascript:void(0);" class="prod-plus minusik"><i class="fa fa-angle-up"></i></a>
                        </td>
                        <td>
                          <p id="qbuttons_{{ product.id }}">
                            <input value="1" type="text" id="quantity_{{ product.id }}" autocomplete="off" class="kol-vo">
                          </p>
                        </td>
                        <td>
                          <a href="javascript:void(0);" class="prod-minus plusik"><i class="fa fa-angle-down"></i></a>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="basc iblok">

                    <a href="javascript:void(0);" class="add_to_cart_btn bascbutton nalichiecheck" rel="nofollow" data-product_id="{{ product.id }}">В корзину</a>

                  </div>
                </td>
              </tr>
              <tr>
                <td colspan=3 style="padding:10px" align=left >
                  <ul>
                    <li>
                      <b>Каталог:</b> <a href="{{ cat.link }}">{{ cat.name }}</a>
                    </li>
                    <li>
                      <span class="inshop">На складе</span>
                    </li>
                  </ul>
                  {% if product.mini_info %}
                    {{ product.mini_info|safe }}
                  {% endif %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div id="menctype">
        <span class="menctype show" rel="0">Описание</span>
        <span class="menctype" rel="10">Характеристики</span>
      </div>
      <div id="ctype">
        <span class="contctype" id="contctype0" style="display:block">
          {{ product.info|safe }}
        </span>
        <span class="contctype" id="contctype1" style="display:none">
          <h2>Технические характеристики</h2>
          <table width="100%" cellpadding="0" cellspacing="0" class="gallery clearfix">
            <tr>
              <td style="padding-right:5px" class="news" align="left">
                <table width="100%" border="1" cellpadding="6" class="price">
                  {% for item in product.props %}
                    <tr>
                      <td>{{ item.prop.name }}</td>
                      <td>
                        {% for pvalue in item.values %}
                          {{ pvalue.str_value }}
                          {% if item.prop.measure %}{{ item.prop.measure }}{% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              </td>
            </tr>
          </table>
        </span>
      </div>
    </span>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function(){
    quantity_listener("{{ product.id }}",
                      $("#qbuttons_{{ product.id }} .prod-plus"),
                      $("#qbuttons_{{ product.id }} .prod-minus"),
    );

    $(".smallimg").click(function(){
      var im=$(this);
      $(".smallimg").removeClass("sel0");
      im.addClass("sel0");
      $(".bigimgtovar").fadeOut();
      $("#big"+im.attr("rel")).fadeIn();
    })

    $(".menctype").click(function(){
      $(".menctype").removeClass("show");
      $(this).addClass("show");
      $(".contctype").hide();
      $("#contctype"+$(this).attr("rel")).show();
    })

  });
</script>
{% endblock %}
