{% extends "skeleton.html" %}
{% load mtags flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 3px;
}
.table > tbody > tr > td.total {
  width: 115px;
}
.orders .shopping-cart table td {
  color: #999;
}
.orders .shopping-cart table td.total {
  font-size: 1.6em;
  color: #000;
}
.orders .shopping-cart table td.total span{
  font-size: 14px;
  color: #999;
}
.orders table.purchases .quantity {
  white-space: nowrap;
}
.orders table.purchases .quantity button,
.orders table.purchases .quantity input {
  display: inline;
}
.quantity input {
  width: 40px;
  padding: 5px;
  text-align: center;
}
.orders table.purchases tr {
  border: 1px solid #ccc;
}
.orders table.purchases tr td {
  padding: 30px 10px;
}
.orders table.purchases tr td .subtotal {
  font-size: 0.8em;
  padding-top: 10px;
}
.orders table.purchases tr td {
  vertical-align: middle;
}
.orders table.purchases tr td.drop {
  background-color: #eee;
}
</style>
{% endblock %}

{% block extracrumbs %}
  {% with 1 as tab %}
    {% include "web/order/cart_steps.html" %}
  {% endwith %}
{% endblock %}

{% block page_title %}
  {% if page.title %}{{ page.title }}{% else %}{{ page.name }}{% endif %}
  <!--<a class="color-grey compare_link" href="javascript:void(0);">Сравнивали (0)</a>-->
{% endblock %}

{% block content %}

{% if not cart %}
  <section class="page-section color">
    <div class="container">
      <h3 class="block-title alt">Ваша корзина пуста, сначала выберите, что хотите купить</h3>
    </div>
  </section>
{% else %}
  <section class="page-section color">
    <div class="container">
{% comment %}<!--
      <h3 class="block-title alt"><i class="fa fa-angle-down color"></i>1. Account</h3>
      <form action="#" class="form-sign-in">
        <div class="row ">
          <div class="col-md-6">
            <a class="btn btn-theme btn-block btn-icon-left facebook" href="#"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
          </div>
          <div class="col-md-6">
            <a class="btn btn-theme btn-block btn-icon-left twitter" href="#"><i class="fa fa-twitter"></i>Sign in with Twitter</a>
          </div>
          <div class="col-md-6">
            <div class="form-group"><input class="form-control" type="text" placeholder="User name or email"></div>
          </div>
          <div class="col-md-6">
            <div class="form-group"><input class="form-control" type="password" placeholder="Your password"></div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
          <div class="col-md-6 text-right-md">
            <a class="forgot-password" href="#">Forgot your password ?</a>
          </div>
          <div class="col-md-12">
            <p class="btn-row"><a class="btn btn-theme btn-theme-dark" href="#">Login</a> <span class="text"> or </span> <a class="btn btn-theme btn-theme-dark" href="#">Create account</a></p>
          </div>
        </div>
      </form>

      <h3 class="block-title alt"><i class="fa fa-angle-down"></i>2. Orders</h3>
-->{% endcomment %}

      <div class="row orders">
        {% include "web/order/purchases.html" %}
        <div class="col-md-3">
          <div class="shopping-cart">
            <table>
              <tbody>
              <tr>
                <td class="color-black">Итог:</td>
                <td class="total">{{ cart.total_with_discount|money_format }} <span>₽</span></td>
              </tr>
              <tr>
                <td colspan="2"><br>Общая стоимость без учета доставки<br><br></td>
              </tr>
              <tr>
                <td>Всего товаров:</td>
                <td>{{ cart.items_count }} шт</td>
              </tr>
              <tr>
                <td>Вес товаров:</td>
                <td class="order_weight"></td>
              </tr>

              <tr>
                <td colspan="2">
                  <!--<a href="javascript:void(0);">Бесплатная доставка *</a>-->
                </td>
              </tr>
              </tbody>
            </table>
            <br>
{% comment %}<!--
            <div class="form-group">
              <textarea class="form-control" placeholder="Комментарий к заказу"></textarea>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Enter your coupon code"/>
            </div>
            <button class="btn btn-theme btn-theme-dark btn-block">Apply Coupon</button>
-->{% endcomment %}
            <a href="/shop/checkout/" class="btn btn-theme btn-block">Оформить заказ</a>
            <a data-toggle="modal" data-target="#popup-buy1click" href="/shop/checkout/" class="btn btn-block btn-theme-transparent">Купить в 1 клик</a>
          </div>
        </div>
      </div>

{% comment %}<!--
      <h3 class="block-title alt"><i class="fa fa-angle-down"></i>3. Delivery address</h3>
      <form action="#" class="form-delivery">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group"><input class="form-control" type="text" placeholder="First Name"></div>
          </div>
          <div class="col-md-6">
            <div class="form-group"><input class="form-control" type="text" placeholder="Last Name"></div>
          </div>
          <div class="col-md-12">
            <div class="form-group"><input class="form-control" type="text" placeholder="Address"></div>
          </div>
          <div class="col-md-6">
            <div class="form-group selectpicker-wrapper">
              <select class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                <option>Country</option>
                <option>Country</option>
                <option>Country</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group selectpicker-wrapper">
              <select class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                <option>City</option>
                <option>City</option>
                <option>City</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group"><input class="form-control" type="text" placeholder="Postcode/ZIP"></div>
          </div>
          <div class="col-md-4">
            <div class="form-group"><input class="form-control" type="text" placeholder="Email"></div>
          </div>
          <div class="col-md-4">
            <div class="form-group"><input class="form-control" type="text" placeholder="Phone Number"></div>
          </div>
          <div class="col-md-12">
            <div class="form-group"><textarea class="form-control" placeholder="Addıtıonal Informatıon" name="name" id="id" cols="30" rows="10"></textarea></div>
          </div>
          <div class="col-md-12">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Ship to  Different address for invoice
              </label>
            </div>
          </div>
        </div>
      </form>

      <h3 class="block-title alt"><i class="fa fa-angle-down"></i>4. Payments options</h3>
      <div class="panel-group payments-options" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel radio panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                <span class="dot"></span> Direct Bank Transfer
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
              <div class="alert alert-success" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin ultrices suscipit. Sed commodo vel mauris vel dapibus.</div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
              <span class="dot"></span> Cheque Payment</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                <span class="dot"></span> Credit Card
              </a>
              <span class="overflowed pull-right">
                <img src="assets/img/preview/payments/mastercard-2.jpg" alt=""/>
                <img src="assets/img/preview/payments/visa-2.jpg" alt=""/>
                <img src="assets/img/preview/payments/american-express-2.jpg" alt=""/>
                <img src="assets/img/preview/payments/discovery-2.jpg" alt=""/>
                <img src="assets/img/preview/payments/eheck-2.jpg" alt=""/>
              </span>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3"></div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                <span class="dot"></span> PayPal
              </a>
              <span class="overflowed pull-right"><img src="assets/img/preview/payments/paypal-2.jpg" alt=""/></span>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4"></div>
        </div>
      </div>
      <div class="overflowed">
        <a class="btn btn-theme btn-theme-dark" href="#">Home Page</a>
        <a class="btn btn-theme pull-right" href="#">Place Order</a>
      </div>
-->{% endcomment %}
    </div>
  </section>


<div class="modal fade popup-buy1click" id="popup-buy1click" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <h2>Купить в 1 клик</h2>
        <form action="/shop/checkout/" method="post" class="form-delivery" id="confirm_order">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Имя</label>
                <input type="text" class="form-control required" name="name" value="{% if shopper_data.name %}{{ shopper_data.name }}{% endif %}" placeholder="Ваше имя?">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Телефон</label>
                <input type="text" class="form-control required phone" name="phone" value="{% if shopper_data.phone %}{{ shopper_data.phone }}{% endif %}" placeholder="Ваш телефон">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control required email" name="email" value="{% if shopper_data.email %}{{ shopper_data.email }}{% endif %}" placeholder="Ваш email">
              </div>
            </div>

            <div class="col-md-12">
              <div class="feedback_alerts"></div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-theme btn-block" value="Оформить заказ" style="max-width:100%;" />
            </div>
          </div>
        </form>

    <div class="oneclick_info">
      <div>
      Уважаемые клиенты! Обращаем ваше внимание на то, что НА заказы, совершенные через "Оформить в 1 клик", скидка постоянным клиентам НЕ РАСПРОСТРАНЯЕТСЯ. Для того, чтобы получить скидку, зарегистрийтесь или войдите под своим логином. Благодарим за покупку!
      </div>
    </div>


  </div>
</div>
{% endif %}

{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function(){
    {% for purchase in cart.purchases %}
      quantity_listener("{{ purchase.id }}",
                        $("#qbuttons_{{ purchase.id }} .prod-plus"),
                        $("#qbuttons_{{ purchase.id }} .prod-minus"),
                        true // сразу обновить
      );
      purchase_drop_listener("{{ purchase.id }}",
                             $("#purchase_drop_{{ purchase.id }}")
      );
    {% endfor %}

    //demo_fill_order();
    $("input[type='text'].phone").mask("8(999)9 999-999");
    $("#confirm_order input[type='submit']").attr("disabled", false);
    $("#confirm_order").validate({
      messages: {
        name: "Введите ваше имя, чтобы мы могли знать как к вам обращаться",
        phone: "Введите телефон, чтобы мы связались с вами по заказу",
        email: "Введите email, чтобы вы могли восстановить доступ к аккаунту",
      },
      submitHandler: function(form) {
        $("#confirm_order button[type='submit']").html("Ждите...").attr("disabled", "disabled");
        form.submit();
      }
    });
  });
</script>
{% endblock %}
