{% extends "skeleton.html" %}
{% load mtags flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
  .confirmed h1,
  .confirmed h2,
  .confirmed h3,
  .confirmed h4,
  .confirmed h5,
  .confirmed h6 {
    color: #333;
  }
</style>
{% endblock %}

{% block extracrumbs %}
  {% with 3 as tab %}
    {% include "web/order/cart_steps.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
<section class="page-section color confirmed">
  <div class="container">
    <h2>Спасибо, ваш заказ оформлен, скоро мы свяжемся с вами</h2>

    <h3>Заказ № {% if order.number %}{{ order.number }}{% else %}{{ order.id }}{% endif %} на сумму {{ order.total|money_format }} ₽ от {{ order.created|date:'d-m-Y H:i:s' }}</h3>

    {% if not order.external_number %}
      <h3 class="link">Ссылка для этого заказа: <a href="{% url 'main:checkout' %}?order_id={{ order.id }}">Ссылка на заказ</a></h3>
      <p>Ссылка на заказ будет работать только для пользователя {{ request.session.shopper.name }}, {{ request.session.shopper.phone }}</p>
      <h3>Вы можете оплатить заказ онлайн</h3>
      <a class="btn btn-theme" href="{% url 'main:checkout' %}?order_id={{ order.id }}&pay=sbrf">Оплатить {{ order.total|money_format }} ₽</a>
    {% else %}
      <h3>Статус оплаты заказа: {{ order_status.status }}</h3>
    {% endif %}

  </div>
</section>
<br><br>
{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}

{% endblock %}

{% block subscribe %}{% endblock %}

{% block extrascripts %}
{% endblock %}