{% extends "skeleton.html" %}
{% load mtags flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 3px;
}
.table > tbody > tr > td.total {
  width: 115px;
}
.orders .shopping-cart table td {
  color: #999;
}
.orders .shopping-cart table td.total {
  font-size: 1.6em;
  color: #000;
}
.orders .shopping-cart table td.total span{
  font-size: 14px;
  color: #999;
}
.orders table.purchases .quantity {
  white-space: nowrap;
}
.orders table.purchases .quantity button,
.orders table.purchases .quantity input {
  display: inline;
}
.quantity input {
  width: 40px;
  padding: 5px;
  text-align: center;
}
.orders table.purchases tr {
  border: 1px solid #ccc;
}
.orders table.purchases tr td {
  padding: 30px 10px;
}
.orders table.purchases tr td .subtotal {
  font-size: 0.8em;
  padding-top: 10px;
}
.orders table.purchases tr td {
  vertical-align: middle;
}
.orders table.purchases tr td.drop {
  background-color: #eee;
}
td.drop,
.orders table.purchases .quantity button {
  display: none;
}
</style>
{% endblock %}

{% block page_title %}Заказ № {% if order.number %}{{ order.number }}{% else %}{{ order.id }}{% endif %} на сумму {{ order.total|money_format }} ₽ от {{ order.created|date:'H:i:s d/m/Y' }}{% endblock %}

{% block content %}
<section class="page-section color">
  <div class="container">
    <div class="row orders">
      {% include "web/order/purchases.html" %}
      <div class="cart-submit">
        <a href="javascript:void(0);" class="cart-submit-btn" onclick="window.print();">Печать</a>
      </div>
    </div>
  </div>
</section>

{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}
{% endblock %}

{% block subscribe %}{% endblock %}

{% block extrascripts %}
{% endblock %}
