{% load mtags %}
<div class="col-md-8">
  <table class="table">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Итого</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in cart.purchases %}
        <tr>
          <td class="image">
            <a class="media-link" href="{{ purchase.link }}"><i class="fa fa-plus"></i><img src="{{ purchase.thumb }}" alt="{{ purchase.product_name|textize }}"/></a>
          </td>
          <td class="description">
            <h4>
              <a href="{{ purchase.link }}">{{ purchase.product_name }}</a>
            </h4>
          </td>
          <td class="total">
            {{ purchase.cost|money_format }} ₽
          </td>
          <td class="quantity">
            x<input type="text" id="quantity_{{ purchase.id }}" value="{{ purchase.count }}" />
          </td>
          <td class="total">
            {{ purchase.total|money_format }} ₽
            <a href="#" id="purchase_drop_{{ purchase.id }}"><i class="fa fa-close"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>