<div class="cart-floating-box" id="cart-floating-box">
  <div class="cart-items">
    <div class="cart-float-single-item d-flex">
      <span class="remove-item"><a href="#"><i class="fa fa-times"></i></a></span>
      <div class="cart-float-single-item-image">
        <a href="single-product.html"><img src="/media/misc/product01.jpg" class="img-fluid" alt=""></a>
      </div>
      <div class="cart-float-single-item-desc">
        <p class="product-title"> <a href="single-product.html">Duis pulvinar obortis eleifend </a></p>
        <p class="price"><span class="count">1x</span> $20.50</p>
      </div>
    </div>
    <div class="cart-float-single-item d-flex">
      <span class="remove-item"><a href="#"><i class="fa fa-times"></i></a></span>
      <div class="cart-float-single-item-image">
        <a href="single-product.html"><img src="/media/misc/product02.jpg" class="img-fluid" alt=""></a>
      </div>
      <div class="cart-float-single-item-desc">
        <p class="product-title"> <a href="single-product.html">Fusce ultricies dolor vitae</a></p>
        <p class="price"><span class="count">1x</span> $20.50</p>
      </div>
    </div>
  </div>
  <div class="cart-calculation">
    <div class="calculation-details">
      <p class="total">Subtotal <span>$22</span></p>
    </div>
    <div class="floating-cart-btn text-center">
      <a href="checkout.html">Checkout</a>
      <a href="cart.html">View Cart</a>
    </div>
  </div>
</div>
