<div class="hero-side-category">
  <div class="category-toggle-wrap">
    <button class="category-toggle">
      <span class="arrow_carrot-right_alt2 mr-2"></span> Все категории
    </button>
  </div>
  <nav class="category-menu">
    <ul>
      <li><a href="shop-left-sidebar.html">Vagatables</a></li>
      <li class="menu-item-has-children">
        <a href="shop-left-sidebar.html">Salad</a>
        <ul class="category-mega-menu">
          <li class="menu-item-has-children">
            <a class="megamenu-head" href="shop-left-sidebar.html">Vegetables</a>
            <ul>
              <li><a href="shop-left-sidebar.html">Salad</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a class="megamenu-head" href="shop-left-sidebar.html">Fast Foods</a>
            <ul>
              <li><a href="shop-left-sidebar.html">Vegetables</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="hidden"><a href="shop-left-sidebar.html">Eggs</a></li>
      <li class="hidden"><a href="shop-left-sidebar.html">Fruits</a></li>
      <li>
        <a href="#" id="more-btn">
          <span class="icon_plus_alt2"></span> More Categories
        </a>
      </li>
    </ul>
  </nav>
</div>
