{% load mtags %}

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="column-product">
        
    <div class="basic-products">
    <div class="primary-title">
      <h2>New Arrivals</h2>
    </div>
    
        <div class="products-type-list">
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Voluptate shortloin doner " class="product-image">
                <img id="product-collection-image-998" src="misc/12_20.jpg" alt="Voluptate shortloin doner " />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Voluptate shortloin doner ">Voluptate shortloin doner </a>
              </h2>

                  
<p class="no-rating">
<a title="Write Your Review" href="http://demo.flytheme.net/themes/sm_destino/review/product/list/id/998/#review-form">Write Your Review
</a>
</p>

               

                        
    <div class="price-box">
                                            
                    

                            <span class="special-price">
                    <span class="price-label">Special Price</span>
          <span class="price" id="product-price-998">
            $70.00          </span>
          
            
                </span>
                  
      <span class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-998">
                    $82.00                </span>
            </span>
        
    
        </div>

            </div>
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Jowl shoulder meatloa" class="product-image">
                <img id="product-collection-image-907" src="misc/smartphone_1__1.jpg" alt="Jowl shoulder meatloa" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Jowl shoulder meatloa">Jowl shoulder meatloa</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:60%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/907/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                            
                    

                            <span class="special-price">
                    <span class="price-label">Special Price</span>
          <span class="price" id="product-price-907">
            $80.00          </span>
          
            
                </span>
                  
      <span class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-907">
                    $84.00                </span>
            </span>
        
    
        </div>

            </div>
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Porchetta tempor mollit." class="product-image">
                <img id="product-collection-image-994" src="misc/4_17.jpg" alt="Porchetta tempor mollit." />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Porchetta tempor mollit.">Porchetta tempor mollit.</a>
              </h2>

                  
<p class="no-rating">
<a title="Write Your Review" href="http://demo.flytheme.net/themes/sm_destino/review/product/list/id/994/#review-form">Write Your Review
</a>
</p>

               

                        
    <div class="price-box">
                                            
                    

                            <span class="special-price">
                    <span class="price-label">Special Price</span>
          <span class="price" id="product-price-994">
            $40.00          </span>
          
            
                </span>
                  
      <span class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-994">
                    $57.00                </span>
            </span>
        
    
        </div>

            </div>
          </div>
        </div>
                    </div>
    </div>

      </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="column-product">
        
    <div class="basic-products">
    <div class="primary-title">
      <h2>Bestsellers</h2>
    </div>
    
        <div class="products-type-list">
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Jowl shoulder meatloa" class="product-image">
                <img id="product-collection-image-907" src="misc/smartphone_1__1.jpg" alt="Jowl shoulder meatloa" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Jowl shoulder meatloa">Jowl shoulder meatloa</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:60%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/907/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                            
                    

                            <span class="special-price">
                    <span class="price-label">Special Price</span>
          <span class="price" id="product-price-907">
            $80.00          </span>
          
            
                </span>
                  
      <span class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-907">
                    $84.00                </span>
            </span>
        
    
        </div>

            </div>
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Meatball turkey swine" class="product-image">
                <img id="product-collection-image-908" src="misc/electronics_3__2.jpg" alt="Meatball turkey swine" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Meatball turkey swine">Meatball turkey swine</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:87%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/908/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-908">
                                                        <span class="price">$44.00</span>              
            
                                    </span>
                        
        </div>

            </div>
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Bacon shoulder pork" class="product-image">
                <img id="product-collection-image-909" src="misc/electronics_4__3.jpg" alt="Bacon shoulder pork" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Bacon shoulder pork">Bacon shoulder pork</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:93%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/909/'; return false;">2 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-909">
                                                        <span class="price">$85.00</span>              
            
                                    </span>
                        
        </div>

            </div>
          </div>
        </div>
                    </div>
    </div>

      </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="column-product">
        
    <div class="basic-products">
    <div class="primary-title">
      <h2>Featured</h2>
    </div>
    
        <div class="products-type-list">
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Spicy jalapeno insirloin" class="product-image">
                <img id="product-collection-image-913" src="misc/electronics_6__5.jpg" alt="Spicy jalapeno insirloin" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Spicy jalapeno insirloin">Spicy jalapeno insirloin</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/913/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-913">
                                                        <span class="price">$73.00</span>              
            
                                    </span>
                        
        </div>

            </div>
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title=" Ipsum alcatrafilet mignon" class="product-image">
                <img id="product-collection-image-945" src="misc/10_15.jpg" alt=" Ipsum alcatrafilet mignon" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title=" Ipsum alcatrafilet mignon"> Ipsum alcatrafilet mignon</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/945/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-945">
                                                        <span class="price">$84.00</span>              
            
                                    </span>
                        
        </div>

            </div>
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Quis consectetur kielbas" class="product-image">
                <img id="product-collection-image-921" src="misc/2_2.jpg" alt="Quis consectetur kielbas" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Quis consectetur kielbas">Quis consectetur kielbas</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:93%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/921/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-921">
                                                        <span class="price">$32.00</span>              
            
                                    </span>
                        
        </div>

            </div>
          </div>
        </div>
                    </div>
    </div>

      </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="column-product">
        
    <div class="basic-products">
    <div class="primary-title">
      <h2>Most Viewed</h2>
    </div>
    
        <div class="products-type-list">
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Bacon shoulder pork" class="product-image">
                <img id="product-collection-image-909" src="misc/electronics_4__3.jpg" alt="Bacon shoulder pork" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Bacon shoulder pork">Bacon shoulder pork</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:93%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/909/'; return false;">2 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-909">
                                                        <span class="price">$85.00</span>              
            
                                    </span>
                        
        </div>

            </div>
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Naboris magna salami" class="product-image">
                <img id="product-collection-image-917" src="misc/smartphone_5__3.jpg" alt="Naboris magna salami" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Naboris magna salami">Naboris magna salami</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:73%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/917/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-917">
                                                        <span class="price">$32.00</span>              
            
                                    </span>
                        
        </div>

            </div>
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
              
              <a href="/" title="Consequat officia quisnulla" class="product-image">
                <img id="product-collection-image-919" src="misc/smartphone_8__2.jpg" alt="Consequat officia quisnulla" />
              </a>
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Consequat officia quisnulla">Consequat officia quisnulla</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/919/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-919">
                                                        <span class="price">$32.00</span>              
            
                                    </span>
                        
        </div>

            </div>
          </div>
        </div>
                    </div>
    </div>

      </div>
    </div>
  </div>
  