{% extends "skeleton.html" %}
{% load tags mtags flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
#product_props table{
  border: 1px solid #ccc;
  border-spacing: 2px;
  border-collapse: unset;
}
#product_props table tr td{
  border: 1px solid #ccc;
  padding: 5px;
}
.ppage_main {
  border: 1px solid #ccc;
}
.ppage .btn-compare {
  display: none;
}
.ppage .nav-tabs {
  bottom-border: 1px solid #ccc;
}
.ppage .content-tabs .nav-tabs > li > a {
  color: #999;
}
.ppage .content-tabs .nav-tabs > li.active > a:after,
.ppage .content-tabs .nav-tabs > li.active > a:before,
.ppage .content-tabs .nav-tabs > li.active > a,
.ppage .content-tabs .nav-tabs > li > a,
.ppage .content-tabs .nav-tabs > li > a:focus {
  background-color: transparent;
  border: 0;
}
.ppage .content-tabs .nav-tabs > li.active > a {
  border-bottom: 3px solid #999;
}
.ppage .content-tabs .nav-tabs > li.active > a {
  color: #000;
}
.ppage .content-tabs .tab-content {
  border: 0;
}
</style>
{% endblock %}

{% block extracontent %}{% endblock %}

{% block page_title %}{{ product.name }}{% endblock %}

{% block content %}
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="product-single ppage_main">
      <div class="col-md-6">
{% comment %}<!--
        <div class="badges">
          <div class="hot">hot</div>
          <div class="new">new</div>
        </div>
-->{% endcomment %}
        <div class="owl-carousel img-carousel">
          <div class="item">
            <a class="btn btn-theme btn-theme-transparent btn-zoom" href="{{ product.imagine }}" data-gal="prettyPhoto"><i class="fa fa-plus"></i></a>
            <a href="{{ product.imagine }}" data-gal="prettyPhoto"><img class="img-responsive" src="{% imagine product.img '800x600' product.get_folder True %}" alt="{{ product.name|textize }}"/></a>
          </div>
          {% for photo in photos %}
            <div class="item">
              <a class="btn btn-theme btn-theme-transparent btn-zoom" href="{{ photo.imagine }}" data-gal="prettyPhoto"><i class="fa fa-plus"></i></a>
              <a href="{{ photo.imagine }}" data-gal="prettyPhoto"><img class="img-responsive" src="{% imagine photo.img '800x600' photo.get_folder True %}" alt="{{ photo.name|textize }}"/></a>
            </div>
          {% endfor %}
        </div>
        <div class="row product-thumbnails">
          <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [0, 300]);"><img src="{{ product.thumb }}" alt="{{ product.name|textize }}"/></a></div>
          {% for photo in photos %}
            <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [{{ forloop.counter }}, 300]);"><img src="{{ photo.thumb }}" alt="{{ photo.name|textize }}"/></a></div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
{% comment %}<!--
        <div class="back-to-category">
          <span class="link"><i class="fa fa-angle-left"></i> Back to <a href="category.html">Category</a></span>
          <div class="pull-right">
            <a class="btn btn-theme btn-theme-transparent btn-previous" href="#"><i class="fa fa-angle-left"></i></a>
            <a class="btn btn-theme btn-theme-transparent btn-next" href="#"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
-->{% endcomment %}
        <div class="back-to-category">
          <span class="link color-grey">Артикул: {{ product.code }}</span>
          <div class="pull-right">
            {% include "web/cat/product_review.html" %}
          </div>
        </div>

        <br>
        <h2 class="product-title">{{ product.name }}</h2>
        {% if product.mini_info %}
          <div class="desc">
            {{ product.mini_info|safe }}
          </div>
        {% endif %}
        <div class="product-rating clearfix">
<!--
          {% include "web/cat/product_review.html" %}
          <a class="reviews" href="#">нет отзывов</a> | <a class="add-review" href="#">Написать отзыв</a>
-->
        </div>


        <hr class="page-divider"/>

<!--
        <div class="product-text">
          {% include "web/cat/product_main_attrs.html" %}
        </div>
-->
        <div class="delivery"><i class="fa fa-truck"></i> Доставка по городу</div>
        <div class="pickup"><i class="fa fa-building-o"></i> Забрать в пункте самовывоза</div>

        <div class="product-availability">
          Доступность: <strong>На складе</strong>
        </div>

        <hr class="page-divider small"/>

        <div class="col-md-6">
          <div class="product-price">
            {% include "web/cat/product_price_row.html" %}
          </div>
        </div>
        <div class="col-md-6">
          {% include "web/cat/product_buy_button.html" %}
        </div>

        <hr class="page-divider"/>
{% comment %}<!--
        <form action="#" class="row variable">
          <div class="col-sm-6">
            <div class="form-group selectpicker-wrapper">
              <label for="exampleSelect1">Size</label>
              <select id="exampleSelect1" class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                <option>Select Your Size</option>
                <option>Size 1</option>
                <option>Size 2</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group selectpicker-wrapper">
              <label for="exampleSelect2">Color</label>
              <select id="exampleSelect2" class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                <option>Select Your Color</option>
                <option>Color 1</option>
                <option>Color 2</option>
              </select>
            </div>
          </div>
        </form>
        <hr class="page-divider small"/>

        <div class="buttons">
          <div class="quantity" id="qbuttons_{{ product.id }}">
            <button class="btn prod-minus"><i class="fa fa-minus"></i></button>
            <input class="form-control qty" type="text" name="quantity" value="1" title="Кол-во" id="quantity_{{ product.id }}" autocomplete="off">
            <button class="btn prod-plus"><i class="fa fa-plus"></i></button>
          </div>
          <button class="btn btn-theme btn-cart btn-icon-left add_to_cart_btn" data-product_id="{{ product.id }}"><i class="fa fa-shopping-cart"></i>В корзину</button>
          <button class="btn btn-theme btn-wish-list"><i class="fa fa-heart"></i></button>
          <button class="btn btn-theme btn-compare"><i class="fa fa-exchange"></i></button>
        </div>
        <hr class="page-divider small"/>
        <ul class="social-icons list-inline">
          <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>

-->{% endcomment %}

      </div>
      <div class="clearfix clear"></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section ppage">
  <div class="container">
    <div class="tabs-wrapper content-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#item-description" data-toggle="tab">Описание</a></li>
        <li><a href="#reviews" data-toggle="tab">Отзывы</a></li>
        <li><a href="#product_props" data-toggle="tab">Характеристики</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="item-description">
          {{ product.info|safe }}
        </div>
        <div class="tab-pane fade" id="product_props">
          <table>
            {% for item in product.props %}
              <tr>
                <td class="title">{{ item.prop.name }}</td>
                <td>
                  {% for pvalue in item.values %}
                    {{ pvalue.str_value }}
                    {% if item.prop.measure %}{{ item.prop.measure }}{% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="tab-pane fade" id="reviews">
{% comment %}<!--
          <div class="comments">
            <div class="media comment">
              <a href="#" class="pull-left comment-avatar">
                <img alt="" src="assets/img/preview/avatars/avatar-1.jpg" class="media-object">
              </a>
              <div class="media-body">
                <p class="comment-meta"><span class="comment-author"><a href="#">User Name Here</a> <span class="comment-date"> 26 days ago <i class="fa fa-flag"></i></span></span></p>
                <p class="comment-text">Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismd. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere.</p>
              </div>
            </div>
            <div class="media comment">
              <a href="#" class="pull-left comment-avatar">
                <img alt="" src="assets/img/preview/avatars/avatar-3.jpg" class="media-object">
              </a>
              <div class="media-body">
                <p class="comment-meta"><span class="comment-author"><a href="#">User Name Here</a> <span class="comment-date"> 26 days ago <i class="fa fa-flag"></i></span></span></p>
                <p class="comment-text">Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismd. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere.</p>
              </div>
            </div>
          </div>
-->{% endcomment %}
          <div class="comments-form">
            <h4 class="block-title">Написать отзыв</h4>
            <form method="post" action="#" name="comments-form" id="comments-form">
              <div class="form-group"><input type="text" placeholder="Ваше имя" class="form-control" title="comments-form-name" name="comments-form-name"></div>
              <div class="form-group"><input type="text" placeholder="Ваш email" class="form-control" title="comments-form-email" name="comments-formemail"></div>
              <div class="form-group"><textarea placeholder="Ваш отзыв" class="form-control" title="comments-form-comments" name="comments-form-comments" rows="6"></textarea></div>
              <div class="form-group"><button class="btn btn-theme btn-theme-transparent btn-icon-left" id="submit"><i class="fa fa-comment"></i> Отправить</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>

{% flatcontent request page 'products_tabs' %}
{% flatcontent request page 'services2' %}

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function(){
    quantity_listener("{{ product.id }}",
                      $("#qbuttons_{{ product.id }} .prod-plus"),
                      $("#qbuttons_{{ product.id }} .prod-minus"),
    );
  });
</script>
{% endblock %}
