{% extends "skeleton.html" %}
{% load tags mtags flatcontent_tags %}

{% block extracontent %}{% endblock %}

{% block content %}
<section class="page-section with-sidebar">
  <div class="container">
    <div class="row">
      <aside class="col-md-3 sidebar" id="sidebar">
{% comment %}<!--
        <div class="widget">
          <div class="widget-search">
            <input class="form-control" type="text" placeholder="Search">
            <button><i class="fa fa-search"></i></button>
          </div>
        </div>
-->{% endcomment %}
        <div class="widget shop-categories">
          <h4 class="widget-title">Каталог товаров</h4>
          <div class="widget-content">
            {% sidebar_cats request %}
          </div>
        </div>
        {% include "web/cat/filters.html" %}
      </aside>
      <div class="col-md-9 content" id="content">
        {% flatcontent request page 'slider2' %}

        {% if subcats %}
          <div class="col-md-12 rubrics">
            {% for subcat in subcats %}
              <div class="col-md-fifth col-sm-6 col-xs-6">
                <a class="imga" href="{{ subcat.link }}">
                  <img src="{% imagine subcat.img '600x400' subcat.get_folder True %}" alt="{{ subcat.name|quotes2apostrophe }}" />
                </a>
                <div class="rubric_link">
                  <a href="{{ subcat.link }}">{{ subcat.name }}</a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="clearfix"></div>
        {% endif %}

        <div class="shop-sorting">
          <div class="row">
            <div class="col-sm-8">
{% comment %}<!--
              <form class="form-inline" action="">
                <div class="form-group selectpicker-wrapper">
                  <select class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                    <option>Product Name</option>
                    <option>Product Name</option>
                    <option>Product Name</option>
                  </select>
                </div>
                <div class="form-group selectpicker-wrapper">
                  <select class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                    <option>Select Manifacturers</option>
                    <option>Select Manifacturers</option>
                    <option>Select Manifacturers</option>
                  </select>
                </div>
              </form>
-->{% endcomment %}
            </div>

            <div class="col-sm-4 text-right-sm nomargin">
              <a class="btn btn-theme btn-theme-transparent btn-theme-sm active" id="listview" href="javascript:void(0);"><img src="/media/misc/icon-list.png" alt="Вид сеткой"/></a>
              <a class="btn btn-theme btn-theme-transparent btn-theme-sm" id="gridview" href="javascript:void(0);"><img src="/media/misc/icon-grid.png" alt="Вид списком"/></a>
            </div>
          </div>
        </div>

        <div id="products_container">
          {% include "web/cat/plp.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/js/cat.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>

{% if search_terms %}
<script type="text/javascript" src="/static/js/jquery.mark.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".product-title a").mark('{% for search_term in search_terms %}{% if not forloop.first %} {% endif %}{{ search_term }}{% endfor %}', {
      'accuracy': 'complementary',
    });
  });
</script>
{% endif %}
<script type="text/javascript">
  $(document).ready(function(){
    //console.log(rebuild_query_path_with_param("sort", "default"));

    $("#set_sort_by li a").click(function(){
      var type = $(this).attr("data-value");
      var new_url = rebuild_query_path_with_param("sort", type);
      if(decodeURIComponent(location.search.substr(1)) !== new_url){
        window.location.href = "{{ request.META.PATH_INFO }}?" + new_url;
      }
    });

    $("#set_count_by li a").click(function(){
      var count = $(this).attr("data-value");
      var new_url = rebuild_query_path_with_param("by", count);
      if(decodeURIComponent(location.search.substr(1)) !== new_url){
        window.location.href = "{{ request.META.PATH_INFO }}?" + new_url;
      }
    });

    $("#gridview").click(function(){
      $("#listview").removeClass("active");
      $(".products.listview").addClass("hidden");
      $(".products.tableview").addClass("hidden");
      $(".products.gridview").removeClass("hidden");
      $("#gridview").addClass("active");
    });
    $("#listview").click(function(){
      $("#gridview").removeClass("active");
      $(".products.gridview").addClass("hidden");
      $(".products.tableview").addClass("hidden");
      $(".products.listview").removeClass("hidden");
      $("#listview").addClass("active");
    });

    $("#facet_filters").ajaxForm({
      beforeSubmit: showLoading,
      success: showResponse,
    });
    function showLoading() {
      $("#products_container").html("Пожалуйста, подождите");
    }
    function showResponse(r, statusText, xhr, $form){
      $("#products_container").html(r['plp']);
      $("#my_paginator").html(r['my_paginator']['total_records'] + " " + r['my_paginator']['ends']);
    }
    $.ajax({
      type: "GET",
      url: '{% url "products:facet_filters" page.id %}',
      //data: 'search_facet=1', // все пока что
    }).done(function(r){
      //console.log(r);
      var html = "";
      var name = "";
      var values_length;
      var container = $("#facet_filters");
      container.html("");

      for(var key in r){

        if(typeof(r[key]) == "boolean"){
          continue;
        }
        values_length = r[key]['values'].length;
        if(values_length < 2){
          continue;
        }
        html += '<div class="widget-content">';
        name = r[key]['name'];
        if(r[key]['measure'] && r[key]['measure'].length > 0){
          name += ", " + r[key]['measure'];
        }
        html += '<h4>' + name + '</h3>';
        html += '<ul class="ptype">';
        for(var i=0; i<values_length; i++){
          //html += '<li><a>' + r[key]['values'][i]['value'] + '</a></li>';
          html += '<label><input id="prop_' + key + '_' + r[key]['values'][i]['id'] + '" type="checkbox" name="prop_' + key + '" value="' + r[key]['values'][i]['id'] + '" autocomplete="off" /> ' + r[key]['values'][i]['value'] + '</label><br>';
        }
        html += '</ul>';
        html += '</div>';
      }
      html += '<div class="text-center hidden"><button class="contact-form-btn mt-35" type="submit" value="1" name="ff"> Найти</button></div>';

      container.html(html);

      {% if q_string.q.ff %}
        $("#show_facet_filters").click();
        {% for key, value in facet_filters.items %}
          {% for item in value %}
            $("#prop_{{ key }}_{{ item }}").prop('checked', 'checked');
          {% endfor %}
        {% endfor %}
      {% endif %}

      $("#facet_filters input[type='checkbox']").change(function(){
        $("#facet_filters button[type='submit']").click();
      });

    }).fail(function(){
    });



    {% for product in products %}
      quantity_listener("{{ product.id }}",
                        $("#qbuttons_{{ product.id }} .prod-plus"),
                        $("#qbuttons_{{ product.id }} .prod-minus"),
      );
    {% endfor %}

  });
</script>
{% endblock %}
