{% extends "skeleton.html" %}
{% load tags mtags %}

{% block extrahead %}
<style type="text/css">
  .compare_list .product .media-link {
    margin-right: 20px;
  }
</style>
{% endblock %}

{% block extracontent %}{% endblock %}

{% block content %}
<section class="page-section color compare_list">
  <div class="container">
    {% if not products %}
      <h3 class="block-title alt">Список сравнения товаров пуст</h3>
    {% else %}
    <div class="compare-products">
      <label>
        <input type="checkbox" value="1" id="show_only_difference">Показать разницу
      </label>
      <table class="table-bordered table-hover">
        <thead>
          <tr>
            {% for product in products %}
            <td>
              <div class="product">
                <a class="close drop_from_compare_btn" href="javascript:void(0);" data-product_id="{{ product.id }}"><i class="fa fa-close"></i></a>

                <div class="overflowed">
                  <div class="availability">Артикул: {{ product.code }} </div>
                </div>
                <a class="media-link" data-gal="prettyPhoto" href="{{ product.imagine }}">
                  <img src="{% imagine product.img '800x600' product.get_folder True %}" alt="{{ product.name|textize }}"/>
                </a>
                <div class="clear"></div>
                <div class="rating">
                  <span class="star"></span>
                  <span class="star active"></span>
                  <span class="star active"></span>
                  <span class="star active"></span>
                  <span class="star active"></span>
                </div>
                <div class="clearfix clear"></div>
                <h4><a href="{{ product.link }}">{{ product.name }}</a></h4>
                <div class="clearfix clear"></div>
                {% include "web/cat/product_price_row.html" %}
                <div class="clearfix clear"></div>
                <br>
                <div class="products listview">
                  {% include "web/cat/product_buy_button.html" %}
                </div>
{% comment %}<!--
                <strong>
                  {% if product.cats %}
                    {% for cat in product.cats %}
                      <a href="{{ cat.link }}">{{ cat.name }}</a>
                      {% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                  {% endif %}
                </strong>
-->{% endcomment %}
              </div>
            </td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
{% comment %}<!--
          <tr>
            {% for product in products %}
              <td>Доставка<br><strong class="text-color"></strong></td>
            {% endfor %}
          </tr>

          <tr>
            {% for product in products %}
              <td>
                Наличие<br><strong class="text-color">На складе</strong>{% if product.count %}{{ product.count }}{% endif %}
              </td>
            {% endfor %}
          </tr>
-->{% endcomment %}
          {% for prop_id, prop_name in all_props.items %}
            <tr class="comparator" id="comparator_{{ prop_id }}">
              {% for product in products %}
                <td>
                  {% if forloop.first %}<strong>{{ prop_name }}</strong><br>{% else %}<br>{% endif %}
                  <div class="raw_value">
                  {% for pp in product.props %}
                    {% if pp.prop.id == prop_id %}
                      {% for pvalue in pp.values %}
                        {{ pvalue.str_value }}
                        {% if item.prop.measure %}{{ item.prop.measure }}{% endif %}
                        <br>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                  </div>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
{% comment %}<!--
          <tr class="colors">
            <td>Colors</td>
            <td>
              <ul>
                <li><a href="#"><span style="background-color: #ffffff"></span></a></li>
                <li><a href="#"><span style="background-color: #161618"></span></a></li>
                <li><a href="#"><span style="background-color: #e74c3c"></span></a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#"><span style="background-color: #783ce7"></span></a></li>
                <li><a href="#"><span style="background-color: #3498db"></span></a></li>
                <li><a href="#"><span style="background-color: #00a847"></span></a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#"><span style="background-color: #3ce7d9"></span></a></li>
                <li><a href="#"><span style="background-color: #fa17bc"></span></a></li>
                <li><a href="#"><span style="background-color: #a87e00"></span></a></li>
              </ul>
            </td>
          </tr>
-->{% endcomment %}
        </tbody>
      </table>
      <br>
      <div class="text-center">
        <a class="btn btn-theme btn-theme-transparent" href="/shop/compare/?drop_all=1">Удалить все</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function(){
    {% for product in products %}
      quantity_listener("{{ product.id }}",
                        $("#qbuttons_{{ product.id }} .prod-plus"),
                        $("#qbuttons_{{ product.id }} .prod-minus"),
      );
    {% endfor %}

    function show_difference() {
      if (!$("#show_only_difference").prop('checked')){
        $(".comparator").removeClass("hidden");
        return;
      }

      $(".comparator").each(function(){
        var similar = true;
        var value = null;
        var pk = $(this).attr('id');
        $("#" + pk + " .raw_value").each(function(){
          var cur_value = $.trim($(this).html().replaceAll('\n', '').replaceAll(' ', ''));
          console.log(pk, cur_value);
          if (value == null) {
            value = cur_value;
          } else {
            if (value != cur_value) {
              similar = false;
            }
          }
        });
        if (similar) {
          $("#" + pk).addClass("hidden");
        }
      });
    }
    $("#show_only_difference").change(function(){
       show_difference();
    });
    show_difference();
  });
</script>
{% endblock %}
