<br>
<div class="widget widget-filter-price">
  <h4 class="widget-title">Фильтры</h4>
  <form id="facet_filters" action="{{ page.link }}">
{% comment %}<!--
<div class="widget widget-colors">
  <h4 class="widget-title">Colors</h4>
  <div class="widget-content">
    <ul>
      <li><a href="#"><span style="background-color: #ffffff"></span></a></li>
      <li><a href="#"><span style="background-color: #161618"></span></a></li>
      <li><a href="#"><span style="background-color: #e74c3c"></span></a></li>
      <li><a href="#"><span style="background-color: #783ce7"></span></a></li>
    </ul>
  </div>
</div>
-->{% endcomment %}

{% comment %}<!--
  <div class="widget widget-filter-price">
  <h4 class="widget-title">Фильтры</h4>
  <div class="widget-content">
    <ul class="ptype">
      <li>
        <label>
          <input type="checkbox" name="ptype" value="1" disabled /> Новинки
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="ptype" value="2" /> Акции
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="ptype" value="3" disabled /> Товары партнеров клуба
        </label>
      </li>
    </ul>
  </div>
-->{% endcomment %}

{% comment %}<!--
    <div class="price">{{ cost_filter }}
      <h4>Цена</h4>
      <table>
        <tr>
          <td>от</td><td></td><td>до</td>
        </tr>
        <tr>
          <td class="price">
            <input type="text" class="price_from" name="min_price"/>
          </td>
          <td class="spacer"></td>
          <td class="price">
            <input type="text" class="price_to" name="max_price" value=""/>
          </td>
        </tr>
      </table>
    </div>
-->{% endcomment %}

{% comment %}<!--
    <div class="widget widget-tag-cloud brand">
      <h4>Бренд</h4>
      <ul>
        <li><a href="#">antiDust</a></li>
        <li><a href="#">BRONIT</a></li>
        <li><a href="#">HILST</a></li>
        <li><a href="#">Knauf</a></li>
        <li><a href="#">No name</a></li>
      </ul>
    </div>
-->{% endcomment %}

  </form>
</div>


