{% load tags mtags %}
<div class="col-md-4 col-sm-6">
  <div class="thumbnail no-border no-padding">
    <div class="media">
      <a class="media-link" href="{{ product.link }}">
        <img src="{% imagine product.img '800x600' product.get_folder True %}" alt="{{ product.name|textize }}"/>
        <span class="icon-view">
          <strong><i class="fa fa-eye"></i></strong>
        </span>
      </a>
    </div>
    <div class="caption text-center">
      <h4 class="caption-title product-title">
        <a href="{{ product.link }}">{{ product.name }}</a>
      </h4>
      <div class="rating">
        <span class="star"></span>
        <span class="star active"></span>
        <span class="star active"></span>
        <span class="star active"></span>
        <span class="star active"></span>
      </div>
      {% include "web/cat/product_price_row.html" %}
      {% include "web/cat/product_buy_button.html" %}
    </div>
  </div>
</div>