<ul>
  {% for menu in menus %}
  <li>
    {% if menu.sub %}
      <span class="arrow">
        <i class="fa fa-angle-down"></i>
      </span>
    {% endif %}
    <a href="{{ menu.link }}"{% ifequal menu.link request.META.PATH_INFO %} class="active"{% endifequal %}>{{ menu.name }}</a>
    {% if menu.sub %}
      <ul class="children{% if menu.link in request.META.PATH_INFO %} active{% endif %}">
        {% for submenu in menu.sub %}
          <li>
            {% if submenu.sub %}
              <span class="arrow">
                <i class="fa fa-angle-down"></i>
              </span>
            {% endif %}
            <a href="{{ submenu.link }}"{% ifequal submenu.link request.META.PATH_INFO %} class="active"{% endifequal %}>{{ submenu.name }}</a>
            {% if submenu.sub %}
              <ul class="children{% if submenu.link in request.META.PATH_INFO %} active{% endif %}">
                {% for item in submenu.sub %}
                  <li>
                    <a href="{{ item.link }}"{% ifequal item.link request.META.PATH_INFO %} class="active"{% endifequal %}>{{ item.name }}
                      <span class="count" id="sidebar_cats_products_count_{{ item.id }}"></span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<script type="text/javascript">
var sidebar_cats_products_count = [{% for item in products_count %}[{{ item.0 }}, {{ item.1 }}]{% if not forloop.last %},{% endif %}{% endfor %}];
</script>