{% extends "skeleton.html" %}
{% load mtags flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
{% if not cart %}
  <article class="stylization">
    <div class="woocommerce">
      <h2 class="text-center pt-100 pb-100">Ваша корзина пуста, сначала выберите, что хотите купить</h2>
    </div>
  </article>
{% else %}
  <div class="cart-items-wrap">
    <table class="cart-items">
      <thead>
        <tr>
          <td class="cart-image">Фото</td>
          <td class="cart-ttl">Наименование</td>
          <td class="cart-price">Цена</td>
          <td class="cart-quantity">Кол-во</td>
          <td class="cart-summ">Сумма</td>
          <td class="cart-del">&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        {% for purchase in cart.purchases %}
          <tr>
            <td class="cart-image">
              <a href="{{ purchase.link }}" target="_blank">
                <img src="{{ purchase.thumb }}" alt="{{ purchase.product_name|textize }}">
              </a>
            </td>
            <td class="cart-ttl">
              <a href="{{ purchase.link }}">{{ purchase.product_name }}</a>
{% comment %}<!--
              <p>Color: Red</p>
              <p>Size: XS</p>
-->{% endcomment %}
            </td>
            <td class="cart-price">
              <b>{{ purchase.cost|money_format }} ₽</b>
            </td>
            <td class="cart-quantity">
              <p class="cart-qnt" id="qbuttons_{{ purchase.id }}">
                <input value="{{ purchase.count }}" type="text" id="quantity_{{ purchase.id }}" autocomplete="off">
                <a href="javascript:void(0);" class="cart-plus"><i class="fa fa-angle-up"></i></a>
                <a href="javascript:void(0);" class="cart-minus"><i class="fa fa-angle-down"></i></a>
              </p>
            </td>
            <td class="cart-summ">
              <b>{{ purchase.total|money_format }} ₽</b>
              <p class="cart-forone">{{ purchase.measure }} <b>{{ purchase.cost|money_format }}</b></p>
            </td>
            <td class="cart-del">
              <a href="javascript:void(0);" class="cart-remove remove_from_cart_btn" id="purchase_drop_{{ purchase.id }}"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <ul class="cart-total">
    <li class="cart-summ">Итого: <b>{{ cart.total|money_format }} ₽</b></li>
  </ul>
  <div class="cart-submit">
    <div class="cart-coupon">
      <input placeholder="Купон" type="text">
      <a class="cart-coupon-btn" href="javascript:void(0);"><img src="/media/misc/ok.png" alt="купон"></a>
    </div>
    <a href="/shop/checkout/" class="cart-submit-btn">Оформить заказ</a>
    <!--<a href="#" class="cart-clear">Очистить корзину</a>-->
  </div>
{% endif %}

{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}
{% endblock %}

{% block subscribe %}{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function(){
    {% for purchase in cart.purchases %}
      quantity_listener("{{ purchase.id }}",
                        $("#qbuttons_{{ purchase.id }} .cart-plus"),
                        $("#qbuttons_{{ purchase.id }} .cart-minus"),
                        true // сразу обновить
      );
      purchase_drop_listener("{{ purchase.id }}",
                             $("#purchase_drop_{{ purchase.id }}")
      );
    {% endfor %}
  });
</script>
{% endblock %}
