{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;

$(document).ready(function(){
  var pdfVIKFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var pk = cell.getValue();
    var actions = "<div class='padding-rl5'>";
    actions += " <a class='btn-xs btn btn-info pull-left' href='{{ root_url }}pdf_vik/" + pk + "/' title='ВИК заключение' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    actions += "</div>";
    return actions;
  };
  var pdfRKFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var pk = cell.getValue();
    var actions = "<div class='padding-rl5'>";
    actions += " <a class='btn-xs btn btn-info pull-left' href='{{ root_url }}pdf_rk/" + pk + "/' title='РК заключение' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    actions += "</div>";
    return actions;
  };
  var pdfPVKFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var pk = cell.getValue();
    var actions = "<div class='padding-rl5'>";
    actions += " <a class='btn-xs btn btn-info pull-left' href='{{ root_url }}pdf_pvk/" + pk + "/' title='ПВК заключение' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    actions += "</div>";
    return actions;
  };
  var pdfUZKFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var pk = cell.getValue();
    var actions = "<div class='padding-rl5'>";
    actions += " <a class='btn-xs btn btn-info pull-left' href='{{ root_url }}pdf_uzk/" + pk + "/' title='УЗК заключение' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    actions += "</div>";
    return actions;
  };
  var weldingJointFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welding_joint'] ? data['welding_joint']['request_number'] : '';
  };
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "№ заявки на НК",
        field: "welding_joint__request_number",
        headerFilterPlaceholder: "№ заявки на НК",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: weldingJointFormatter,
        minWidth: 240,
      },
      {
        title: "Дата заключения",
        field: "date",
        headerFilterPlaceholder: "Дата заключения",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 90,
      },
      {
        title: "ВИК",
        field: "id",
        headerSort: false,
        formatter: pdfVIKFormatter,
        width: 50,
        download: false,
      },
      {
        title: "РК",
        field: "id",
        headerSort: false,
        formatter: pdfRKFormatter,
        width: 50,
        download: false,
      },
      {
        title: "ПВК",
        field: "id",
        headerSort: false,
        formatter: pdfPVKFormatter,
        width: 50,
        download: false,
      },
      {
        title: "УЗК",
        field: "id",
        headerSort: false,
        formatter: pdfUZKFormatter,
        width: 50,
        download: false,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "date"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        position: "left top",
        todayButton: new Date(),
      });
    }
  });
});
</script>
{% endblock %}