{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;

$(document).ready(function(){
  var defects = null;
  var notice = null;
  var conclusion_states = {
    "": "Без фильтра",
    {% for conclusion_state in conclusion_states %}
      {{ conclusion_state.0 }}: "{{ conclusion_state.1 }}",
    {% endfor %}
  };
  var actionsConclusionFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var rowIndex = row.getIndex();
    var pk = cell.getValue();
    var data = row.getData();
    var actions = "<div class='padding-rl5'>";
    actions += " <a class='btn-xs btn btn-primary pull-left ml' href='{{ root_url }}edit/" + pk + "/'><i class='fa fa-edit'></i></a> ";

    {% if permissions.drop %}
      actions += " <a class='btn-xs btn btn-danger pull-right ml' href='javascript:void(0);' data-toggle='modal' data-target='#ajax_drop_obj' onclick='prepare_for_drop(" + pk + ", " + rowIndex + ");'><i class='fa fa-trash'></i></a> ";
    {% endif %}
    actions += "</div>";
    return actions;
  };
  var pdfVIKFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var data = row.getData();
    var pk = data['id'];
    var actions = "<div class='padding-rl5' style='white-space:normal;'>";
    actions += " <a class='btn-xs btn btn-info' href='{{ root_url }}pdf_vik/" + pk + "/' title='ВИК заключение' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    defects = data['vik'] ? data['vik']['defects'] : '';
    if(defects){
      actions += "<hr>Дефекты: " + defects;
    }
    actions += "</div>";
    return actions;
  };
  var pdfRKFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var data = row.getData();
    var pk = data['id'];
    var actions = "<div class='padding-rl5' style='white-space:normal;'>";
    actions += " <a class='btn-xs btn btn-info' href='{{ root_url }}pdf_rk/" + pk + "/' title='РК заключение' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    if(data['rk']){
      for(var i=0; i<data['rk'].length; i++){
        defects = data['rk'][i]['defects'];
        notice = data['rk'][i]['notice'];
        if(defects || notice){
          actions += "<hr>Дефекты: " + defects + "<br>Примечание: " + notice;
        }
      }
    }
    actions += "</div>";
    return actions;
  };
  var pdfPVKFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var data = row.getData();
    var pk = data['id'];
    var actions = "<div class='padding-rl5' style='white-space:normal;'>";
    actions += " <a class='btn-xs btn btn-info' href='{{ root_url }}pdf_pvk/" + pk + "/' title='ПВК заключение' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    if(data['pvk']){
      defects = data['pvk']['defects'];
      if(defects){
        actions += "<hr>Дефекты: " + defects;
      }
    }
    actions += "</div>";
    return actions;
  };
  var pdfUZKFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var data = row.getData();
    var pk = data['id'];
    var actions = "<div class='padding-rl5' style='white-space:normal;'>";
    actions += " <a class='btn-xs btn btn-info' href='{{ root_url }}pdf_uzk/" + pk + "/' title='УЗК заключение' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    if(data['uzk']){
      defects = data['uzk']['defects'];
      notice = data['uzk']['notice'];
      if(defects || notice){
        actions += "<hr>Дефекты: " + defects + "<br>Примечание: " + notice;
      }
    }
    actions += "</div>";
    return actions;
  };
  var weldingJointFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welding_joint'] ? data['welding_joint']['request_number'] : '';
  };
  var conclusionStateFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return conclusion_states[pk];
  };

  var accessor_not_empty = function(value, data, type, params, column){
    return value ? value : '';
  }
  var accessor_request_number = function(value, data, type, params, column){
    return data['welding_joint'] ? data['welding_joint']['request_number'] : '';
  }
  var accessor_state = function(value, data, type, params, column){
    return conclusion_states[value];
  }
  var accessor_vik = function(value, data, type, params, column){
    return data['vik'] ? "Дефекты: " + data['vik']['defects'] : '';
  };
  var accessor_rk = function(value, data, type, params, column){
    var result = "";
    if(data['rk']){
      for(var i=0; i<data['rk'].length; i++){
        defects = data['rk'][i]['defects'];
        notice = data['rk'][i]['notice'];
        if(defects || notice){
          result += "Дефекты: " + defects + "\nПримечание: " + notice + "\n\n";
        }
      }
    }
    return result;
  };
  var accessor_pvk = function(value, data, type, params, column){
    return data['pvk'] ? "Дефекты: " + data['pvk']['defects'] : '';
  };
  var accessor_uzk = function(value, data, type, params, column){
    var result = "";
    if(data['uzk']){
      defects = data['uzk']['defects'];
      notice = data['uzk']['notice'];
      if(defects || notice){
        result += "Дефекты: " + defects + "\nПримечание: " + notice + "\n\n";
      }
    }
    return result;
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "№ заявки на НК",
        field: "welding_joint__request_number",
        headerFilterPlaceholder: "№ заявки на НК",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: weldingJointFormatter,
        minWidth: 240,
        accessorDownload: accessor_request_number,
      },
      {
        title: "Дата заключения",
        field: "date",
        headerFilterPlaceholder: "Дата заключения",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 90,
        accessorDownload: accessor_not_empty,
      },
      {
        title: "Результат заключения",
        field: "state",
        headerFilterPlaceholder: "Результат заключения",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: conclusion_states,
        },
        editable: false,
        editor: "select",
        formatter: conclusionStateFormatter,
        width: 90,
        accessorDownload: accessor_state,
      },
      {
        title: "ВИК",
        field: "vik",
        headerSort: false,
        formatter: pdfVIKFormatter,
        width: 150,
        accessorDownload: accessor_vik,
      },
      {
        title: "РК",
        field: "rk",
        headerSort: false,
        formatter: pdfRKFormatter,
        width: 150,
        accessorDownload: accessor_rk,
      },
      {
        title: "ПВК",
        field: "pvk",
        headerSort: false,
        formatter: pdfPVKFormatter,
        width: 150,
        accessorDownload: accessor_pvk,
      },
      {
        title: "УЗК",
        field: "uzk",
        headerSort: false,
        formatter: pdfUZKFormatter,
        width: 150,
        accessorDownload: accessor_uzk,
      },
      {
        title: "Действия",
        field: "actions",
        headerSort: false,
        formatter: actionsConclusionFormatter,
        width: 120,
        download: false,
      },
    ],
  });
  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "date"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        position: "left top",
        todayButton: new Date(),
      });
    }
  });
});
</script>
{% endblock %}