{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
var main_table_columns = null;
$(document).ready(function(){

  var file_domain_choices = {
    "": "-",
    {% for domain in domains %}
      {{ domain.pk }}: "{{ domain.lang }} ({{ domain.name }})",
    {% endfor %}
  };

  var fileDomainFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return file_domain_choices[pk];
  };
  var accessor_file_domain = function(value, data, type, params, column){
    return file_domain_choices[value];
  }

  var pathFormatter = function(cell, formatterParams, onRendered){
    //console.log(cell.getRow().getData());
    var data = cell.getRow().getData();
    var value = cell.getValue();
    var result = "<div class='padding-rl5 text-center'>";
    if(value){
      result += " <a class='btn' target='_blank' href='/media/" + data['folder'] + value + "'>" + value + "</a> ";
    }
    result += "</div>";
    return result;
  };

  var linkFormatter = function(cell, formatterParams, onRendered){
    var value = cell.getValue();
    var result = "<div class='padding-rl5 text-center'>";
    if(value){
      result += " <a class='btn' target='_blank' href='" + value + "'>" + value + "</a> ";
    }
    result += "</div>";
    return result;
  };

  main_table_columns = [
    {% include "core/tabulator_cell/drag.html" %}
    {% include "core/tabulator_cell/id.html" %}
    {% include "core/tabulator_cell/name.html" %}
    {
      title: "Ссылка",
      field: "link",
      headerFilterPlaceholder: "Ссылка",
      headerFilter: "input",
      headerFilterFunc: "like",
      formatter: linkFormatter,
      width: 150,
    },
    {
      title: "Описание",
      field: "desc",
      headerFilterPlaceholder: "Описание",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Mime-тип",
      field: "mime",
      headerFilterPlaceholder: "Mime-тип",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 60,
    },
    {
      title: "Путь",
      field: "path",
      headerFilterPlaceholder: "Путь",
      headerFilter: "input",
      headerFilterFunc: "like",
      formatter: pathFormatter,
      width: 120,
    },
    {% if domains %}
      {
        title: "Домен",
        field: "domain",
        headerFilterPlaceholder: "Домен",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: file_domain_choices,
        },
        editable: false,
        editor: "select",
        formatter: fileDomainFormatter,
        width: 90,
        accessorDownload: accessor_file_domain,
      },
    {% endif %}
    {% include "core/tabulator_cell/is_active.html" %}
    {% include "core/tabulator_cell/position.html" %}
    {% include "core/tabulator_cell/actions.html" %}
  ];

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns: main_table_columns,
  });

});
</script>
{% endblock %}