{% if container.sub %}
  <ul>
    {% for item in container.sub %}
      <li>
        <a target="_blank" href="{{ item.link }}">{{ item.name }}</a>
        {% if item.sub %}
          <ul>
            {% for item2 in item.sub %}
              <li>
                <a target="_blank" href="{{ item2.link }}">{{ item2.name }}</a>
                {% if item2.sub %}
                  <ul>
                    {% for item3 in item2.sub %}
                      <li>
                        <a target="_blank" href="{{ item3.link }}">{{ item3.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}