html.tea14,.tea14 body,.tea14-main{margin:0;padding:0;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative}
.tea14-main{display:none;font-size:14px;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}
.tea14-top,.tea14-left,.tea14-right,.tea14-placeholder{position:absolute;-webkit-transition:all 300ms;-o-transition:all 300ms;transition:all 300ms}
.tea14-left,.tea14-right{top:100px;bottom:0}
.tea14-top{background-color:#eee;right:0;left:0;padding: 20px; min-width:1100px;font-size:18px;}
.tea14-left{left:0;width:300px}
.tea14-right{right:0;left:300px;min-width:800px;padding:10px}
.tea14-placeholder{overflow:auto;top:10px;right:10px;bottom:10px;left:10px}
.tea14-left .tea14-placeholder{top:60px;left:0;right:0}
.tea14-right .tea14-placeholder{border:1px solid #009cf3}
.tea14-hide.tea14-left{left:-300px}
.tea14-hide.tea14-right{left:0}
@media screen and (max-width:1099px){.tea14-top{overflow:hidden;min-width:0}
.tea14-left{left:-300px}
.tea14-right{min-width:0;left:0}
.tea14-hide.tea14-main{overflow:hidden}
.tea14-hide.tea14-left{left:0}
.tea14-hide.tea14-right{left:300px;right:-300px}
}
.tea14-top-button,#tea14-tools-switch,#tea14-tools-reset,#tea14-tools-download,#tea14-tools-no-download,#tea14-logout,#tea14-tools-buy,#tea14-tools-theme-list,.tea14-select-replacement button,#tea14-tools-advanced-all,#tea14-tools-advanced-mode,#tea14-tools-advanced-clean{padding:0;margin:0;border:0;color:white;cursor:pointer;font-size:inherit;line-height:0;height:35px;}
.tea14-top-button i,#tea14-tools-switch i,#tea14-tools-reset i,#tea14-tools-download i,#tea14-tools-no-download i,#tea14-logout i,#tea14-tools-buy i,#tea14-tools-theme-list i,#tea14-tools-advanced-all i,#tea14-tools-advanced-mode i,#tea14-tools-advanced-clean i{width:50px}
#tea14-tools-switch,#tea14-tools-advanced-all,#tea14-tools-advanced-mode,#tea14-tools-advanced-clean{background-color:#009cf3;-webkit-transition:background-color 300ms;-o-transition:background-color 300ms;transition:background-color 300ms}
#tea14-tools-switch:hover,#tea14-tools-advanced-all:hover,#tea14-tools-advanced-mode:hover,#tea14-tools-advanced-clean:hover{background-color:#007bc0}
#tea14-tools-switch:active,#tea14-tools-advanced-all:active,#tea14-tools-advanced-mode:active,#tea14-tools-advanced-clean:active{background-color:#005b8d}
#tea14-tools-reset{background-color:#437343;-webkit-transition:background-color 300ms;-o-transition:background-color 300ms;transition:background-color 300ms}
#tea14-tools-reset:hover{background-color:#305330}
#tea14-tools-reset:active{background-color:#1d331d}
#tea14-tools-download,#tea14-tools-no-download{background-color:#d8a136;-webkit-transition:background-color 300ms;-o-transition:background-color 300ms;transition:background-color 300ms}
#tea14-tools-download:hover,#tea14-tools-no-download:hover{background-color:#b78524}
#tea14-tools-download:active,#tea14-tools-no-download:active{background-color:#8d661b}
#tea14-logout{background-color:#ac1212;-webkit-transition:background-color 300ms;-o-transition:background-color 300ms;transition:background-color 300ms; padding: 4px 0px 7px 0px;}
#tea14-logout:hover{background-color:#7e0d0d}
#tea14-logout:active{background-color:#500808}
#tea14-tools-buy,#tea14-tools-theme-list{background-color:#855898;-webkit-transition:background-color 300ms;-o-transition:background-color 300ms;transition:background-color 300ms; padding: 4px 0px 7px 0px;}
#tea14-tools-buy:hover,#tea14-tools-theme-list:hover{background-color:#694578}
#tea14-tools-buy:active,#tea14-tools-theme-list:active{background-color:#4c3357}
.tea14-select-replacement{display:inline;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.tea14-select-replacement button{background-color:#855898;-webkit-transition:background-color 300ms;-o-transition:background-color 300ms;transition:background-color 300ms;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:180px;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; padding: 5px 15px; text-align: left;}
.tea14-select-replacement button:hover{background-color:#694578}
.tea14-select-replacement button:active{background-color:#4c3357}
.tea14-select-replacement button span{width:120px;display:inline-block}
.tea14-select-replacement ul{border-top:1px solid #b495c1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:180px;position:fixed;top:56px;bottom:20px;list-style:none;margin:0;padding:0;z-index:9999;overflow:auto;color:white;cursor:pointer;font-size:inherit;}
.tea14-select-replacement li{background-color:#855898;-webkit-transition:background-color 300ms;-o-transition:background-color 300ms;transition:background-color 300ms;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;line-height:1.2;padding:12px 15px;}
.tea14-select-replacement li:hover{background-color:#694578}
.tea14-select-replacement li:active{background-color:#4c3357}
.tea14-select-replacement li.selected{background-color:#d8a136;-webkit-transition:background-color 300ms;-o-transition:background-color 300ms;transition:background-color 300ms}
.tea14-select-replacement li.selected:hover{background-color:#b78524}
.tea14-select-replacement li.selected:active{background-color:#8d661b;}
#tea14-tools-buy,#tea14-logout{text-align:center;display:inline; padding: 4px 0px 7px 0px;}
#tea14-tools-buy i,#tea14-logout i{line-height:25px}
#tea14-browsing-mode{float:right}
.tea14-settings-nav{list-style:none;margin:0;padding:10px 0 0 10px;border-bottom:1px solid #dedede;}
.tea14-settings-nav li{display:inline}
.tea14-settings-nav a{font-size:20px;display:inline-block;border:1px solid #fff;border-bottom:0;position:relative;width:50px;text-align:center;color:#009cf3;-webkit-transition:color 300ms;-o-transition:color 300ms;transition:color 300ms}
.tea14-settings-nav a:hover{color:#007bc0}
.tea14-settings-nav a:active{color:#005b8d}
.tea14-settings-nav-current{border-color:#dedede !important}
.tea14-settings-nav-current:before{content:'';display:block;background-color:#fff;position:absolute;height:4px;left:0;right:0;bottom:-4px}
#tea14-module-list,#tea14-module-colors,#tea14-module-advanced{list-style:none;margin:0;padding:0 10px}
#tea14-module-list li,#tea14-module-colors li,#tea14-module-advanced li{padding:10px;margin-bottom:10px}
#tea14-module-list li{text-align:center;cursor:move;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;border:1px solid #ccc;color:#666;-webkit-transition:color 300ms;-o-transition:color 300ms;transition:color 300ms}
#tea14-module-list li:hover{color:#1a1a1a}
#tea14-module-colors li{margin-bottom:0; color:#009cf3; font-size: 18px;}
#tea14-module-colors input{display:none}
#tea14-module-colors label{padding:10px;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;color:#666;-webkit-transition:color 300ms;-o-transition:color 300ms;transition:color 300ms}
#tea14-module-colors label:hover{color:#1a1a1a}
#tea14-module-colors .sp-replacer{border:0;}
#tea14-tools-advanced-all,#tea14-tools-advanced-mode,#tea14-tools-advanced-clean{padding:10px;text-align:center;width:100%}
#tea14-module-advanced em{font-size:12px;color:#888}
#tea14-module-advanced li,#tea14-module-advanced select{padding:0 10px}
#tea14-module-advanced option{padding:10px 0}
#tea14-preview{list-style:none;margin:0;padding:0;min-height:100%}
#tea14-preview li{position:relative}
#tea14-drag-helper{border:2px solid #c00;width:auto!important;height:auto!important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tea14-sortable-hover{border:2px dashed #c00}
.ui-draggable-dragging.ui-sortable-helper,.ui-draggable-handle.ui-sortable-placeholder{min-height:100px!important}
.tea14-sortable-close{background-color:#c00;color:white;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:bold;font-size:18px;padding:0 8px 3px;cursor:pointer;display:inline-block;position:absolute;top:10px;right:10px}
.tea14-sortable-close:hover{background-color:#e60000}
#tea14-tools-no-download-popup{background-color:#f49696;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}
#tea14-tools-no-download-popup p{text-align:center;color:#ac1212}
#tea14-tools-no-download-popup a{font-variant:small-caps;font-weight:bold;color:white}
.tea14-login-form{padding:20px}
.tea14-login-form form{padding-top:20px; max-width: 500px; margin: 0 auto;}
.tea14-login-form .error{color:red}
.tea14-login-form div.error{font-weight:bold}
.mce-content-body img[data-mce-selected],hr[data-mce-selected]{outline:0}
