{% load mtags %}
<div class="about-section article1">
  <div class="container">
    {% for block in blocks %}
      <div class="row">
        <div class="col-lg-5">
          <div class="text-center">
            <img src="{% imagine block.img '600x400' block.get_folder True %}" alt="{{ block.description|textize }}">
          </div>
        </div>
        <div class="col-lg-7 pt-50">
          <h2 class="subtitle">{{ block.name }}</h2>
          {{ block.html|safe }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>