{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}

          <div class="form-group">
            <label class="col-lg-2 control-label">Логин</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Логин" class="form-control" name="login" value="{% if row.login %}{{ row.login }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Пароль</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Пароль" class="form-control" name="passwd" value="{% if row.passwd %}{{ row.passwd }}{% endif %}" autocomplete="off">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Как обращаться к пользователю</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Как обращаться к пользователю" class="form-control" name="name" value="{% if row.name %}{{ row.name }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Имя</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Имя" class="form-control" name="first_name" value="{% if row.first_name %}{{ row.first_name }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Фамилия</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Фамилия" class="form-control" name="last_name" value="{% if row.last_name %}{{ row.last_name }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Отчество</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Отчество" class="form-control" name="middle_name" value="{% if row.middle_name %}{{ row.middle_name }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Email" class="form-control" name="email" value="{% if row.email %}{{ row.email }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Телефон</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Телефон" class="form-control phone" name="phone" value="{% if row.phone %}{{ row.phone }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Адрес</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Адрес" class="form-control" name="address" value="{% if row.address %}{{ row.address }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">IP-адрес</label>
            <div class="col-lg-10">
              <input type="text" placeholder="IP-адрес" class="form-control" name="ip" value="{% if row.ip %}{{ row.ip }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Тип авторизации</label>
            <div class="col-md-10">
              <select class="form-control" name="oauth" id="oauth_type">
                <option value="">Не выбран</option>
                {% for ptype in oauth_types %}
                  <option value="{{ ptype.0 }}"{% ifequal row.oauth ptype.0 %} selected{% endifequal %}>{{ ptype.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Персональная скидка</label>
            <div class="col-lg-10">
              <input type="number" step="1" placeholder="Персональная скидка" class="form-control" name="discount" value="{% if row.discount %}{{ row.discount }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Баланс</label>
            <div class="col-lg-10">
              <input type="number" step="0.01" placeholder="Баланс" class="form-control" name="balance" value="{% if row.balance %}{{ row.balance }}{% endif %}" autocomplete="off">
            </div>
          </div>
          {% include "core/forms/row_image.html" %}
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    {% if row %}
      var upload_img_url = '{% url "personal:edit_shopper" "img" row.id %}';
    {% endif %}
    $(document).ready(function(){
      $("#oauth_type").select2();

      $('#linkcontainer_select2').select2({
        placeholder: 'Какие странички привязать',
        width: '100%',
        tags: true,
        ajax: {
          url: "{% url 'flatcontent:search_containers' %}",

          data: function (params) {
            var query = {
              q: params.term,
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        }
      });
    });
  </script>
  {% include "core/forms/row_js.html" %}
{% endblock %}