{% if breadcrumbs %}
  <ol class="breadcrumb">
    <li>
      <a href="{% url 'login:welcome' %}">
        <span class="label_for_translate breadcrumbs_home_page" attr-class_name="breadcrumbs_home_page" attr-edit_mode="popup" attr-placement="right">Главная</span>
      </a>
    </li>
    {% for crumb in breadcrumbs %}
      {% if forloop.last or not crumb.link %}
        <li class="active">
          <span class="label_for_translate breadcrumbs_{{ menu }}_{{ submenu }}_{% if action %}{{ action }}{% else %}table{% endif %}_page_{{ forloop.counter }}" attr-class_name="breadcrumbs_{{ menu }}_{{ submenu }}_{% if action %}{{ action }}{% else %}table{% endif %}_page_{{ forloop.counter }}" attr-edit_mode="popup" attr-placement="right">{{ crumb.name }}</span>
        </li>
      {% else %}
        <li>
          <a href="{{ crumb.link }}">
            <span class="label_for_translate breadcrumbs_{{ menu }}_{{ submenu }}_{% if action %}{{ action }}{% else %}table{% endif %}_page_{{ forloop.counter }}" attr-class_name="breadcrumbs_{{ menu }}_{{ submenu }}_{% if action %}{{ action }}{% else %}table{% endif %}_page_{{ forloop.counter }}" attr-edit_mode="popup" attr-placement="right">{{ crumb.name }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}