{% load mtags %}

{% with ''|installed_apps as apps %}

<a class="dropdown-toggle" data-play="fadeIn" data-toggle="dropdown" href="#">
  <em class="fa fa-cog"></em>
</a>

<ul class="dropdown-menu">
  {% if 'flatcontent' in apps %}
    <li><a href="{% url 'main_functions:settings' 'flatcontent' %}">Настройки "Контент"</a></li>
  {% endif %}
{% comment %}<!--
  <li>
    <div class="p">
      <p>Overall progress</p>
      <div class="progress progress-striped progress-xs m0">
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-success progress-70" role="progressbar">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
    </div>
  </li>
  <li class="divider"></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Settings</a></li>
  <li><a href="#">Notifications<div class="label label-info pull-right">5</div></a></li>
  <li><a href="#">Messages<div class="label label-danger pull-right">10</div></a></li>
-->{% endcomment %}
  <li><a href="/admin/logout/">Выйти</a></li>
</ul>

{% endwith %}
