{% load mtags %}

{% comment %}<!--
Приложение ws - чат
-->{% endcomment %}

{% settings_value 'WS_CHAT' as ws_chat_enabled %}
{% if ws_chat_enabled %}
  <script type="text/javascript" src="/static/chat/fast_chat.js"></script>

  <div class="hidden" id="fast_chat_form_action" data-url='{% url "ws:fast_chat" %}' data-chat-url='{% url "ws:show_chat" %}' data-helper="Если у нас data-chat-url совпадает с адресом, где мы находимся сейчас, то нужно только 1 раз запросить новые сообщения"></div>

{% endif %}

<a class="dropdown-toggle" data-play="fadeIn" data-toggle="dropdown" href="#" id="fast_chat_uread_messages_counter">
  <em class="fa fa-envelope-o"></em>
  <div class="label label-danger">0</div>
</a>

<ul class="dropdown-menu" id="fast_chat_unread_messages">
  <li class="dropdown-menu-header">Нет новых сообщений</li>
  <li>
    <div class="scroll-viewport">
      <div class="list-group scroll-content">
        {% comment %}<!--
        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/01.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">2h</small>
              <strong class="media-heading text-primary">
                <span class="point point-success point-md"></span>
                Rina Carter
              </strong>
              <p class="mb-sm">
                <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>

        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/04.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">3h</small>
              <strong class="media-heading text-primary">
                <span class="point point-success point-md"></span>
                Michael Reynolds
              </strong>
              <p class="mb-sm">
                <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>


        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/03.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">4h</small>
              <strong class="media-heading text-primary">
                <span class="point point-danger point-md"></span>
                Britanny Pierce
              </strong>
              <p class="mb-sm">
                <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>

        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/05.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">4h</small>
              <strong class="media-heading text-primary">
                <span class="point point-danger point-md"></span>
                Laura Cole
              </strong>
              <p class="mb-sm">
                <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>

        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/06.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">4h</small>
              <strong class="media-heading text-primary">
                <span class="point point-danger point-md"></span>
                Carolyn Pretty
              </strong>
              <p class="mb-sm">
                 <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>
        -->{% endcomment %}
      </div>
    </div>
  </li>

  <li class="p hidden mark_all_read">
    <a class="text-center" href="#">
      <small class="text-primary">Отметить все прочитанными</small>
    </a>
  </li>

</ul>

