<a class="dropdown-toggle" data-play="fadeIn" data-toggle="dropdown" href="#">
  <em class="fa fa-envelope-o"></em>
  <div class="label label-danger">21</div>
</a>
<!-- START Dropdown menu-->
<ul class="dropdown-menu">
  <li class="dropdown-menu-header">You have 5 new messages</li>
  <li>
    <div class="scroll-viewport">
      <!-- START list group-->
      <div class="list-group scroll-content">
        <!-- START list group item-->
        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/01.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">2h</small>
              <strong class="media-heading text-primary">
                <span class="point point-success point-md"></span>
                Rina Carter
              </strong>
              <p class="mb-sm">
                <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>
        <!-- END list group item-->
        <!-- START list group item-->
        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/04.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">3h</small>
              <strong class="media-heading text-primary">
                <span class="point point-success point-md"></span>
                Michael Reynolds
              </strong>
              <p class="mb-sm">
                <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>
        <!-- END list group item-->
        <!-- START list group item-->
        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/03.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">4h</small>
              <strong class="media-heading text-primary">
                <span class="point point-danger point-md"></span>
                Britanny Pierce
              </strong>
              <p class="mb-sm">
                <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>
        <!-- END list group item-->
        <!-- START list group item-->
        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/05.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">4h</small>
              <strong class="media-heading text-primary">
                <span class="point point-danger point-md"></span>
                Laura Cole
              </strong>
              <p class="mb-sm">
                <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>
        <!-- END list group item-->
        <!-- START list group item-->
        <a class="list-group-item" href="#">
          <div class="media">
            <div class="pull-left">
              <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/06.jpg"/>
            </div>
            <div class="media-body clearfix">
              <small class="pull-right">4h</small>
              <strong class="media-heading text-primary">
                <span class="point point-danger point-md"></span>
                Carolyn Pretty
              </strong>
              <p class="mb-sm">
                 <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
              </p>
            </div>
          </div>
        </a>
        <!-- END list group item-->
      </div>
      <!-- END list group-->
    </div>
  </li>
  <!-- START dropdown footer-->
  <li class="p">
    <a class="text-center" href="#">
      <small class="text-primary">READ ALL</small>
    </a>
  </li>
  <!-- END dropdown footer-->
</ul>
<!-- END Dropdown menu-->
