<a class="dropdown-toggle" data-play="fadeIn" data-toggle="dropdown" href="#">
  <em class="fa fa-bell-o"></em>
  <div class="label label-info">35</div>
</a>
<!-- START Dropdown menu-->
<ul class="dropdown-menu">
  <li>
    <!-- START list group-->
    <div class="list-group">
      <!-- list item-->
      <a class="list-group-item" href="#">
        <div class="media">
          <div class="pull-left">
            <em class="fa fa-envelope-o fa-2x text-success"></em>
          </div>
          <div class="media-body clearfix">
            <div class="media-heading">Unread messages</div>
            <p class="m0">
              <small>You have 10 unread messages</small>
            </p>
          </div>
        </div>
      </a>
      <!-- list item-->
      <a class="list-group-item" href="#">
        <div class="media">
          <div class="pull-left">
            <em class="fa fa-cog fa-2x"></em>
          </div>
          <div class="media-body clearfix">
            <div class="media-heading">New settings</div>
            <p class="m0">
              <small>There are new settings available</small>
            </p>
          </div>
        </div>
      </a>
      <!-- list item-->
      <a class="list-group-item" href="#">
        <div class="media">
          <div class="pull-left">
            <em class="fa fa-fire fa-2x"></em>
          </div>
          <div class="media-body clearfix">
            <div class="media-heading">Updates</div>
            <p class="m0">
              <small>There are<span class="text-primary">2</span>new updates available</small>
            </p>
          </div>
        </div>
      </a>
      <!-- last list item -->
      <a class="list-group-item" href="#">
        <small>Unread notifications</small>
        <span class="badge">14</span>
      </a>
    </div>
    <!-- END list group-->
  </li>
</ul>
<!-- END Dropdown menu-->