<nav class="sidebar">
  <div class="item user-block">
    <div class="user-block-picture">
      <div class="user-block-status">
        <a href="{% url 'login:edit_user' 'edit' request.user.id %}">
          {% if request.user.customuser.img %}
            <img src="{{ request.user.customuser.thumb }}" class="img-thumbnail img-circle" width="60" height="60">
          {% else %}
            <img src="/static/admin/misc/avatar_small.png" class="img-thumbnail img-circle" width="60" height="60">
          {% endif %}
        </a>
        <div class="point point-success point-lg"></div>
      </div>
    </div>
    <div class="user-block-info">
      <a href="{% url 'login:edit_user' 'edit' request.user.id %}">
        <span class="user-block-name item-text">{{ request.user }}</span>
        <span class="user-block-role">
          {% if request.user.customuser.function %}
            {{ request.user.customuser.function }}
          {% else %}
            {% if request.user.is_superuser %}
              Администратор
            {% else %}
              Пользователь
            {% endif %}
          {% endif %}
        </span>
      </a>
    </div>
  </div>
  {% include "core/left_menu_apps.html" %}
</nav>
