<!-- START Off Sidebar (right)-->
<nav>
  <ul class="nav">
    <!-- START user info-->
    <li>
      <div class="item">
        <div class="p-lg">
          <div class="text-center">
            <p><img alt="Image" class="img-circle img-thumbnail thumb64" src="/static/misc/02.jpg"/></p>
            <p><strong>Arnold</strong></p>
          </div>
        </div>
      </div>
    </li>
    <!-- END user info-->
    <li class="p">
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Search contacts.." type="text"/>
        <em class="fa fa-search form-control-feedback text-muted"></em>
      </div>
    </li>
    <!-- START list title-->
    <li class="p">
      <small class="text-muted">ONLINE</small>
    </li>
    <!-- END list title-->
    <li>
      <!-- START User status-->
      <a class="media p mt0" href="#">
        <span class="pull-right">
          <span class="point point-success point-lg"></span>
        </span>
        <span class="pull-left">
          <!-- Contact avatar-->
          <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/05.jpg"/>
        </span>
        <!-- Contact info-->
        <span class="media-body">
          <span class="media-heading">
            <strong>Laura Sam</strong><br/>
            <small class="text-muted">lau39</small>
          </span>
        </span>
      </a>
      <!-- END User status-->
      <!-- START User status-->
      <a class="media p mt0" href="#">
        <span class="pull-right">
          <span class="point point-success point-lg"></span>
        </span>
        <span class="pull-left">
          <!-- Contact avatar-->
          <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/06.jpg"/>
        </span>
        <!-- Contact info-->
        <span class="media-body">
          <span class="media-heading">
            <strong>Beverley Pierce</strong><br/>
            <small class="text-muted">be40210</small>
          </span>
        </span>
      </a>
      <!-- END User status-->
      <!-- START User status-->
      <a class="media p mt0" href="#">
        <span class="pull-right">
          <span class="point point-danger point-lg"></span>
        </span>
        <span class="pull-left">
          <!-- Contact avatar-->
          <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/07.jpg"/>
        </span>
        <!-- Contact info-->
        <span class="media-body">
          <span class="media-heading">
            <strong>Mika Long</strong><br/>
            <small class="text-muted">longlong</small>
          </span>
        </span>
      </a>
      <!-- END User status-->
      <!-- START User status-->
      <a class="media p mt0" href="#">
        <span class="pull-right">
          <span class="point point-warning point-lg"></span>
        </span>
        <span class="pull-left">
          <!-- Contact avatar-->
          <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/08.jpg"/>
        </span>
        <!-- Contact info-->
        <span class="media-body">
          <span class="media-heading">
            <strong>Danielle Berry</strong><br/>
            <small class="text-muted">hunter49</small>
          </span>
        </span>
      </a>
      <!-- END User status-->
    </li>
    <!-- START list title-->
    <li class="p">
      <small class="text-muted">OFFLINE</small>
    </li>
    <!-- END list title-->
    <li>
      <!-- START User status-->
      <a class="media p mt0" href="#">
        <span class="pull-right">
          <span class="point point-lg"></span>
        </span>
        <span class="pull-left">
          <!-- Contact avatar-->
          <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/09.jpg"/>
        </span>
        <!-- Contact info-->
        <span class="media-body">
          <span class="media-heading">
            <strong>Martin Cooper</strong><br/>
            <small class="text-muted">maryo</small>
          </span>
        </span>
      </a>
      <!-- END User status-->
      <!-- START User status-->
      <a class="media p mt0" href="#">
        <span class="pull-right">
          <span class="point point-lg"></span>
        </span>
        <span class="pull-left">
          <!-- Contact avatar-->
          <img alt="Image" class="media-object img-circle thumb48" src="/static/misc/10.jpg"/>
        </span>
        <!-- Contact info-->
        <span class="media-body">
          <span class="media-heading">
            <strong>Daniel Curtis</strong><br/>
            <small class="text-muted">danni</small>
          </span>
        </span>
      </a>
      <!-- END User status-->
    </li>
    <li>
      <!-- Optional link to list more users-->
      <a class="p" href="#" title="See more contacts">
        <strong>
          <small class="text-muted">…</small>
        </strong>
      </a>
    </li>
  </ul>
</nav>
<!-- END Off Sidebar (right)-->