<div class="panel panel-default">
  <div class="panel-heading">
    <span class="label_for_translate title_for_tabulator_actions_{{ menu }}_{{ submenu }}" attr-class_name="title_for_tabulator_actions_{{ menu }}_{{ submenu }}" attr-edit_mode="popup" attr-placement="right">{{ plural_obj }} - действия</span>
    <a href="#" data-perform="panel-dismiss" data-toggle="tooltip" title="Закрыть" class="pull-right">
      <em class="fa fa-times"></em>
    </a>
    <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Свернуть/Развернуть" class="pull-right">
      <em class="fa fa-plus"></em>
    </a>
  </div>
  <div class="clearfix"></div>
  <div class="panel-wrapper collapse">
    <div class="panel-body">
      {% block tabulator_actions %}
{% comment %}<!--
        <button class="mb-sm btn btn-primary" type="button" id="download-csv">
          <em class="fa fa-file-text fa-fw mr-sm"></em>Скачать csv
        </button>
        <button class="mb-sm btn btn-primary" type="button" id="download-json">
          <em class="fa fa-file-text-o fa-fw mr-sm"></em>Скачать json
        </button>
-->{% endcomment %}
        <a class="mb-sm btn btn-primary" id="reset-table-settings">
          <em class="fa fa-times fa-fw mr-sm"></em>
          <span class="label_for_translate action_button_label_tabulator_reset_settings" attr-class_name="action_button_label_tabulator_reset_settings" attr-edit_mode="popup" attr-placement="bottom">Сброс настроек таблицы</span>
        </a>
        <button class="mb-sm btn btn-primary" type="button" id="download-xlsx">
          <em class="fa fa-files-o fa-fw mr-sm"></em>
          <span class="label_for_translate  action_button_label_tabulator_download_xlsx" attr-class_name="action_button_label_tabulator_download_xlsx" attr-edit_mode="popup" attr-placement="bottom">Скачать xlsx</span>
        </button>
        <a class="mb-sm btn btn-primary" id="main-table-link">
          <em class="fa fa-link fa-fw mr-sm"></em>
          <span class="label_for_translate  action_button_label_tabulator_link_for_table" attr-class_name="action_button_label_tabulator_link_for_table" attr-edit_mode="popup" attr-placement="bottom">Ссылка на таблицу</span>
        </a>
      {% endblock %}
    </div>
  </div>
</div>
<div class="panel panel-default main_panel">
  <div id="main-table" class="tabulator_table"></div>
  <div id="main-table-footer">
    <span class="start"></span> - <span class="end"></span> / <span class="max"></span>
  </div>
</div>
<script type="text/javascript">
var tickCrossEditor = function(cell, onRendered, success, cancel, editorParams){
  //cell - the cell component for the editable cell
  //onRendered - function to call when the editor has been rendered
  //success - function to call to pass the successfuly updated value to Tabulator
  //cancel - function to call to abort the edit and return to a normal cell
  //editorParams - params object passed into the editorParams column definition property
  var editor = document.createElement("input");
  editor.setAttribute("type", "checkbox");
  editor.checked = cell.getValue();
  editor.setAttribute("value", 1);
  //create and style input
  editor.style.marginTop = "17px";
  editor.style.marginLeft = "auto";
  editor.style.marginRight = "auto";
  editor.style.display = "block";
  function successFunc(){
      success(editor.checked);
  }
  editor.addEventListener("change", successFunc);
  editor.addEventListener("blur", successFunc);
  return editor;
};
var actionsFormatter = function(cell, formatterParams, onRendered){
  var row = cell.getRow();
  var rowIndex = row.getIndex();
  var pk = cell.getValue();
  var actions = "<div class='padding-rl5'>";
  {% if permissions.edit %}
    actions += " <a class='btn-xs btn btn-primary pull-left' href='{{ root_url }}edit/" + pk + "/' title='Редактировать'><i class='fa fa-edit'></i></a> ";
  {% endif %}
  {% if permissions.drop %}
    actions += " <a class='btn-xs btn btn-danger pull-right' href='javascript:void(0);' data-toggle='modal' data-target='#ajax_drop_obj' onclick='prepare_for_drop(" + pk + ", " + rowIndex + ");' title='Удалить'><i class='fa fa-trash'></i></a> ";
  {% endif %}
  actions += "</div>";
  return actions;
};
var booleanFormatter = function(cell, formatterParams, onRendered){
  var value = cell.getValue();
  var result = "<div class='padding-rl5 text-center'>";
  if(value){
    result += " <a class='btn text-success' href='javascript:void(0);'><i class='fa fa-check-square-o'></i></a> ";
  }else{
    result += " <a class='btn text-danger' href='javascript:void(0);'><i class='fa fa-square-o'></i></a> ";
  }
  result += "</div>";
  return result;
};
var imgFormatter = function(cell, formatterParams, onRendered){
  var value = cell.getValue();
  var data = cell.getData();
  var result = "";
  if(value){
    result += "<div class='tabulator_img'>";
    result += "<a href='" + data.imagine + "' target='_blank'>";
    result += "<img loading='lazy' src='" + data.thumb + "' onload='console.log(\"visible "+ data.thumb +"\");'/>";
    result += "</a>";
    result += "</div>";
  }
  return result;
};
var wordwrapFormatter = function(cell, formatterParams, onRendered){
  var data = cell.getRow().getData();
  var value = cell.getValue();
  var result = "";
  if(value){
    result += " <div style='white-space:normal;'>" + value + "</div> ";
  }
  result += "";
  return result;
};
var accessor_is_active = function(value, data, type, params, column){
  // param.test <= accessorDownloadParams: {test: 'test'},
  //console.log(params, value, value ? 1: 0);
  return value ? 1: 0;
}
var accessor_not_empty = function(value, data, type, params, column){
  return value ? value : '';
}
$(document).ready(function(){
  //trigger download of data.csv file
  $("#download-csv").click(function(){
    if($(this).find(".editable").length > 0){
      return true;
    }
    main_table.download("csv", "{{ plural_obj }}.csv");
  });
  //trigger download of data.json file
  $("#download-json").click(function(){
    if($(this).find(".editable").length > 0){
      return true;
    }
    main_table.download("json", "{{ plural_obj }}.json");
  });
  //trigger download of data.xlsx file
  $("#download-xlsx").click(function(){
    if($(this).find(".editable").length > 0){
      return true;
    }
    main_table.download("xlsx", "{{ plural_obj }}.xlsx", {sheetName:"{{ plural_obj }}"});
  });
  //trigger download of data.pdf file
  $("#download-pdf").click(function(){
    if($(this).find(".editable").length > 0){
      return true;
    }
    main_table.download("pdf", "{{ plural_obj }}.pdf", {
      orientation:"portrait", //set page orientation to portrait
      title:"{{ plural_obj }}", //add title to report
    });
  });
  //reset persistence settings
  $("#reset-table-settings").click(function(){
    if($(this).find(".editable").length > 0){
      return true;
    }
    if(window.localStorage.getItem("tabulator-{{ root_url }}")){
      window.localStorage.removeItem("tabulator-{{ root_url }}");
    }
    if(window.localStorage.getItem("tabulator-{{ root_url }}-sort")){
      window.localStorage.removeItem("tabulator-{{ root_url }}-sort");
    }
    window.location.href = "{{ root_url }}";
  });
});
</script>
