persistentLayout: true,
persistentSort: true,
persistenceID: "{{ root_url }}",
persistentFilter: false,

ajaxURL: window.tabulatorAjaxURL || "{{ root_url }}",
ajaxParams: window.tabulatorAjaxParams || {}, // {key1: "value1"},
//ajaxConfig:"POST",
//ajaxContentType:"json",
ajaxProgressiveLoad: "scroll",
//ajaxProgressiveLoadScrollMargin: 200,
//ajaxProgressiveLoadDelay: 100,
ajaxFiltering: true,
ajaxSorting: true,

history:true, //record table history
// TREE
dataTree:true,
dataTreeStartExpanded:true,
dataTreeCollapseElement:"<i class='fa fa-minus-square'></i>",
dataTreeExpandElement:"<i class='fa fa-plus-square'></i>",
dataTreeChildIndent:15, //indent child rows by 15 px

ajaxResponse:function(url, params, response){
  $("#main-table-footer .start").text(1);
  var end_row = response.by * response.cur_page;
  $("#main-table-footer .end").text(end_row > response.total_records ? response.total_records : end_row);
  $("#main-table-footer .max").text(response.total_records);
  // Функция, выполняющаяся после после получения результатов
  if(window.tabulator_ajax_response !== undefined){
    window.tabulator_ajax_response(url, params, response);
  }
  return response;
},

renderComplete:function(){
  // Функция, выполняющаяся после загрузки данных в таблицу
  if(window.tabulator_render_completed !== undefined){
    window.tabulator_render_completed();
  }
},

initialHeaderFilter: [
  {% for k, v in fas.filters.items %}
    {field: "{{ k }}", value: "{{ v }}"},
  {% endfor %}
],
initialSort:[
  {% if fas.sorters %}
    {% for k, v in fas.sorters.items %}
      {column: "{{ k }}", dir: "{{ v }}"},
    {% endfor %}
  {% else %}
    {column: "position", dir: "asc"},
  {% endif %}
],

movableRows: window.disableMovableRows ? false : true,
rowMoved:function(row){
  var status = 'danger'; // success, warning, info, danger
  var table = row.getTable();
  // ---------------------------------
  // Если есть фильтры или сортировка,
  // тогда не надо менять позиции
  // ---------------------------------
  var sorters = table.getSorters();
  if(table.getHeaderFilters().length > 0 || sorters.length != 1 || sorters[0]['field'] != 'position' || sorters[0]['dir'] != 'asc'){
    main_table.undo();
    $.notify({
      message: 'Сортировать можно только когда таблица отсортирована по позиции',
    },{
      status: status,
    });
    return;
  }

  var rows = table.getRows().map(function(obj){
    return obj.getData().id;
  });
  console.log(rows);

  var msg = 'Произошла ошибка, обновите страничку';
  $.ajax({
    type: 'POST',
    url: '{{ root_url }}positions/',
    data: {csrfmiddlewaretoken: getCookie('csrftoken'), positions: rows},
  }).done(function(r) {
    if(r.error){
      main_table.undo();
      msg = r.error;
    }else if(r.success){
      msg =  r.success;
      status = 'success';
    }
    $.notify({
      message: msg,
    },{
      status: status,
    });
  }).fail(function() {
    main_table.undo();
    $.notify({
      message: msg,
    },{
      status: status,
    });
  });
},

selectable: true, //make rows selectable
paginationSize: 50,
height: 600,
layout: "fitColumns",

// ------------------
// Ссылка для запроса
// ------------------
ajaxRequesting:function(url, params){
  var query = $.param(params);
  //console.log(url, params, query);
  $("#main-table-link").attr("href", url + "?" + query);
  return true;
},

columnTitleChanged:function(column){
  console.log(column);
  // Функция, выполняющаяся после изменения заголовка столбца
  if(window.tabulator_title_changed !== undefined){
    window.tabulator_title_changed(column);
  }
},

movableColumns: true,