{% extends "skeleton.html" %}
{% load mtags flatcontent_tags %}

{% block extrahead %}
<link rel="stylesheet" href="/media/css/white_page.css">
<style type="text/css">
</style>
{% endblock %}

{% block extracontent %}
<div class="simple_page">
  {% include "web/components/breadcrumbs.html" %}

<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-5">Спасибо, ваш заказ оформлен, скоро мы свяжемся с вами</h2>
    </div>
    <div class="col-md-12">

      <p>Заказ № {% if order.number %}{{ order.number }}{% else %}{{ order.id }}{% endif %} на сумму {{ order.total|money_format }} ₽ от {{ order.created|date:'d-m-Y H:i:s' }}</p>

    {% if not order.external_number %}
      <p class="link">Ссылка для этого заказа: <a href="{% url 'main:checkout' %}?order_id={{ order.id }}">Ссылка на заказ</a></p>
      <p>Ссылка на заказ будет работать только для пользователя {{ request.session.shopper.name }}, {{ request.session.shopper.phone }}</p>
    {% endif %}

    </div>
  </div>
</div>
</div>

  {% include "web/components/footer.html" %}
</div>

{% endblock %}

{% block extrascripts %}
{% endblock %}