{% load mtags %}
{% if container %}
<div class="slider tab-slider mb-35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tab-slider-wrapper">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              {% for block in blocks %}
                <a class="nav-item nav-link{% if forloop.first %} active{% endif %}" id="products-tab-{{ block.id }}" data-toggle="tab" href="#products-{{ block.id }}" role="tab" aria-selected="true">{{ block.name }}</a>
              {% endfor %}
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            {% for block in blocks %}
              <div class="tab-pane fade show{% if forloop.first %} active{% endif %}" id="products-{{ block.id }}" role="tabpanel" aria-labelledby="featured-tab">
                <div class="tab-slider-container">
                  {% for product in block.products %}
                    <div class="single-tab-slider-item">
                      <!-- Столбик товаров - можно больше 1 -->
                      <div class="gf-product tab-slider-sub-product">
                        <div class="image">
                          <a href="/product/{{ product.id }}/">
                            {% comment %}<!--
                            <span class="onsale">Sale!</span>
                            -->{% endcomment %}
                            <img src="{% imagine product.img '400x600' product.get_folder True %}" class="img-fluid" alt="{{ product.name|textize }}" loading="lazy">
                          </a>
                          {% comment %}<!--
                          <div class="product-hover-icons">
                            <a class="active" href="#" data-tooltip="Add to cart"><span class="icon_cart_alt"></span></a>
                            <a href="#" data-tooltip="Add to wishlist"><span class="icon_heart_alt"></span></a>
                            <a href="#" data-tooltip="Compare"><span class="arrow_left-right_alt"></span></a>
                            <a href="#" data-tooltip="Quick view" data-toggle = "modal" data-target="#quick-view-modal-container"><span class="icon_search"></span></a>
                          </div>
                          -->{% endcomment %}
                        </div>
                        <div class="product-content">
                          <div class="product-categories">
                            <a href="javascript:void(0);">{{ block.name }}</a>                          </div>
                          <h3 class="product-title"><a href="/product/{{ product.id }}/">{{ product.name }}</a></h3>
                          <div class="price-box">
                            {% if product.old_price %}<span class="main-price">{{ product.old_price|money_format }} руб</span>{% endif %}
                            <span class="discounted-price">{{ product.price|money_format }} руб</span>
                          </div>
                        </div>
                      </div>
                      <!-- Тут можно еще один товар - тогда 2 в столбике будет -->
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

