{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
var main_table_columns = null;
$(document).ready(function(){
  var robotServerNameFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['robot'] ? data['robot']['server_name'] : '';
  };
  var robotIpFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['robot'] ? data['robot']['ip'] : '';
  };
  var siteFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['site'] ? data['site']['url'] : '';
  };
  main_table_columns = [
    {% include "core/tabulator_cell/drag.html" %}
    {% include "core/tabulator_cell/id.html" %}
    {% include "core/tabulator_cell/name_multiline.html" %}
    {
      title: "Робот",
      field: "robot__server_name",
      headerFilterPlaceholder: "Робот",
      headerFilter: "input",
      headerFilterFunc: "like",
      formatter: robotServerNameFormatter,
      width: 120,
    },
    {
      title: "IP Робота",
      field: "robot__ip",
      headerFilterPlaceholder: "IP Робота",
      headerFilter: "input",
      headerFilterFunc: "like",
      formatter: robotIpFormatter,
      width: 120,
    },
    {
      title: "Сайт",
      field: "site__url",
      headerFilterPlaceholder: "Сайт",
      headerFilter: "input",
      headerFilterFunc: "like",
      formatter: siteFormatter,
      width: 120,
    },
    {
      title: "Сценарий",
      field: "commands",
      headerSort: false,
      formatter: wordwrapFormatter,
      width: 150,
      downloadTitle: "commands",
    },

    {% include "core/tabulator_cell/image.html" %}
    {% include "core/tabulator_cell/is_active.html" %}
    {% include "core/tabulator_cell/position.html" %}

    {% include "core/tabulator_cell/actions.html" %}
  ];
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns: main_table_columns,
  });

});
</script>
{% endblock %}