<div id="cartpro_modal" class="cartpro-modal ">
  <div class="cpmodal-wrapper">
    <a href="javascript:void(0)" title="Close" class="cpmodal-close cp-close">
      <span class="fa fa-times"></span>
    </a>
    <div class="cpmodal-message"></div>
    <div class="cpmodal-iframe"></div>
    <div class="cpmodal-action">
      <a class="cpmodal-button cp-close" title="Continue"  href="#">
        Continue<span class="cpmodal-time  ">10</span>
      </a>
      <a class="cpmodal-button cp-close cpmodal-viewcart cpmodal-display  cartpro-hidden" title="View cart & checkout" href="">View cart & checkout</a>
      <button type="button" title="Compare" class="cp-close cpmodal-button cartpro-compare cpmodal-display  cartpro-hidden" onclick="popWin('')">
        <span><span>Compare</span></span>
      </button>
      <a  class="cpmodal-button cp-close cartpro-wishlist cpmodal-display  cartpro-hidden " href="">Go to Wishlist</a>
    </div>
    <div class="cpmodal-form">
    </div>
  </div>
</div>