<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 setting-container">
        <div class="header-top-left">
          <div class="dropdown-block">
            <div class="lang-switcher">
              <div class="dropdown-toggle">
                <div class="value flag rus_flag">Русский</div>
              </div>
              <ul class="dropdown-list">
                <li class="current">
                  <span class="dropdown-icon rus_flag">Русский</span>
                </li>
                <li>
                  <a href="">
                    <span class="dropdown-icon eng_flag">English</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
{% comment %}<!--
          <div class="dropdown-block currency-block">
            <div class="currency-switcher">
              <div class="dropdown-toggle">
                <div class="value">USD</div>
              </div>
              <ul class="dropdown-list">
                <li><a href="">EGP</a></li>
                <li><a href="">EUR</a></li>
                <li class="current">USD</li>
              </ul>
            </div>
          </div>
-->{% endcomment %}
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-7 customer-container">
        <div class="header-top-right">
          <div class="welcome-text notloggedin">
            <span>Мы доставляем пиццу </span>
          </div>
          <div class="customer-links">
            <ul>
              <li><a href="">Вход</a></li>
              <li><a href="">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
