body {
  padding-top: 130px;
}
.only_mobile {
  display: none;
}
.clearfix_desktop {
  clear: both;
}
.clearfix_mobile {
  clear: none;
}
/* header */
#site-header .mobile {
  display: none;
}
#site-header {
  padding: 0;
}
#site-header .desktop {
  padding: 15px 0;
}
#site-header .mobile .logo {
  width: 150px;
  margin: 0;
}
#site-header .mobile .logo img{
  width: 100%;
}
/* projects */
.projects_menu {
  display: none;
  background-color: #651d74;
  padding-bottom: 10px;
  margin-top: 20px;
}
.projects_menu a {
  text-align: center;
  padding: 20px 0 10px 0;
  color: #fff;
  display: block;
  position: relative;
}
.projects_menu .active a:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#582371), to(#e53863));
  background-image: -o-linear-gradient(left, #582371, #e53863);
  background-image: linear-gradient(to right, #582371, #e53863);
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition:all .3s linear;
  transition: all .3s linear;
}
/* slider */
.main-slider-container {
  position: relative;
  display: none;
}
.main-slider-container .main-slider {
  padding-bottom: 0;
}
.main-slider-container .main-slider .container {
  padding: 0;
  width: 100%;
}
.main-slider-container .main-slider .slider-thumb {
  overflow: hidden;
  padding: 0;
}
.main-slider-container .main-slider .btn-prev {
  left: 20px;
}
.main-slider-container .main-slider .btn-next {
  right: 20px;
}
.main-slider-container .main-slider .btn-prev,
.main-slider-container .main-slider .btn-next {
  display: block;
  top: calc(50% - 10px);
  width: 20px;
}
.main-slider-container .main-slider .btn-prev i,
.main-slider-container .main-slider .btn-next i {
  color: #e53863;
  font-size: 35px;
}
.main-slider-container .slider-slides {
  position: relative;
  background-color: #651d74;
  color: #fff;
}
.main-slider-container .slider-slides .content {
  padding: 20px 45px;
  position: relative;
  text-align: center;
}
.main-slider-container .slider-slides .slider-slides-text,
.main-slider-container .slider-slides .slider-slides-text a {
  font-size: 18px;
  color: #fff;
}
.main-slider-container .slider-slides .content h6 {
  color: #fff;
  font-size: 22px;
}
.main-slider-container .slider-slides .slides-item {
  padding: 0;
}
.main-slider-container .left,
.main-slider-container .right {
  position: absolute;
  top: calc(50% - 15px);
  width: 20px;
  height: 20px;
}
.main-slider-container .left {
  right: 20px;
}
.main-slider-container .right {
  left: 20px;
}
.main-slider-container .left i,
.main-slider-container .right i {
  color: #e53863;
  font-size: 25px;
}
/* article */
.article .mobile {
  display: none;
}
.only_mobile .article {
  padding-top: 0 !important;
}

.article,
.features-item *,
#team .simple_article,
.simple_contacts .row.pb30 *,
.logo-text {
  font-weight: 300;
}
.wechat {
  max-width: 200px;
}
@media (max-width: 799px) {
  html {
    font-family: "GillSans", sans-serif;
  }
  body {
    padding-top: 0;
  }
  .flex_column {
    flex-direction: column;
    display: flex !important;
  }
  .only_desktop {
    display: none;
  }
  .only_mobile {
    display: block;
  }
  .clearfix_desktop {
    clear: none;
  }
  .clearfix_mobile {
    clear: both;
  }
  /* simple_contacts, simple_clients, team */
  .article .portfolio_title:before,
  .article .portfolio_title:after,
  .services_grid .portfolio_title:before,
  .services_grid .portfolio_title:after,
  .simple_services .portfolio_title:before,
  .simple_services .portfolio_title:after,
  .simple_contacts .portfolio_title:before,
  .simple_contacts .portfolio_title:after,
  .simple_clients .portfolio_title:before,
  .simple_clients .portfolio_title:after,
  #team .portfolio_title:before,
  #team .portfolio_title:after {
    display: none;
  }
  .article .portfolio_title,
  .services_grid .portfolio_title,
  .simple_services .portfolio_title,
  .simple_contacts .portfolio_title,
  .simple_clients .portfolio_title,
  #team .portfolio_title {
    text-align: center;
  }
  .article .portfolio_title span,
  .services_grid .portfolio_title span,
  .simple_services .portfolio_title span,
  .simple_contacts .portfolio_title span,
  .simple_clients .portfolio_title span,
  #team .portfolio_title span {
    position: relative;
  }
  .article .portfolio_title span:after,
  .services_grid .portfolio_title span:after,
  .simple_services .portfolio_title span:after,
  .simple_contacts .portfolio_title span:after,
  .simple_clients .portfolio_title span:after,
  #team .portfolio_title span:after {
    content: '';
    display: inline;
    width: 100%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(#582371), to(#e53863));
    background-image: -o-linear-gradient(left, #582371, #e53863);
    background-image: linear-gradient(to right, #582371, #e53863);
    position: absolute;
    right: 0;
    bottom: -10px;
    -webkit-transition:all .3s linear;
    transition: all .3s linear;
  }
  /* header */
  #site-header .desktop {
    display: none;
  }
  #site-header > .container {
    padding: 0;
  }
  #site-header .mobile {
    display: block;
  }
  #site-header {
    background-color: #651d74;
    padding: 10px;
  }
  #site-header .primary-menu {
    display: flex;
    order: 2;
    background-color: transparent;
  }
  #site-header .primary-menu .mob-menu--title {
    display: none;
  }
  #site-header .primary-menu .menu-icon-wrapper svg path {
    stroke: #fff;
  }
  #site-header .nav-add {
    display: flex;
    order: 1;
    margin-left: auto;
    padding: 20px;
  }
  #site-header .nav-add .lang a {
    color: #ccc;
  }
  #site-header .primary-menu .showhide {
    float: none;
    top: 4px;
  }
  #site-header .nav-add .lang.active a {
    color: #fff;
  }

  #site-header .primary-menu-responsive .primary-menu-menu.scrollable {
    top: 100%;
  }
  #site-header .primary-menu-responsive.primary-menu {
    overflow: hidden;
  }
  #site-header .logo-text {
    color: #fff;
    font-size: 12px;
    position: relative;
    margin-top: 6px;
    font-weight: 300;
  }
  #site-header .logo-text::after {
    content: "";
    display: inline;
    width: 100%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(#5c1668), to(#e53863));
    background-image: -o-linear-gradient(left, #5c1668, #e53863);
    background-image: linear-gradient(to right, #5c1668, #e53863);
    position: absolute;
    right: 0;
    top: -5px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header .logo {
    overflow: visible;
  }
  .header .logo img {
    max-width: 130px;
    margin: 0;
  }

  /* projects */
  .project aside {
    display: none;
  }
  .projects_menu.mobile .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .projects_menu {
    display: block;
  }
  .projects_with_menu .case-item-wrap > div {
    padding: 0;
  }
  .projects_with_menu .recent-case .portfolio_title_container {
    padding: 30px 0 0 30px;
  }
  .projects_with_menu .recent-case .projects_desc {
    display: none;
  }
  /* footer */
  .simple_contacts,
  .simple_copyright {
    background-color: #5c1668;
  }
  .simple_contacts .portfolio_title,
  .simple_contacts .contact_row {
    color: #fff;
  }
  .simple_contacts .contact_row {
    margin-top: 20px;
  }
  .simple_copyright_line {
    position: relative;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(#582371), to(#e53863));
    background-image: -o-linear-gradient(left, #582371, #e53863);
    background-image: linear-gradient(to right, #582371, #e53863);
    right: 0;
    bottom: -10px;
    -webkit-transition:all .3s linear;
    transition: all .3s linear;
  }
  /* slider */
  .main-slider-container {
    display: block;
  }
  .dynamic_portfolio {
    display: none;
  }
  .client-item .client-image img {
    max-height: auto;
    max-width: 80px;
  }
  /* team */
  #team {
    background-color: #651d74;
  }
  #team .last {
    width: 100% !important;
  }
  #team .simple_team {
    background-image: none;
    background-position: -1000px;
  }
  #team .features-item .features-item__thumb img {
    max-width: 120px;
  }
  #team .portfolio_title span,
  #team .features-item a,
  #team .features-item .features-text {
    color: #fff;
  }
  #team .features-item .features-text {
    line-height: 22px;
    font-size: 14px;
  }
  #team .features-item .features-state {
    color: #e53863;
    font-size: 14px;
  }
  /* article */
  .article .mobile {
    display: block;
  }
  .article.only_mobile .col-lg-7 img{
    width: 100%;
    padding-left: -15px;
    padding-right: -15px;
  }

  .article .simple_article_text {
    padding: 0 0 30px 0;
    display: inline-block;
  }
  /* services_grid */
  .services_grid .row {
    padding-bottom: 0 !important;
  }
  .services_grid .service-container:hover .servises-item {
    display: none;
  }
  .services_grid .servises-item:hover {
    background-color: transparent;
  }
  /* projects */
  .projects {
    padding-top: 0;
  }
}

