<style type="text/css">
  .brand-logo img, .brand-logo-collapsed img{
    top: 8px;
    left: 15px;
  }
  .brand-logo-collapsed img {
    height: 40px;
  }
  .penguins a img, .brand-logo img{
    height: 60px;
  }
</style>
<div class="navbar-header">
  <a class="navbar-brand" href="/admin/">
    <div class="brand-logo">
      <img alt="Транспромстрой" src="/media/misc/logo.png" />
    </div>
    <div class="brand-logo-collapsed">
      <img alt="Транспромстрой" src="/media/misc/logo-single.png" />
    </div>
  </a>
</div>