{% extends "core/base.html" %}

{% block content %}
<div class="col-md-12">
  <h2>Приятной работы, {{ request.user }}</h2>
  <p>Последние изменения</p>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">01/09 Правки по сварщикам</h3>
        <p>Расширена форма создания сварщика</p>
        <p>Сварщикам добавлена возможность добавлять удостоверения</p>
        <p>Сварщикам добавлена возможность добавлять "Группы технических устройств опасных производственных объектов"</p>
        <p>В таблицу сварщиков выведены дополнительные поля поиска</p>
        <p>Заполнен выпадающий список для сварщиков по "Группы технических устройств опасных производственных объектов"</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">31/08 Правки для сварщиков и лаборатории</h3>
        <p>В любом заключении на заявку на стык в форме редактирования выводятся все заключения (если были ремонты), заключения заполняются вручную на данный момент</p>
        <p>Если заключений насколько, то каждое заключение имеет свои данные, которые можно распечатать из pdf, также при ремонтах добавляется номер ремонта в номер заключения</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">28/08 Правки для сварщиков и лаборатории</h3>
        <p>При ремонте создается новое заключение, текущее остается</p>
        <p>В таблице заключений будут выведены заключения по ремонту, наряду с готовыми заключениями по той же заявке на стык</p>
        <p>В формах pdf заключений изменена нумерация заключения, номер стыка перемещен в начало номера, добавлен номер ремонта</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">27/08 Правки для сварщиков и лаборатории</h3>
        <p>Все PDF кнопки при редактировании заключения перенесены под соответствующие разделы заключений</p>
        <p>В таблицах заявок на стыки выведены примечания к дефектам по РК контролю</p>
        <p>Перенести текущее положение заключений на новую схему, где мы можем создавать несколько заключений на одну заявку</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">26/08 Правки для сварщиков и лаборатории</h3>
        <p>Добавить возможность редактировать новую заявку (до принятия в работу) сварщиком</p>
        <p>Добавить возможность отклонить заявку в работе лабораторией</p>
        <p>Добавить кнопки смены статуса в форму редактирования заключения для лаборатории</p>
        <p>Загружены все титулы, линии и стыки по последним отправленным данным</p>
        <p>В УЗК заключении 2 уловных чувствительности зарубка</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">25/08 Дополнительные правки</h3>
        <p>Загружены новые дефектоскописты и добавлена должность дефектоскописта</p>
        <p>В pdf документах шрифт выставлен в Times New Roman</p>
        <p>Дополнительные правки в pdf заключениях</p>
        <p>Загрузить шифры к титулам из заключений</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">24/08 Дополнительные правки</h3>
        <p>В таблице заявок на стык добавлена кнопка перехода на заключения по заявке</p>
        <p>Функция "Принять стык как готовый" из таблицы заявок на стык перенесена в редактирование заявки на стык</p>
        <p>Добавлен шифр к титулу, который будет выводиться в pdf заключениях</p>
        <p>Исправлены PDF формы</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">21/08 Правки по заключениям на стыки</h3>
        <p>выводить в заявках результат контроля по заключению, если вик не пройден - отображать его. Если вик пройден, но рк не пройдет - его и т/д</p>
        <p>Добавлена модель файлов, куда будут загружаться различные изображения и другие файлы для за заключений на заявки</p>
        <p>Выведены дефекты по заключениям в таблицах заявкок на стыки</p>
        <p>Добавлен статус отклоненных заявок, добавлена возможность отклонить заявку лабораторией</p>
        <div class="mb-sm mr-sm">
          <a href="{% url 'welding:show_welding' 'rejected' %}" class="btn btn-success">Отклоненные заявки</a>
        </div>
        <p>Добавлена возможность сварщиками редактировать отклоненную заявку, чтобы отправить ее снова в список новых заявок для повторного принятия лабораторией в работу</p>
        <p>В заключение добавлена подробная информация о свариваемом стыке</p>
        <p>Исправлены номера заключений в pdf-формах в соответствии с номерами заявки</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">20/08 Правки для сварщиков</h3>
        <p>статус "готов" изменить на "годен" у стыка</p>
        <p>статус "в работе" заменить на "на контроле ЗНК"</p>
        <p>пиктограммы для статусов стыков</p>
        <p>закрепить колонки в таблице заявок на стыки, чтобы колонка номера и даты были всегда в зоне видимости, когда таблица имеет горизонтальную полосу прокрутки</p>
        <p>Times New Roman шрифт в таблицах и кег шрифта крупнее</p>
        <p>уменьшить отступ сверху, чтобы таблицу было лучше видно</p>
        <p>в заявках узел переименовать на стык</p>
        <p>Исправлено: не переименовывается request_number если переименовать стык</p>
        <p>убрать csv, json из таблиц</p>
        <p>ремонт выполнен кнопка для сварщика теперь работает из таблицы заявок</p>
        <p>готовые заявки переименовать в прошедшие контроль</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">19/08 Правки для сварщиков</h3>
        <h4>Форма создания заявки</h4>
        <p>Добавлены специальные права на смену статуса заявки на стык "Ремонт выполнен"</p>
        <div class="box-placeholder">
          <p>В режиме редактирования заявки добавить возможность изменения толщины стенки и диаметра</p>
          <p>В режиме создания /  редактирования заявки - УДАЛИТЬ КНОПКУ "Создать заключение". Сварщики не создают заключений на стык</p>
          <p>Исправлена нумерация заявки, где есть ремонт, добавлен постфикс р1 после номера стыка</p>
        </div>
        <h4>Заявки на стыки - Заявки на ремонт</h4>
        <div class="box-placeholder">
          <p>Переименовать раздел на "Стыки в ремонте"</p>
          <p>Добавить функцию "Ремонт выполнен", функция добавляет постфикс ремонта и перемещает заявку в новые</p>
          <p>Каждая отправка заявки в ремонт икрементирует индекс ремонта</p>
          <p>Удалить столбцы Смена, Категория, Примечания</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">18/08 Правки для сварщиков</h3>
        <p>Изменено отношение заявки на стык к заключению на один к одному, только одно заключение может быть создано на одну заявку на стык</p>
        <h4>Заявки на стыки - Новые заявки</h4>
        <div class="box-placeholder">
          <p>Удалить столбцы Ремонт , Вырез. Они не нужны.</p>
          <p>При загрузке таблицы в формате .xlsx - таблица не формируется.  ИСПРАВИТЬ</p>
          <p>Кнопку "Создание заявки на стык" убрать из подразделов: Новые заявки, Заявки в работе, Заявки на ремонт, Готовые стыки, Все заявки. Оставить кнопку создания заявки только через список стыков в разделе "Структура" - "Стыки"</p>
          <p>Изменить размер шрифта  text-size-adjust: 100% увеличиваем на 125%</p>
          <p>Изменить размер ячеек (padding-button Left/Right) примерно на 25% меньше</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">17/08 Правки для сварщиков</h3>
        <p>Изменено отношение узла к заявке на один к одному, только одна заявка может быть создана на один стык</p>
        <h4>Структура - Стыки</h4>
        <div class="box-placeholder">
          <p>Внести столбец обозначения "Дата сварки"</p>
          <p>Добавить столбец типоразмеров сварного шва (Толщина / диаметр)</p>
          <p>Данные по толщине и диаметру должны переноситься и заполняются автоматически при создании заявки</p>
          <p>Данные по толщине и диаметру должны переноситься и заполняются автоматически при создании заявки</p>
          <p>Диаметр автоматически пересчитывается по формуле | Ф159 / 25,4 = 6.26 | Результат Вноситься в столбец D'Inch</p>
          <p>При загрузки таблицы по фильтру определенной даты - формируется сумма D'Inch</p>
          <p>Добавить возможность редактирования / изменения номера стыка ДО ПРИНЯТИЯ В РАБОТУ ЛАБОРАТОРИЕЙ</p>
          <p>Добавить Индикатор  статуса стыка согласно иерархии (Сварен / годен / в ремонте /); Индикатор показывает фактический статус.</p>
          <p>Заблокировать возможность удаления стыка без прав администратора</p>
        </div>
        <h4>Структура - Линии</h4>
        <div class="box-placeholder">
          <p>Удалить столбец "Установка" или скрыть до востребованности</p>
          <p>Добавить столбец "Всего стыков" и "готовность линии"</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">14/08 Документация для лаборатории</h3>
        <div class="mb-sm mr-sm">
          <a href="{% url 'welding:manual' 'lab' %}" class="btn btn-success">Помощь - Лаборатория</a>
        </div>
        <div class="mb-sm mr-sm">
          <a href="https://yadi.sk/i/USKHhnkleicj9g" class="btn btn-success" target="_blank">Видео-демонстрация</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">13/08 Заключение через заявку на стык</h3>
        <p>С редактирования заявки на стык можно перейти на редактирование заключения и наоборот с редактирования заключения можно перейти на редактирование стыка</p>
        <div class="clearfix"></div>
        <div class="pull-right mb-sm mr-sm">
          <a href="{% url 'welding:show_welding' %}" class="btn btn-success">Заявки на стыки</a>
        </div>
        <div class="pull-right mb-sm mr-sm">
          <a href="{% url 'welding:show_conclusions' %}" class="btn btn-success">Заключения</a>
        </div>
      </div>
      <div class="clearfix"></div>
      <p>Изменить ссылку на стык в готовой заявке теперь нельзя</p>
      <p>Заявку на стык можно создать теперь только одну на стык, если вы попытаетесь создать вторую заявку на стык, то вы будете переадресованы на уже имеющуюся заявку на стык, в заявке на стык теперь видна дата создания</p>
      <p>Заключение можно создать теперь только одно на стык, если вы попытаетесь создать второе заключение на стык, то вы будете переадресованы на уже имеющееся заключение на стык, в заключении на стык теперь видна дата создания</p>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">12/08 Настройка до ввода в эксплуатацию</h3>
        <p>Сварщики не имеют прав для добавления/редактирования линий</p>
        <p>Добавлен вид контроля РК-ВИК</p>
        <p>Заявку в работе сварщики не видят, видит только лаборатория</p>
        <p>Сварщики не видят дефектоскопистов</p>
        <p>Статусы для заявки на стык
          <pre>
            (1, 'Новый'),
            (2, 'В работе'),
            (3, 'Годен'),
            (4, 'В ремонте'),
          </pre>
        </p>
        <p>Сварщики могут редактировать стык</p>
        <p>Повторные заявки на стык создавать нельзя</p>
        <p>На заявке в заголовке добавлен статус</p>
        <p>В типах свариваемых элементов переходник поменять на переход</p>
        <p>В PDF файлах не показывать дробную часть в миллиметрах, если число целое (толщина стенки, диаметр трубопровода)</p>
        <p>Номер заключения не нужен т/к совпадает с заявкой</p>
        <p>Пункт меню "Выполененные заявки" переименовать в "Готовые стыки"</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">11/08 Изменения в системе прав</h3>
        <p>Добавлены детальные права для модели заявок на стык, можно теперь давать права на просмотр заявок в работе и заявок в ремонте, что позволит видеть разные статусы заявок разным группам/пользователям</p>
        <div class="pull-left mb-sm mr-sm">
          <a href="{% url 'login:group_perms' 1 %}" class="btn btn-success">Права Администраторов</a>
        </div>
        <div class="pull-left  mb-sm mr-sm">
          <a href="{% url 'login:show_groups' %}" class="btn btn-success">Группы пользователей</a>
        </div>
        <div class="clearfix"></div>
        <p>В моделе пользователей и группы скрыты кнопки создания, редактирования и удаления, если на это отсутствуют права у пользователя</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">10/08 Изменения для заключений</h3>
        <p>Добавлена модель дефектоскопистов для выбора в актах и заключениях</p>
        <div class="mb-sm mr-sm">
          <a href="{% url 'welding:show_defectoscopists' %}" class="btn btn-success">Дефектоскописты</a>
        </div>
        <p>В создание/редактирование акта/заключения добавлены поля специфические для каждого вида контроля</p>
        <div class="mb-sm mr-sm">
          <a href="{% url 'welding:create_conclusion' 'create' %}" class="btn btn-success">Новое заключение</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">07/08 Обновление данных</h3>
        <p>Приведение названия линий во всех файлах к английской раскладке, т/к невозможно сравнить линии, постоянно встречаются в середине русские буквы</p>
        <p>Загружены дополнительные данные по линиям и титулам</p>
        <p>Загружены данные из разрозненных ненормализованных файлов по стыкам</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">06/08 Заключения для заявок на стык</h3>
        <p>Добавлена модель заключений заявки на стык</p>
        <p>На одну заявку на стык доступны 4 заключения: ВИК акт, РК заключение, ПВК заключение, УЗК заключение</p>
        <p>Каждое заключение можно посмотреть в PDF</p>
        <div class="mb-sm mr-sm">
          <a href="{% url 'welding:show_conclusions' %}" class="btn btn-success">Заключения</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">05/08 Документация для сварщика (исполнителя)</h3>
        <div class="mb-sm mr-sm">
          <a href="{% url 'welding:manual' 'welder' %}" class="btn btn-success">Помощь - Сварщик (исполнитель)</a>
        </div>
        <div class="mb-sm mr-sm">
          <a href="https://yadi.sk/i/MQxUzXkP-uyzyg" class="btn btn-success" target="_blank">Видео-демонстрация</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">04/08 Добавлены файлы к заявкам и прохождение заявки до полной готовности стыка</h3>
        <p>Добавлена модель файлов, куда будут загружаться различные изображения и другие файлы</p>
        <div class="mb-sm mr-sm">
          <a href="{% url 'files:show_files' %}" class="btn btn-success">Файлы</a>
        </div>
        <p>Добавлена возможность загружать файлы к заявкам на стык</p>
        <p>Для заявки добавлены статусы, статус можно сменить в таблице или на форме редактирования заявки при наличии прав на изменение заявки</p>
        <p>Для готовой заявки (принятый стык) редактирование запрещено</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">03/08 Обновления в структуре</h3>
        <p>Толщина стенки и диаметр теперь относятся к заявке на стык</p>
        <p>Загружены данные, исключая звездочки (*)</p>
        <p>Загружены актуальные данные от 27/04/20</p>
        <p>Служебное поле id скрыто в таблицах</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">30/07 Загружены актуальные данные, pdf-файл заявки</h3>
        <p>Загружены данные по сварщикам и заявкам на стыки с учетом всех правок</p>
        <p>После создания заявки на стык при ее просмотре можно сформировать pdf-файл</p>
        <p>В таблице заявок для каждой заявки можно открыть pdf-файл</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">29/07 Изменения в создании заявки на стык</h3>
        <p>Заявка на стык теперь создается из таблицы узлов, по нажатию на кнопку <a class="btn-xs btn btn-info" href="javascript:void(0);" title="Заявка на стык"><i class="fa fa-file"></i></a> что позволяет сразу знать данные по узлу, линии, титулу, объекту</p>
        <div class="mb-sm mr-sm">
          <a href="{% url 'welding:show_joints' %}" class="btn btn-success">Таблица стыков</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">28/07 Изменение моделей</h3>
        <p>Заявки на стыки разбиты на 5 разделов: все, новые, в работе, выполененные, на ремонт</p>
        <div class="clearfix"></div>
        <div class="pull-left mb-sm mr-sm">
          <a href="{% url 'welding:show_welding' %}" class="btn btn-success">Все заявки</a>
        </div>
        <div class="pull-left mb-sm mr-sm">
          <a href="{% url 'welding:show_welding' 'new' %}" class="btn btn-success">Новые заявки</a>
        </div>
        <div class="pull-left mb-sm mr-sm">
          <a href="{% url 'welding:show_welding' 'in_progress' %}" class="btn btn-success">Заявки в работе</a>
        </div>
        <div class="pull-left mb-sm mr-sm">
          <a href="{% url 'welding:show_welding' 'complete' %}" class="btn btn-success">Выполненные заявки</a>
        </div>
        <div class="pull-left mb-sm mr-sm">
          <a href="{% url 'welding:show_welding' 'in_repair' %}" class="btn btn-success">Заявки на ремонт</a>
        </div>
        <div class="clearfix"></div><hr>
        <ul>
          <li>Проверка на создание дублей по объектам, титулам, установкам, линиям, стыкам</li>
          <li>Компания - верхний уровень иерархии, добавлены поля: место строительства, подрядчик, монтажник
            <div class="mb-sm mr-sm">
              <a href="{% url 'welding:show_companies' %}" class="btn btn-success">Компании</a>
            </div>
          </li>
          <li>Объекты - второй уровень иерархии, добавлено поле: компания (связь с уровнем иерархии выше)
            <div class="mb-sm mr-sm">
              <a href="{% url 'welding:show_subjects' %}" class="btn btn-success">Объекты</a>
            </div>
          </li>
          <li>Титулы - третий уровень иерархии, добавлено поле: объект (связь с уровнем иерархии выше)
            <div class="mb-sm mr-sm">
              <a href="{% url 'welding:show_tituls' %}" class="btn btn-success">Титулы</a>
            </div>
          </li>
          <li>Устновки - четвертый уровень иерархии, добавлено поле: титул (связь с уровнем иерархии выше)
            <div class="mb-sm mr-sm">
              <a href="{% url 'welding:show_bases' %}" class="btn btn-success">Установки</a>
            </div>
          </li>
          <li>Убраны лишние поля в таблицах и в формах редактирования (позиция, активен)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">27/07 Изменена связь моделей</h3>
        <ul>
          <li>
            Материалы перенесены в статическую модель, которую нельзя редактировать
            <pre>
              Материалы
                (1, '09Г2С'),
                (2, '12Х18Н10Т'),
                (3, '08Х18Н10Т'),
            </pre>
          </li>
          <li>
            Типы соединений перенесены в статическую модель, которую нельзя редактировать
            <pre>
              Типы соединений
                (1, 'труба'),
                (2, 'отвод'),
                (3, 'тройник')
                (4, 'переходник'),
                (5, 'тройник'),
                (6, 'заглушка'),
                (7, 'фланец'),
                (8, 'штуцер'),
                (9, 'бобышка'),
            </pre>
          </li>
          <li>Справочники заменены структурой, т/к теперь объекты связаны</li>
          <li>Сделана иерархия от компании до узла</li>
          <li>Удалена модель Договоров</li>
          <li>Удалена модель Изометрические схемы (раширена модель линии)</li>
          <li>Диаметр и толщина стенки перенесены из заявки на стык в линию</li>
          <li>
            Добавлен объект верхнего уровня - компания
            <div class="mb-sm mr-sm">
              <a href="{% url 'welding:show_companies' %}" class="btn btn-success">Компании</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">22/07 Загружены данные по заявкам на сварку</h3>
        Добавлена форма для сварщика исполнителя<br>
        <div>
          <a href="{% url 'welding:create_welding' 'form' %}" class="btn btn-success">Бланк-заявка для сварщика</a>
        </div>
        <div>Добавлено поле должности для пользователя панели управления</div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">20/07 Добавление моделей к сварщикам. Изменение структуры с общей на разделы</h3>
        <fieldset>
          <h4>Раздел справочники:<h4>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_companies' %}" class="btn btn-success">Объекты</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="javascript:void(0);" class="btn btn-success">Материалы</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_bases' %}" class="btn btn-success">Установки</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="javascript:void(0)" class="btn btn-success">Изом. схемы</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="javascript:void(0);" class="btn btn-success">Типы соединений</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="javascript:void(0);" class="btn btn-success">Договоры</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_tituls' %}" class="btn btn-success">Титулы</a>
          </div>
        </fieldset>
        <fieldset>
          <h4>Раздел сварщики:<h4>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_welders' %}" class="btn btn-success">Сварщики</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_letters_of_guarantee' %}" class="btn btn-success">Гарантийные письма</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_viks' %}" class="btn btn-success">Акты ВИК</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_controlk' %}" class="btn btn-success">УЗК/РК контроль</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_holding_kss' %}" class="btn btn-success">Проведение КСС</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_mechtest' %}" class="btn btn-success">Мехиспытания</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_nax' %}" class="btn btn-success">Аттестаты НАКС</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_admission_sheet' %}" class="btn btn-success">Листы допуска</a>
          </div>
        </fieldset>
        <fieldset>
          <h4>Сварочные соединения:<h4>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_welding' %}" class="btn btn-success">Заявки на сварку</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_lines' %}" class="btn btn-success">Линии</a>
          </div>
          <div class="pull-left mb-sm mr-sm">
            <a href="{% url 'welding:show_joints' %}" class="btn btn-success">Стыки</a>
          </div>
        </fieldset>
        <p>Загружены данные по моделям сварщиков: сами сварщики, гарантийные письма, акты ВИК, УЗК/РК контроль, Проведение КСС, Мехиспытания, Аттестаты (НАКС), листы допуска</p>
        <p>По всем моделям сварщиков добавлены права доступа на просмотр, создание, редактирование, удаление</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">16/07 Договоры и заявки на сварку для сварочных соединений</h3>
        Добавлены и заполнены модели:<br>
        <div>
          Договоры<br>
          <a href="javascript:void(0);" class="btn btn-success">Перейти к договорам</a>
        </div>
        <div>
          Заявки на сварку<br>
          <a href="{% url 'welding:show_welding' %}" class="btn btn-success">Перейти к заявкам на сварку</a><br>
        </div>
        <div>
          Добавлены права на модели: просмотр, создание, редактирование, удаление
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">15/07 Модели для модуля сварочных соединений</h3>
        <p>Добавлен список изменений</p>
        Заполнены модели:<br>
        <div>
          Установки<br>
          <a href="{% url 'welding:show_bases' %}" class="btn btn-success">Перейти к установкам</a>
        </div>
        <div>
          Титулы<br>
          <a href="{% url 'welding:show_tituls' %}" class="btn btn-success">Перейти к титулам</a><br>
        </div>
        <div>
          Линии<br>
          <a href="{% url 'welding:show_lines' %}" class="btn btn-success">Перейти к линиям</a><br>
        </div>
        <div>
          Изометрические схемы<br>
          <a href="javascript:void(0);" class="btn btn-success">Перейти к изометрическим схемам</a><br>
         </div>
        <div>
          Стыки<br>
          <a href="{% url 'welding:show_joints' %}" class="btn btn-success">Перейти к стыкам</a><br>
        </div>
        <div>
          Материалы (сталь)<br>
          <a href="javascript:void(0);" class="btn btn-success">Перейти к материалам (сталь)</a><br>
        </div>
        <div>
          Типы соединений<br>
          <a href="javascript:void(0);" class="btn btn-success">Перейти к типам соединений</a><br>
        </div>
        <div>
          Сварщики<br>
          <a href="{% url 'welding:show_welders' %}" class="btn btn-success">Перейти к сварщикам</a><br>
          <br>
        </div>
        <div>
          Добавлены права на каждую из моделей: просмотр, создание, редактирование, удаление
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">13/07 Добавлены статические модели</h3>
        <div>
          <pre>
          Смена:
            (1, '1'),
            (2, '2'),
            (3, '-'),
          </pre>
        </div>
        <div>
          <pre>
          Вид контроля
            (1, 'РК'),
            (2, 'УЗК'),
            (3, 'ВИК'),
            (4, 'РК-УЗК-ЦД'),
            (5, 'РК/УЗК'),
            (6, 'УК'),
            (7, 'ПВК'),
            (8, '*'),
          </pre>
        </div>
        <div>
          <pre>
          Вид сварного соединения
            (1, 'С17'),
            (2, 'У20'),
            (4, 'С17/У20'),
            (5, 'У19'),
          </pre>
        </div>
        <div>
          <pre>
          Тип сварки
            (1, 'РАД'),
            (2, 'РД'),
            (3, 'РАД/РД'),
          </pre>
        </div>
        <div>
          <pre>
          Категория
            (1, 'I'),
            (2, 'II'),
            (3, 'III'),
            (4, '*'),
          </pre>
        </div>
        <div>
          <pre>
          Результат контроля
            (1, 'Вырезать'),
            (2, 'Годен'),
            (3, 'Ремонт'),
            (4, 'УЗК'),
            (5, 'Пересвет'),
            (6, 'Брак'),
          </pre>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">12/07 Модели для модуля сварочных соединений</h3>
        Добавлены модели:<br>
        <div>
          Установки<br>
          <a href="{% url 'welding:show_bases' %}" class="btn btn-success">Перейти к установкам</a>
        </div>
        <div>
          Титулы<br>
          <a href="{% url 'welding:show_tituls' %}" class="btn btn-success">Перейти к титулам</a><br>
        </div>
        <div>
          Линии<br>
          <a href="{% url 'welding:show_lines' %}" class="btn btn-success">Перейти к линиям</a><br>
        </div>
        <div>
          Изометрические схемы<br>
          <a href="javascript:void(0);" class="btn btn-success">Перейти к изометрическим схемам</a><br>
        </div>
        <div>
          Стыки<br>
          <a href="{% url 'welding:show_joints' %}" class="btn btn-success">Перейти к стыкам</a><br>
        </div>
        <div>
          Материалы (сталь)<br>
          <a href="javascript:void(0);" class="btn btn-success">Перейти к материалам (сталь)</a><br>
        </div>
        <div>
          Типы соединений<br>
          <a href="javascript:void(0);" class="btn btn-success">Перейти к типам соединений</a><br>
        </div>
        <div>
          Сварщики<br>
          <a href="{% url 'welding:show_welders' %}" class="btn btn-success">Перейти к сварщикам</a><br>
          <br>
        </div>
        <div>
          Добавлены права на каждую из моделей: просмотр, создание, редактирование, удаление
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel widget">
    <div class="panel-body">
      <div class="row row-table">
        <h3 class="mt0">11/07 Пользователи и группы</h3>
        <div>
          Добавлены пользователи и группы пользователей<br>
          Добавлена система прав для пользователей и групп пользователей<br>
          Внесены 4 группы пользователей: Администраторы, Лаборатория, Наблюдатели, Сварщики - Исполнители
        </div>
        <div>
          <a href="{% url 'login:show_users' %}" class="btn btn-success">Перейти к пользователям</a>

          <a href="{% url 'login:show_groups' %}" class="btn btn-success">Перейти к группам пользователей</a>
        </div>
      </div>
    </div>
  </div>
</div>


<input type="text" id="test_speech" class="hidden" />
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function(){
    var test_speech = new MySpeechRecognition("test_speech");
  });
</script>
{% endblock %}