<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up" aria-expanded="false" role="button">
    <span class="flag-icon flag-icon-ru"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <a href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-ru"></span> Русский</a>
    </li>
    <li role="presentation">
      <a href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-fr"></span> French</a>
    </li>
    <li role="presentation">
      <a href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-cn"></span> Chinese</a>
    </li>
    <li role="presentation">
      <a href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-de"></span> German</a>
    </li>
    <li role="presentation">
      <a href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-nl"></span> Dutch</a>
    </li>
  </ul>
</li>
