<li class="dropdown dropdown-fw dropdown-mega">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="fade" role="button">Мегаменю <i class="icon md-chevron-down" aria-hidden="true"></i></a>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <div class="mega-content">
        <div class="row">
          <div class="col-sm-4">
            <h5>Элементы оформления</h5>
            <ul class="blocks-2">
              <li class="mega-menu margin-0">
                <ul class="list-icons">
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="animation.html">Анимация</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="buttons.html">Кнопки</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="colors.html">Цвета</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="dropdowns.html">Дропдауны</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="icons.html">Иконки</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="lightbox.html">Лайтбокс</a>
                  </li>
                </ul>
              </li>
              <li class="mega-menu margin-0">
                <ul class="list-icons">
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="modals.html">Окна</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="panel-structure.html">Панели</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="overlay.html">Наложения</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="tooltip-popover.html ">Подсказки</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="scrollable.html">Прокрутка</a>
                  </li>
                  <li><i class="md-chevron-right" aria-hidden="true"></i>
                    <a href="typography.html">Типография</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h5>Медиа<span class="badge badge-success">4</span></h5>
            <ul class="blocks-3">
              <li>
                <a class="thumbnail margin-0" href="javascript:void(0)">
                  <img class="width-full" src="/media/images/placeholder.png" alt="..." />
                </a>
              </li>
              <li>
                <a class="thumbnail margin-0" href="javascript:void(0)">
                  <img class="width-full" src="/media/images/placeholder.png" alt="..." />
                </a>
              </li>
              <li>
                <a class="thumbnail margin-0" href="javascript:void(0)">
                  <img class="width-full" src="/media/images/placeholder.png" alt="..." />
                </a>
              </li>
              <li>
                <a class="thumbnail margin-0" href="javascript:void(0)">
                  <img class="width-full" src="/media/images/placeholder.png" alt="..." />
                </a>
              </li>
              <li>
                <a class="thumbnail margin-0" href="javascript:void(0)">
                  <img class="width-full" src="/media/images/placeholder.png" alt="..." />
                </a>
              </li>
              <li>
                <a class="thumbnail margin-0" href="javascript:void(0)">
                  <img class="width-full" src="/media/images/placeholder.png" alt="..." />
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h5 class="margin-bottom-0">Аккордион</h5>
            <!-- Accordion -->
            <div class="panel-group panel-group-simple" id="siteMegaAccordion" aria-multiselectable="true" role="tablist">
              <div class="panel">
                <div class="panel-heading" id="siteMegaAccordionHeadingOne" role="tab">
                  <a class="panel-title" data-toggle="collapse" href="#siteMegaCollapseOne" data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseOne">Коллапсирующая группа #1</a>
                </div>
                <div class="panel-collapse collapse" id="siteMegaCollapseOne" aria-labelledby="siteMegaAccordionHeadingOne" role="tabpanel">
                  <div class="panel-body">
                    Товарищи! начало повседневной работы по формированию позиции в значительной степени создание дальнейших направлений развития. С другой стороны консультация с широким активом.
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading" id="siteMegaAccordionHeadingTwo" role="tab">
                  <a class="panel-title collapsed" data-toggle="collapse" href="#siteMegaCollapseTwo" data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseTwo">Коллапсирующая группа #2</a>
                </div>
                <div class="panel-collapse collapse" id="siteMegaCollapseTwo" aria-labelledby="siteMegaAccordionHeadingTwo" role="tabpanel">
                  <div class="panel-body">
                    Равным образом укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Равным образом постоянное информационно-пропагандистское развития.
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading" id="siteMegaAccordionHeadingThree" role="tab">
                  <a class="panel-title collapsed" data-toggle="collapse" href="#siteMegaCollapseThree" data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseThree">Коллапсирующая группа #3</a>
                </div>
                <div class="panel-collapse collapse" id="siteMegaCollapseThree" aria-labelledby="siteMegaAccordionHeadingThree" role="tabpanel">
                  <div class="panel-body">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий по разработке форм развития. Таким образом рамки и место обучения кадров влечет за собой процесс внедрения.</div>
                </div>
              </div>
            </div>
            <!-- End Accordion -->
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>
