{% load mtags %}
<div class="appiex-blog-content section-ptb-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="blog-item">
          <div class="details-img">
            <img src="images/blog-image/blog-1.jpg" alt="blog">
          </div>
          <div class="blog-details">
            <h3 class="blog-title"><a href="blog.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
          </div>
          <div class="blog-meta-wrapper">
            <div class="blog-meta">
              <div class="tag-clouds">
                <a href="#">Windows</a>
                <a href="#">Linux</a>
                <a href="#">Android App</a>
              </div>
              <div class="blog-cats"><a href="#"><i class="fa fa-folder-open-o"></i> Android App</a></div>
              <div class="blog-author"><a href="#"><i class="fa fa-user-o"></i> Designing Market</a></div>
            </div>
            <div class="share-icon">
              <span>share on</span>
              <ul class="social-icon">
                <li>
                  <a href="index.html" class="twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="index.html" class="facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="index.html" class="google"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="blog-navigation">
            <div class="previous-blog-post">
              <a href="index.html"><i class="fa fa-angle-left"></i>Previous Article </a>
              <a href="blog-details.html">
                <p class="hover-color">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              </a>
            </div>
            <div class="next-blog-post">
              <a href="index.html">Next Article <i class="fa fa-angle-right"></i></a>
              <a href="blog-details.html">
                <p class="hover-color">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="about-author">
            <h5 class="author-title">About Author</h5>
            <div class="author-box">
              <div class="author-img">
                <img src="images/blog-image/author-image.jpg" alt="author">
              </div>
              <div class="author-details">
                <div class="author-name">
                  <h4 class="john">John Doe</h4>
                  <ul class="author-link">
                    <li><a href="index.html"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="index.html"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="index.html"><i class="fa fa-google"></i></a></li>
                  </ul>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has.</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div id="comments">
            <h5 class="comment-title">2 Comments</h5>
            <ul class="comments-list">
              <li>
                <div class="comment">
                  <div class="comment-pic"><img src="images/blog-image/comment-img.jpg" alt="comment"></div>
                  <div class="comment-text">
                    <h5><a href="#">Mr. Micle James</a></h5>
                    <span class="comment-date">Posted on 18:20 December 12, 2016</span>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulput ateat vero eros accumsan et iustoa medio blandit raesent lutatum zzril delenit auue duis dolore tefeuai tnulla amer desh.</p>
                    <a href="#" class="comment-reply">Reply</a>
                  </div>
                </div>
              </li>
              <li class="children">
                <div class="comment">
                  <div class="comment-pic"><img src="images/blog-image/comment-img.jpg" alt="comment"></div>
                  <div class="comment-text">
                    <h5><a href="#">Mr. Micle James</a></h5>
                    <span class="comment-date">Posted on 18:20 December 12, 2016</span>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulput ateat vero eros accumsan et iustoa medio blandit raesent lutatum zzril delenit auue duis dolore tefeuai tnulla amer desh.</p>
                    <a href="#" class="comment-reply">Reply</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="comment">
                  <div class="comment-pic"><img src="images/blog-image/comment-img.jpg" alt="comment"></div>
                  <div class="comment-text">
                    <h5><a href="#">Mr. Micle James</a></h5>
                    <span class="comment-date">Posted on 18:20 December 12, 2016</span>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulput ateat vero eros accumsan et iustoa medio blandit raesent lutatum zzril delenit auue duis dolore tefeuai tnulla amer desh.</p>
                    <a href="#" class="comment-reply">Reply</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div id="respond">
            <div class="comment-respond">
              <div class="contact-form">
                <h5 class="comment-title">Leave a comment</h5>
                <form action="#" method="post">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" name="name" placeholder="Name *" type="text" required>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" name="email" placeholder="Email *" type="email" required>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" name="website" placeholder="Website" type="text" required>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <textarea rows="5" class="form-control" name="comment" placeholder="Comment" required></textarea>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <button type="submit" class="blog-cust-btn">Post Comment</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-md-offset-1">
        <div class="sidebar">
          <div class="widget">
            <h3 class="widget-title">Topics Category</h3>
            <ul>
              <li class="cat-item"><a href="#">Introduction</a></li>
              <li class="cat-item"><a href="#">Theme Options</a></li>
              <li class="cat-item"><a href="#">Typography</a></li>
              <li class="cat-item"><a href="#">Demo Install</a></li>
              <li class="cat-item"><a href="#">Billing</a></li>
              <li class="cat-item"><a href="#">Product Features</a></li>
              <li class="cat-item"><a href="#">Customer Support</a></li>
            </ul>
          </div>
          <div class="widget custom">
            <h3 class="widget-title">Popular Questions</h3>
            <ul>
              <li>
                <a href="#">How to pin a sticky question to the top of the questions page?</a> <span class="dis">asked by Kiki Ralp</span>
              </li>
              <li>
                <a href="#">How can I delete more than one post at a time?</a> <span class="dis">asked by Antawn Fiennes</span>
              </li>
              <li>
                <a href="#">How do I require a password if I forgot it?</a> <span class="dis">asked by Kiki Ralp</span>
              </li>
              <li>
                <a href="#">Where I can see or edit ratings I’ve posted? </a> <span class="dis">asked by Antawn Fiennes</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
