<div class="header-dropdowns">
  <div class="header-dropdown">
    <a href="#">USD</a>
    <div class="header-menu">
      <ul>
        <li><a href="#">EUR</a></li>
        <li><a href="#">USD</a></li>
      </ul>
    </div>
  </div>
  <div class="header-dropdown">
    <a href="#">ENG</a>
    <div class="header-menu">
      <ul>
        <li><a href="#">ENG</a></li>
        <li><a href="#">FRE</a></li>
      </ul>
    </div>
  </div>
  <div class="header-dropdown">
    <a href="#">Links</a>
    <div class="header-menu">
      <ul>
        <li><a href="my-account.html">MY ACCOUNT</a></li>
        <li><a href="#">DAILY DEAL</a></li>
        <li><a href="#">MY WISHLIST</a></li>
        <li><a href="blog.html">BLOG</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="#" class="login-link">LOG IN</a></li>
      </ul>
    </div>
  </div>
</div>