<nav class="toolbox toolbox-pagination">
  <div class="toolbox-item toolbox-show">
    <label>{{ paginator.total_records }} {{ ends }}</label>
  </div>
  {% if not paginator.onepage %}
    <ul class="pagination">
      <li class="page-item{% if not paginator.prev_link %} disabled{% else %} page-link-btn{% endif %}">
        <a class="page-link page-link-btn" href="{{ paginator.prev_link }}"><i class="icon-angle-left"></i></a>
      </li>
      {% for page in pages %}
        {% if page.ellipsis %}
          <li class="page-item"><span>...</span></li>
        {% else %}
          <li class="page-item{% if page.active %} active{% endif %}">
            <a class="page-link" href="{{ page.link }}">{{ page.content }}{% if page.active %} <span class="sr-only">(выбрана)</span>{% endif %}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="page-item">
        <a class="page-link{% if not paginator.next_link %} disabled{% else %} page-link-btn{% endif %}" href="{{ paginator.next_link }}"><i class="icon-angle-right"></i></a>
      </li>
    </ul>
  {% endif %}
</nav>




