<li class="shop-two-columns-parent other-toggle sm_megamenu_lv1 sm_megamenu_drop parent">
  <a class="sm_megamenu_head sm_megamenu_drop " href="/"  id="sm_megamenu_4">
    <span class="sm_megamenu_icon sm_megamenu_nodesc">
      <span class="sm_megamenu_title">Shop</span>
    </span>
  </a>
  <div class="sm-megamenu-child sm_megamenu_dropdown_4columns">
    <div class="sm_megamenu_col_4 sm_megamenu_firstcolumn shop-two-columns">
      <div class="sm_megamenu_col_3 sm_megamenu_firstcolumn group-1"><!-- повторить блок для group-2 -->
        <div class="sm_megamenu_head_item">
        </div>
        <div class="sm_megamenu_col_3 sm_megamenu_firstcolumn digital-music">
          <div class="sm_megamenu_head_item">
          </div>
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_head_item">
            </div>
            <div class="sm_megamenu_content">
              <div class="icon-group">
                <img src="misc/image-3.jpg" alt="Furniture" />
              </div>
            </div>
          </div>
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_head_item">
              <div class="sm_megamenu_title">
                <span class="sm_megamenu_title_lv4">Furniture</span>
              </div>
            </div>
            <div class="sm_megamenu_content">
            </div>
          </div>
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_head_item">
              <div class="sm_megamenu_title">
                <a class="sm_megamenu_nodrop " href="/">
                  <span class="sm_megamenu_title_lv4">Living Room</span>
                </a>
              </div>
            </div>
          </div>
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_head_item">
              <div class="sm_megamenu_title">
                <a class="sm_megamenu_nodrop " href="/">
                  <span class="sm_megamenu_title_lv4">Bedroom</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="sm_megamenu_col_3 sm_megamenu_firstcolumn">
          <div class="sm_megamenu_head_item ">
          </div>
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_head_item">
            </div>
            <div class="sm_megamenu_content">
              <div class="icon-group">
                <img src="misc/image-4.jpg" alt="Sport & Gym" />
              </div>
            </div>
          </div>
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_head_item ">
              <div class="sm_megamenu_title">
                <span class="sm_megamenu_title_lv4">Sport & Gym</span>
              </div>
            </div>
            <div class="sm_megamenu_content">
            </div>
          </div>
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_head_item">
              <div class="sm_megamenu_title">
                <a class="sm_megamenu_nodrop " href="/">
                  <span class="sm_megamenu_title_lv4">Clothing</span>
                </a>
              </div>
            </div>
          </div>
          <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn">
            <div class="sm_megamenu_head_item">
              <div class="sm_megamenu_title">
                <a class="sm_megamenu_nodrop" href="/">
                  <span class="sm_megamenu_title_lv4">Football & Tennis</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>