{% load mtags %}
  <div class="container-fluid">
    <div class="row">
      <div class="background-mountains medium-padding120 scrollme">

        <div class="images">
          <img loading="lazy" src="/media/misc/mountain1.png" alt="mountain">
          <img loading="lazy" src="/media/misc/mountain2.png" alt="mountain">
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <div class="heading align-center">
                <h4 class="h1 heading-title">Affordable SEO Services Packages</h4>
                <div class="heading-line">
                  <span class="short-line"></span>
                  <span class="long-line"></span>
                </div>
                <p class="heading-text">Claritas est etiam processus dynamicus, qui sequitur mutationem
                  consuetudium.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box--standard-centered">
                <div class="info-box-image">
                  <img loading="lazy" src="/media/misc/info-box7.png" alt="image">
                </div>
                <div class="info-box-content">
                  <h4 class="info-box-title">Objective</h4>
                  <p class="text">Investigationes demonstraverunt lectores legere.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box--standard-centered">
                <div class="info-box-image">
                  <img loading="lazy" src="/media/misc/info-box8.png" alt="image">
                </div>
                <div class="info-box-content">
                  <h4 class="info-box-title">Strategy</h4>
                  <p class="text">Dolor sit amet, consectetuer adipiscing elit.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box--standard-centered">
                <div class="info-box-image">
                  <img loading="lazy" src="/media/misc/info-box9.png" alt="image">
                </div>
                <div class="info-box-content">
                  <h4 class="info-box-title">Technology</h4>
                  <p class="text">Nam liber tempor cum soluta nobis eleifend.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box--standard-centered">
                <div class="info-box-image">
                  <img loading="lazy" src="/media/misc/info-box10.png" alt="image">
                </div>
                <div class="info-box-content">
                  <h4 class="info-box-title">Analytics</h4>
                  <p class="text">Eodem modo typi, qui nunc nobis videntur parum.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row align-center">
            <div class="btn-block">
              <a href="03_services.html" class="btn btn-medium btn--dark">
                <span class="text">More Info</span>
                <span class="semicircle"></span>
              </a>
              <a href="03_services.html" class="btn btn-medium btn--breez">
                <span class="text">Get Started!</span>
                <span class="semicircle"></span>
              </a>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
