{% load mtags %}
<div class="container-fluid article2">
  <div class="row bg-boxed-primary pt120 pb120"{% if container.img %} style="background-image:url('{% imagine container.img '1920x1080' container.get_folder True %}'); background-repeat: no-repeat;"{% endif %}>
    <div class="container">
      <div class="row">
{% comment %}<!--
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="heading align-center mb60">
            <h4 class="h1 heading-title c-white">{{ container.name }}</h4>
            <div class="heading-line">
              <span class="short-line bg-yellow-color"></span>
              <span class="long-line bg-yellow-color"></span>
            </div>
          </div>
        </div>
-->{% endcomment %}

        {% for block in blocks %}
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box--standard-centered">
{% comment %}<!--
              <div class="info-box-image">
                <img loading="lazy" src="img/info-box18.png" alt="image">
              </div>
-->{% endcomment %}

              <div class="info-box-content {% cycle 'normal_text' 'big_text' %}">
                <img loading="lazy" src="/media/misc/quotes.png" />
                <!--<h4 class="info-box-title">{{ block.name }}</h4>-->
                {% if block.html %}{{ block.html|safe }}{% endif %}
              </div>

{% comment %}<!--
              <div class="btn btn-small btn--dark">
                <span class="text">Подробнее</span>
                <i class="seoicon-right-arrow"></i>
              </div>
-->{% endcomment %}
            </div>
          </div>

{% comment %}<!--
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img loading="lazy" src="img/social-photo2.png" alt="photo">
          </div>
-->{% endcomment %}

        {% endfor %}
      </div>
    </div>
  </div>
</div>