{% load mtags %}
<div class="container projects">

    <div class="row sticky_container">
      <div class="col-lg-12">
        <div class="article3">
          <div class="title">
            {{ container.description|safe }}
          </div>
        </div>

{% comment %}<!--
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div class="heading align-center">
              <h4 class="h1 heading-title">{{ container.name }}</h4>
              {% if container.description %}
                <div class="heading-line">
                  <span class="short-line"></span>
                  <span class="long-line"></span>
                </div>
                <p class="heading-text">{{ container.description|safe }}</p>
              {% endif %}

            </div>
          </div>
-->{% endcomment %}
        <div class="row">
          {% for block in blocks %}
            {% if not block.tag %}
              {% for item in block.sub %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="projects_desc">{{ item.html|safe }}</div>
                </div>
              {% endfor %}
            {% else %}
              <div class="clearfix"></div>
              {% for block_container in block.sub|assembleby:3 %}
                <div class="case-item-wrap">
                  {% for block in block_container %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="case-item align-center">
                        <a class="case-item__thumb" href="{% if block.link %}{{ block.link }}{% else %}javascript:void(0);{% endif %}">
                          <img loading="lazy" src="{% imagine block.img '600x400' block.get_folder True %}" alt="{{ block.description|textize }}">
                          <table>
                            <tr>
                              <td colspan="3" class="hborder">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="wborder">&nbsp;</td>
                              <td class="text"><h6>{{ block.name }}</h6></td>
                              <td class="wborder">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="wborder">&nbsp;</td>
                              <td class="text">{% if block.html %}{{ block.html|safe }}{% endif %}</td>
                              <td class="wborder">&nbsp;</td>
                            </tr>
                            <tr>
                              <td colspan="3" class="hborder">&nbsp;</td>
                            </tr>
                          </table>
                        </a>

                        <div class="mobile">
                          <h6>
                            <a href="{% if block.link %}{{ block.link }}{% else %}javscript:void(0);{% endif %}">{{ block.name }}</a>
                          </h6>
                          {% if block.html %}
                            <div class="thumb_desc">{{ block.html|safe }}</div>
                          {% endif %}
                        </div>

                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="clearfix"></div>
        {% with blocks.0 as first_block %}
          {% if first_block.link and first_block.description %}
            <div class="pt30 align-left{% if page.class_name %} {{ page.class_name|textize }}{% endif %}">
              <a class="btn btn-small c-primary details_link" href="{{ first_block.link }}" {% if first_block.blank %} target="_blank"{% endif %}>
                <span class="text">{{ first_block.description }}</span>
                <i class="fa {% if first_block.icon %}{{ first_block.icon }}{% else %}seoicon-right-arrow{% endif %}"></i>
              </a>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </div>
</div>
