{% load mtags %}
<div class="{% if container.class_name %}{{ container.class_name }}{% endif %}">
<div class="container article">
  <div class="row">

    <div class="col-lg-12 mobile">
      <div class="col-lg-5">
        <div class="portfolio_title">
          <span>{{ container.description|safe }}</span>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="offers">
        {% for block in blocks %}
          <div class="row">
            <div class="{% if block.img %}col-lg-5 col-md-5{% else %}col-lg-12 col-md-12{% endif %} col-sm-12 col-xs-12">
              <div class="simple_article_text">
                {{ block.html|safe }}
              </div>
              {% if block.link %}
                <a href="{{ block.link }}" class="btn btn-medium btn--primary btn-hover-shadow">
                  <span class="text">{{ block.description }}</span>
                  <span class="semicircle"></span>
                </a>
              {% endif %}
            </div>
            {% if block.img %}
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 only_desktop">
                <div class="offers-thumb simple_article_img">
                  <img loading="lazy" src="{{ block.imagine }}" alt="{{ block.name|quotes2apostrophe }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% for block in blocks %}
  {% if block.img %}
    <div class="only_mobile">
      <div class="offers-thumb simple_article_img">
        <img loading="lazy" src="{{ block.imagine }}" alt="{{ block.name|quotes2apostrophe }}">
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>