{% load mtags %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="offers">
        {% for block in blocks %}
          <div class="row">
            <div class="col-lg-{% if block.img %}5{% else %}12{% endif %} col-md-12 col-sm-12 col-xs-12">
              <div class="simple_article_text">
                {{ block.html|safe }}
              </div>
              {% if block.link %}
                <a href="{{ block.link }}" class="btn btn-medium btn--primary btn-hover-shadow">
                  <span class="text">{{ block.description }}</span>
                  <span class="semicircle"></span>
                </a>
              {% endif %}
            </div>
            {% if block.img %}
              <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="offers-thumb simple_article_img">
                  <img loading="lazy" src="{% imagine block.img '800x600' block.get_folder True %}" alt="{{ block.name|textize }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
