{% load mtags tags %}
<div class="container-full-width">
  <div class="main-slider-container">
    <div class="swiper-container main-slider" data-effect="fade" data-autoplay="4000">
      <div class="swiper-wrapper">
        {% with request|dynamic_portfolio as portfolio %}
          {% for block in portfolio.blocks %}
            {% if forloop.first %}
              {% for item in block.images %}
                {% if item.img %}
                  <div class="swiper-slide bg-border-color">
                    <div class="container">
                      <div class="row table-cell">
{% comment %}<!--
                        <div class="col-lg-12">
                          <div class="slider-content align-center">
                            <h1 class="slider-content-title" data-swiper-parallax="-100">Search Engine Optimization!</h1>
                            <h5 class="slider-content-text c-gray" data-swiper-parallax="-200">Discover More About Our SEO Expertise!</h5>
                            <div class="main-slider-btn-wrap" data-swiper-parallax="-300">
                              <a href="04_service_detail_seo.html" class="btn btn-medium btn--dark btn-hover-shadow">
                                <span class="text">learn more</span>
                                <span class="semicircle"></span>
                              </a>
                           </div>
                          </div>
                        </div>
-->{% endcomment %}
                        <div class="col-lg-12">
                          <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                            <img loading="lazy" src="{% imagine item.img '1200x768' item.get_folder True %}" alt="{{ item.name|quotes2apostrophe }}">
                            <div class="hidden description">
                              <a href="{{ item.custom_block.link }}">
                                <h6>{{ item.custom_block.name }}</h6>
                                {% if item.custom_block.html %}
                                  {{ item.custom_block.html|safe }}
                                {% endif %}
                              </a>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endwith %}
      </div>
      <div class="btn-next btn-next-black">
        <i class="fa fa-angle-right"></i>
      </div>
      <div class="btn-prev btn-prev-black">
        <i class="fa fa-angle-left"></i>
      </div>
    </div>


    <div class="slider-slides">
      <div class="content">
        <div class="left">
          <i class="fa fa-angle-double-left"></i>
        </div>
        <div class="right">
          <i class="fa fa-angle-double-right"></i>
        </div>
        <div class="slider-slides-text">
          {% for block in blocks %}
            {{ block.html|safe }}
          {% endfor %}
        </div>
      </div>
    </div>



{% comment %}<!--
    Одиночное описание снизу от слайдера, делаем для каждого слайдера свое
    <div class="slider-slides">
      <div class="content">
        <div class="left">
          <i class="fa fa-angle-double-left"></i>
        </div>
        <div class="right">
          <i class="fa fa-angle-double-right"></i>
        </div>
        {% for block in blocks %}
          {{ block.html|safe }}
        {% endfor %}
      </div>
    </div>



    <div class="slider-slides">
      <a href="#" class="slides-item bg-border-color main-slider-bg-light">
        <div class="content">
          <div class="text-wrap">
            <h4 class="slides-title">Search Engine Optimization</h4>
          </div>
          <div class="slides-number">01</div>
        </div>
      </a>

      <a href="#" class="slides-item bg-primary-color">
        <div class="content">
          <div class="text-wrap">
            <h4 class="slides-title">Local SEO</h4>
            <div class="slides-sub-title">Mirum est notare quam littera.</div>
          </div>
           <div class="slides-number">02</div>
        </div>
      </a>

      <a href="#" class="slides-item bg-secondary-color">
        <div class="content">
          <div class="text-wrap">
            <h4 class="slides-title">Social Media Marketing</h4>
          </div>
          <div class="slides-number">03</div>
        </div>
      </a>

      <a href="#" class="slides-item bg-orange-color">
        <div class="content">
          <div class="text-wrap">
            <h4 class="slides-title">Email Marketing</h4>
          </div>
          <div class="slides-number">04</div>
        </div>
      </a>

      <a href="#" class="slides-item bg-green-color">
        <div class="content">
          <div class="text-wrap">
            <h4 class="slides-title">Pay Per Click Management</h4>
          </div>
          <div class="slides-number">05</div>
        </div>
      </a>
    </div>
-->{% endcomment %}
  </div>
</div>