{% load mtags %}
<div class="mobile"><br /></div>
<div class="container-fluid simple_contacts article3 pt60" id="simple_contacts">
  <div class="row">
    <div class="container nopadding">

      <div class="col-lg-12">
        <div class="title">
          <span>
          {% if containers.main.tags.footer.name %}
            {{ containers.main.tags.footer.name }}
          {% else %}
            Contacts
          {% endif %}
          </span>
        </div>
      </div>

      <div class="row pb30">

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="contact_row">
            <div>{{ containers.main.tags.address.html|safe }}</div>
            <div>{{ containers.main.tags.email.html|safe }}</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="contact_row">
            <div>{{ containers.main.tags.address2.html|safe }}</div>
            <div>{{ containers.main.tags.email2.html|safe }}</div>
          </div>
        </div>
        <div class="clearfix_mobile"></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="contact_row">
            <div>{{ containers.main.tags.address3.html|safe }}</div>
            <div>{{ containers.main.tags.email3.html|safe }}</div>

            <div><strong>{{ containers.main.tags.social.name }}</strong></div>
            {% for block in containers.main.tags.social.sub %}
              <a class="icon" href="{{ block.link }}" target="_blank">
                <img src="{{ block.thumb }}">
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt30 wechat">
          {% if containers.main.tags.wechat %}
            <a target="_blank" href="{{ containers.main.tags.wechat.link }}">
              <img loading="lazy" src="/media/misc/qr.png">
            </a>
            <div>{{ containers.main.tags.wechat.html|safe }}</div>
          {% endif %}
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="container-fluid simple_copyright">
  <div class="row">
    <div class="container nopadding">

      <div class="simple_copyright_line"></div>

      <div class="pt30 pb30">
        <div class="footer_logo col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="/">
              <img loading="lazy" src="/media/misc/logo_footer_white.png">
            </a>
            <span class="copyright">{{ containers.main.tags.copyright.html|safe }}</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <span class="copyright">{{ containers.main.tags.copyright2.html|safe }}</span>

            {% if containers.main.tags.yandex_metrika %}
              {{ containers.main.tags.yandex_metrika.html|safe }}
            {% endif %}
            {% if containers.main.tags.google_analytics %}
              {{ containers.main.tags.google_analytics.html|safe }}
            {% endif %}

          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>