<div class="widget login">
  <input class="input-standard-white" placeholder="Your name" type="text">
  <input class="input-standard-white" placeholder="E-mail" type="text">
  <input class="input-standard-white" placeholder="Phone" type="text">
  <input class="input-standard-white" placeholder="QQ" type="text">
  <textarea class="input-standard-white" placeholder="Company name and contacts"></textarea>
  <textarea class="input-standard-white" placeholder="Your project description"></textarea>


  <div class="upload_file_title">Attach file</div>
  <div class="upload_file_info">jpg, doc, png, pdf, xls</div>
  <input id="file-upload" type="file"/>
  <label for="file-upload" class="upload_file_button">Download</label>

  <div class="confirm-wrap">
    <div class="checkbox">
      <input id="confirm_rules" type="checkbox" name="confirm_rules" value="1">
      <label for="confirm_rules" class="upload_confirm">By checking the box, I give my consent to the processing of my personal data in accordance with the law "On personal data"</label>
    </div>
  </div>

  <button type="submit" class="submit_button">Send application</button>

</div>