<div class="widget login">
  {% for block in containers.main.tags.right_panel.sub %}
    {% ifequal block.tag 'name' %}
      <input class="input-standard-white" placeholder="{{ block.description }}" type="text">
    {% endifequal %}
    {% ifequal block.tag 'email' %}
      <input class="input-standard-white" placeholder="{{ block.description }}" type="text">
    {% endifequal %}
    {% ifequal block.tag 'phone' %}
      <input class="input-standard-white" placeholder="{{ block.description }}" type="text">
    {% endifequal %}
    {% ifequal block.tag 'qq' %}
      <input class="input-standard-white" placeholder="{{ block.description }}" type="text">
    {% endifequal %}
    {% ifequal block.tag 'contacts' %}
      <textarea class="input-standard-white" placeholder="{{ block.description }}"></textarea>
    {% endifequal %}
    {% ifequal block.tag 'description' %}
      <textarea class="input-standard-white" placeholder="{{ block.description }}"></textarea>
    {% endifequal %}
    {% ifequal block.tag 'attach' %}
      <div class="upload_file_title">{{ block.description }}</div>
      <div class="upload_file_info">jpg, doc, png, pdf, xls</div>
    {% endifequal %}
    {% ifequal block.tag 'download' %}
      <input id="file-upload" type="file"/>
      <label for="file-upload" class="upload_file_button">{{ block.description }}</label>
    {% endifequal %}

    {% ifequal block.tag 'warning' %}
      <div class="confirm-wrap">
        <div class="checkbox">
          <input id="confirm_rules" type="checkbox" name="confirm_rules" value="1">
          <label for="confirm_rules" class="upload_confirm">{{ block.description }}</label>
        </div>
      </div>
    {% endifequal %}
    {% ifequal block.tag 'submit' %}
      <button type="submit" class="submit_button">{{ block.description }}</button>
    {% endifequal %}
  {% endfor %}
</div>