

<div class="window-popup">
  <a href="#" class="popup-close js-popup-close cd-nav-trigger">
    <i class="seosight-icon seoicon-delete"></i>
  </a>

  <div class="sign-in-popup">
    <h5 class="title">Register to SeoSight</h5>
    <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnais.</p>
    <form class="form-validate contact-form">
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <input class="input-standard-grey" placeholder="First Name" type="text">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <input class="input-standard-grey" placeholder="Last Name" type="text">
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <input class="input-standard-grey" placeholder="Your Email" type="email">
          <input class="input-standard-grey" placeholder="Your Password" type="password">

          <select>
            <option value="MA">Male</option>
            <option value="FE">Female</option>
          </select>

          <div class="remember-wrap">
            <div class="checkbox">
              <input id="terms" type="checkbox" name="terms" value="terms">
              <label for="terms">I accept the Terms and Conditions</label>
            </div>
          </div>

          <a href="#" class="btn btn-large btn--primary">Complete Registration!</a>
        </div>

      </div>
    </form>
  </div>
</div>