{% load mtags %}
<div class="logo">
  <a href="/" class="full-block-link" title="{{ containers.main.tags.logo.title|quotes2apostrophe }}"></a>
  <!-- not lazy -->
  <img src="{{ containers.main.tags.logo.imagine }}" alt="{{ containers.main.tags.logo.description|quotes2apostrophe }}">
  <div class="logo-text">
{% comment %}<!--
    <div class="logo-title">{{ containers.main.tags.logo.description }}</div>

    <div class="logo-sub-title">{{ containers.main.tags.logo.html|safe }}</div>
-->{% endcomment %}
  </div>
</div>
