{% load mtags tags flatcontent_tags %}<!DOCTYPE html><html lang="en">
<head>
{% include "skeleton_header.html" %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/media/css/liquid-icon.min.css" />
<link rel="stylesheet" href="/media/css/font-awesome.min.css" />
<link rel="stylesheet" href="/media/css/theme-vendors.min.css" />
<link rel="stylesheet" href="/media/css/theme.min.css" />
<link rel="stylesheet" href="/media/css/multiconcept.css" />
<script async src="/media/js/modernizr.min.js"></script>
{% block extrascript %}{% endblock %}
</head>
<body class="lqd-stack-buttons-style-2 header-style-fullscreen" data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="classic" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray">
{%  block body %}
<div id="wrap">
  <header class="main-header main-header-overlay">
    <div class="mainbar-wrap">
      <div class="megamenu-hover-bg"></div>
      <div class="container-fluid mainbar-container">
        <div class="mainbar">
          <div class="row mainbar-row align-items-lg-stretch px-4">
            <div class="col">
              <div class="navbar-header">
                <a class="navbar-brand" href="/" rel="home">
                  <span class="navbar-brand-inner">
                    {% with containers.main.tags.logo as logo %}
                      <img class="logo-dark" src="{{ logo.thumb }}" alt="">
                      <img class="logo-light" src="{{ logo.thumb }}" alt="">
                      <img class="logo-sticky" src="{{ logo.thumb }}" alt="">
                      <img class="mobile-logo-default" src="{{ logo.thumb }}" alt="">
                      <img class="logo-default" src="{{ logo.thumb }}" alt="">
                    {% endwith %}
                  </span>
                </a>
                <button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
                  <span class="sr-only">Меню</span>
                  <span class="bars">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </span>
                </button>
              </div>
            </div>
            <div class="col text-right">
              {% flatmenu request "mainmenu" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main id="content" class="content bg-black" data-liquid-stack="true" data-stack-options='{"navigation":true, "prevNextButtons":true, "pageNumber":true, "effect":"fadeScale"}'>
    {% block content %}{% endblock %}
  </main>
  <footer class="main-footer bg-charade pt-70">
    <section>
      <div class="container">
        <div class="row">
          {% flatmenu request "bottommenu" %}
          <div class="lqd-column col-md-3 col-sm-6">
            <h3 class="widget-title text-white">Контакты</h3>
            <p>
              {{ containers.main.tags.address.html|safe }}<br><br>
              {{ containers.main.tags.phone.html|safe }}
            </p>
          </div>
          <div class="lqd-column col-md-3 col-sm-6">
            <h3 class="widget-title text-white">Сообщества</h3>
            <ul class="social-icon social-icon-md">
              {% for item in containers.main.tags.social.sub %}
              <li>
                <a href="{{ item.link }}" target="_blank">
                  <i class="fa fa-{{ item.tag }}"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
            {% comment %}<!--{% include "web/subscribe.html" %}-->{% endcomment %}
          </div>
        </div>
      </div>
    </section>
    <section class="bt-fade-white-015 pt-35 pb-35 mt-50">
      <div class="container">
        <div class="row">
          <div class="lqd-column col-md-6">
            <ul class="lqd-custom-menu reset-ul inline-nav">
              <li><a href="#">Правила пользования сайтом</a></li>
              <li><a href="#">Политика безопасности</a></li>
            </ul>
          </div>
          <div class="lqd-column col-md-6 text-md-right">
            <p class="my-0">{{ containers.main.tags.copyright.html|safe }}</p>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>
{% endblock %}
<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/theme-vendors.js"></script>
<script src="/media/js/jquery.pagepiling.min.js"></script>
<script src="/media/js/theme.min.js"></script>
<!-- DEBUG:
{% for cont in page.containers %}
  {{ cont.container.name }} - {{ cont.container.tag }}<br />
  {% ifequal cont.container.tag 'main' %}
    {% for block in cont.blocks %}
      __ {{ block.name }}<br />
      {% for item in block.sub %}
        __ __ {{ item.name }}<br />
      {% endfor %}
    {% endfor %}
  {% endifequal %}
{% endfor %}
-->
{% include "check_feedback_form.html" %}
{% block extrascripts %}{% endblock %}
</body>
</html>