<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
{% include "skeleton_header.html" %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<!-- Stylesheets -->
<link rel="stylesheet" href="/media/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/css/bootstrap-extend.min.css">
<link rel="stylesheet" href="/media/css/site.min.css">
<!-- Plugins -->
<link rel="stylesheet" href="/media/vendor/animsition/animsition.css">
<link rel="stylesheet" href="/media/vendor/asscrollable/asScrollable.css">
<link rel="stylesheet" href="/media/vendor/switchery/switchery.css">
<link rel="stylesheet" href="/media/vendor/intro-js/introjs.css">
<link rel="stylesheet" href="/media/vendor/slidepanel/slidePanel.css">
<link rel="stylesheet" href="/media/vendor/flag-icon-css/flag-icon.css">
<link rel="stylesheet" href="/media/vendor/waves/waves.css">
<link rel="stylesheet" href="/media/vendor/chartist-js/chartist.css">
<link rel="stylesheet" href="/media/vendor/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="/media/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
<link rel="stylesheet" href="/media/css/dashboard/v1.css">
<!-- Fonts -->
<link rel="stylesheet" href="/media/fonts/material-design/material-design.min.css">
<link rel="stylesheet" href="/media/fonts/brand-icons/brand-icons.min.css">
<!--[if lt IE 9]><script src="/media/vendor/html5shiv/html5shiv.min.js"></script><![endif]-->
<!--[if lt IE 10]>
<script src="/media/vendor/media-match/media.match.min.js"></script>
<script src="/media/vendor/respond/respond.min.js"></script>
<![endif]-->
<!-- Scripts -->
<script src="/media/vendor/modernizr/modernizr.js"></script>
<script src="/media/vendor/breakpoints/breakpoints.js"></script>
<script>Breakpoints();</script>
{% if containers.main.tags.webmaster.description %}
  {{ containers.main.tags.webmaster.description|safe }}
{% endif %}
{% block extrahead %}{% endblock %}
</head>
<body class="site-navbar-small dashboard layout-boxed">
  {% block body %}
  <!--[if lt IE 8]><p class="browserupgrade">Вы используюте <strong>устаревший</strong> браузер. Обновите Ваш браузер для лучшей работы сайта.</p><![endif]-->
  <nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega navbar-inverse"
  role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Переключить Навигацию</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand navbar-brand-center" href="index.html">
        <img class="navbar-brand-logo navbar-brand-logo-normal" src="/media/images/logo.png" title="">
        <img class="navbar-brand-logo navbar-brand-logo-special" src="/media/images/logo-blue.png" title="">
        <span class="navbar-brand-text hidden-xs">сайт</span>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
        <span class="sr-only">Переключить Поиск</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Переключить Менюбар</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="hidden-xs" id="toggleFullscreen">
            <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">Переключить Полный экран</span>
            </a>
          </li>
          <li class="hidden-float">
            <a class="icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
            role="button">
              <span class="sr-only">Переключить Поиск</span>
            </a>
          </li>
          {% block top_menu %}
            {% include "skeleton/header/top_menu.html" %}
          {% endblock %}
        </ul>
        <!-- End Navbar Toolbar -->
        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          {% block language_menu %}
            {% include "skeleton/header/language_menu.html" %}
          {% endblock %}
          {% block profile_menu %}
            {% include "skeleton/header/profile_menu.html" %}
          {% endblock %}
          {% block notifications_menu %}
            {% include "skeleton/header/notifications_menu.html" %}
          {% endblock %}
          {% block messages_menu %}
            {% include "skeleton/header/messages_menu.html" %}
          {% endblock %}
          {% block chat_menu %}
            {% include "skeleton/header/chat_menu.html" %}
          {% endblock %}
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->
      <!-- Site Navbar Seach -->
      <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Я ищю...">
              <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Закрыть"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  {% block main_menu %}
    {% include "skeleton/main_menu.html" %}
  {% endblock %}
  <!-- Page -->
  <div class="page animsition">
    <div class="page-header">
      <h1 class="page-title">{% block title %}{% endblock %}</h1>
      {% if breadcrumbs %}
        <ol class="breadcrumb">
          <li><a href="/">Главная</a></li>
          {% for crumb in breadcrumbs %}
            {% if not forloop.last %}
              <li><a href="{{ crumb.link }}">{{ crumb.name }}</a></li>
            {% else %}
              <li class="active">{{ crumb.name }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endif %}
<!--
      <div class="page-header-actions">
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Edit">
          <i class="icon md-edit" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Refresh">
          <i class="icon md-refresh-alt" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Setting">
          <i class="icon md-settings" aria-hidden="true"></i>
        </button>
      </div>
-->
    </div>
    <div class="page-content container-fluid">
      {% block content %}
        {% include "skeleton/content.html" %}
      {% endblock %}
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <footer class="site-footer">
    <div class="site-footer-legal">{% include "skeleton/footer/copyright.html" %}</div>
    <div class="site-footer-right">{% include "skeleton/footer/terms.html" %}</div>
  </footer>
  {% endblock %}
  <!-- Core  -->
  <script src="/media/vendor/jquery/jquery.js"></script>
  <script src="/media/vendor/bootstrap/bootstrap.js"></script>
  <script src="/media/vendor/animsition/animsition.js"></script>
  <script src="/media/vendor/asscroll/jquery-asScroll.js"></script>
  <script src="/media/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="/media/vendor/asscrollable/jquery.asScrollable.all.js"></script>
  <script src="/media/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
  <script src="/media/vendor/waves/waves.js"></script>
  <!-- Plugins -->
  <script src="/media/vendor/switchery/switchery.min.js"></script>
  <script src="/media/vendor/intro-js/intro.js"></script>
  <script src="/media/vendor/screenfull/screenfull.js"></script>
  <script src="/media/vendor/slidepanel/jquery-slidePanel.js"></script>
  <script src="/media/vendor/chartist-js/chartist.min.js"></script>
  <script src="/media/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
  <script src="/media/vendor/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/media/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/media/vendor/matchheight/jquery.matchHeight-min.js"></script>
  <script src="/media/vendor/peity/jquery.peity.min.js"></script>
  <!-- Scripts -->
  <script src="/media/js/core.js"></script>
  <script src="/media/js/site.js"></script>
  <script src="/media/js/sections/menu.js"></script>
  <script src="/media/js/sections/menubar.js"></script>
  <script src="/media/js/sections/sidebar.js"></script>
  <script src="/media/js/configs/config-colors.js"></script>
  <script src="/media/js/configs/config-tour.js"></script>
  <script src="/media/js/components/asscrollable.js"></script>
  <script src="/media/js/components/animsition.js"></script>
  <script src="/media/js/components/slidepanel.js"></script>
  <script src="/media/js/components/switchery.js"></script>
  <script src="/media/js/components/tabs.js"></script>
  <script src="/media/js/components/matchheight.js"></script>
  <script src="/media/js/components/jvectormap.js"></script>
  <script src="/media/js/components/peity.js"></script>
  <script src="/media/js/dashboard/v1.js"></script>
{% block extrascripts %}{% endblock %}
</body>
</html>
