{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <p><span class="label_for_translate language_picker_label" attr-class_name="language_picker_label">Выберите язык для заполнения в панели управления</span></p>

    <a class="btn btn-primary pull-left mr" href="{% url 'languages:select_language' 'rus' %}">Русский</a>
    {% for domain in domains %}
      <a class="btn btn-primary pull-left mr" href="{% url 'languages:select_language' domain.lang %}">{{ domain.name }}</a>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block extrascripts %}
{% endblock %}