{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}
<button class="mb-sm mr-sm ml-sm btn btn-primary pull-right" type="button" id="update_phones_states">
  <em class="fa fa-file-text fa-fw mr-sm"></em>Обновить статусы телефонов
</button>

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="panel panel-default">
  <div class="panel-heading">Отправка смс
    <a href="#" data-perform="panel-dismiss" data-toggle="tooltip" title="Закрыть" class="pull-right">
      <em class="fa fa-times"></em>
    </a>
    <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Свернуть/Развернуть" class="pull-right">
      <em class="fa fa-plus"></em>
    </a>
  </div>
  <div class="clearfix"></div>
  <div class="panel-wrapper collapse">
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-2 control-label">Получатель</label>
          <div class="col-lg-10">
            <input type="text" placeholder="Получатель" class="form-control phone" id="send_sms_phone" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Текст</label>
          <div class="col-lg-10">
            <textarea id="send_sms_text" placeholder="Текст" class="form-control" autocomplete="off"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
// Websocket соединение для телефонов
var ws = null;

function check_ws_active(){
  // Проверка состояния сокета
  if(ws == null){
    return false;
  }
  switch(ws.readyState){
    case ws.OPEN:
      return true;
    case ws.CONNECTING:
    case ws.CLOSING:
    case ws.CLOSED:
    default:
      return false;
  }
}

function send_sms(code){
  if(!check_ws_active()){
    alert('Websocket закрыт, подождите немного, если проблема не исчезнет, сообщите администратору');
    return;
  }
  var phone = $("#send_sms_phone").val();
  var text = $("#send_sms_text").val();
  if(phone.length !== 11 || text.length < 2){
    alert('Надо ввести телефон и текст сообщения');
  }
  var body = {'send_sms': code, 'token': '{{ token }}', 'text': text, "receiver": phone};
  console.log('send', body);
  ws.send(JSON.stringify(body));
}
function websocket_client(){
  // Функция инициализации вебсокета
  // https://developer.mozilla.org/ru/docs/Web/API/WebSocket
  ws = new WebSocket("{% if cert_path %}wss{% else %}ws{% endif %}://{{ host }}:{{ port }}");
  ws.onopen = function(e) {
    ws.send(JSON.stringify({'get_phones': true, 'token': '{{ token }}'}));
  };
  ws.onmessage = function(event) {
    //alert(`[message] Данные получены с сервера: ${event.data}`);
    console.log('raw msg', event.data);
    try {
      var msg = JSON.parse(event.data);
    } catch(e) {
      console.log('[ERROR]', e);
      return;
    }
    if(msg.constructor == Object){
      console.log('json msg', msg);
      if(msg['get_phones']){
        var phones_arr = msg['get_phones'];
        var phones = Array();
        for(var i=0; i<phones_arr.length; i++){
          for(var j=0; j<phones_arr[i].length; j++){
            phones.push(phones_arr[i][j]);
          }
        }

        $(".icc_id").each(function(){
          var pk = $(this).attr('id').replace('icc_id_', '');
          if(phones.indexOf(pk) > -1){
            $(this).html('<a href="javascript:void(0);" id="find_phone_' + pk + '"><i class="fa fa-check"></i></a>');
            $("#find_phone_" + pk).click(function(){
              ws.send(JSON.stringify({'find_phone': pk, 'token': '{{ token }}'}));
            });
          }else{
            $(this).html('<i class="fa fa-minus"></i>');
          }
        });
      }
    }
  };
  ws.onclose = function(event) {
    var timeout = 3000;
    console.log('Socket is closed. Reconnect will be attempted in ' + timeout + ' second', event.reason);
    setTimeout(function() {
      websocket_client();
    }, timeout);
  };
  ws.onerror = function(error) {
    //alert(`[error] ${error.message}`);
  };
}
$(document).ready(function(){
  websocket_client();

  setInterval(function(){
    if(check_ws_active()){
      ws.send(JSON.stringify({'get_phones': true, 'token': '{{ token }}'}));
    }else{
      $(".icc_id").each(function(){
        $(this).html('<i class="fa fa-minus"></i>');
      });
    }
  }, 5000);

  $("#update_phones_states").click(function(){
    if(!check_ws_active()){
      alert('Websocket закрыт, подождите немного, если проблема не исчезнет, сообщите администратору');
      return;
    }
    ws.send(JSON.stringify({'get_phones': true, 'token': '{{ token }}'}));
  });
  var phoneStatusFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var data = row.getData();
    var actions = "<div class='padding-rl5 icc_id' id='icc_id_" + data['code'] + "'></div>";
    return actions;
  };
  var smsFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var data = row.getData();
    var actions = "<div class='text-center'><a title='Отправить смс' onclick='send_sms(\"" + data['code'] + "\")'><i class='fa fa-envelope'></i></a></div>";
    return actions;
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name.html" %}
      {
        title: "Телефон",
        field: "phone",
        headerFilterPlaceholder: "Телефон",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Код",
        field: "code",
        headerFilterPlaceholder: "Код",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 150,
      },
      {
        title: "Отправлено",
        field: "sent",
        headerFilterPlaceholder: "Отправлено",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 90,
      },
      {
        title: "Лимит",
        field: "limit",
        headerFilterPlaceholder: "Лимит",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 90,
      },
      {
        title: "Статус",
        field: "icc_id",
        headerFilterPlaceholder: "Статус",
        formatter: phoneStatusFormatter,
        headerSort: false,
        width: 90,
      },
      {
        title: "SMS",
        field: "sms",
        headerFilterPlaceholder: "SMS",
        formatter: smsFormatter,
        headerFilter: false,
        headerSort: false,
        width: 90,
      },
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}