{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){
  var htmlFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getData()['id'];
    var result = "<div class='padding-rl5 text-center'>";
    result += " <a class='btn btn-xs btn-success' target='_blank' href='{{ root_url }}html/" + pk + "/'><i class='fa fa-code'></i></a> ";
    result += "</div>";
    return result;
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name.html" %}
      {
        title: "Тег",
        field: "tag",
        headerFilterPlaceholder: "Тег",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 150,
      },
      {
        title: "Email для ответа",
        field: "reply_to",
        headerFilterPlaceholder: "Email для ответа",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 150,
      },
      {% include "core/tabulator_cell/image.html" %}
      {
        title: "HTML-шаблон",
        field: "html_mgs",
        headerSort:false,
        formatter: htmlFormatter,
        width: 120,
      },
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}