{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<h3>Раздел Почта<br /><small>Настройки раздела Почты</small></h3>

{% include "core/breadcrumbs.html" %}
<form class="panel panel-default" action="{{ root_url }}" method="post" id="current_edit_form">
  {% csrf_token %}
  <div class="panel-heading">
    Настройки для раздела Почты
  </div>
  <div class="panel-body">
    <div id="main-table"></div>
  </div>
  <div class="panel-footer">
    <div class="col-lg-6 col-sm-6 padding-tb5">
      <button type="submit" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="fa fa-check"></i></span>Сохранить
      </button>
    </div>
    <div class="col-lg-6 col-sm-6 text-right-not-xs padding-tb5">
      <a id="add_settings" href="javascript:void(0);" class="btn btn-default">Добавить настройку</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="settings_form"></div>
</form>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
function fill_settings(){
  // Заполнение формы настройками,
  // вызываем перед отправкой в $("#current_edit_form").submit
  $("#settings_form").html();
  var settings_data = "";
  var settings = main_table.getRows();
  var setting = null;
  for(var i=0; i<settings.length; i++){
    setting = settings[i].getData();
    settings_data += "<input type='hidden' name='name_" + i + "' value='" + setting['name'] + "' />";
    settings_data += "<input type='hidden' name='attr_" + i + "' value='" + setting['attr'] + "' />";
    settings_data += "<input type='hidden' name='value_" + i + "' value='" + setting['value'] + "' />";
  }
  settings_data += "<input type='hidden' name='settings' value='" + settings.length + "' />";
  $("#settings_form").html($(settings_data));
}
$(document).ready(function(){
  //$("#current_edit_form").parsley();
  $("#current_edit_form").submit(function(e) {
    var $form = $(this);
    // ---------------------------
    // Добавляем настройки в форму
    // ---------------------------
    fill_settings();

    var data = $form.serialize();
    var msg = 'Произошла ошибка, обновите страничку';
    var status = 'danger'; // success, warning, info, danger
    $.ajax({
      type: $form.attr('method'),
      url: $form.attr('action'),
      data: data,
    }).done(function(r) {
      if(r.error){
        msg = r.error;
      }else if(r.success){
        msg =  r.success;
        status = 'success';
        {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
      }
      $.notify({
        message: msg,
      },{
        status: status,
      });
    }).fail(function() {
      $.notify({
        message: msg,
      },{
        status: status,
      });
    });
    //отмена действия по умолчанию для кнопки submit
    e.preventDefault();
  });

  var tableData = [
    {% for row in rows %}
      {
        'id': '{{ row.id }}',
        'name': '{{ row.name }}',
        'attr': '{{ row.attr }}',
        'value': '{{ row.value }}',
      },
    {% endfor %}
  ]

  main_table = new Tabulator("#main-table", {
    data: tableData,
    persistentLayout: true,
    persistentSort: true,
    persistenceID: "{{ root_url }}",
    persistentFilter: false,
    layout: "fitColumns",
    columns:[
      {
        title: "Настройка",
        field: "name",
        headerFilterPlaceholder: "Название",
        headerFilter: "input",
        headerFilterFunc: "like",
        editor: "input",
        width: 150,
      },
      {
        title: "Атрибут",
        field: "attr",
        headerFilterPlaceholder: "Атрибут",
        headerFilter: "input",
        headerFilterFunc: "like",
        editor: "input",
        width: 150,
      },
      {
        title: "Значение",
        field: "value",
        headerFilterPlaceholder: "Название",
        headerFilter: "input",
        headerFilterFunc: "like",
        editor: "input",
        width: 250,
      },
      {
        title: "Действия",
        formatter: "buttonCross",
        width: 120,
        align:"center",
        cellClick:function(e, cell){
          cell.getRow().delete();
        }
      },
    ],
  });
  $("#add_settings").click(function(){
    var rows = main_table.getRows();
    main_table.addRow({
      'name': 'Новая настройка',
      'attr': '',
      'value': '',
    });
  });
});
</script>
{% endblock %}