{% extends "core/base.html" %}

{% block extrahead %}
<link media="all" rel="stylesheet" href="/static/redactor/redactor.css" />
<link media="all" rel="stylesheet" href="/static/redactor/redactor_air.css" />
{% endblock %}

{% block content %}
<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    {% if row %}
      <div class="panel panel-default">
        <div class="panel-heading">Действия {{ rp_plural_obj }}</div>
        <div class="panel-body">
          <div class="col-lg-6 col-sm-6 padding-tb5">
            <a class="btn btn-labeled btn-primary" href="{{ root_url }}spam_table/{{ row.id }}/"><span class="btn-label"><i class="fa fa-envelope"></i></span>Получатели</a>
          </div>
          <div class="col-lg-6 col-sm-6 padding-tb5">
            <a target="_blank" class="btn btn-labeled btn-success" href="{{ root_url }}html/{{ row.id }}/"><span class="btn-label"><i class="fa fa-code"></i></span>Конструктор</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    {% endif %}

    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          {% include "core/forms/row_name.html" %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Тег</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Тег" class="form-control" name="tag" value="{% if row.tag %}{{ row.tag }}{% endif %}" autocomplete="off" id="form-field-link">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Сообщение</label>
            <div class="col-lg-10">
              <textarea placeholder="Сообщение" id="description_redactor" class="form-control" name="msg" autocomplete="off">{% if row.msg %}{{ row.msg|safe }}{% endif %}</textarea>
            </div>
          </div>
          <!-- Заголовки email -->
          <div class="form-group">
            <label class="col-lg-2 control-label">Email для ответа</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Email для ответа" class="form-control" name="reply_to" value="{% if row.reply_to %}{{ row.reply_to }}{% endif %}" autocomplete="off" id="form-field-reply_to" data-parsley-type="email">
            </div>
          </div>
          {% include "core/forms/row_image.html" %}
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script src="/static/redactor/jquery.browser.js"></script>
  <script src="/static/redactor/redactor.js"></script>
  <script type="text/javascript">
    {% if row %}
      var upload_img_url = '{% url "afisha:edit_event" "img" row.id %}';
    {% endif %}
    $(document).ready(function(){

      $('#rgenre_select2').select2({
        placeholder: 'Выберите рубрику жанра',
        width: '100%',
        ajax: {
          url: "{% url 'afisha:search_genres' %}",
          cache: false,
          dataType: 'json',
        }
      });
      $("#description_redactor").redactor({
        //air: true,
      });
    });
  </script>
  {% include "core/forms/row_js.html" %}
{% endblock %}