{% load mtags %}
<div class="about-section article2"{% if container.img %} style="background-image:url('{{ container.imagine }}');"{% endif %}>
  <div class="skew"></div>
  <div class="container">
    {% for block in blocks %}
      <div class="row">
        <div class="col-lg-5 pt-100">
          {% if block.description %}<h3>{{ block.description }}</h3>{% endif %}
          <h2 class="subtitle">{{ block.name }}</h2>
          {{ block.html|safe }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>