{% extends "core/base.html" %}

{% block extrahead %}
<link media="all" rel="stylesheet" href="/static/redactor/redactor.css" />
<link media="all" rel="stylesheet" href="/static/redactor/redactor_air.css" />
{% endblock %}

{% block content %}
<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          {% include "core/forms/row_name.html" %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Альт. название</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Название" class="form-control" name="altname" value="{% if row.altname %}{{ row.altname }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Тег</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Тег" class="form-control" name="tag" value="{% if row.tag %}{{ row.tag }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Продолжительность</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Продолжительность" class="form-control" name="duration" value="{% if row.duration %}{{ row.duration }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Ограничение по возрасту</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Ограничение по возрасту" class="form-control" name="label" value="{% if row.label %}{{ row.label }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Жанр</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Жанр" class="form-control" name="genre" value="{% if row.genre %}{{ row.genre }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Рубрика жанра</label>
            <div class="col-lg-10">
              <select id="rgenre_select2" autocomplete="off" name="rgenre">
                {% if row.rgenre %}<option value="{{ row.rgenre.id }}" selected>{{ row.rgenre.name }}</option>{% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Страна производства</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Страна производства" class="form-control" name="country" value="{% if row.country %}{{ row.country }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Трейлер</label>
            <div class="col-lg-10">
              <textarea class="form-control" name="trailer">{% if row.trailer %}{{ row.trailer }}{% endif %}</textarea>
            </div>
          </div>
          {% include "core/forms/row_image.html" %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Описание</label>
            <div class="col-lg-10">
              <textarea class="form-control" name="description" id="description_redactor">{% if row.description %}{{ row.description }}{% endif %}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Режиссер</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Режиссер" class="form-control" name="producer" value="{% if row.producer %}{{ row.producer }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Актеры</label>
            <div class="col-lg-10">
              <textarea class="form-control" name="actors">{% if row.actors %}{{ row.actors }}{% endif %}</textarea>
            </div>
          </div>
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script src="/static/redactor/jquery.browser.js"></script>
  <script src="/static/redactor/redactor.js"></script>
  <script type="text/javascript">
    var upload_img_url = '{% url "afisha:edit_event" "img" row.id %}';
    $(document).ready(function(){
      $('#rgenre_select2').select2({
        placeholder: 'Выберите рубрику жанра',
        width: '100%',
        ajax: {
          url: "{% url 'afisha:search_genres' %}",
          cache: false,
          dataType: 'json',
        }
      });
      $("#description_redactor").redactor({
        //air: true,
      });
    });
  </script>
  {% include "core/forms/row_js.html" %}
{% endblock %}