{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}

{% include "core/title/page_title_edit.html" %}
{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          {% include "core/forms/row_name.html" %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Альт. название</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Название" class="form-control" name="altname" value="{% if row.altname %}{{ row.altname }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Тег</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Тег" class="form-control" name="tag" value="{% if row.tag %}{{ row.tag }}{% endif %}" autocomplete="off">
            </div>
          </div>
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script src="/static/admin/js/parsley.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      $("#current_edit_form").parsley();
      $("#current_edit_form").submit(function(e) {
        var $form = $(this);
        var msg = 'Произошла ошибка, обновите страничку';
        var status = 'danger'; // success, warning, info, danger
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
            //$("#current_edit_form").attr("action", r.redirect);
            {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
          }
          $.notify({
            message: msg,
          },{
            status: status,
          });
        }).fail(function() {
          $.notify({
            message: msg,
          },{
            status: status,
          });
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });
    });
  </script>
{% endblock %}