{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {
        title: "Место",
        field: "place__name",
        headerFilterPlaceholder: "Место",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Событие",
        field: "event__name",
        headerFilterPlaceholder: "Событие",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Дата",
        field: "date",
        headerFilterPlaceholder: "Дата",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 150,
      },
      {
        title: "Часы",
        field: "hours",
        headerFilterPlaceholder: "Часы",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 100,
      },
      {
        title: "Минуты",
        field: "minutes",
        headerFilterPlaceholder: "Минуты",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 100,
      },
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "date"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        position: "left top",
        todayButton: new Date(),
      });
    }
  });
});
</script>
{% endblock %}