{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<a class="btn btn-primary pull-right" href="{{ url_create }}">
  <em class="fa fa-plus-circle fa-fw mr-sm"></em> {{ action_create }} {{ rp_singular_obj }}
</a>

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
/*
      {
        formatter: "responsiveCollapse",
        width: 30,
        minWidth: 30,
        align: "center",
        resizable: false,
        headerSort: false,
      },
*/
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name.html" %}
      {
        title: "Тег",
        field: "tag",
        headerFilterPlaceholder: "Тег",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 150,
      },
      {
        title: "Продолжительность",
        field: "duration",
        headerFilterPlaceholder: "Продолжительность",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 90,
      },
      {
        title: "Ограничение по возрасту",
        field: "label",
        headerFilterPlaceholder: "Ограничение по возрасту",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 90,
      },
      {
        title: "Рубрика жанра",
        field: "rgenre__name",
        headerFilterPlaceholder: "Рубрика жанра",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Жанр",
        field: "genre",
        headerFilterPlaceholder: "Жанр",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Страна",
        field: "country",
        headerFilterPlaceholder: "Страна",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 100,
      },
      {
        title: "Трейлер",
        field: "trailer",
        headerSort: false,
        minWidth: 100,
      },
      {% include "core/tabulator_cell/image.html" %}
      {
        title: "Описание",
        field: "description",
        headerSort: false,
        minWidth: 100,
      },
      {
        title: "Режиссер",
        field: "producer",
        headerFilterPlaceholder: "Режиссер",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 100,
      },
      {
        title: "Актеры",
        field: "actors",
        headerSort: false,
        minWidth: 100,
      },
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}