{% extends "core/base.html" %}

{% block extrahead %}
<link media="all" rel="stylesheet" href="/static/redactor/redactor.css" />
<link media="all" rel="stylesheet" href="/static/redactor/redactor_air.css" />
{% endblock %}

{% block content %}

{% include "core/title/page_title_edit.html" %}
{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          {% include "core/forms/row_name.html" %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Тег</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Тег" class="form-control" name="tag" value="{% if row.tag %}{{ row.tag }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Адрес</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Адрес" class="form-control" name="address_str" value="{% if row.address_str %}{{ row.address_str }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Телефон</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Телефон" class="form-control phone" name="phone_str" value="{% if row.phone_str %}{{ row.phone_str }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Режим работы</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Режим работы" class="form-control" name="worktime_str" value="{% if row.worktime_str %}{{ row.worktime_str }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Сайт</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Режим работы" class="form-control" name="site_str" value="{% if row.site_str %}{{ row.site_str }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Email" class="form-control" name="email_str" value="{% if row.email_str %}{{ row.email_str }}{% endif %}" autocomplete="off" data-parsley-type="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Описание</label>
            <div class="col-lg-10">
              <textarea class="form-control" name="description" id="description_redactor">{% if row.description %}{{ row.description }}{% endif %}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Рубрика места</label>
            <div class="col-lg-10">
              <select id="rubric_select2" autocomplete="off" name="rubric">
                {% if row.rubric %}<option value="{{ row.rubric.id }}" selected>{{ row.rubric.name }}</option>{% endif %}
              </select>
            </div>
          </div>
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script src="/static/redactor/jquery.browser.js"></script>
  <script src="/static/redactor/redactor.js"></script>
  <script src="/static/admin/js/parsley.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      $("#current_edit_form").parsley();
      $("#current_edit_form").submit(function(e) {
        var $form = $(this);
        var msg = 'Произошла ошибка, обновите страничку';
        var status = 'danger'; // success, warning, info, danger
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
            //$("#current_edit_form").attr("action", r.redirect);
            {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
          }
          $.notify({
            message: msg,
          },{
            status: status,
          });
        }).fail(function() {
          $.notify({
            message: msg,
          },{
            status: status,
          });
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });
      $('#rubric_select2').select2({
        placeholder: 'Выберите рубрику места',
        width: '100%',
        ajax: {
          url: "{% url 'afisha:search_rubrics' %}",
          cache: false,
          dataType: 'json',
        }
      });
      $("#description_redactor").redactor({
        //air: true,
      });
    });
  </script>
{% endblock %}