<div class="navbar-header">
  <a class="navbar-brand" href="/admin/">
    <div class="brand-logo">
      <img alt="Админочка Пингвиня" src="/media/misc/infinityink.jpg" />
    </div>
    <div class="brand-logo-collapsed">
      <img alt="Админочка Пингвиня" src="/media/misc/infinityink.jpg" />
    </div>
  </a>
</div>
<style type="text/css">
.navbar-top .navbar-header .brand-logo > img,
.navbar-top .navbar-header .brand-logo-collapsed > img {
  position: relative;
  top: auto;
  left: auto;
}
.navbar-top,
.navbar-top .navbar-header,
.nav-wrapper {
  background-color: #313649;
}
</style>