{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<a class="btn btn-primary pull-right" href="{{ url_create }}">
  <em class="fa fa-plus-circle fa-fw mr-sm"></em> {{ action_create }} {{ rp_singular_obj }}
</a>

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/excel/xlsx_form_import.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script src="/static/admin/js/parsley.min.js"></script>
<script type="text/javascript">
var main_table = null;
var excel_table = null;
$(document).ready(function(){
    excel_table = new Tabulator("#excel-table", {
    layout: "fitColumns",
    height: 600,
    columns:[
      {
        title: "Наименование",
        field: "name",
        headerFilterPlaceholder: "Наименование",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Код",
        field: "code",
        headerFilterPlaceholder: "Код",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Имя",
        field: "first_name",
        headerFilterPlaceholder: "Имя",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Фамилия",
        field: "last_name",
        headerFilterPlaceholder: "Фамилия",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Отчество",
        field: "middle_name",
        headerFilterPlaceholder: "Отчество",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Телефон",
        field: "phone",
        headerFilterPlaceholder: "Телефон",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "Email",
        field: "email",
        headerFilterPlaceholder: "Email",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
    ],
  });
  // Настройка отправки формы (файла) через аякс
  set_ajax_form("#import_excel_file_form", function(r){
    // success callback
    // Строим таблицу с данными
    $("#excel-table").removeClass("hidden");
    $("#save_excel_table").removeClass("hidden");
    excel_table.clearData();
    excel_table.addData(r.resp.data);
  }, function(r){
    // error callback
    console.log(r);
  }, true);
  set_ajax_form_save_xlsx("#save_excel_table", excel_table, function(r){
    // success callback
  }, function(r){
    // error callback
  }, 'save');

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name.html" %}
      {
        title: "Телефон",
        field: "phone",
        headerFilterPlaceholder: "Телефон",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {
        title: "ИНН",
        field: "inn",
        headerFilterPlaceholder: "ИНН",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {% include "core/tabulator_cell/image.html" %}
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}