{% ifequal tag 'mainmenu' %}
<ul id="primary-nav" class="main-nav nav align-items-lg-stretch justify-content-lg-center" data-submenu-options='{ "toggleType":"fade", "handler":"mouse-in-out" }'>
  {% for menu in menus %}
    <li class="{% ifequal request.META.PATH_INFO menu.link %}current-menu-item{% endifequal %}{% if menu.sub %} menu-item-has-children{% endif %}">
      <a href="{{ menu.link }}">
        <span class="link-icon"></span>
        <span class="link-txt">
          <span class="link-ext"></span>
          <span class="txt">
            {{ menu.name }}
            <span class="submenu-expander">
              <i class="fa fa-angle-down"></i>
            </span>
          </span>
        </span>
      </a>
      {% if menu.sub %}
        <ul class="nav-item-children">
          {% for item in menu.sub %}
            <li>
              <a href="{{ item.link }}">
                <span class="link-icon"></span>
                <span class="link-txt">
                  <span class="link-ext"></span>
                  <span class="txt">
                    {{ item.name }}
                    <span class="submenu-expander">
                      <i class="fa fa-angle-down"></i>
                    </span>
                  </span>
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  <li class="equalizer">
    <a class="mute_bg">
      <img src="/media/new/equalizer.gif" class="playing" />
      <img src="/media/new/equalizer.png" class="silence" />
    </a>
  </li>
</ul>
{% endifequal %}

{% ifequal tag 'bottommenu' %}
  {% for menu in menus %}
    <div class="lqd-column col-md-3 col-sm-6">
      <h3 class="widget-title text-white">{{ menu.name }}</h3>
      {% if menu.sub %}
        <ul class="lqd-custom-menu reset-ul text-white">
          {% for item in menu.sub %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
{% endifequal %}