{% extends "core/base.html" %}
{% load mtags %}

{% block extrahead %}
  <style type="text/css">
    p.error {
      color: brown;
    }
  </style>
{% endblock %}

{% block content %}

<h3>{{ singular_obj }}<br /><small>{{ plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{{ root_url }}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}

          <div class="form-group">
            <label class="col-lg-2 control-label">Логин</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Логин" class="form-control" name="login" value="{% if row.attr %}{{ row.attr }}{% endif %}" autocomplete="off" id="form-field-link">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Пароль</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Логин" class="form-control" name="passwd" value="{% if row.value %}{{ row.value }}{% endif %}" autocomplete="off" id="form-field-link">
            </div>
          </div>
        </div>
        {% if error %}
          <div class="form-group">
            <div class="col-md-12">
              <p class="error text-center">{{ error }}</p>
            </div>
          </div>
        {% endif %}
        <div class="panel-footer">
          <div class="col-lg-6 col-sm-6 padding-tb5">
            <button type="submit" class="btn btn-labeled btn-success">
              <span class="btn-label"><i class="fa fa-check"></i></span>Сохранить
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
{% endblock %}