{% extends "skeleton.html" %}

{% block extrahead %}
<style type="text/css">
  .ip_error {
    color: #f00;
  }
</style>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      {% include "core/title/page_title_edit.html" %}
    </div>
  </div>
  <div class="card-body">
    <div class="new-user-info">
      <form method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-12">
            <label>Название</label>
            <input type="text" placeholder="Название" class="form-control" name="name" value="{% if row.name %}{{ row.name }}{% endif %}" autocomplete="off" data-parsley-required>
          </div>
          <div class="form-group col-md-6">
            <label>Начальный IP адрес</label>
            <input type="text" placeholder="Начальный IP адрес" class="form-control ip" name="start_ip" value="{% if row.start_ip %}{{ row.start_ip }}{% endif %}" autocomplete="off" data-parsley-required>
          </div>
          <div class="form-group col-md-6">
            <label>Конечный IP адрес</label>
            <input type="text" placeholder="Конечный IP адрес" class="form-control ip" name="end_ip" value="{% if row.end_ip %}{{ row.end_ip }}{% endif %}" autocomplete="off" data-parsley-required>
          </div>

          <div class="form-group col-md-12">
            <div class="ip_error"></div>
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script src="/static/admin/js/parsley.min.js"></script>
  <script src="/static/net_tools_app/ip_range.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      listen_input_for_ip_address();
      $("#current_edit_form").parsley();
      $("#current_edit_form").submit(function(e) {
        var isRangeError = check_ip_range_from_form();
        if (isRangeError) {
          $(".ip_error").html("Начальный ip адрес больше конечного");
          return false;
        }
        var $form = $(this);
        var msg = 'Произошла ошибка, обновите страничку';
        var status = 'danger'; // success, warning, info, danger
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
            //$("#current_edit_form").attr("action", r.redirect);
            {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
          }
          $.notify({
            message: msg,
          },{
            status: status,
          });

        }).fail(function() {
          $.notify({
            message: msg,
          },{
            status: status,
          });
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });

    });
  </script>
{% endblock %}