{% load mtags %}
{% if product.costs %}
  <form class="form_radio_group">
    {% for cost in product.costs %}
      <div class="form_radio_group-item">
        <input id="radio-{{ product.id }}-{{ cost.cost_type.id }}-{{ view }}" type="radio" class="cost-type-radio cost-type-radio_{{ product.id }}" data-cost_type_id="{{ cost.cost_type.id }}" data-product_id="{{ product.id }}" data-cost="{{ cost.cost|money_format }}" name="cost-type-radio-{{ product.id }}" value="1"{% if forloop.first %} checked{% endif %} />
        <label for="radio-{{ product.id }}-{{ cost.cost_type.id }}-{{ view }}">{{ cost.cost_type.name }}</label>
      </div>
    {% endfor %}
  </form>
{% endif %}
