{% load tags mtags %}
<li class="item respl-item-list">
  <div class="item-inner">
    <div class="box-image-list">
      <div class="effect-default">
        <a href="{{ product.link }}" title="{{ product.name|textize }}" class="product-image">
          <img src="{% imagine product.img '600x400' product.get_folder True %}" alt="{{ product.name|textize }}" />
        </a>
      </div>
      <div class="button-top">
        <a class="hidden" href="{{ product.link }}"></a>
        <ul class="add-to-links">
          <li>
            <a class="btn-action link-wishlist" title="В избранное" href="javascript:void(0);" >
              <span class="btn-text">В избранное</span>
            </a>
          </li>
          <li>
            <a class="btn-action link-compare" title="Сравнить" href="javascript:void(0);" >
              <span>Сравнить</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="box-info-list">
      <h2 class="product-name">
      <a href="{{ product.link }}" title="{{ product.name|textize }}">{{ product.name }}</a>
      </h2>
      <div class="ratings" >
        <div class="rating-box">
          <div class="rating" style="width:90%"></div>
        </div>
        <span class="amount"><a href="javascript:void(0);">Нет отзывов</a></span>
      </div>
      <div class="desc std">{{ product.mini_info|safe }}</div>
      <div class="price-box">
        {% with "list" as view %}
          {% include "web/cat/costs_types.html" %}
        {% endwith %}
        <div class="clearfix"></div>
        <span class="regular-price">
          <span class="price product_price_{{ product.id }}">{{ product.price|money_format }} ₽</span>
        </span>
      </div>
      <div class="button-bottom">
        <p class="btn-wrapper">
          <button type="button" title="Добавить в корзину" class="button btn-cart add_to_cart_btn" data-product_id="{{ product.id }}">
            <span>В корзину</span>
          </button>
        </p>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
</li>