{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<a class="btn btn-primary pull-right" href="{{ url_create }}">
  <em class="fa fa-plus-circle fa-fw mr-sm"></em> {{ action_create }} {{ rp_singular_obj }}
</a>

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}

{% include "core/excel/xlsx_form_drop.html" %}

{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script src="/static/admin/js/parsley.min.js"></script>
<script type="text/javascript">
var main_table = null;
var excel_table_drop = null;
$(document).ready(function(){

  excel_table_drop = new Tabulator("#excel-table-drop", {
    layout: "fitColumns",
    columns:[
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name_multiline.html" %}
      {
        title: "Код",
        field: "code",
        headerFilterPlaceholder: "Код",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
      },
      {
        title: "Цена",
        field: "price",
        headerFilterPlaceholder: "Цена",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
      },
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
    ],
  });
  // Настройка отправки формы (файла) через аякс
  set_ajax_form("#drop_excel_file_form", function(r){
    // success callback
    // Строим таблицу с данными
    $("#excel-table-drop").removeClass("hidden");
    $("#drop_excel_table").removeClass("hidden");
    excel_table_drop.clearData();
    excel_table_drop.addData(r.resp.data);
  }, function(r){
    // error callback
    console.log(r);
  }, true);
  set_ajax_form_save_xlsx("#drop_excel_table", excel_table_drop, function(r){
    // success callback
  }, function(r){
    // error callback
  }, 'drop');

  var pathFormatter = function(cell, formatterParams, onRendered){
    //console.log(cell.getRow().getData());
    var data = cell.getRow().getData();
    var value = cell.getValue();
    var result = "<div class='padding-rl5 text-center'>";
    if(value){
      result += " <a class='btn' target='_blank' href='/media/" + data['folder'] + value + "'>" + value + "</a> ";
    }
    result += "</div>";
    return result;
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name_multiline.html" %}
      {
        title: "Код",
        field: "code",
        headerFilterPlaceholder: "Код",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
        downloadTitle: "code",
      },
      {
        title: "Цена",
        field: "price",
        headerFilterPlaceholder: "Цена",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
        downloadTitle: "price",
      },
      {% include "core/tabulator_cell/image.html" %}
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}