{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}

{% include "core/excel/xlsx_form_drop.html" %}

{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script src="/static/admin/js/parsley.min.js"></script>
<script type="text/javascript">
var main_table = null;
var excel_table_drop = null;
$(document).ready(function(){

  excel_table_drop = new Tabulator("#excel-table-drop", {
    layout: "fitColumns",
    columns:[
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name_multiline.html" %}
      {
        title: "Код",
        field: "code",
        headerFilterPlaceholder: "Код",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
      },
      {
        title: "Цена",
        field: "price",
        headerFilterPlaceholder: "Цена",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
      },
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
    ],
  });
  // Настройка отправки формы (файла) через аякс
  set_ajax_form("#drop_excel_file_form", function(r){
    // success callback
    // Строим таблицу с данными
    $("#excel-table-drop").removeClass("hidden");
    $("#drop_excel_table").removeClass("hidden");
    excel_table_drop.clearData();
    excel_table_drop.addData(r.resp.data);
  }, function(r){
    // error callback
    console.log(r);
  }, true);
  set_ajax_form_save_xlsx("#drop_excel_table", excel_table_drop, function(r){
    // success callback
  }, function(r){
    // error callback
  }, 'drop');

  var catFormatter = function(cell, formatterParams, onRendered){
    //console.log(cell.getRow().getData());
    var data = cell.getRow().getData();
    if(!data['cat']){
      return "";
    }
    var result = "<div class='padding-rl5'>";
    var cat;
    for(var i=0; i<data['cat'].length; i++){
      cat = data['cat'][i];
      result += " <a class='btn' target='_blank' href='" + cat['link'] + "'>" + cat['name'] + "</a><br />";
    }
    result += "</div>";
    return result;
  };

  var pathFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var value = cell.getValue();
    var result = "<div class='padding-rl5 text-center'>";
    if(value){
      result += " <a class='btn' target='_blank' href='/media/" + data['folder'] + value + "'>" + value + "</a> ";
    }
    result += "</div>";
    return result;
  };

  var catFilterEditor = function(cell, onRendered, success, cancel, editorParams){
    var container = document.createElement("select");
    container.id = "products_cat_filter";

    function buildValues(e){
      console.log("searching products by cat", container.value);
      success(container.value);
    }
    // changed - custom event (instead of change)
    container.addEventListener("changed", buildValues);
    //container.addEventListener("blur", buildValues);
    //container.addEventListener("keydown", keypress);

    return container;
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name_multiline.html" %}
      {
        title: "Код",
        field: "code",
        headerFilterPlaceholder: "Код",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
        downloadTitle: "code",
      },
      {
        title: "Категория",
        field: "cat",
        headerSort: false,
        headerFilterPlaceholder: "Категория",
        headerFilter: catFilterEditor,
        headerFilterFunc: "=",
        formatter: catFormatter,
        minWidth: 80,
      },
      {
        title: "Цена",
        field: "price",
        headerFilterPlaceholder: "Цена",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
        downloadTitle: "price",
      },
      {% include "core/tabulator_cell/image.html" %}
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "cat"){
      $("#products_cat_filter").select2({
        placeholder: 'Выберите категорию',
        width: '100%',
        //tags: true,
        allowClear: true,
        ajax: {
          delay: 150,
          url: "{% url 'flatcontent:search_blocks' %}",

          data: function (params) {
            var query = {
              q: params.term,
              only_cats: 1,
              page: params.page || 1,
            }
            return query;
          },

          //data: "only_cats=1",
          cache: false,
          dataType: 'json',
        }
      }).change(function(){
        //console.log('cat', $(this).val());
        var select = document.querySelector("#products_cat_filter");
        select.value = $(this).val();
        // changed - custom event (instead of change)
        select.dispatchEvent(new Event('changed'));
      });
    }
  });
});
</script>
{% endblock %}