{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}

{% if perms.edit %}
  <form class="panel panel-default form-horizontal" action="{{ root_url }}" method="post" id="props2cat_form">
    {% csrf_token %}
    <div class="panel-heading">{{ plural_obj }} - Добавление к товарам рубрики
      <a href="#" data-perform="panel-dismiss" data-toggle="tooltip" title="Закрыть" class="pull-right">
        <em class="fa fa-times"></em>
      </a>
      <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Свернуть/Развернуть" class="pull-right">
        <em class="fa fa-plus"></em>
      </a>
    </div>
    <div class="clearfix"></div>
    <div class="panel-wrapper collapse">
      <div class="panel-body">

        <div class="form-group">
          <label class="col-lg-2 control-label">Категория</label>
          <div class="col-lg-10">
            <select id="cat_select2" name="cat" autocomplete="off"></select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Свойства</label>
          <div class="col-lg-10">
            <select id="props_select2" name="props2cat" autocomplete="off" multiple></select>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <div class="col-lg-6 col-sm-6 padding-tb5">
          <button type="submit" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="fa fa-check"></i></span>Сохранить
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </form>
{% endif %}
{% if perms.create %}
  <form class="panel panel-default" action="{{ root_url }}" method="post" id="props_create_form">
    {% csrf_token %}
    <div class="panel-heading">{{ plural_obj }} - Быстрое добавление
      <a href="#" data-perform="panel-dismiss" data-toggle="tooltip" title="Закрыть" class="pull-right">
        <em class="fa fa-times"></em>
      </a>
      <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Свернуть/Развернуть" class="pull-right">
        <em class="fa fa-plus"></em>
      </a>
    </div>
    <div class="clearfix"></div>
    <div class="panel-wrapper collapse">
      <div class="panel-body">
        <div id="props-table"></div>
        <div id="props_form"></div>
      </div>
      <div class="panel-footer">
        <div class="col-lg-6 col-sm-6 padding-tb5">
          <button type="submit" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="fa fa-check"></i></span>Сохранить
          </button>
        </div>
        <div class="col-lg-6 col-sm-6 text-right-not-xs padding-tb5">
          <a id="add_prop" href="javascript:void(0);" class="btn btn-default">Добавить свойство</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </form>
{% endif %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

var props_table = null;
function fill_props(){
  // Заполнение формы,
  // вызываем перед отправкой в $("#props_create_form").submit
  $("#props_form").html();
  var values_data = "";
  var props = props_table.getRows();
  var values = null;
  for(var i=0; i<props.length; i++){
    values = props[i].getData();
    values_data += "<input type='hidden' name='name_" + i + "' value='" + values['name'] + "' />";
    values_data += "<input type='hidden' name='code_" + i + "' value='" + values['code'] + "' />";
    values_data += "<input type='hidden' name='cat_" + i + "' value='" + values['cat'] + "' />";
  }
  values_data += "<input type='hidden' name='props' value='" + props.length + "' />";
  $("#props_form").html($(values_data));
}

var main_table = null;
$(document).ready(function(){

  var pathFormatter = function(cell, formatterParams, onRendered){
    //console.log(cell.getRow().getData());
    var data = cell.getRow().getData();
    var value = cell.getValue();
    var result = "<div class='padding-rl5 text-center'>";
    if(value){
      result += " <a class='btn' target='_blank' href='/media/" + data['folder'] + value + "'>" + value + "</a> ";
    }
    result += "</div>";
    return result;
  };
  var catFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    if(!data['cat']){
      return "";
    }
    var cat = data['cat'];
    var result = "<div class='padding-rl5'>";
    result += " <a class='btn' target='_blank' href='" + cat['link'] + "'>" + cat['name'] + "</a><br />";
    result += "</div>";
    return result;
  };

  var catFilterEditor = function(cell, onRendered, success, cancel, editorParams){
    var container = document.createElement("select");
    container.id = "products_cat_filter";

    function buildValues(e){
      console.log("searching products by cat", container.value);
      success(container.value);
    }
    // changed - custom event (instead of change)
    container.addEventListener("changed", buildValues);
    //container.addEventListener("blur", buildValues);
    //container.addEventListener("keydown", keypress);

    return container;
  };

  var catEditor = function(cell, onRendered, success, cancel){
    //cell - the cell component for the editable cell
    //onRendered - function to call when the editor has been rendered
    //success - function to call to pass thesuccessfully updated value to Tabulator
    //cancel - function to call to abort the edit and return to a normal cell

    var container = document.createElement("select");
    container.id = "products_cat_filter";

    onRendered(function(){
    $("#products_cat_filter").select2({
        placeholder: 'Выберите категорию',
        width: '100%',
        //tags: true,
        allowClear: true,
        ajax: {
          delay: 150,
          url: "{% url 'flatcontent:search_blocks' %}",

          data: function (params) {
            var query = {
              q: params.term,
              only_cats: 1,
              page: params.page || 1,
            }
            return query;
          },

          //data: "only_cats=1",
          cache: false,
          dataType: 'json',
        }
      }).change(function(){

        var select = document.querySelector("#products_cat_filter");
        select.value = $(this).val();

        cell.getRow().update({
          'cat': select.value,
          'cat_name': $(this).text(),
        });
        //console.log(cell.getRow().getData());
        select.dispatchEvent(new Event('changed'));
      });
    });

    function buildValues(e){
      console.log("searching products by cat", container.value);
      success(container.value);
    }
    container.addEventListener("changed", buildValues);
    return container;
  };

  var catNameFormatter = function(cell, formatterParams, onRendered){
    //console.log(cell.getRow().getData());
    var cat = '';
    var data = cell.getRow().getData();
    if(!data['cat_name']){
      cat = data['cat'];
    } else {
      cat = data['cat_name'];
    }
    var result = "<div class='padding-rl5'>" + cat + "</div>";
    return result;
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name_multiline.html" %}
      {
        title: "Код",
        field: "code",
        headerFilterPlaceholder: "Код",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
      },
      {
        title: "Категория",
        field: "cat",
        headerSort: false,
        headerFilterPlaceholder: "Категория",
        headerFilter: catFilterEditor,
        headerFilterFunc: "=",
        formatter: catFormatter,
        width: 100,
      },
      {
        title: "Ед измерения",
        field: "measure",
        headerFilterPlaceholder: "Ед измерения",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 80,
      },
      {
        title: "Фасет поиска",
        field: "search_facet",
        headerFilterPlaceholder: "Фасет поиска",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: {"": "Без фильтра", true: "Да", false: "Нет"},
        },
        editable: false,
        editor: "select",
        formatter: booleanFormatter,
        width: 90,
        downloadTitle: "search_facet",
        //accessorDownload: accessor_is_active,
      },
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });

  $("#props_create_form").submit(function(e) {
    fill_props();
    var $form = $(this);
    var data = $form.serialize();
    var msg = 'Произошла ошибка, обновите страничку';
    var status = 'danger'; // success, warning, info, danger
    $.ajax({
      type: $form.attr('method'),
      url: $form.attr('action'),
      data: data,
    }).done(function(r) {
      if(r.error){
        msg = r.error;
      }else if(r.success){
        msg =  r.success;
        status = 'success';
        {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
      }
      $.notify({
        message: msg,
      },{
        status: status,
      });
    }).fail(function() {
      $.notify({
        message: msg,
      },{
        status: status,
      });
    });
    //отмена действия по умолчанию для кнопки submit
    e.preventDefault();
  });

  props_table = new Tabulator("#props-table", {
    data: [],
    persistentLayout: true,
    persistentSort: true,
    persistenceID: "{{ root_url }}",
    persistentFilter: false,
    layout: "fitColumns",
    columns:[
      {
        title: "Название свойства",
        field: "name",
        headerSort: false,
        editor: "input",
        width: 150,
      },
      {
        title: "Код свойства",
        field: "code",
        headerSort: false,
        editor: "input",
        width: 150,
      },
      {
        title: "Категория",
        field: "cat",
        headerSort: false,
        formatter: catNameFormatter,
        editor: catEditor,
        width: 150,
      },
      {
        title: "Действия",
        headerSort: false,
        formatter: "buttonCross",
        width: 120,
        align: "center",
        cellClick: function(e, cell){
          cell.getRow().delete();
        }
      },
    ],
  });

  $("#add_prop").click(function(){
    var rows = props_table.getRows();
    props_table.addRow({
      'name': 'НовоеСвойство',
      'code': '',
      'cat': '',
    });
  });

  $("#props2cat_form").submit(function(e) {
    var $form = $(this);
    var data = $form.serialize();
    var msg = 'Произошла ошибка, обновите страничку';
    var status = 'danger'; // success, warning, info, danger
    $.ajax({
      type: $form.attr('method'),
      url: $form.attr('action'),
      data: data,
    }).done(function(r) {
      if(r.error){
        msg = r.error;
      }else if(r.success){
        msg =  r.success;
        status = 'success';
        {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
      }
      $.notify({
        message: msg,
      },{
        status: status,
      });
    }).fail(function() {
      $.notify({
        message: msg,
      },{
        status: status,
      });
    });
    //отмена действия по умолчанию для кнопки submit
    e.preventDefault();
  });

  $('#props_select2').select2({
    placeholder: 'Какие свойства привязать',
    width: '100%',
    tags: true,
    ajax: {
      delay: 150,
      url: "{% url 'products:search_props' %}",
      data: function (params) {
        var query = {
          q: params.term,
          page: params.page || 1,
        }
        return query;
      },
      cache: false,
      dataType: 'json',
    }
  });

  $('#cat_select2').select2({
    placeholder: 'К какой категории привязать',
    width: '100%',
    //tags: true,
    ajax: {
      delay: 150,
      url: "{% url 'flatcontent:search_blocks' %}",
      data: function (params) {
        var query = {
          q: params.term,
          only_cats: 1,
          page: params.page || 1,
        }
        return query;
      },
      //data: "only_cats=1",
      cache: false,
      dataType: 'json',
    }
  });

  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "cat"){
      $("#products_cat_filter").select2({
        placeholder: 'Выберите категорию',
        width: '100%',
        //tags: true,
        allowClear: true,
        ajax: {
          delay: 150,
          url: "{% url 'flatcontent:search_blocks' %}",

          data: function (params) {
            var query = {
              q: params.term,
              only_cats: 1,
              page: params.page || 1,
            }
            return query;
          },

          //data: "only_cats=1",
          cache: false,
          dataType: 'json',
        }
      }).change(function(){
        //console.log('cat', $(this).val());
        var select = document.querySelector("#products_cat_filter");
        select.value = $(this).val();
        // changed - custom event (instead of change)
        select.dispatchEvent(new Event('changed'));
      });
    }
  });

});
</script>
{% endblock %}