{% extends "core/base.html" %}
{% load mtags %}
{% block extrahead %}
{% endblock %}

{% block content %}

<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<!-- START row-->
<div class="row">
  <div class="col-sm-12">
    <!-- START panel-->
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          {% include "core/forms/row_name.html" %}
          {% include "core/forms/row_image.html" %}

          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        <div class="panel-body">
          {% include "props_tabulator_table.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
    <!-- END panel-->
  </div>
</div>
<!-- END row-->
{% endblock %}

{% block extrascripts %}
  <script src="/static/admin/js/parsley.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#current_edit_form").parsley();
      $("#current_edit_form").submit(function(e) {
        var $form = $(this);
        var msg = 'Произошла ошибка, обновите страничку';
        var status = 'danger'; // success, warning, info, danger
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
            //$("#current_edit_form").attr("action", r.redirect);
            {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
          }
          $.notify({
            message: msg,
          },{
            status: status,
          });
          // Обновление ссылок
          update_links(r);

        }).fail(function() {
          $.notify({
            message: msg,
          },{
            status: status,
          });
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });

      function update_links(r){
        // Обновление фотки
        var thumb = r['row']['thumb'];
        if(thumb === ''){
          thumb = '/static/img/empty.png';
        }
        $("#preview_img").attr("src", thumb + "?_=" + Date.now());
      }

      {% if row %}
        var progressbar = $('#progressbar-files'),
          bar         = progressbar.find('.progress-bar-files'),
          settings    = {
            action: '{% url "products:edit_prop" "img" row.id %}', // upload url
            allow : '*.*',
            param: 'img',
            params: {csrfmiddlewaretoken: getCookie('csrftoken')},
            loadstart: function() {
              bar.css('width', '0%').text('0%');
              progressbar.removeClass('hidden');
            },
            progress: function(percent) {
              percent = Math.ceil(percent);
              bar.css('width', percent+'%').text(percent+'%');
            },
            allcomplete: function(response) {
              bar.css('width', '100%').text('100%');
              setTimeout(function(){
                progressbar.addClass('hidden');
              }, 750);
              // Upload Completed
              //alert(response);
            },
            complete: function(response) {
              // Обновление ссылок
              var r = JSON.parse(response);
              update_links(r);
            }
          };
        var select = new $.upload.select($('#upload-select-files'), settings),
        drop   = new $.upload.drop($('#upload-drop-files'), settings);









  main_table = new Tabulator("#main-table", {
    {% include "props_tabulator_table_params.html" %}
    columns:[
/*
      {
        formatter: "responsiveCollapse",
        width: 30,
        minWidth: 30,
        align: "center",
        resizable: false,
        headerSort: false,
      },
*/
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}

      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });

      {% endif %}
    });
  </script>
{% endblock %}