{% extends "core/base.html" %}
{% load mtags %}
{% block extrahead %}
{% endblock %}

{% block content %}

<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          {% include "core/forms/row_name.html" %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Единица измерения</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Единица измерения" class="form-control" name="measure" value="{% if row.measure %}{{ row.measure }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Код свойства</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Код свойства" class="form-control" name="code" value="{% if row.code %}{{ row.code }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Тип свойства</label>
            <div class="col-md-10">
              <select id="prop_ptype" class="form-control" name="ptype">
                <option value="">Не выбран</option>
                {% for ptype in ptypes %}
                  <option value="{{ ptype.0 }}"{% ifequal row.ptype ptype.0 %} selected{% endifequal %}>{{ ptype.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" value="1" name="search_facet" {% if row.search_facet %} checked{% endif %} autocomplete="off">
                  <span class="fa fa-check"></span> Фильтр в поиске (фасет)?
                </label>
              </div>
            </div>
          </div>
          {% include "core/forms/row_image.html" %}
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
    {% if action != 'create' %}
      {% include "props_tabulator_table.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    {% if row %}
      var upload_img_url = '{% url "products:edit_prop" "img" row.id %}';
    {% endif %}
    $(document).ready(function(){

      $("#prop_ptype").select2();

      {% if row %}

        main_table = new Tabulator("#main-table", {
          data: [{% for pvalue in pvalues %}
            {
              'id': '{{ pvalue.id }}',
              'name': '{{ pvalue.str_value }}',
              'is_active': {% if pvalue.is_active %}true{% else %}false{% endif %},
              'position': '{{ pvalue.position }}',
              'actions': '{{ pvalue.id }}',
            },
          {% endfor %}],
          {% include "props_tabulator_table_params.html" %}
          columns:[
            {% include "core/tabulator_cell/drag.html" %}
            {% include "core/tabulator_cell/id.html" %}
            {
              title: "Значение свойства",
              field: "name",
              headerFilterPlaceholder: "Значение свойства",
              headerFilter: "input",
              headerFilterFunc: "like",
              //formatter: wordwrapFormatter,
              editor: fieldEditor,
              minWidth: 150,
            },
            {
              title: "Включен",
              field: "is_active",
              headerFilterPlaceholder: "Включен",
              headerFilter: true,
              headerFilterFunc: "=",
              headerFilterParams: {
                values: {"": "Без фильтра", true: "Да", false: "Нет"},
              },
              editable: true,
              editor: tickCrossEditor,
              formatter: booleanFormatter,
              width: 90,
            },
            {% include "core/tabulator_cell/position.html" %}
            {% include "core/tabulator_cell/actions.html" %}
          ],
        });

      {% endif %}
    });
  </script>
  {% include "core/forms/row_js.html" %}

  <!-- START modal-->
  <div id="ajax_drop_pvalue" tabindex="-1" role="dialog" aria-labelledby="myModalLabelPValue" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h4 id="myModalLabelPValue" class="modal-title">Удалить значение свойства</h4>
        </div>
        <div class="modal-body">Вы уверенны, что хотите удалить значение свойства id=<span id="ajax_drop_pvalue_id"></span><span class="hidden" id="ajax_drop_pvalue_ind"></span>?</div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary" id="ajax_drop_pvalue_button">Да</button>
        </div>
      </div>
    </div>
  </div>
  <form class="hidden" method="get" action="{{ root_url }}" id="current_drop_form_pvalue">{% csrf_token %}
    <input type="hidden" name="drop_pvalue" id="drop_pvalue_id" value="0" />
  </form>
  <script type="text/javascript">
    function prepare_for_drop_pvalue(pk, row_index){
      $("#ajax_drop_pvalue_id").html(pk);
      $("#drop_pvalue_id").val(pk);
      $("#ajax_drop_pvalue_ind").html(row_index);
      $("#current_drop_form_pvalue").attr("action", "{{ url_edit_pvalue }}");
    }
  </script>
  <!-- END modal-->
{% endblock %}