<div id="ajax_drop_prop" tabindex="-1" role="dialog" aria-labelledby="myModalLabelProp" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="myModalLabelProp" class="modal-title">Удалить свойство товара</h4>
      </div>
      <div class="modal-body">Вы уверены, что хотите удалить свойство товара id=<span id="ajax_drop_prop_id"></span><span class="hidden" id="ajax_drop_prop_ind"></span>?</div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="ajax_drop_prop_button">Да</button>
      </div>
    </div>
  </div>
</div>
<form class="hidden" method="get" action="{{ root_url }}" id="current_drop_prop_form">{% csrf_token %}</form>

<script type="text/javascript">
var new_prop_counter = 0;
function prepare_for_drop_prop(ind){
  var prop_id = $("#prop_container_" + ind).attr("data-id");
  if(prop_id == 0){
    $("#prop_container_" + ind).remove();
    return;
  }
  $("#ajax_drop_prop_ind").html(ind);
  $("#ajax_drop_prop_id").html(prop_id);
  $("#current_drop_prop_form").attr("action", "{{ root_url }}product_pvalues/drop/" + prop_id + "/");
  $('#ajax_drop_prop').modal('show');
}
function select2_listener(el_id, prop_id){
  // Задаем select2 поиск свойства или значения
  // :param el_id: ид элемента select, например, #prop_1
  // :param prop_id: ид свойства, значит, ищем значения свойства
  var urla = "{% url 'products:search_props' %}";
  var placeholder = "Свойство для товара";
  var pid = "";
  var order_by = "";
  if(prop_id){ // Значения свойств, а не само свойство
    urla = "{% url 'products:search_pvalues' %}";
    placeholder = "Значение свойства";
    pid = $("#prop_" + prop_id).val(); // id свойства
    order_by = "digit_value,str_value";

    // При изменении значения свойства,
    // записываем его сразу
    $(el_id).change(function(){
      // Выключаем редактирование
      $("#prop_" + prop_id).prop('disabled', true);
      $(el_id).prop('disabled', true);

      var msg = 'Произошла ошибка, сообщите администратору';
      var status = 'danger';
      var pk = $("#prop_container_" + prop_id).attr('data-id');
      var prop_value = $(this).val();

      // Редактируется линковка по id,
      // мы присваиваем другое значение в нее
      var urla = "{{ root_url }}product_pvalues/edit/" + pk + "/";
      if(parseInt(pk) === 0){
        urla = "{{ root_url }}product_pvalues/create/";
      }
      $.ajax({
        type: 'POST',
        url: urla,
        data: {
          csrfmiddlewaretoken: getCookie('csrftoken'),
          prop: prop_value,
          product: {{ row.id }},
        }
      }).done(function(r) {
        if(r.error){
          msg = r.error;
        }else if(r.success){
          msg =  r.success;
          status = 'success';
        }
        $.notify({
          message: msg,
        },{
         status: status,
        });
        $(el_id).prop('disabled', false);
      }).fail(function() {
        $.notify({
          message: msg,
        },{
          status: status,
        });
        $(el_id).prop('disabled', false);
      });
    });
  }
  $(el_id).select2({
    placeholder: placeholder,
    width: '100%',
    ajax: {
      delay: 150,
      url: urla,
      data: function (params) {
        var query = {
          q: params.term,
          page: params.page || 1,
          prop_id: pid,
          order_by: order_by,
        }
        return query;
      },
      cache: false,
      dataType: 'json',
    }
  });
}

function change_prop(prop_id){
  // Смена свойства
  // Узнаем тип свойства по апи
  // :param prop_id: ид свойства
  // :param el_id: ид элемента
  var msg = "Ошибка при получении значений свойств";
  var status = "danger";
  var el_id = "#prop_" + prop_id;

  $(el_id + "_pvalues").html("");
  // Получаем значения свойства
  // Событие должно срабатывать на onchange выбора свойства,
  // при этом значения должны разрушаться в onchange,
  // т/к выбирают новое свойства и старые значения не актуальны
  $.ajax({
    type: "POST",
    url: "{% url 'products:api' 'props' %}",
    data: {
      csrfmiddlewaretoken: getCookie('csrftoken'),
      filter__id: $(el_id).val(),
      only_fields: 'ptype',
    },
  }).done(function(r) {
    var ptype = parseInt(r['data'][0]['ptype']);
    // В зависимости от типа свойства будем создавать
    // select, radio, checkbox
    switch(ptype){
      // multiselect
      case 2:
        break;
      // radio
      case 3:
        break;
      // checkbox
      case 4:
        break;
      // select
      case 1:
      default:
        new_pvalues_select2(prop_id);
        break;
    }

  }).fail(function() {
    $.notify({
      message: msg,
    },{
      status: status,
    });
  });
}

function new_pvalues_select2(prop_id){
  // Создаем новый select2 для выбора свойств из выпадающего списка
  // :param el_id: ид элемента, куда добавляем select2
  // :param prop_id: ид свойства
  var el_id = "#prop_" + prop_id;
  var html = "<select id='pvalues_" + prop_id + "' name='prop'></select>";
  $(el_id + "_pvalues").append($(html));
  select2_listener("#pvalues_" + prop_id, prop_id);
}

function add_product_property(pk){
  // Добавление нового свойства для товара в список свойств
  // product_properties - контейнер свойств
  // prop_1 - select2 для выбора свойства
  // prop_1_pvalues - контейнер для выбора значения
  // pvalues_1 - select2 для выбора значения свойства
  new_prop_counter += 1;
  var prop_id = "prop_" + new_prop_counter;
  var html = `
<div class="panel panel-default" id="prop_container_${new_prop_counter}" data-id="${pk}">
  <div class="panel-body">
    <div class="form-group">
      <label class="col-md-2 control-label">Свойство</label>
      <div class="col-md-10">
        <select id="${prop_id}" class="form-control">
          <option value="">Не выбрано</option>
        </select>
      </div>
      <div class="clearfix"></div>
    </div><br>
    <form class="form-group mb-sm">
      <label class="col-md-2 control-label">Значение</label>
      <div class="col-md-10" id="${prop_id}_pvalues">
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
  <div class="panel-footer">
    <div class="col-lg-6 col-sm-6 padding-tb5">
    </div>
    <div class="col-lg-6 col-sm-6 padding-tb5 text-right-not-xs">
      <a class="btn btn-labeled btn-danger drop_product_property" onclick='prepare_for_drop_prop(${new_prop_counter});'>
        <span class="btn-label"><i class="fa fa-trash"></i></span>Удалить свойство
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>`;
  $("#product_properties").append($(html));
  select2_listener("#" + prop_id, "");
  $("#" + prop_id).change(function(){
    change_prop(new_prop_counter);
  });
  return new_prop_counter;
}

$(document).ready(function(){
  // Добавление свойств товару
  // Нужны перетаскиваемые вложенные панели,
  // чтобы следить за сортировкой свойств
  // ---
  // Когда добавляется свойство, узнаем его тип
  // Когда выбирается свойство, получаем список значений
  // Когда изменяются значения - сохраняем свойство
  // ---
  // Нужна возможность удалять свойства
  $("#add_product_property").click(function(){
    add_product_property(0);
  });
  var prop_id;
  {% for item in props %}
    prop_id = add_product_property({{ item.id }});
    // Не даем редактировать созданные
    $("#prop_" + prop_id).prop('disabled', true);
    $("#prop_" + prop_id).append($("<option value='{{ item.prop.prop.id }}' selected>{{ item.prop.prop.name }} ({{ item.prop.prop.code }}) #{{ item.prop.prop.id }}</option>"));
    new_pvalues_select2(prop_id);
    $("#pvalues_" + prop_id).append($("<option value='{{ item.prop.id }}' selected>{{ item.prop.str_value }}</option>"));
  {% endfor %}

  // -----------------
  // Удаление свойства
  // -----------------
  $('#ajax_drop_prop_button').click(function(){
    var pk = $('#ajax_drop_prop_id').html();
    var ind = $("#ajax_drop_prop_ind").html();
    var $form = $('#current_drop_prop_form');
    var msg = 'Произошла ошибка, сообщите администратору';
    var status = 'danger';
    $.ajax({
      type: $form.attr('method'),
      url: $form.attr('action'),
      data: $form.serialize()
    }).done(function(r) {
      if(r.error){
        msg = r.error;
      }else if(r.success){
        msg =  r.success;
        status = 'success';
        // Удаляем форму со свойством товара
        $("#prop_container_" + ind).remove();
      }
      $.notify({
        message: msg,
      },{
       status: status,
      });
    }).fail(function() {
      $.notify({
        message: msg,
      },{
        status: status,
      });
    });
  });
});
</script>