{% if breadcrumbs %}
<div class="container">
  <div class="row">
    <div class="col">
      {% block page_title %}<h1>{{ page.name }}</h1>{% endblock %}
      <ul class="breadcrumb mb-4">
        <li>
          <a href="/" class="text-black-2 fs-1">Главная</a>
          /
        </li>
        {% for crumb in breadcrumbs %}
          {% if forloop.last %}
            <li><a class="text-black-2 fs-1">{{ crumb.name }}</a></li>
          {% else %}
            <li><a href="{{ crumb.link }}" class="text-black-2 fs-1">{{ crumb.name }}</a> / </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}