{% load flatcontent_tags mtags %}
<footer id="footer" class="pt-5 mt-0 section-content align-x-center">
  <div class="width-large mb-4">

    <div class="row pb-5">
      <div class="col-md-5 col-lg-4 mb-5 mb-lg-0">
        <h5 class="mb-4 text-white-2">Контакты</h5>
        <div class="mb-1 text-white-9">{{ containers.main.tags.address.html|safe }}</div>
        <div class="mb-1 pt-2 text-white-9">{{ containers.main.tags.phone.html|safe }}</div>
        <div class="mb-0 text-white-9">{{ containers.main.tags.email.html|safe }}</div>
      </div>
      <div class="col-md-7 col-lg-6 mb-5 mb-lg-0">
        {% flatmenu request "bottommenu" %}
      </div>
      <div class="col-lg-2">
        <h5 class="mb-4 text-white-2">Сообщества</h5>
        <ul class="social-icons mt-1">
          {% for block in containers.main.tags.social.sub %}
            <li class="social-icons-{{ tag }}"><a href="{{ block.link }}"{% if block.blank %} target="_blank"{% endif %} title="{{ block.name|textize }}"><i class="fa fa-{{ block.icon }}"></i></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container py-2">
      <div class="row py-4">
        <div class="col text-center mb-4 mb-lg-0 text-white-9">
          {{ containers.main.tags.copyright.html|safe }}
        </div>
      </div>
    </div>
  </div>
</footer>