{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){

  var pathFormatter = function(cell, formatterParams, onRendered){
    //console.log(cell.getRow().getData());
    var data = cell.getRow().getData();
    var value = cell.getValue();
    var result = "<div class='padding-rl5 text-center'>";
    if(value){
      result += " <a style='white-space:normal;' class='btn' target='_blank' href='/media/" + data['folder'] + value + "'>" + value + "</a> ";
    }
    result += "</div>";
    return result;
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {
        title: "Адрес",
        field: "address",
        headerFilterPlaceholder: "Адрес",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Время доставки",
        field: "time",
        headerFilterPlaceholder: "Время доставки",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 90,
      },
      {
        title: "Заказ",
        field: "order__id",
        headerFilterPlaceholder: "Заказ",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 90,
      },
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });

  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "time"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          //calendar.hide();
        },
        todayButton: new Date(),
        timepicker: true,
      });
    }
  });
});
</script>
{% endblock %}