<?xml version="1.0" encoding="UTF-8"?>
<КоммерческаяИнформация ВерсияСхемы="2.04" ДатаФормирования="{{ now|date:"Y-m-d" }}">
  {% for order in orders %}
    <Документ>
      <Ид>{{ order.id }}</Ид>
      <Номер>bill{{ order.id }}</Номер>
      <Дата>{{ order.date|date:"Y-m-d" }}</Дата>
      <ХозОперация>Заказ товара</ХозОперация>
      <Роль>Продавец</Роль>
      <Валюта>руб</Валюта>
      <Курс>1</Курс>
      <Сумма>{{ order.total }}</Сумма>
      <Контрагенты>
        <Контрагент>
          <Ид>{{ order.user.id }}#{{ order.user.email }}#</Ид>
          <Наименование>{{ order.user }}</Наименование>
          <Роль>Покупатель</Роль>
          <ПолноеНаименование>{{ order.user }}</ПолноеНаименование>
          {% if order.user.last_name %}<Фамилия>{{ order.user.last_name }}</Фамилия>{% else %}<Фамилия/>{% endif %}
          {% if order.user.first_name %}<Имя>{{ order.user.first_name }}</Имя>{% else %}<Имя/>{% endif %}
          <Контакты>
            <Контакт>
              <КонтактВид>Телефон мобильный</КонтактВид>
              <Значение>{{ order.user.phone }}</Значение>
            </Контакт>
          </Контакты>

        </Контрагент>
      </Контрагенты>
      <Время>{{ order.date|date:"H:i:s" }}</Время>
      {% if comments %}<Комментарий>{{ order.comments }}</Комментарий>{% else %}<Комментарий/>{% endif %}
      <Товары>
        {% for purchase in order.purchases %}
          <Товар>
            <Ид>{{ purchase.code }}</Ид>
            <Наименование>{{ purchase.info.name }}</Наименование>
            <ЦенаЗаЕдиницу>{{ purchase.cost }}</ЦенаЗаЕдиницу>
            <Количество>{{ purchase.count }}</Количество>
            <Сумма>{{ purchase.total }}</Сумма>
            <ЗначенияРеквизитов>
              <ЗначениеРеквизита>
                <Наименование>ВидНоменклатуры</Наименование>
                <Значение>Товар</Значение>
              </ЗначениеРеквизита>
              <ЗначениеРеквизита>
                <Наименование>ТипНоменклатуры</Наименование>
                <Значение>Товар</Значение>
              </ЗначениеРеквизита>
            </ЗначенияРеквизитов>
          </Товар>
        {% endfor %}
      </Товары>
    </Документ>
  {% endfor %}
</КоммерческаяИнформация>
