{% load mtags %}
{% ifequal tag "mainmenu" %}
<div class="collapse navbar-collapse navbar-right" id="header-menu">
  <nav>
    <ul class="nav navbar-nav">
      {% for menu in menus %}
        <li{% ifequal menu.link request.META.PATH_INFO %} class="active"{% endifequal %}>
          <a href="{{ menu.link }}" class="smoothScroll">{{ menu.name }}</a>
        </li>
      {% endfor %}
{% comment %}<!--
      <li><a href="#testimonials" data-scroll class="smoothScroll">Testimonials</a></li>
-->{% endcomment %}
    </ul>
  </nav>
</div>
{% endifequal %}
{% ifequal tag "bottommenu" %}
  <ul class="footer-menu">
  {% for menu in menus %}
    <li><a href="{{ menu.link }}">{{ menu.name }}</a></li>
  {% endfor %}
  </ul>
{% endifequal %}
