<div class="row">
  <div class="col-md-12">
    <div class="cust-pagi">
      <ul class="pagination">
        {% if paginator.prev_link %}
          <li>
            <a href="{{ paginator.prev_link }}" aria-label="Назад">
              <i class="fa fa-angle-double-left"></i>
            </a>
          </li>
        {% endif %}

        {% for page in pages %}
          {% if page.ellipsis %}
            <li>...</li>
          {% else %}
            <li>
              {% if page.active %}
                {{ page.content }}
              {% else %}
                <a class="{% if page.active %}active{% endif %}" href="{{ page.link }}">{{ page.content }}</a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
        {% if paginator.next_link %}
          <li>
            <a href="{{ paginator.next_link }}" aria-label="Вперед">
              <i class="fa fa-angle-double-right"></i>
            </a>
          </li>
        {% endif %}
        <li>{{ paginator.total_records }} {{ ends }}</li>
      </ul>
    </div>
  </div>
</div>

