{% load tags mtags %}
<li class="item">
  <div class="item-inner">
    <div class="box-image">
      <div class="effect-default">
        <a href="{{ product.link }}" title="{{ product.name|textize }}" class="product-image">
          <img src="{% imagine product.img '600x400' product.get_folder True %}" alt="{{ product.name|textize }}" />
        </a>
      </div>
      <div class="button-top">
        <a class="hidden" href="{{ product.link }}"></a>
        <ul class="add-to-links">
          <li>
            <a class="btn-action link-wishlist" title="В избранное" href="javascript:void(0);">
              <span class="btn-text">В избранное</span>
            </a>
          </li>
          <li>
            <a class="btn-action link-compare" title="Сравнить" href="javascript:void(0);">
              <span>Сравнить</span>
            </a>
          </li>
        </ul>
      </div>
{% comment %}<!--
      <div class="label-product label-new">
        <span class="new-product-icon">New</span>
      </div>
-->{% endcomment %}
    </div>
    <div class="box-info">
      <h2 class="product-name">
        <a href="{{ product.link }}" title="{{ product.name|textize }}">{{ product.name }}</a>
      </h2>
{% comment %}<!-- Нет шаблона для свойств товара
        {% for item in product.props %}
          {% if forloop.counter < 5 %}
            <d{% cycle 't' 'd' %}>{{ item.prop.name }}
            {% for pvalue in item.values %}
              {{ pvalue.str_value }}
              {% if item.prop.measure %}{{ item.prop.measure }}{% endif %}
            {% endfor %}
            </d{% cycle 't' 'd' %}>
          {% endif %}
        {% endfor %}
-->{% endcomment %}
      <div class="ratings">
        <div class="rating-box">
          <div class="rating" style="width:90%"></div>
        </div>
        <span class="amount"><a href="javascript:void(0);">Нет отызвов</a></span>
      </div>
      {% if product.mini_info %}
        <div class="desc">{{ product.mini_info|safe }}</div>
      {% endif %}
      <div class="price-box">
        {% with "grid" as view %}
          {% include "web/cat/costs_types.html" %}
        {% endwith %}
        <div class="clearfix"></div>
        <span class="regular-price">
          <span class="price product_price_{{ product.id }}">{{ product.price|money_format }} ₽</span>
        </span>
      </div>
      <div class="button-bottom">
        <button class="btn-action btn-cart add_to_cart_btn" data-product_id="{{ product.id }}" type="button" title="Добавить в корзину">
          <span>
            <span>В корзину</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</li>