{% load mtags %}
<div class="mfp-hide newsletter-popup" id="feedback_widget">
  <div class="row">
    <div class="col-md-12">
      <script id="ea6b95d5478935bf4c7cd2d6fa01686a6acd9760" src="https://elizavetache.ru/pl/lite/widget/script?id=219305"></script>
    </div>
{% comment %}<!--
    <div class="col-md-12">
      <h2 class="light-title">Внимательно вводите свои данные. На указанный email придёт письмо после оплаты</h2>
      <form action="#">
        <div class="form-group required-field">
          <label for="contact-name">Ваше имя</label>
          <input type="text" class="form-control required" id="contact-name" name="name">
        </div>
        <div class="form-group required-field">
          <label for="contact-email">Ваш Email</label>
          <input type="text" class="form-control email required" id="contact-email" name="email">
        </div>
        <div class="form-group">
          <label for="contact-phone">Ваш телефон</label>
          <input type="text" class="form-control phone" id="contact-phone" name="phone">
        </div>
        <div class="form-group required-field">
          <label for="contact-message">Заполняя эту форму, вы соглашаетесь с Условиями публичного договора-оферты</label>
          <textarea cols="30" rows="1" id="contact-message" class="form-control mfp-hide" name="msg">Данные для оплаты GetCourse</textarea>
        </div>
       <div class="form-footer">
           <button type="submit" class="btn btn-primary">Оплатить</button>
        </div>
      </form>
    </div>
-->{% endcomment %}
    {% comment %}<!--
    <div class="col-md-4">
      <h2 class="light-title">Contact <strong>Details</strong></h2>
      <div class="contact-info">
        <div>
          <i class="icon-phone"></i>
          <p><a href="tel:">0201 203 2032</a></p>
          <p><a href="tel:">0201 203 2032</a></p>
        </div>
        <div>
          <i class="icon-mobile"></i>
         <p><a href="tel:">201-123-3922</a></p>
          <p><a href="tel:">302-123-3928</a></p>
        </div>
        <div>
          <i class="icon-mail-alt"></i>
          <p><a href="mailto:#">porto@gmail.com</a></p>
          <p><a href="mailto:#">porto@portotemplate.com</a></p>
        </div>
        <div>
          <i class="icon-skype"></i>
          <p>porto_skype</p>
          <p>porto_template</p>
        </div>
      </div>
    </div>
    -->{% endcomment %}
  </div>
</div>