{% extends "skeleton.html" %}
{% load mtags flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="container">
  <ul class="checkout-progress-bar">
    <li>
      <span>Проверка заказа</span>
    </li>
    <li>
      <span>Подтверждение заказа</span>
    </li>
    <li class="active">
      <span>Оплата</span>
    </li>
  </ul>
  <div class="row">
    <div class="pt-100 pb-100">
      <div class="col-md-12">
        <h2>Спасибо, ваш заказ оплачен, скоро мы свяжемся с вами</h2>
      </div>
    </div>
  </div>
</div>

{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}

{% endblock %}

{% block extrascripts %}
{% endblock %}