<script src="/static/jstree/jstree.min.js"></script>
<script src="/static/admin/js/fontawesome_select2.js"></script>
<script type="text/javascript">
var main_table = null;
function fill_cat_products_fordel(){
  $("#cat_products_fordel").val(window.cat_products_fordel.join(","));
}
function get_parent(data){
  // Получение родительской рубрики
  var parent_id = data.node.parent;
  //var parent = flat_tree.jstree(true).get_node(data.node.parent);

  if(parent_id.indexOf("container_") >= 0){
    parent_id = 0;
  }
  return parent_id;
}
$(document).ready(function(){
  $("#html_redactor").redactor({
    //air: true,
    focus: false,
    animation: false,
  });
  {% for domain in domains %}
    $("#html_redactor_{{ domain.pk }}").redactor({
      focus: false,
      animation: false,
    });
  {% endfor %}
  var root_url = '{% url "flatcontent:tree_co" %}';
  var flat_tree = $("#flat_tree");
  //$.jstree.defaults.search.ajax = true;

  // Для ссылки на редактирование блока нужна ссылка
  var current_edit_form_link = '{% url "flatcontent:edit_block" ftype row.id "edit" "000" %}';
  $("#edit_form_link").attr('target', '_blank');

  $("#current_edit_form").submit(function(e) {
    update_sorted_select2("linkcontainer");
    {% if is_products %}
      update_sorted_select2("products");
      fill_cat_products_fordel();
    {% endif %}

    var $form = $(this);
    if($form.attr('action') === ''){
        return false;
    }
    var msg = 'Произошла ошибка, обновите страничку';
    var status = 'danger'; // success, warning, info, danger
    $.ajax({
      type: $form.attr('method'),
      url: $form.attr('action'),
      data: $form.serialize()
    }).done(function(r) {
      if(r.error){
        msg = r.error;
      }else if(r.success){
        msg =  r.success;
        status = 'success';
      }
      $.notify({
        message: msg,
      },{
        status: status,
      });
      // Обновление ссылок
      update_links(r);
      // Переименование узла при необходимости
      var node = flat_tree.jstree(true).get_node(r['row'].id, true);
      flat_tree.jstree('set_text', node, r['row']['name']);
    }).fail(function() {
      $.notify({
        message: msg,
      },{
        status: status,
      });
    });
    //отмена действия по умолчанию для кнопки submit
    e.preventDefault();
  });

  var noname = "Без названия";
  flat_tree.jstree({
    // state будет помнить состояние
    "plugins": ["search", "wholerow", "dnd", "contextmenu"],
    "core" : {
      "animation": 0,
      "check_callback" : true,
      "data" : {
        "cache": false,
        "url" : root_url,
        "data" : function (node) {
          return {
            "node_id" : node.id == "#" ? "" : node.id,
            "container_id": "{{ row.id }}",
            "operation": "get_children{% if lazy %}_lazy{% endif %}",
          };
        },
        "worker": false,
      },
      "check_callback": function(operation, node, node_parent, node_position, more){
        // operation can be 'create_node', 'rename_node', 'delete_node', 'move_node', 'copy_node' or 'edit'
        // DEMO: return operation === 'rename_node' ? true : false;
        if(operation === "move_node"){
          if(node_parent.parent === null){
            return false;
          }
        }
        return true;
      }
    },
    "search": {
      "show_only_matches": false,
      "case_sensitive": false,
/*
      ajax: {
        "url": root_url + "?container_id={{ row.id }}&operation=search",
        "type": "get",
        "data": function (str) {
          return { "str": str };
        }
      }
*/
    },
    "contextmenu": {
      "items": function($node) {
        var tree = flat_tree.jstree(true);
        return {
          "Create": {
            "separator_before": false,
            "separator_after": false,
            "label": "{{ action_create }} {{ rp_singular_obj }}",
            "action": function (obj) {
              $node = tree.create_node($node, {'id': 'new', 'text': noname});
              tree.edit($node);
            }
          },
          "Rename": {
            "separator_before": false,
            "separator_after": false,
            "label": "{{ action_edit }} {{ rp_singular_obj }}",
            "action": function (obj) {
              tree.edit($node);
            }
          },
          "Remove": {
            "separator_before": false,
            "separator_after": false,
            "label": "{{ action_drop }} {{ rp_singular_obj }}",
            "action": function (obj) {
              tree.delete_node($node);
              var parent = flat_tree.jstree(true).get_node($node.parent);
              var description = "<strong>Удаление в рубрике \"" + parent.text + "\": </strong><br />";
              description += "<strong>\"" + $node.text + "\"</strong>";
            }
          }
        };
      }
    }
  })
  .bind("loaded.jstree", function(e, data) {
    //console.log("--- jstree loaded ---");
    {% if not lazy %}
      flat_tree.jstree('open_all');
    {% endif %}
  })
  .bind("select_node.jstree", function (event, data) {
    console.log("select", event, data);
  })
  .on("rename_node.jstree", function (e, data) {
    if(data.old === data.text && data.text !== noname){
        return;
    }
    var node_id = data.node.id;
    var parent_id = get_parent(data);
    $.ajax({
      type: "GET",
      url: root_url,
      data: "container_id={{ row.id }}&operation=rename_node&node_id=" + node_id + "&parent_id=" + parent_id + "&name=" + data.text,
    }).done(function(r) {
      // renamed
      flat_tree.jstree().set_id(data.node, r.id);
      // Приходится вручную обновлять ид и ссыль якоря (a),
      // иначе создать 2 подряд узла не получится,
      // будет одинаковый id и йух выберешь второй
      data.node.a_attr.id = r.id;
      data.node.a_attr.href = '#' + r.id;
    });
  })
  .on("delete_node.jstree", function (e, data) {
    var node_id = data.node.id;
    var parent_id = get_parent(data);
    $.ajax({
      type: "GET",
      url: root_url,
      data: "container_id={{ row.id }}&operation=drop_node&node_id=" + node_id + "&parent_id=" + parent_id,
    }).done(function(r) {
      // dropped
    });
  })
  .on("move_node.jstree", function(e, data){
    if(data.parent === data.old_parent){
      if(data.position === data.old_position){
        return;
      }
    }
    var node_id = data.node.id;
    var parent_id = get_parent(data);
    $.ajax({
      type: "GET",
      url: root_url,
      data: "container_id={{ row.id }}&operation=move_node&node_id=" + node_id + "&parent_id=" + parent_id + "&position=" + data.position,
    }).done(function(r) {
      // moved
    });
  })
  .on("dblclick.jstree", function (event) {
    // double click
  })
  .on("changed.jstree", function (e, data) {
    if(!data.node){
      return;
    }
    if(data.node.id.indexOf('container_') > -1){
      return;
    }
    // Если уже этот узел выбран,
    // то не надо перезапрашивать с сервера
    var node_id = data.node.id;
    var container = $("#current_edit_form");
    var prev_node_id = container.attr("prev_node_id");
    if(prev_node_id === node_id){
      return;
    }
    container.attr("prev_node_id", node_id);
    // Подменяем upload_url для загрузки фоток через аякс форму
    window.upload_url = '{% url "flatcontent:edit_block" ftype row.id "img" "0" %}'.replace('/0/', '/' + node_id + '/');
    //container.parent().addClass("hidden");
    $.ajax({
      type: "GET",
      url: root_url,
      data: "container_id={{ row.id }}&operation=select_node&node_id=" + node_id,
    }).success(function(r) {
      var field_name = '';
      var field_value = '';
      var row = r['row'];
      container.parent().removeClass("hidden");

      var rname = '<i class="fa fa-edit"></i> ' + row['name'];
      container.find('#edit_form_link')
               .removeClass('hidden')
               .html(rname)
               .attr('href', current_edit_form_link.replace('000', row['id']));

      container.find('input[name="name"]').val(row['name']);
      if(row['html'] !== null){
        container.find('#html_redactor').setCode(row['html']);
      }else{
        container.find('#html_redactor').setCode('');
      }
      container.find('input[name="link"]').val(row['link']);
      var blank_checked = 'checked' ? row['blank'] : '';
      container.find('input[name="blank"]').prop('checked', blank_checked);
      container.find('input[name="icon"]').val(row['icon']);
      container.find('input[name="title"]').val(row['title']);
      container.find('input[name="description"]').val(row['description']);
      container.find('input[name="keywords"]').val(row['keywords']);
      container.find('input[name="tag"]').val(row['tag']);
      container.find('input[name="position"]').val(row['position']);
      container.find('input[name="link"]').val(row['link']);
      container.find('input[name="class_name"]').val(row['class_name']);
      var is_active_checked = 'checked' ? row['is_active'] : '';
      container.find('input[name="is_active"]').prop('checked', is_active_checked);
      container.find('input[name="grab_img_by_url"]').val('');

      var translate_fields = ['name', 'title', 'description', 'keywords', 'class_name'];
      {% for domain in domains %}
        for(var i=0; i<translate_fields.length; i++){
          field_name = translate_fields[i];
          field_value = '';
          if(r['domains'][{{ domain.pk }}][field_name]){
            field_value = r['domains'][{{ domain.pk }}][field_name];
          }
          container.find('input[name="translate_' + field_name + '_{{ domain.pk }}"]').val(field_value);
        }
        if(r['domains'][{{ domain.pk }}]['html']){
          container.find('#html_redactor_{{ domain.pk }}').setCode(r['domains'][{{ domain.pk }}]['html']);
        }else{
          container.find('#html_redactor_{{ domain.pk }}').setCode('');
        }
      {% endfor %}
      // Если нет такого элемента - то и не надо мучать жопу
      if($("#linkcontainer_select2").length > 0){
        var flink = "/flatcontent/admin/flatpages/";
        var tr;
        var menus_tbody = $(".linked_menus table tbody");
        $("#linkcontainer_select2").empty().trigger('changed');
        menus_tbody.html("");
        if(row['linkcontainer'] !== undefined){
          for(var i=0; i<row['linkcontainer'].length; i++){
            var item = row['linkcontainer'][i];
            $("#linkcontainer_select2").append($("<option value='" + item['id'] + "' selected>" + item['name'] + " #" + item['id'] + " (" + item['tag'] + ")</option>"));
            // И в таблицу докидываем
            tr = "<tr>";
            tr += "<td>";
            tr += "<a href='" + flink + item['id'] + "/" + "' target='_blank'>" + item['name'] + "</a>";
            tr += "</td>";
            tr += "<td>" + item['id'] + "</td>";
            tr += "<td>" + item['tag'] + "</td>";
            tr += "<td>";
            tr += "<a target='_blank' class='btn-xs btn btn-primary pull-left' href='" + flink + "edit/" + item['id'] + "/" + "'><i class='fa fa-edit'></i></a>";
            tr += "<a target='_blank' class='btn-xs btn btn-info pull-left ml' target='_blank' href='" + flink + "show/" + item['id'] + "/" + "'><i class='fa fa-eye'></i></a>";
            tr += "<a target='_blank' class='btn-xs btn btn-info pull-left ml' href='" + flink + "tree/" + item['id'] + "/" + "'><i class='fa fa-sitemap'></i></a>";
            tr += "</td>";
            tr += "</tr>";

            menus_tbody.append($(tr));
          }
        }
        $("#linkcontainer_select2").trigger('changed');
      }

      {% if is_products %}
        // Если нет такого элемента - то и не надо мучать жопу
        if($("#products_select2").length > 0){
          // Таблицу надо обновить
          window.tabulatorAjaxURL = "{% url 'products:show_cats_products' %}";
          window.tabulatorAjaxParams = {'cat_id': node_id};
          {% include "products_cats/products_tabulator_params.html" %}
          $("#products_select2").empty().trigger('changed');
          $("#products_select2").parent().parent().find("label").html("Привязанные товары: " + row['products_count']);
        }
      {% endif %}

      if(row['icon'] !== null){
        $("#icon_fontawesome").val(row['icon']).trigger("change");
      }else{
        $("#icon_fontawesome").val("").trigger("change");
      }

      update_links(r);
      $("#current_edit_form").attr("action", row['url_edit']);
    });
  });
  var searching = false;
  $("#flat_tree_search").keyup(function () {
    if (!searching) {
      searching = true;
      setTimeout(function () {
        flat_tree.jstree("clear_search");
        searching = false;
        var v = $("#flat_tree_search").val();
        flat_tree.jstree(true).search(v);
      }, 500);
    }
  });

  // --------------------------
  // Получение файла с иконками
  // и подстановка их в select2
  // --------------------------
  fontawesome_select2("icon_fontawesome");
});

function clear_search(){
  $("#rubrics_tree").jstree("clear_search");
}

</script>