{% extends "core/base.html" %}

{% block extrahead %}
{% if is_tree %}
  <link rel="stylesheet" href="/static/jstree/themes/default/style.min.css" />
  <style type="text/css">
    .jstree-default-contextmenu {
      z-index: 12;
    }
    .jstree .non-active a {
      text-decoration: line-through;
    }
  </style>
{% endif %}
<!-- В любом случае грузим редактор,
     т/к на is_tree он используется
     для редактирования рубрик -->
<link media="all" rel="stylesheet" href="/static/redactor/redactor.css" />
<link media="all" rel="stylesheet" href="/static/redactor/redactor_air.css" />
{% endblock %}

{% block content %}
{% if row.id %}
  {% if is_tree %}
    {% include "core/forms/default_edit.html" %}
  {% else %}
    {% include "flatcontent_forms/tree_button.html" %}
  {% endif %}
    {% include "flatcontent_forms/table_button.html" %}
  {% endif %}
{% block extraactions %}{% endblock %}

{% include "core/title/page_title_edit.html" %}
{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    {% if is_tree %}
      <div class="row">
        <div class="col-md-4">
          <div>
            <input class="form-control" type="text" id="flat_tree_search" placeholder="Поиск" />
            <div id="flat_tree"></div>
          </div>
        </div>
        <div class="col-md-8">
          <!-- Панель для динамического редактирования блоков -->
          {% block flattree %}{% endblock %}
        </div>
        <div class="clearfix"></div>
      </div>
    {% else %}
      <!-- Основная форма редактирования контейнера -->
      {% block edit_form %}
        {% include "flatcontent_edit_form.html" %}
      {% endblock %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extrascripts %}
{% if is_tree %}
  {% include "flat_treeco.html" %}
{% endif %}
<!-- В любом случае оставляем логику,
     т/к на is_tree она используется
     для редактирования рубрик -->
<script src="/static/redactor/jquery.browser.js"></script>
<script src="/static/redactor/redactor.js"></script>
<script src="/static/admin/js/parsley.min.js"></script>

<!-- Drag and Drop sortable for select2 -->
<script src="/static/jquery-ui/jquery-ui.min.js"></script>

<script type="text/javascript">
  {% if row %}
    window.upload_url = '{% url "flatcontent:edit_container" ftype "img" row.id %}';
  {% else %}
    window.upload_url = '';
  {% endif %}

  function update_sorted_select2(container_id){
    // Обновление скрытого поля input по multiple select
    // чтобы соблюсти сортировку в multiple select
    var sorted_options = Array();
    var select2_selector = "#" + container_id + "_select2";
    // Если нет такого элемента - то и не надо мучать жопу
    if($(select2_selector).length < 1){
      return;
    }
    $(select2_selector).parent().find('li.select2-selection__choice').each(function(index) {
      var title = $(this).attr('title');
      $(select2_selector + " option").each(function(){
        if($(this).text() === title){
          sorted_options.push([$(this).val(), title]);
        }
      });
    });
    $(select2_selector).empty();
    $(select2_selector).trigger("change");
    for(var i=0; i<sorted_options.length; i++){
      var item = sorted_options[i];
      $(select2_selector).append($("<option value='" + item[0] + "' selected>" + item[1] + "</option>"));
    }
    $(select2_selector).trigger("change");
  }

  $(document).ready(function(){
    $("#current_edit_form").parsley();
    $("#description_redactor").redactor({
      //air: true,
    });
    {% for domain in domains %}
      $("#description_redactor_{{ domain.pk }}").redactor();
    {% endfor %}

    /* Заменится только обработчик события отправки формы для is_tree */
    {% if is_tree %}
      //$("#current_edit_form").attr('action', '').parent().addClass('hidden');
      $("#current_edit_form").attr('action', ''); // Прятать не надо - скачет
    {% else %}
      $("#current_edit_form").submit(function(e) {
        var $form = $(this);
        var msg = 'Произошла ошибка, обновите страничку';
        var status = 'danger'; // success, warning, info, danger

        {% if is_products %}update_sorted_select2('products');{% endif %}

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
            //$("#current_edit_form").attr("action", r.redirect);
            {% ifequal action 'create' %}window.location.href = r.redirect;{% endifequal %}
          }
          $.notify({
            message: msg,
          },{
            status: status,
          });
          // Обновление ссылок
          update_links(r);

        }).fail(function() {
          $.notify({
            message: msg,
          },{
            status: status,
          });
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });
    {% endif %}

    $('#tag_select2').select2({
      placeholder: 'Выбрать шаблон',
      width: '100%',
      ajax: {
        url: "{% url 'flatcontent:search_containers' %}",

        data: function (params) {
          var query = {
            q: params.term,
            only_templates: 1,
            page: params.page || 1,
          }
          return query;
        },
        //data: "only_templates=1",
        cache: false,
        dataType: 'json',
      }
    });

    $('#linkcontainer_select2').select2({
      placeholder: 'Какие странички привязать',
      width: '100%',
      tags: false,
      ajax: {
        url: "{% url 'flatcontent:search_containers' %}",
        data: function (params) {
          var query = {
            q: params.term,
            without_templates: 1,
            without_menus: 1,
            without_main: 1,
            without_seo_prices: 1,
            without_cats: 1,
            page: params.page || 1,
          }
          return query;
        },
        //data: "without_templates=1&without_menus=1&without_main=1",
        cache: false,
        dataType: 'json',
      }
    });
    {% if is_products %}
    $('#products_select2').select2({
      placeholder: 'Какие товары привязать',
      width: '100%',
      tags: false,
      ajax: {
        url: "{% url 'products:search_products' %}",

        data: function (params) {
          var query = {
            q: params.term,
            page: params.page || 1,
          }
          return query;
        },

        cache: false,
        dataType: 'json',
      }
    });
    {% endif %}
    // init sortable
    $("ul.select2-selection__rendered").sortable({
      containment: 'parent'
    });

    {% if row %}
      /* Для is_tree row => это будет контейнер для каждой рубрики,
         нас это устраивает т/к рубрика тоже уже существует */
      var progressbar = $('#progressbar-files'),
        bar         = progressbar.find('.progress-bar-files'),
        settings    = {
          //action: upload_url, // upload url
          action: window.upload_url,
          allow : '*.*',
          param: 'img',
          params: {csrfmiddlewaretoken: getCookie('csrftoken')},
          // Предотвращаем загрузку при пустой ссылке для загрузки
          before: function(o) {
            o.action = window.upload_url;
            if(settings.action === ''){
              return false;
            }
          },
          loadstart: function() {
            bar.css('width', '0%').text('0%');
            progressbar.removeClass('hidden');
          },
          progress: function(percent) {
            percent = Math.ceil(percent);
            bar.css('width', percent+'%').text(percent+'%');
          },
          allcomplete: function(response) {
            bar.css('width', '100%').text('100%');
            setTimeout(function(){
              progressbar.addClass('hidden');
            }, 750);
            // Upload Completed
            //alert(response);
            // Обновление ссылок
            var r = JSON.parse(response);
            update_links(r);
          }
        };
      var select = new $.upload.select($('#upload-select-files'), settings),
      drop   = new $.upload.drop($('#upload-drop-files'), settings);
    {% endif %}
  });
  function update_links(r){
    {% if is_tree %}
      $("#field_link").val(r['row']['link']);
      $('#field_link_action').attr('href', r['row']['link']).html(r['row']['link']);
    {% endif %}
    var thumb = r['row']['thumb'];
    if(thumb === ''){
      thumb = '/static/img/empty.png';
    }
    var date_now = Date.now()
    $("#preview_img").attr("src", thumb + "?_=" + date_now);
    $("#preview_img_full").attr("href", r['row']['imagine'] + "?_=" + date_now);
  }
</script>
{% include "flatcontent_forms/linked_menus.html" %}
{% endblock %}