{% extends "flatcontent_core_edit.html" %}

{% block extraactions %}
  {% if row %}
    {% if permissions.create and permissions.edit %}
      <a class="btn btn-primary pull-right mb-sm mr-sm" target="_blank" href="{% url 'flatcontent:edit_container' ftype 'copy' row.id %}">
        <em class="fa fa-copy fa-fw mr-sm"></em> Дублирование {{ rp_singular_obj }}
      </a>
    {% endif %}
    <a class="btn btn-primary pull-right mb-sm mr-sm" target="_blank" href="{% url 'flatcontent:edit_container' ftype 'show' row.id %}">
      <em class="fa fa-eye fa-fw mr-sm"></em> Предпросмотр
    </a>
  {% endif %}
{% endblock %}

{% block flattree %}
  {% include "blocks/flattemplates_edit_form.html" %}
{% endblock %}