
<div id="slidepanel" style="margin-top:30px; clear:both">
  <span id="actions" style="background:#fff">Акции</span>
  <span id="newgoods">Новинки</span>
  <span id="hitgoods">Лидеры продаж</span>
</div>

<div id="_newgoods" class="slpan" style="display:none">
  <div id="newgoodsadd" style="display:block; clear:both">
    <form name="form42149" id="form42149n" method="post" class="formlotok adativecardtv pcstyle pconly mobileonly">
      <div class="cardtv">
        <div class="product_container">
          <div class="addfav" rel="42149" title="Добавить в избранное"></div>
          <div id="slidingProduct42149n" class="sliding_product">
            <img src="misc/new.png" title="Новинка!" class="newimg png" />
            <div class="imgc">
              <a target="_parent" href="/cshow.php?id_goods=42149">
                <img src="/media/misc/rersed1594580638.jpg" alt="pH-метр ИВА-Тест портативный с автоматической калибровкой и подсветкой" title="pH-метр ИВА-Тест портативный с автоматической калибровкой и подсветкой. . ИНКОМК" border="0" />
              </a>
            </div>
            <div class="notes">
              <a target="_parent" href="/cshow.php?id_goods=42149">pH-метр ИВА-Тест портативный с автоматической калибровкой и подсветкой</a>
              <div></div>
            </div>
            <a target="_parent" href="/cshow.php?id_goods=42149" class="white_grad_bottom_css22"></a>
          </div>
        </div>
        <span class="cena">
          <div>2 178</div>
          <span>&#8381;</span>
        </span>
        <div class="bascbut">
          <div id="over42149" class="blok" style="display:none; position:absolute;  width:105px; height:25px; bottom:0; right:0; background:rgba(255,255,255,.5);z-index:2 " title="Достигнуто максимальное возможное количество товара в корзине"></div>
          <input name="send" type="button" max="2" class="bascbutton" value="В КОРЗИНУ" title="Добавить в корзину покупателя" id="42149n" style="z-index:1" />
          <div class="kolvoround2 sclass42149" id="kolvoround42149" style="display:none; z-index:3"></div>
        </div>
      </div>
    </form>
  </div>
  <input type=button class='PTU pn-button' style=margin:15px;  value='Показать все новинки' id=shownewgoods >
</div>

<div id="_hitgoods" class="slpan" style="display:none">
  <div id="hitgoodsadd" style="display:block; clear:both" />
    <form name="form1302" id="form1302" method="post" class="formlotok adativecardtv pcstyle pconly mobileonly">
      <div class="cardtv">
        <div class="product_container">
          <div class="addfav" rel="1302" title="Добавить в избранное"></div>
          <div id="slidingProduct1302" class="sliding_product">
            <img src="misc/hit.png" title="Лидер продаж!" class="newimg png" />
            <div class="skidka" title="Скидка 5%">-5%</div>
            <div class="imgc">
              <a target="_parent" href="">
                <img src="/media/misc/ngerso1506192247.jpg" alt="Аппарат магнитотерапевтический АЛМАГ-01 (Аппарат АЛМАГ)" title="Аппарат магнитотерапевтический АЛМАГ-01 (Аппарат АЛМАГ). Скидка 3% на акционные товары не распространяется!!!. ЕЛАМЕД" border=0 />
              </a>
            </div>
            <div class="notes">
              <a target="_parent" href="">Аппарат магнитотерапевтический АЛМАГ-01 (Аппарат АЛМАГ)</a>
              <div></div>
            </div>
            <a target="_parent" href="" class="white_grad_bottom_css22"></a>
          </div>
        </div>
        <span class="cena">
          <span class=oldprice2>8 818</span>
          <div>8 377</div>
          <span>&#8381;</span>
        </span>
        <input name="kol_val" type="hidden" class="in2" id="i933101" value="1" />
        <div class="bascbut">
          <div id="over1302" class="blok" style="display:none; position:absolute;  width:105px; height:25px; bottom:0; right:0; background:rgba(255,255,255,.5);z-index:2" title="Достигнуто максимальное возможное количество товара в корзине"></div>
          <input name="send" type="button" max="11" class="bascbutton" value="В КОРЗИНУ" title="Добавить в корзину покупателя" id="1302"  style="z-index:1" />
          <div class="kolvoround2 sclass1302" id="kolvoround1302" style="display:none; z-index:3"></div>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="_actions" class="slpan pcstyle">


  <div id="actgoodsadd" style="display:block; clear:both">
    <form name="form33052" id="form33052" method="post" class="formlotok adativecardtv pcstyle pconly mobileonly">
      <div class="cardtv">
        <div class="product_container">
          <div class="addfav" rel="33052" title="Добавить в избранное"></div>
          <div id="slidingProduct33052" class="sliding_product">
            <div class="skidka" title="Скидка 25%">-25%</div>
            <div class="imgc">
              <a target="_parent" href="">
                <img src="/media/misc/hadron1479446959.jpg" alt="Cтельки детские TALUS Зима 51Т ортопедические натуральная шерсть" title="Cтельки детские TALUS Зима 51Т ортопедические натуральная шерсть. Скидка 3% на акционные товары не распространяется!!!. TALUS" border="0" />
              </a>
            </div>
            <div class="notes">
              <a target="_parent" href="">Cтельки детские TALUS Зима 51Т ортопедические натуральная шерсть</a>
              <div></div>
            </div>
            <a target="_parent" href="" class="white_grad_bottom_css22"></a>
          </div>
        </div>
        <span class="cena">
          <span class=oldprice2>562</span>
          <div>421</div>
          <span>&#8381;</span>
        </span>
        <input name="kol_val" type="hidden" class="in2" id="i937725" value="1" />
        <div class="bascbut">
          <a href="" class="bascbuttonku" title="Выбрать дополнительные опции" id="33052">КУПИТЬ</a>
          <div class="kolvoround2 sclass33052" id="kolvoround33052" style="display:none"></div>
        </div>
      </div>
    </form>
  </div>
  <input type="button" class="PTU pn-button" value="Показать все подарки и скидки" style="margin:15px;" id="showactgoods">
</div>


