<div class="boxgroup" style="width:250px; background:#fff; margin-top:30px;">
  <h3>Новости</h3>
  <div id="box" class="sidebar2" style="padding:6px;">
    <div class="news1">
      <ul>
        <li>
          <a class="shortli" href="/show_new.php?id_new=236">Режим работы магазинов в праздничные дни.</a>
          <p class=blok >27 Апреля 2020</p>
        </li>
        <li>
          <a class=shortli href='/show_new.php?id_new=235' >Режим работы магазинов</a>
          <p class=blok >27 Марта 2020</p>
        </li>
        <li>
          <a class=shortli href='/show_new.php?id_new=234' >Режим работы магазинов в праздничные дни.</a>
          <p class=blok >5 Марта 2020</p>
        </li>
        <li>
          <a class=shortli href='/show_new.php?id_new=233' >Режим работы магазинов в праздничные дни.</a>
          <p class=blok >19 Февраля 2020 </p>
        </li>
        <li>
          <a class=shortli href='/show_new.php?id_new=232' >Защита семьи от вирусов!</a>
          <p class=blok >6 Февраля 2020 </p>
        </li>
      </ul>
    </div>
  </div>
</div>