{% load mtags tags flatcontent_tags %}﻿<!doctype html><html class="no-js" lang="en"><head>
{% include "skeleton_header.html" %}
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/media/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/css/font-awesome.min.css">
<link rel="stylesheet" href="/media/css/owl.carousel.css">
<link rel="stylesheet" href="/media/css/animate.min.css">
<link rel="stylesheet" href="/media/css/magnific-popup.css">
<link rel="stylesheet" href="/media/css/style.css">
<link rel="stylesheet" href="/media/css/responsive.css" type="text/css">
<link rel="stylesheet" href="/media/css/custom.css?v=2" type="text/css">
{% block extrahead %}{% endblock %}
</head>
<body data-spy="scroll" data-target="#header-menu">
{% block body %}
  <div class="preloader">
    <div class="preloader-battery">
      <div class="cssload-liquid"></div>
    </div>
  </div>

  <header id="stickey-menu">
    <div class="main-menu">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed custom-toggle" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
                <i class="fa fa-bars fa-lg"></i>
              </button>
              <div class="logo-brand">
                <a href="/">
                  <img src="{% if containers.main.tags.logo.img %}{% imagine containers.main.tags.logo.img '250x150' containers.main.tags.logo.get_folder True %}{% endif %}" alt="{% if containers.main.tags.logo.description %}{{ containers.main.tags.logo.description|textize }}{% endif %}">
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            {% flatmenu request "mainmenu" %}
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if breadcrumbs %}
    <div class="page-header-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header-title">
              <h2>{% block title %}{% if page.title %}{{ page.title }}{% endif %}{% endblock %}</h2>
              <ul class="page-list">
                <li><a href="/">Главная</a></li>
                {% for crumb in breadcrumbs %}
                  {% if forloop.last %}
                    <li>{{ crumb.name }}</li>
                  {% else %}
                    <li><a href="{{ crumb.link }}">{{ crumb.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% block content %}{% endblock %}

  <div class="footer-area section-ptb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="column">
            <div class="widget-title">
              <h3>Контакты</h3>
            </div>
            {% if containers.main.tags.phone.html %}
              <p><i class="fa fa-phone"></i> {{ containers.main.tags.phone.html|safe }}</p>
            {% endif %}
            {% if containers.main.tags.address.html %}
              <p><i class="fa fa-map-marker"></i> {{ containers.main.tags.address.html|safe }}</p>
            {% endif %}
            {% if containers.main.tags.email.html %}
              <p><i class="fa fa-envelope"></i> {{ containers.main.tags.email.html|safe }}</p>
            {% endif %}
            <div class="themeix-social-area">
              {% for block in containers.main.tags.social.sub %}
                <a class="themeix-tool" href="{% if block.link %}{{ block.link }}{% else %}javascript:void(0);{% endif %}" target="_blank">
                  <i class="fa fa-{{ block.icon }}"></i>
                  <div id="colorbox" class="themeix-color {{ block.icon }}-color"></div>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% flatmenu request "othermenu" %}
        <div class="col-sm-6 col-md-3">
          <div class="column">
            <div class="widget-title">
              <h3>Подпишись на новости</h3>
            </div>
            <div class="widget-content">
              <p>Не пропустите наши скидки</p>
              <div class="newsletter">
                <form method="post" action="/feedback/">
                  <input type="email" name="name" placeholder="Ваш Email">
                  <button type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <p class="mar-top">Мы никогда не отправляем спам</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <section id="contact">
    <div class="overlay-color">
      <div class="footer-overlay">
        <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="themeix-footer-bottom">
                <div class="inner-section">
                  <h5><a href="/"><img src="{{ containers.main.tags.logo.thumb }}" alt="{{ containers.main.tags.logo.description }}"></a></h5>
                  {% flatmenu request "bottommenu" %}
                  <h5>{% if containers.main.tags.copyright.html %}{{ containers.main.tags.copyright.html|safe }}{% endif %}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a id="scrollUp" href="#"></a>
{% endblock %}
<script src="/media/js/jquery-1.12.0.min.js"></script>

<script src="/static/js/feedback.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>

<script src="/media/js/bootstrap.min.js"></script>
<script src="/media/js/owl.carousel.min.js"></script>
<script src="/media/js/plugins.js"></script>
<script src="/media/js/scrollUp.min.js"></script>
<script src="/media/js/smooth-scroll.js"></script>
<script src="/media/js/zenith.min.js"></script>
<script src="/media/js/jquery.waterwheelCarousel.min.js"></script>
<script src="/media/js/jquery.magnific-popup.min.js"></script>
<script src="/media/js/main.js?v=2"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("input[type='text'].phone").mask("8(999)9 999-999");
  
    var feedback_form = new FeedBack("contact-form", {
      "wait": "Ждите...",
      //"send": "Отправить",
      "success": "Спасибо. Сообщение отправлено.",
      "progress": "Пожалуйста, ждите...",
      "error": "Произошла ошибка, сообщите нам по телефону",
      "error_captcha": "Не пройдена проверка на работа",
      "callback_success": "",
      "callback_error": "",
      //"dont_reset_on_submit": 1, // or 1
      //"errorClass": "invalid",
    });

  });
</script>
{% block extrascripts %}{% endblock %}
</body>
</html>