<div class="section-sb-current">
  <h3><a href="/cat/">{{ container.name }} <span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
  <ul class="section-sb-list" id="section-sb-list">
    {% for menu in menus %}
      <li class="categ-1{% ifequal request.META.PATH_INFO menu.link %} active{% endifequal %}{% if menu.sub %} has_child{% endif %}">
        <a href="{{ menu.link }}">
          <span class="categ-1-label">{{ menu.name }}</span>
          {% if menu.sub %}
            <span class="section-sb-toggle"><span class="section-sb-ico"></span></span>
          {% endif %}
        </a>
      {% if menu.sub %}
        <ul>
          {% for item in menu.sub %}
            <li class="categ-2">
              <a href="{{ item.link }}">
                <span class="categ-2-label">{{ item.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>