<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="URN:TRIGGER_MARKETING">
    <soapenv:Header/>
    <soapenv:Body>
        <urn:DT_CLAIM_COUNT_RES>
            {% if not finished %}
            <Count>
                <DATE_CREATE>2021-11-03</DATE_CREATE>
                <PRICE_SEG>{{ price_seg }}</PRICE_SEG>
                <COUNT_ID>{{ count }}</COUNT_ID>
            </Count>
            {% endif %}
        </urn:DT_CLAIM_COUNT_RES>
    </soapenv:Body>
</soapenv:Envelope>