{% load mtags %}
{% with ''|installed_apps as apps %}
<ul class="nav">
  <li class="nav-heading">&nbsp;</li>

  {% if 'flatcontent' in apps %}
    {% include "flatcontent_admin_menu.html" %}
  {% endif %}

  {% if 'products' in apps %}
    {% include "products_admin_menu.html" %}
  {% endif %}

  {% if 'shop' in apps %}
    {% include "shop_admin_menu.html" %}
  {% endif %}

  {% if 'personal' in apps %}
    {% include "personal_admin_menu.html" %}
  {% endif %}

  {% if 'files' in apps %}
    {% include "files_admin_menu.html" %}
  {% endif %}

  {% if 'afisha' in apps %}
    {% include "afisha_admin_menu.html" %}
  {% endif %}

  {% if 'spamcha' in apps %}
    {% include "spamcha_admin_menu.html" %}
  {% endif %}

  {% if 'ws' in apps %}
    {% include "ws_admin_menu.html" %}
  {% endif %}

  {% if 'freeswitch' in apps %}
    {% include "freeswitch_admin_menu.html" %}
  {% endif %}

  {% if 'binary_com' in apps %}
    {% include "binary_com_admin_menu.html" %}
  {% endif %}

  {% if 'demonology' in apps %}
    {% include "demonology_admin_menu.html" %}
  {% endif %}

  {% if 'promotion' in apps %}
    {% include "promotion_admin_menu.html" %}
  {% endif %}

  {% if 'yandex' in apps %}
    {% include "yandex_admin_menu.html" %}
  {% endif %}

  {% if 'addresses' in apps %}
    {% include "addresses_admin_menu.html" %}
  {% endif %}

  {% if 'contractors' in apps %}
    {% include "contractors_admin_menu.html" %}
  {% endif %}

  {% include "robots_admin_menu.html" %}
  {% include "jabber_admin_menu.html" %}

  {% include "users_admin_menu.html" %}
  {% include "main_functions_admin_menu.html" %}
</ul>
{% endwith %}
