{% extends "skeleton.html" %}
{% load flatcontent_tags mtags %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
<style type="text/css">
  .fr-pop-tabs {
    height: auto;
  }
  .fr-pop-tabs li {
    float: none;
  }
  p.title {
    font-size: 120%;
    margin-bottom: 20px;
  }
  p.title strong {
    font-weight: bold;
  }
  .form-field {
    margin: 0 0 15px;
  }
  #profile h5.panel-title {
    color: #fff;
    font-size: 20px;
  }
  .faq .panel-default .no-transform .fa {
    -webkit-transform: none;
    transform: none;
    float: none;
  }
  #confirm_phone_button {
    margin: 0;
  }

  table {
    width: 100%;
  }

  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      margin: 0 0 1rem 0;
      padding: 10px;
    }

    tr:nth-child(odd) {
      background: #f0f0f0;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Время"; }
    td:nth-of-type(2):before { content: "Номер"; }
    td:nth-of-type(3):before {
      content: "Запись";
      width: auto;
    }
    td:nth-of-type(3) {
      padding-left: 0;
    }
  }
</style>
{% endblock %}

{% block content %}
<section id="profile">
  <div class="padding-masc">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 faq-text">
          <h3>Добро пожаловать, {{ shopper.name }} в ваш личный кабинет</h3>
          <div class="faq">
            <div class="panel-group" id="accordion">
              <!-- Профиль -->
              <div class="panel panel-default text-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_profile">
                  <div class="panel-heading">
                    <h5 class="panel-title">Ваш профиль
                      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </h5>
                  </div>
                </a>
                <div id="collapse_profile" class="panel-collapse collapse{% if not tab or tab == 'profile' %} in{% endif %}">
                  <div class="panel-body">
                    {% include "web/login/profile_form.html" %}
                  </div>
                </div>
              </div>

              <!-- История звонков -->
              <div class="panel panel-default text-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_call_history">
                  <div class="panel-heading">
                    <h5 class="panel-title">История звонков
                      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </h5>
                  </div>
                </a>
                <div id="collapse_call_history" class="panel-collapse collapse{% if tab == 'calls_history' %} in{% endif %}">
                  <div class="panel-body">

                    <div class="col-md-6">
                      <div class="leave-comment">
                        <div class="row">
                          <div class="col-sm-12 mb-20 text-center">
                            <label>Выберите дату</label>
                            <input placeholder="Выберите дату" type="text" value="{{ today }}" id="user_datepicker">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="leave-comment">
                        <div class="row">
                          <div class="col-sm-12 mb-20 calls_history_container">

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Подтверждение телефона -->
              <div class="panel panel-default text-left">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_confirm_phone">
                  <div class="panel-heading">
                    <h5 class="panel-title">Подтвердить телефон
                      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </h5>
                  </div>
                </a>
                <div id="collapse_confirm_phone" class="panel-collapse collapse{% if tab == 'confirm_phone' %} in{% endif %}">
                  <div class="panel-body">
                    <h3>Ваш телефон: {{ shopper.phone }}</h3>
                    {% if shopper.phone_confirmed %}
                      <div class="col-sm-6 mb-20 text-center no-transform">
                        <label id="confirm_phone_label">Телефон подтвержден</label><br>
                      </div>
                    {% else %}
                      <div class="col-sm-6 mb-20 text-center no-transform">
                        <label id="confirm_phone_label">Телефон не подтвержден</label><br>
                        <button class="btn dwnld-btn playmarket" id="confirm_phone_button"><i class="fa fa-shield"></i> Подтвердить</button>
                      </div>
                      <div class="col-sm-6 mb-20 text-center">
                        <label>Проверочный код</label>
                        <input placeholder="Проверочный код" type="text" id="confirm_phone_field">
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6 text-center">
          <div class="ilustration">
            {% for block in blocks %}
              {% if block.img %}
                <div class="{% cycle 'back' 'front' %}-phone wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s">
                  <div class="iphone-x">
                    <i></i>
                    <b></b>
                    <img src="{% imagine block.img '800x800' block.get_folder True %}" alt="{{ block.name|textize }}" loading="lazy">
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}
{% endblock %}

{% block subscribe %}{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>

<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script src="/static/js/feedback.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var profile = new FeedBack("profile_form", {
      "wait": "Ждите...",
      //"send": "Отправить",
      "success": "Профиль обновлен",
      "progress": "Пожалуйста, ждите...",
      "error": "Произошла ошибка, сообщите нам по телефону",
      "error_captcha": "Не пройдена проверка на работа",
      "callback_success": "",
      "callback_error": "",
      "dont_reset_on_submit": 1, // or 1
      //"errorClass": "invalid",
    });

    $("#confirm_phone_field").keyup(function(){
      var value = $(this).val();
      if(value.length == 4){
        jQuery.ajax({
          async : true,
          type: "GET",
          url: "/confirm_phone/",
          data : "digits=" + value,
          success: function (r){
            if(r['success']){
              $("#confirm_phone_label").html("Телефон подтвержден");
              $("#confirm_phone_button").prop('disabled', true);
              $("#confirm_phone_button").hide();
              $("#confirm_phone_field").prop('disabled', true);
            }
          }
        });
      }
    });

    $("#confirm_phone_button").click(function(){
      var phone = parseInt($("#profile_form .phone").val().replace("(", "").replace(")", "").replace("-", "").replace(" ", ""));
      if(phone.isNaN){
        alert("Телефон введен неправильно");
        return;
      }
      var phone_str = phone + "";
      if(phone_str.length !== 11 || phone_str[0] !== '8' || phone_str[1] !== '9'){
        alert("Телефон введен неправильно");
        return;
      }
      $("#confirm_phone_button").prop('disabled', true);
      jQuery.ajax({
        async : true,
        type: "GET",
        url: "/confirm_phone/",
        data : "phone=" + phone,
        success: function (r){
          console.log(r);
        }
      });
    });

    function get_calls_history(){
      jQuery.ajax({
        async : true,
        type: "GET",
        url: "/calls_history/",
        data : "page=0&date=" + $("#user_datepicker").val(),
        success: function (r){
          if(!r['data']){
            $(".calls_history_container").html("Ничего не найдено");
          }
          var html = '<table>';
          html += '<thead>';
          html += '<tr>';
          html += '<th>Время</th>';
          html += '<th>Номер</th>';
          html += '<th>Запись</th>';
          html += '</tr>';
          html += '</thead>';
          html += '<tbody>';
          for(var i=0; i<r['data']['length']; i++){
            var row = r['data'][i];
            html += '<tr>';
            html += '<td>' + row['created'] + '</td>';
            html += '<td>' + row['dest'] + '</td>';
            html += '<td>';
            html += '<audio controls>';
            html += '<source src="{{ fs_server }}' + row['folder'] + '" type="audio/wav">Нет поддержки аудио';
            html += '</audio>';
            html += '</td>';
            html += '</tr>';
          }
          html += '</tbody>';
          html += '</table>';
          $(".calls_history_container").html(html);
        }
      });
    }

    $("#user_datepicker").datepicker({
      onSelect: function (fd, d, calendar) {
        if(d.length > 1){
          calendar.hide();
        }
        get_calls_history();
        calendar.hide();
        //console.log(fd, d, calendar);
      },
      //position: "left top",
      todayButton: new Date(),
      //timepicker: true,
      range: false,
      multipleDatesSeparator: ' - ',
    });

    get_calls_history();
  });
</script>
{% endblock %}