{% load mtags %}
<div class="container about">
  {% if container.description %}
    <div class="row pt-2">
      <div class="col pl-lg-0 pr-lg-0 pl-md-0 pr-md-0">
        <div class="overflow-hidden mb-3">
          <h2 class="text-12 mb-5 pt-5">
            <span>{{ container.description|safe }}</span>
          </h2>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row mb-2 pt-2">
    {% for block in blocks %}
    <div class="col-md-3 pr-lg-0 pl-md-0 pr-md-0">
      <div class="title mb-4">{{ block.name }}</div>
      <div class="desc">{{ block.html|safe }}</div>
    </div>
    {% endfor %}
    {% if blocks.0.link %}
      <div class="clearfix"></div>
      <div class="col-md-12 pr-lg-0 pl-md-0 pr-md-0">
        <a href="{{ blocks.0.link }}"{% if blocks.0.blank %} target="_blank"{% endif %} class="btn btn-light rounded-0 font-weight-bold hover-animate-icon">{{ blocks.0.description }} <i class="fa fa-arrow-right"></i> </a>
      </div>
    {% endif %}
  </div>
</div>