{% load mtags %}
<section data-id="article4" class="section article4 section-page fp-section bg-black-8">
  {% if container.description %}
    <div class="section-title title-right">
      <h3 class="title">
        {% comment %}<!--<span>ЗАКРАШЕННЫЙ</span>
                         <span class="text-stroke">ОБВОД</span>
        -->{% endcomment %}
        <span class="text-stroke">{{ container.description|safe }}</span>
      </h3>
    </div>
  {% endif %}

  <div class="section-content align-x-center align-y-center anim">
    <div class="width-large mb-5">
      <div class="row no-gutters">

        {% for block in blocks %}
          <div class="row">
            {% if not forloop.counter|divisibleby:"2" %}
              <div class="col-md-6 order-md-2 mb-4 mb-lg-0">
                <img src="{% imagine block.img '800x600' block.get_folder True %}" class="img-fluid" alt="{{ block.name|textize }}" loading="lazy">
              </div>
            {% endif %}
            <div class="col-md-6 order-2">
              <h2 class="mb-3 pt-3 pb-3 mt-3">{{ block.name }}</h2>
              {% if block.html %}
                <div class="fs-1">{{ block.html|safe }}</div>
              {% endif %}
              {% if block.link %}
                <a class="btn btn-order mt-5" href="{{ block.link }}">
                  <span class="text">Заказать</span>
                  <span class="fa fa-shopping-cart">
                    <span class="arrow-right"></span>
                  </span>
                </a>
              {% endif %}
            </div>
            {% if forloop.counter|divisibleby:"2" %}
              <div class="col-md-6 order-md-2 mb-4 mb-lg-0">
                <img src="{% imagine block.img '800x600' block.get_folder True %}" class="img-fluid" alt="{{ block.name|textize }}" loading="lazy">
              </div>
            {% endif %}
          </div>
        {% endfor %}

        <div class="col-12 col-lg-6 d-flex min-h-full"></div>
      </div>

    </div>
  </div>

</section>