{% load mtags %}
<section data-id="call_to_action2" class="section section-page call_to_action2">
  <div class="section-cover"></div>
  <div class="section-margin anim">

    {% if container.description %}
      <div class="section-header align-x-center">
        <div class="h-content width-medium">
          <h2 class="h-title font-title anim-1 text-center">
            {{ container.description|safe }}
          </h2>
        </div>
      </div>
    {% endif %}
    {% for block in blocks %}
      <div class="section-content align-x-center">
        <div class="c-wrapper width-medium text-wrapper">

          <div class="row gutters text-center">
            <div class="col-12 col-lg-12">
              {% if block.img %}
                <div class="content-text anim-2 text-center mb-4">
                  <img src="{% imagine block.img '600x600' block.get_folder True %}" />
                </div>
              {% endif %}
              {% if block.html %}
                <div class="content-text anim-2">
                  {{ block.html|safe }}
                </div>
              {% endif %}

              <div class="text-center mt-4">
                <a class="btn btn-order fancybox_form" href="#any_order_form">
                 <span class="text">{{ block.description }}</span>
                    <span class="fa fa-shopping-cart">
                    <span class="arrow-right"></span>
                  </span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="section-footer"></div>

  <div class="hidden">
    <div id="any_order_form">
      <form action="/feedback/" method="POST" id="confirm_any_order" class="checkout-form">
        <input type="hidden" name="product_id" value="{{ product.id }}" />
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="mb-1 text-2">Ваше имя</label>
            <input type="text" value="" class="form-control text-3 h-auto py-2 required" name="name" data-msg="Ваше имя">
          </div>
          <div class="form-group col-md-6">
            <label class="mb-1 text-2">Телефон</label>
            <input type="text" value="" class="form-control text-3 h-auto py-2 required" name="phone" data-msg="Ваш телефон">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 mb-4">
            <label class="mb-1 text-2">Напишите, что вы хотите заказать?</label>
            <textarea rows="6" class="form-control text-3 h-auto py-2" name="msg">Хочу заказать деталь:</textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <hr>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 feedback_alerts">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 mb-5">
            <input type="submit" id="contactFormSubmit" value="Заказать" class="btn btn-primary btn-modern pull-right">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>