{% load tags mtags %}
{% with request|load_dealers as countries %}
<section data-id="dealers" class="section dealers section-page" id="dealers_title">

  {% if container.description %}
    <div class="section-title title-right">
      <h3 class="title">
        {% comment %}<!--<span>ЗАКРАШЕННЫЙ</span>
                         <span class="text-stroke">ОБВОД</span>
        -->{% endcomment %}
        <span class="text-stroke">{{ container.description|safe }}</span>
      </h3>
    </div>
  {% endif %}

  <div class="section-content">
    <div class=" mb-5">
      <div class="row no-gutters">

        <div class="col-lg-8">
          <div id="mapContainer"></div>
        </div>

        <div class="col-lg-4 pl-lg-3 pr-lg-3">
          <div class="form-group col-md-12 pr-lg-0 pl-lg-0">
            <div class="custom_select">
              <select id="search_dealer_select" autocomplete="off">
                <option value="">Все</option>
                {% for country in countries %}
                  <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
              </select>
            </div>
{% comment %}<!--
            <input type="text" value="" class="form-control form-control-lg py-2" placeholder="Поиск по дилеру" id="search_dealer_field">
-->{% endcomment %}
          </div>
          <div class="dcenters">
          {% for country in countries %}
            <div class="country_row mb-4" id="country_row_{{ country.id }}">
              <div class="title fs-1-2">{{ country.name }}</div>
            </div>
            {% for dealer in country.dealers %}
              <div class="px-3 py-3 dealer_row {% cycle 'even' 'odd' %}{% if dealer.class_name %} {{ dealer.class_name }}{% endif %}" id="dealer_row_{{ dealer.id }}">
                <div class="name mb-2 pr-3">{{ dealer.name }}</div>
                {% if dealer.address %}
                  <div class="address mb-2 pr-3">
                    <div class="label">Адрес</div>
                    <div class="desc"><a id="dealer_address_{{ dealer.id }}" href="javascript:void(0);">{{ dealer.address|safe }}</a></div>
                  </div>
                {% endif %}
                {% if dealer.worktime %}
                  <div class="worktime mb-2 pr-3">
                    <div class="label">Время работы</div>
                    <div class="desc">{{ dealer.worktime|safe }}</div>
                  </div>
                {% endif %}
                {% if dealer.site %}
                  <div class="site mb-2">
                    <div class="label">Сайт</div>
                    <div class="desc">{{ dealer.site|safe }}</div>
                  </div>
                {% endif %}
                {% if dealer.phone %}
                  <div class="phone mb-2">
                    <div class="label">Телефон</div>
                    <div class="desc">{{ dealer.phone|safe }}</div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  var mapContainer_points = Array();
  {% for country in countries %}
    {% for dealer in country.dealers %}
      {% if dealer.coords %}
        mapContainer_points.push({
          "type": "Feature",
          "id": "{{ dealer.id }}",
          "geometry": {
            "type": "Point",
            "coordinates": [{{ dealer.coords.0 }}, {{ dealer.coords.1 }}],
          },
          "properties": {
            "balloonContent": "<strong>{{ dealer.name|textize }}</strong><br>{{ dealer.address|textize }}{% if dealer.phone %}<br>{{ dealer.phone|replace_quotes|safe }}{% endif %}{% if dealer.worktime %}{{ dealer.worktime|replace_quotes|safe }}<br>{% endif %}{% if dealer.site %}{{ dealer.site|replace_quotes|safe }}{% endif %}{% if dealer.email %}{{ dealer.email|replace_quotes|safe }}{% endif %}",
            "clusterCaption": "Дилеры",
            "hintContent": "{{ dealer.address|textize }}",
          },
          "terms": "{{ country.name }} {{ dealer.name }} {{ dealer.address|textize }} {{ dealer.phone|htmlless }}".toLowerCase(),
          "country_id": "{{ country.id }}",
        });
      {% endif %}
    {% endfor %}
  {% endfor %}
</script>

<section data-id="dealers-end" class="section dealers-end section-page">
</section>
{% endwith %}