{% load mtags %}
<section data-id="imagepage" class="section imagepage section-page">
  {% for block in blocks %}
    <a class="slide-bg" href="{% if block.link %}{{ block.link }}{% else %}javascript:void(0);{% endif %}">
      <img class="img-block" alt="{{ block.name|textize }}" src="{% imagine block.img '1920x1080' block.get_folder True %}" loading="lazy">
    </a>
  {% endfor %}

  <div class="section-footer section-footer-a  d-none d-lg-block ">
    <div class="footer-right mr-4">
      <a class="btn btn-line-b scroll down px-0 py-0" href="#">
        <span class="text">Дальше</span>
        <span class="icon icon-menu icon-arrow-a icon-anim">
          <span class="arrow-down"></span>
        </span>
      </a>
    </div>
  </div>
</section>
