{% load mtags %}
<section data-id="newspage" class="section section-page newspage">

  <div class="anim">
    {% if container.description %}
      <div class="section-header align-x-center mt-5 pt-5">
        <div class="h-content w-full text-center">
          <h2 class="h-title font-title anim-1 news pb-0 text-gray-3">
            {{ container.description|safe }}
          </h2>
        </div>
      </div>
    {% endif %}

    <div class="section-content align-x-center pb-4">
      <div class="c-wrapper anim-3">
        <div class="row">
          {% for block in blocks %}
            <div class="col-12{% if block.tag %} col-md-6{% else %} col-md-3{% endif %}">
              <div class="item-service-a">
                <div class="item-content item-grid-c">
                  <div class="item-img mt-4 rounded-border">
                    <img class="img" src="{% imagine block.img '800x600' block.get_folder True %}" alt="{{ block.name|textize }}">
                    <div class="img-footer mask-gradient-black text-left">
                      <h3 class="title">{{ block.name }}</h3>
                      {% if block.html %}
                        <div class="i-text">
                          {{ block.html|safe }}
                        </div>
                      {% endif %}
                      {% if block.link %}
                        <a class="btn btn-line-a" href="{{ block.link }}">
                          <span class="text">{{ block.description }}</span>
                          <span class="icon icon-menu icon-arrow-a icon-anim">
                            <span class="arrow-right"></span>
                          </span>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
