{% load mtags %}
<section data-id="sliderpage" class="section section-slide fullsize-slide section-page fp-auto-height-responsive">
  <div class="slide-size">
    <div class="section-slides slider-b swiper-container anim">
      <div class="swiper-wrapper slider-wrapper">
        {% for block in blocks %}
          <div class="swiper-slide slide-item">
            <div class="slide-b slide-anim fullscreen-slide content-top">
              <div class="slide-bg fade-1">
                <img class="img-block" alt="{{ block.name|textize }}" src="{% imagine block.img '1920x1080' block.get_folder True %}" loading="lazy">
              </div>
              <div class="slide-title title-right">
                <h3 class="title">
                  <span class="text-stroke">{{ forloop.counter }}</span>
                </h3>
              </div>
              <div class="slide-content">
                <div class="c-wrapper width-medium flex-col flex-full">
                  <div class="row no-gutters flex-full">
                    <div class="col col-12 col-lg-6 content-center">
                      <div class="slide-text">
                        {% if block.name %}
                          <div class="s-header anim-1">
                            <h2 class="s-title font-title">
                              {{ block.name }}
                            </h2>
                          </div>
                        {% endif %}
                        <div class="s-text anim-2">
{% comment %}<!--
                          <h4 class="s-subtitle font-title">Подзаголовок</h4>
-->{% endcomment %}
                          {% if block.html %}
                            <div>{{ block.html|safe }}</div>
                          {% endif %}
                          {% if block.link %}
                            <a class="btn btn-line-a mt-5" href="{{ block.link }}">
                              <span class="text text-uppercase">{{ block.description }}</span>
                              <span class="icon icon-menu icon-arrow-a icon-anim">
                                <span class="arrow-right"></span>
                              </span>
                            </a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="slider-arrow">
        <a class="slider-prev btn btn-line-b slider-btn-top" href="#">
          <span class="icon icon-menu icon-arrow-a icon-anim">
            <span class="arrow-left"></span>
          </span>
          <span class="text">Пред</span>
        </a>
        <a class="slider-next btn btn-line-b" href="#">
          <span class="text">След</span>
          <span class="icon icon-menu icon-arrow-a icon-anim">
            <span class="arrow-right"></span>
          </span>
        </a>
      </div>

      <!-- pagination -->
      <div class="slider-pagination swiper-pagination"></div>

    </div>
  </div>

  <div class="section-footer section-footer-a  d-none d-lg-block ">
    <div class="footer-right mr-4">
      <a class="btn btn-line-b scroll down px-0 py-0" href="#">
        <span class="text">Дальше</span>
        <span class="icon icon-menu icon-arrow-a icon-anim">
          <span class="arrow-down"></span>
        </span>
      </a>
    </div>
  </div>
</section>
