{% extends "skeleton.html" %}
{% load tags mtags %}

{% block extracontent %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-xxl-10">
      <nav class="toolbox">
        <div class="toolbox-left">
          <div class="toolbox-item toolbox-sort">
            <div class="select-custom">
              <select name="orderby" class="form-control" id="set_sort_by">
                <option selected="selected" value="">Без сортировки</option>
                <option value="price"{% ifequal q_string.q.sort 'price' %} selected{% endifequal %}>Цена по возрастанию</option>
                <option value="-price"{% ifequal q_string.q.sort '-price' %} selected{% endifequal %}>Цена по убыванию</option>
              </select>
            </div>
          </div>
        </div>
{% comment %}<!--
        <div class="layout-modes">
          <a href="javascript:void(0);" class="layout-btn btn-grid active" title="Сетка" id="gridview">
            <i class="icon-mode-grid"></i>
          </a>
          <a href="javascript:void(0);" class="layout-btn btn-list" title="Список" id="listview">
            <i class="icon-mode-list"></i>
          </a>
        </div>
-->{% endcomment %}
      </nav>
      <div class="row row-sm">
        {% for product in products %}
          <div class="col-6 col-md-4 col-xl-5col">
            <div class="product-default inner-quickview inner-icon">
              <figure>
                <a href="{{ product.link }}">
                  <img src="{% imagine product.img '300x300' product.get_folder True %}">
                </a>
{% comment %}<!--
                <div class="label-group">
                  <div class="product-label label-cut">-20%</div>
                </div>
-->{% endcomment %}
                <div class="btn-icon-group">
                  <button class="btn-icon btn-add-cart add_to_cart_btn" data-product_id="{{ product.id }}" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                </div>
<!--
                <a href="javascript:void(0);" class="btn-quickview" title="Быстрый просмотр">Быстрый просмотр</a>
-->
              </figure>
              <div class="product-details">
                <div class="category-wrap">
{% comment %}<!--
                  <div class="category-list">
                    <a href="category.html" class="product-category">category</a>
                  </div>

                  <a href="javascript:void(0);" class="btn-icon-wish"><i class="icon-heart"></i></a>
-->{% endcomment %}
                </div>
                <h2 class="product-title">
                  <a href="{{ product.link }}">{{ product.name }}</a>
                </h2>
                <div class="ratings-container">
                  <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                  </div>
                </div>
                <div class="price-box">
                  {% if product.old_price %}<span class="old-price">{{ product.old_price|money_format }} ₽</span>{% endif %}
                  <span class="product-price">{{ product.price|money_format }} ₽</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="clearfix"></div>
      </div>
      {% if paginator %}{{ paginator|safe }}{% endif %}
    </div>
    <aside class="sidebar-shop col-lg-3 col-xxl-2 order-lg-first">
      <div class="sidebar-wrapper">
        {% sidebar_cats request %}
{% comment %}<!--
        {% if cost_filter %}
        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">Цена</a>
          </h3>
          <div class="collapse show" id="widget-body-2">
            <div class="widget-body">
              <div class="price-slider-wrapper">
                <div id="price-slider2"></div>
              </div>
              <div class="filter-price-action">
                <button type="submit" class="btn btn-primary">Фильтр</button>
                <div class="filter-price-text">
                  <span id="filter-price-range"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">Size</a>
          </h3>
          <div class="collapse show" id="widget-body-3">
            <div class="widget-body">
              <ul class="config-size-list">
                <li><a href="#">S</a></li>
                <li class="active"><a href="#">M</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">XL</a></li>
                <li><a href="#">2XL</a></li>
                <li><a href="#">3XL</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true" aria-controls="widget-body-4">Brands</a>
          </h3>
          <div class="collapse show" id="widget-body-4">
            <div class="widget-body">
              <ul class="cat-list">
                <li><a href="#">Adidas <span>18</span></a></li>
                <li><a href="#">Camel <span>22</span></a></li>
                <li><a href="#">Seiko <span>05</span></a></li>
                <li><a href="#">Samsung Galaxy <span>68</span></a></li>
                <li><a href="#">Sony <span>03</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-6" role="button" aria-expanded="true" aria-controls="widget-body-6">Color</a>
          </h3>
          <div class="collapse show" id="widget-body-6">
            <div class="widget-body">
              <ul class="config-swatch-list">
                <li><a href="#" style="background-color: #4090d5;"></a></li>
                <li class="active"><a href="#" style="background-color: #f5494a;"></a></li>
                <li><a href="#" style="background-color: #fca309;"></a></li>
                <li><a href="#" style="background-color: #11426b;"></a></li>
                <li><a href="#" style="background-color: #f0f0f0;"></a></li>
                <li><a href="#" style="background-color: #3fd5c9;"></a></li>
                <li><a href="#" style="background-color: #979c1c;"></a></li>
                <li><a href="#" style="background-color: #7d5a3c;"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="widget widget-block">
          <h3 class="widget-title">Custom HTML Block</h3>
          <h5>This is a custom sub-title.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mi. </p>
        </div>
-->{% endcomment %}
      </div>
    </aside>
  </div>
</div>
{% endblock %}

{% block extrascripts %}

{% if search_terms %}
<script type="text/javascript" src="/static/js/jquery.mark.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".product-title a").mark('{% for search_term in search_terms %}{% if not forloop.first %} {% endif %}{{ search_term }}{% endfor %}', {
      'accuracy': 'complementary',
    });
  });
</script>
{% endif %}

<script type="text/javascript" src="/media/js/nouislider.min.js"></script>
<script type="text/javascript">
  function rebuild_url(new_param, new_value){
    var new_params = [];
    var new_param_in_url = false;
    var params = decodeURIComponent(location.search.substr(1)).split("&");
    var is_empty_params = params.length == 1 && params[0] == ""
    if(!is_empty_params){
      for(var i=0; i<params.length; i++){
        var param = params[i].split("=");
        if(param[0] === new_param){
          new_param_in_url = true;
          if(new_value !== ""){
            new_params.push(new_param + "=" + new_value);
          }
        }else{
          new_params.push(param[0] + "=" + param[1]);
        }
      }
    }
    if(!new_param_in_url){
      if(new_value !== ""){
        new_params.push(new_param + "=" + new_value);
      }
    }
    return new_params.join("&");
  }

  $(document).ready(function(){
    //console.log(rebuild_url("sort", "default"));

    {% if cost_filter and cost_filter.min and cost_filter.max %}
      var slider = document.getElementById('price-slider2');
      noUiSlider.create(slider, {
        start: [{{ cost_filter.min }}, {{ cost_filter.max }}],
        connect: true,
        range: {
            'min': 0,
            'max': {{ cost_filter.max }}
        }
      });
    {% endif %}

    $("#set_sort_by").change(function(){
      var type = $(this).val();
      var new_url = rebuild_url("sort", type);
      if(decodeURIComponent(location.search.substr(1)) !== new_url){
        window.location.href = "{{ request.META.PATH_INFO }}?" + new_url;
      }
    });

    $("#set_count_by li a").click(function(){
      var count = $(this).attr("data-value");
      var new_url = rebuild_url("by", count);
      if(decodeURIComponent(location.search.substr(1)) !== new_url){
        window.location.href = "{{ request.META.PATH_INFO }}?" + new_url;
      }
    });

    $("#gridview").click(function(){
      $("#listview").removeClass("active");
      //$(".prod-items.listview").addClass("hidden");
      //$(".prod-items.tableview").addClass("hidden");
      //$(".prod-items.gridview").removeClass("hidden");
      $("#gridview").addClass("active");
    });
    $("#listview").click(function(){
      $("#gridview").removeClass("active");
      //$(".prod-items.gridview").addClass("hidden");
      //$(".prod-items.tableview").addClass("hidden");
      //$(".prod-items.listview").removeClass("hidden");
      $("#listview").addClass("active");
    });

  });
</script>
{% endblock %}
