

                <!-- PAGE -->
                <section class="page-section">
                    <div class="container">
                        <div class="message-box">
                            <div class="message-box-inner">
                                <h2>Free shipping on all orders over $45</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /PAGE -->

                <!-- PAGE -->
                <section class="page-section">
                    <div class="container">
                        
<h2 class="section-title">
<span>Top Rated Products
</span>
</h2>
                        <div class="top-products-carousel">
                            <div class="owl-carousel" id="top-products-carousel">
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="/media/misc/top-rated-1.jpg" alt=""/>
                                            
<span class="icon-view">
<strong>
<i class="fa fa-eye">
</i>
</strong>
</span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        
<h4 class="caption-title">
<a href="product-details.html">Standard Product Header
</a>
</h4>
                                        <div class="rating">
                                            
<span class="star">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            --><span class="star active"></span>
                                        </div>
                                        
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        <div class="buttons">
                                            
<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#">
<i class="fa fa-heart">
</i>
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent btn-compare" href="#">
<i class="fa fa-exchange">
</i>
</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="/media/misc/top-rated-2.jpg" alt=""/>
                                            
<span class="icon-view">
<strong>
<i class="fa fa-eye">
</i>
</strong>
</span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        
<h4 class="caption-title">
<a href="product-details.html">Standard Product Header
</a>
</h4>
                                        <div class="rating">
                                            
<span class="star">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            --><span class="star active"></span>
                                        </div>
                                        
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        <div class="buttons">
                                            
<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#">
<i class="fa fa-heart">
</i>
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent btn-compare" href="#">
<i class="fa fa-exchange">
</i>
</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="/media/misc/top-rated-3.jpg" alt=""/>
                                            
<span class="icon-view">
<strong>
<i class="fa fa-eye">
</i>
</strong>
</span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        
<h4 class="caption-title">
<a href="product-details.html">Standard Product Header
</a>
</h4>
                                        <div class="rating">
                                            
<span class="star">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            --><span class="star active"></span>
                                        </div>
                                        
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        <div class="buttons">
                                            
<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#">
<i class="fa fa-heart">
</i>
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent btn-compare" href="#">
<i class="fa fa-exchange">
</i>
</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="/media/misc/top-rated-4.jpg" alt=""/>
                                            
<span class="icon-view">
<strong>
<i class="fa fa-eye">
</i>
</strong>
</span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        
<h4 class="caption-title">
<a href="product-details.html">Standard Product Header
</a>
</h4>
                                        <div class="rating">
                                            
<span class="star">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            --><span class="star active"></span>
                                        </div>
                                        
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        <div class="buttons">
                                            
<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#">
<i class="fa fa-heart">
</i>
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent btn-compare" href="#">
<i class="fa fa-exchange">
</i>
</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="/media/misc/top-rated-5.jpg" alt=""/>
                                            
<span class="icon-view">
<strong>
<i class="fa fa-eye">
</i>
</strong>
</span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        
<h4 class="caption-title">
<a href="product-details.html">Standard Product Header
</a>
</h4>
                                        <div class="rating">
                                            
<span class="star">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            --><span class="star active"></span>
                                        </div>
                                        
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        <div class="buttons">
                                            
<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#">
<i class="fa fa-heart">
</i>
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent btn-compare" href="#">
<i class="fa fa-exchange">
</i>
</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="/media/misc/top-rated-6.jpg" alt=""/>
                                            
<span class="icon-view">
<strong>
<i class="fa fa-eye">
</i>
</strong>
</span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        
<h4 class="caption-title">
<a href="product-details.html">Standard Product Header
</a>
</h4>
                                        <div class="rating">
                                            
<span class="star">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            --><span class="star active"></span>
                                        </div>
                                        
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        <div class="buttons">
                                            
<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#">
<i class="fa fa-heart">
</i>
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent btn-compare" href="#">
<i class="fa fa-exchange">
</i>
</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="/media/misc/top-rated-1.jpg" alt=""/>
                                            
<span class="icon-view">
<strong>
<i class="fa fa-eye">
</i>
</strong>
</span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        
<h4 class="caption-title">
<a href="product-details.html">Standard Product Header
</a>
</h4>
                                        <div class="rating">
                                            
<span class="star">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            --><span class="star active"></span>
                                        </div>
                                        
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        <div class="buttons">
                                            
<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#">
<i class="fa fa-heart">
</i>
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent btn-compare" href="#">
<i class="fa fa-exchange">
</i>
</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/shop/product-1-big.jpg">
                                            <img src="/media/misc/top-rated-2.jpg" alt=""/>
                                            
<span class="icon-view">
<strong>
<i class="fa fa-eye">
</i>
</strong>
</span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        
<h4 class="caption-title">
<a href="product-details.html">Standard Product Header
</a>
</h4>
                                        <div class="rating">
                                            
<span class="star">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            -->
<span class="star active">
</span>
<!--
                                            --><span class="star active"></span>
                                        </div>
                                        
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        <div class="buttons">
                                            
<a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#">
<i class="fa fa-heart">
</i>
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart
</a>
<!--
                                            -->
<a class="btn btn-theme btn-theme-transparent btn-compare" href="#">
<i class="fa fa-exchange">
</i>
</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /PAGE -->

                <!-- PAGE -->
                <section class="page-section">
                    <div class="container">
                        
<a class="btn btn-theme btn-title-more btn-icon-left" href="#">
<i class="fa fa-file-text-o">
</i>See All Posts
</a>
                        
<h2 class="block-title">
<span>Our Recent posts
</span>
</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="recent-post">
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/recent-post-1.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<p class="media-category">
<a href="#">Shoes
</a> / 
<a href="#">Dress
</a>
</p>
                                            
<h4 class="media-heading">
<a href="#">Standard Post Comment Header Here
</a>
</h4>
                                            Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante.
                                            <div class="media-meta">
                                                6th June 2014
                                                
<span class="divider">/
</span>
<a href="#">
<i class="fa fa-comment">
</i>27
</a>
                                                
<span class="divider">/
</span>
<a href="#">
<i class="fa fa-heart">
</i>18
</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="recent-post">
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/recent-post-2.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<p class="media-category">
<a href="#">Wedding
</a> / 
<a href="#">Meeting
</a>
</p>
                                            
<h4 class="media-heading">
<a href="#">Standard Post Comment Header Here
</a>
</h4>
                                            Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante.
                                            <div class="media-meta">
                                                6th June 2014
                                                
<span class="divider">/
</span>
<a href="#">
<i class="fa fa-comment">
</i>27
</a>
                                                
<span class="divider">/
</span>
<a href="#">
<i class="fa fa-heart">
</i>18
</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="recent-post">
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/recent-post-3.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<p class="media-category">
<a href="#">Children
</a> / 
<a href="#">Kids
</a>
</p>
                                            
<h4 class="media-heading">
<a href="#">Standard Post Comment Header Here
</a>
</h4>
                                            Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante.
                                            <div class="media-meta">
                                                6th June 2014
                                                
<span class="divider">/
</span>
<a href="#">
<i class="fa fa-comment">
</i>27
</a>
                                                
<span class="divider">/
</span>
<a href="#">
<i class="fa fa-heart">
</i>18
</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="recent-post">
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/recent-post-4.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<p class="media-category">
<a href="#">Man
</a> / 
<a href="#">Accessories
</a>
</p>
                                            
<h4 class="media-heading">
<a href="#">Standard Post Comment Header Here
</a>
</h4>
                                            Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante.
                                            <div class="media-meta">
                                                6th June 2014
                                                
<span class="divider">/
</span>
<a href="#">
<i class="fa fa-comment">
</i>27
</a>
                                                
<span class="divider">/
</span>
<a href="#">
<i class="fa fa-heart">
</i>18
</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /PAGE -->

                <!-- PAGE -->
                <section class="page-section">
                    <div class="container">
                        
<h2 class="section-title">
<span>Brand &amp; Clients
</span>
</h2>
                        <div class="partners-carousel">
                            <div class="owl-carousel" id="partners">
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                                
<div>
<a href="#">
<img src="/media/misc/brand-logo.jpg" alt=""/>
</a>
</div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /PAGE -->

                <!-- PAGE -->
                <section class="page-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="product-list">
                                    <a class="btn btn-theme btn-title-more" href="#">See All</a>
                                    
<h4 class="block-title">
<span>Top Sellers
</span>
</h4>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-1.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-2.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-3.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-list">
                                    <a class="btn btn-theme btn-title-more" href="#">See All</a>
                                    
<h4 class="block-title">
<span>Top Accessories
</span>
</h4>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-4.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-5.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-6.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-list">
                                    <a class="btn btn-theme btn-title-more" href="#">See All</a>
                                    
<h4 class="block-title">
<span>Top Newest
</span>
</h4>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-7.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-8.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left media-link" href="#">
                                            <img class="media-object" src="/media/misc/top-sellers-9.jpg" alt="">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="media-body">
                                            
<h4 class="media-heading">
<a href="#">Standard Product Header
</a>
</h4>
                                            <div class="rating">
                                                
<span class="star">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                -->
<span class="star active">
</span>
<!--
                                                --><span class="star active"></span>
                                            </div>
                                            
<div class="price">
<ins>$400.00
</ins> 
<del>$425.00
</del>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /PAGE -->

                <!-- PAGE -->
                <section class="page-section no-padding-top">
                    <div class="container">
                        <div class="row blocks shop-info-banners">
                            <div class="col-md-4">
                                <div class="block">
                                    <div class="media">
                                        
<div class="pull-right">
<i class="fa fa-gift">
</i>
</div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Buy 1 Get 1</h4>
                                            Proin dictum elementum velit. Fusce euismod consequat ante.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block">
                                    <div class="media">
                                        
<div class="pull-right">
<i class="fa fa-comments">
</i>
</div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Call to Free</h4>
                                            Proin dictum elementum velit. Fusce euismod consequat ante.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block">
                                    <div class="media">
                                        
<div class="pull-right">
<i class="fa fa-trophy">
</i>
</div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Money Back!</h4>
                                            Proin dictum elementum velit. Fusce euismod consequat ante.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /PAGE -->