
@font-face{
  font-family:'Funtya';
  src:url('funtya.ttf');
  font-weight:normal;
  font-style:normal
}
.fu{
  display:inline-block;
  font:normal normal normal 14px/1 Funtya;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
i.fu {
  font-size: 28px !important;
}.fu-passport:before{content:"\370"} 
.fu-blood:before{content:"\371"} 
.fu-grocery_stores:before{content:"\372"} 
.fu-oncologist:before{content:"\373"} 
.fu-straw2:before{content:"\374"} 
.fu-solarium:before{content:"\375"} 
.fu-amusement_park:before{content:"\376"} 
.fu-meat:before{content:"\377"} 
.fu-investment:before{content:"\378"} 
.fu-conference:before{content:"\379"} 
.fu-sport:before{content:"\380"} 
.fu-law23:before{content:"\381"} 
.fu-roller_skate:before{content:"\382"} 
.fu-hunting:before{content:"\383"} 
.fu-socials:before{content:"\384"} 
.fu-varicose_veins:before{content:"\385"} 
.fu-bee:before{content:"\386"} 
.fu-equipment:before{content:"\387"} 
.fu-cargo_ship:before{content:"\388"} 
.fu-beverages:before{content:"\389"} 
.fu-straw:before{content:"\390"} 
.fu-allergy:before{content:"\391"} 
.fu-plastic_surgery:before{content:"\392"} 
.fu-carwash:before{content:"\393"} 
.fu-hydro_power:before{content:"\394"} 
.fu-jeans:before{content:"\395"} 
.fu-sauna:before{content:"\396"} 
.fu-virus:before{content:"\397"} 
.fu-house:before{content:"\398"} 
.fu-bed:before{content:"\399"} 
.fu-bathroom:before{content:"\400"} 
.fu-body_massage:before{content:"\401"} 
.fu-emergency_call:before{content:"\402"} 
.fu-eggs:before{content:"\403"} 
.fu-surgeon:before{content:"\404"} 
.fu-bean_bag:before{content:"\405"} 
.fu-sex:before{content:"\406"} 
.fu-lesson:before{content:"\407"} 
.fu-steering_wheel:before{content:"\408"} 
.fu-stool:before{content:"\409"} 
.fu-information:before{content:"\410"} 
.fu-physical_education:before{content:"\411"} 
.fu-tools:before{content:"\412"} 
.fu-section:before{content:"\413"} 
.fu-electrical_appliance:before{content:"\414"} 
.fu-sugar_cube:before{content:"\415"} 
.fu-olive_oil:before{content:"\416"} 
.fu-deal:before{content:"\417"} 
.fu-music_equipment:before{content:"\418"} 
.fu-emergency:before{content:"\419"} 
.fu-medicine:before{content:"\420"} 
.fu-fishing:before{content:"\421"} 
.fu-safety:before{content:"\422"} 
.fu-carservice:before{content:"\423"} 
.fu-spices:before{content:"\424"} 
.fu-beer:before{content:"\425"} 
.fu-kidneys:before{content:"\426"} 
.fu-translate:before{content:"\427"} 
.fu-chopshop:before{content:"\428"} 
.fu-disabled_people:before{content:"\429"} 
.fu-cmyk:before{content:"\430"} 
.fu-butterfly:before{content:"\431"} 
.fu-umbrella:before{content:"\432"} 
.fu-optical:before{content:"\433"} 
.fu-butter:before{content:"\434"} 
.fu-car_parts:before{content:"\435"} 
.fu-gym:before{content:"\436"} 
.fu-food_delivery:before{content:"\437"} 
.fu-restaurant:before{content:"\438"} 
.fu-car_alarm:before{content:"\439"} 
.fu-ideas:before{content:"\440"} 
.fu-high_heels:before{content:"\441"} 
.fu-barbel:before{content:"\442"} 
.fu-shark:before{content:"\443"} 
.fu-healthcare:before{content:"\444"} 
.fu-smartphone:before{content:"\445"} 
.fu-builder:before{content:"\446"} 
.fu-tire_workshops:before{content:"\447"} 
.fu-inflatable_castle:before{content:"\448"} 
.fu-running_horse_with_racer_and_saddle_outline:before{content:"\449"} 
.fu-drugs:before{content:"\450"} 
.fu-color_palette:before{content:"\451"} 
.fu-pulmonology:before{content:"\452"} 
.fu-attic:before{content:"\453"} 
.fu-chemistry:before{content:"\455"} 
.fu-ticket2:before{content:"\456"} 
.fu-cupboard:before{content:"\457"} 
.fu-goods:before{content:"\458"} 
.fu-ticket:before{content:"\459"} 
.fu-baby_shoes:before{content:"\460"} 
.fu-trucking:before{content:"\461"} 
.fu-atm_machine:before{content:"\462"} 
.fu-red_blood_cells:before{content:"\463"} 
.fu-lease:before{content:"\464"} 
.fu-policeman:before{content:"\465"} 
.fu-parking_short:before{content:"\466"} 
.fu-lawn_mower:before{content:"\467"} 
.fu-notary:before{content:"\468"} 
.fu-liver:before{content:"\469"} 
.fu-dry_cleaning:before{content:"\470"} 
.fu-dental_implant:before{content:"\471"} 
.fu-pay_per_click:before{content:"\472"} 
.fu-lenins_mausoleum:before{content:"\473"} 
.fu-coffee_machine:before{content:"\474"} 
.fu-bunny:before{content:"\475"} 
.fu-services:before{content:"\476"} 
.fu-pet_brush:before{content:"\477"} 
.fu-books:before{content:"\478"} 
.fu-swimmer:before{content:"\479"} 
.fu-bike:before{content:"\480"} 
.fu-piercing:before{content:"\481"} 
.fu-blood_bag:before{content:"\482"} 
.fu-breast_cancer:before{content:"\483"} 
.fu-motorbike:before{content:"\484"} 
.fu-car_repair2:before{content:"\485"} 
.fu-car_repair3:before{content:"\486"} 
.fu-electric_car:before{content:"\487"} 
.fu-parking2:before{content:"\488"} 
.fu-lego:before{content:"\489"} 
.fu-service:before{content:"\490"} 
.fu-household_goods:before{content:"\491"} 
.fu-b2b:before{content:"\492"} 
.fu-child_garden:before{content:"\493"} 
.fu-diabetes_test:before{content:"\494"} 
.fu-parking_sign:before{content:"\495"} 
.fu-waterdrop:before{content:"\496"} 
.fu-pedicure:before{content:"\497"} 
.fu-analyzes:before{content:"\498"} 
.fu-business_stationery:before{content:"\499"} 
.fu-ruble:before{content:"\500"} 
.fu-collector:before{content:"\501"} 
.fu-paint_roller:before{content:"\502"} 
.fu-kidney:before{content:"\503"} 
.fu-hospital2:before{content:"\504"} 
.fu-video_stream:before{content:"\505"} 
.fu-cigarette:before{content:"\506"} 
.fu-simulation:before{content:"\507"} 
.fu-christmas_tree:before{content:"\508"} 
.fu-trouser:before{content:"\509"} 
.fu-shopping_bag:before{content:"\511"} 
.fu-safe_deposit:before{content:"\512"} 
.fu-gasoline_station:before{content:"\513"} 
.fu-curtain:before{content:"\514"} 
.fu-darth_vader:before{content:"\515"} 
.fu-cafe:before{content:"\516"} 
.fu-massage:before{content:"\517"} 
.fu-approved:before{content:"\518"} 
.fu-mover:before{content:"\519"} 
.fu-examination2:before{content:"\520"} 
.fu-eye_test:before{content:"\521"} 
.fu-clipboard:before{content:"\522"} 
.fu-dolphin:before{content:"\523"} 
.fu-fertilizer:before{content:"\524"} 
.fu-gas_bottle:before{content:"\525"} 
.fu-money_transfer:before{content:"\526"} 
.fu-certificate:before{content:"\527"} 
.fu-office_chair:before{content:"\528"} 
.fu-body_repair:before{content:"\529"} 
.fu-crib:before{content:"\530"} 
.fu-appartments:before{content:"\531"} 
.fu-car_glass:before{content:"\532"} 
.fu-flowers:before{content:"\533"} 
.fu-antenna:before{content:"\534"} 
.fu-hospital3:before{content:"\535"} 
.fu-manual_transmission:before{content:"\536"} 
.fu-telescope:before{content:"\537"} 
.fu-hubcap:before{content:"\538"} 
.fu-rehabilitation:before{content:"\539"} 
.fu-ship:before{content:"\540"} 
.fu-wallpaper:before{content:"\541"} 
.fu-steam_cocktails:before{content:"\542"} 
.fu-senate:before{content:"\543"} 
.fu-skating:before{content:"\544"} 
.fu-subwoofer:before{content:"\545"} 
.fu-morgue:before{content:"\546"} 
.fu-bread:before{content:"\547"} 
.fu-fueleb:before{content:"\548"} 
.fu-vote:before{content:"\549"} 
.fu-seat:before{content:"\550"} 
.fu-automatisation:before{content:"\551"} 
.fu-turbo_engine:before{content:"\552"} 
.fu-archive:before{content:"\553"} 
.fu-coworking:before{content:"\554"} 
.fu-dog2:before{content:"\555"} 
.fu-school:before{content:"\556"} 
.fu-cinema:before{content:"\557"} 
.fu-services2:before{content:"\558"} 
.fu-servers:before{content:"\559"} 
.fu-soldier:before{content:"\560"} 
.fu-gallery:before{content:"\561"} 
.fu-greenhouse:before{content:"\562"} 
.fu-neurosurgeon:before{content:"\563"} 
.fu-car_painting:before{content:"\564"} 
.fu-satellite:before{content:"\565"} 
.fu-biometric:before{content:"\566"} 
.fu-no_smoking:before{content:"\567"} 
.fu-industrial:before{content:"\568"} 
.fu-sewing_machine:before{content:"\569"} 
.fu-dna:before{content:"\570"} 
.fu-house_hold:before{content:"\571"} 
.fu-radio:before{content:"\572"} 
.fu-taxi:before{content:"\573"} 
.fu-shelter:before{content:"\574"} 
.fu-train:before{content:"\575"} 
.fu-toll_road:before{content:"\576"} 
.fu-stationery:before{content:"\577"} 
.fu-drilling_rig:before{content:"\578"} 
.fu-polygraphy:before{content:"\579"} 
.fu-cake:before{content:"\580"} 
.fu-manicure:before{content:"\581"} 
.fu-sweetshop:before{content:"\582"} 
.fu-aquapark:before{content:"\583"} 
.fu-exchange:before{content:"\584"} 
.fu-stadiums:before{content:"\585"} 
.fu-battery:before{content:"\586"} 
.fu-immunity:before{content:"\587"} 
.fu-beauty_salons:before{content:"\588"} 
.fu-car_trailer:before{content:"\589"} 
.fu-newspaper:before{content:"\590"} 
.fu-carpet:before{content:"\591"} 
.fu-snowflake:before{content:"\592"} 
.fu-circus_tent:before{content:"\593"} 
.fu-advertisment:before{content:"\594"} 
.fu-diagnostic:before{content:"\595"} 
.fu-clothes:before{content:"\596"} 
.fu-booking:before{content:"\597"} 
.fu-billiard:before{content:"\598"} 
.fu-container:before{content:"\599"} 
.fu-repair_parts:before{content:"\600"} 
.fu-turtle:before{content:"\601"} 
.fu-registry_office:before{content:"\602"} 
.fu-fur_coat:before{content:"\603"} 
.fu-appliances:before{content:"\604"} 
.fu-paper:before{content:"\605"} 
.fu-orthopedist:before{content:"\606"} 
.fu-lottery:before{content:"\607"} 
.fu-trophy:before{content:"\608"} 
.fu-magician_hat:before{content:"\609"} 
.fu-voice_control:before{content:"\610"} 
.fu-ranking:before{content:"\611"} 
.fu-garbage_truck:before{content:"\612"} 
.fu-jewelry:before{content:"\613"} 
.fu-quest:before{content:"\614"} 
.fu-tent:before{content:"\615"} 
.fu-hospital:before{content:"\616"} 
.fu-aids:before{content:"\617"} 
.fu-auto:before{content:"\618"} 
.fu-mushroom:before{content:"\619"} 
.fu-cells:before{content:"\620"} 
.fu-phone_set:before{content:"\621"} 
.fu-sunbed:before{content:"\622"} 
.fu-watch:before{content:"\623"} 
.fu-baby_clothes:before{content:"\624"} 
.fu-internet:before{content:"\625"} 
.fu-scale:before{content:"\626"} 
.fu-canned_food:before{content:"\627"} 
.fu-milk_bottle:before{content:"\628"} 
.fu-pendant:before{content:"\629"} 
.fu-vaccine:before{content:"\630"} 
.fu-closed_eyes_with_lashes_and_brows:before{content:"\631"} 
.fu-dog:before{content:"\632"} 
.fu-veterinary:before{content:"\633"} 
.fu-table_games:before{content:"\634"} 
.fu-oil:before{content:"\635"} 
.fu-business_center:before{content:"\636"} 
.fu-stomach:before{content:"\637"} 
.fu-cocktail_dress:before{content:"\638"} 
.fu-storm:before{content:"\639"} 
.fu-doors:before{content:"\640"} 
.fu-footwear:before{content:"\641"} 
.fu-pregnant:before{content:"\642"} 
.fu-lottery2:before{content:"\643"} 
.fu-watch_tv:before{content:"\644"} 
.fu-fitnes:before{content:"\645"} 
.fu-virtual_reality_glasses:before{content:"\646"} 
.fu-all360degree:before{content:"\647"} 
.fu-fish:before{content:"\648"} 
.fu-gold:before{content:"\649"} 
.fu-mental_health:before{content:"\650"} 
.fu-repair:before{content:"\651"} 
.fu-burger:before{content:"\652"} 
.fu-derby:before{content:"\653"} 
.fu-coins:before{content:"\654"} 
.fu-rocking_horse:before{content:"\655"} 
.fu-real_estate_agent:before{content:"\656"} 
.fu-padlock:before{content:"\657"} 
.fu-matryoshka:before{content:"\658"} 
.fu-coding:before{content:"\659"} 
.fu-metal_detector:before{content:"\660"} 
.fu-garage:before{content:"\661"} 
.fu-textiles:before{content:"\662"} 
.fu-child:before{content:"\663"} 
.fu-lymph_nodes:before{content:"\664"} 
.fu-ink_cartridge:before{content:"\665"} 
.fu-furniture:before{content:"\666"} 
.fu-injection:before{content:"\667"} 
.fu-culture:before{content:"\668"} 
.fu-dancer:before{content:"\669"} 
.fu-down_jacket:before{content:"\670"} 
.fu-razor:before{content:"\671"} 
.fu-animal_shelter:before{content:"\672"} 
.fu-fork:before{content:"\673"} 
.fu-client:before{content:"\674"} 
.fu-kremlin:before{content:"\675"} 
.fu-excavator:before{content:"\676"} 
.fu-finances:before{content:"\677"} 
.fu-all24hours:before{content:"\678"} 
.fu-camera_drone:before{content:"\679"} 
.fu-sales_equip:before{content:"\680"} 
.fu-vet:before{content:"\681"} 
.fu-police:before{content:"\682"} 
.fu-audiologist:before{content:"\683"} 
.fu-noodles:before{content:"\684"} 
.fu-box:before{content:"\685"} 
.fu-uniform:before{content:"\686"} 
.fu-rake:before{content:"\687"} 
.fu-stethoscope:before{content:"\688"} 
.fu-classroom:before{content:"\689"} 
.fu-maid:before{content:"\690"} 
.fu-seeds:before{content:"\691"} 
.fu-bush:before{content:"\692"} 
.fu-bar:before{content:"\693"} 
.fu-profession:before{content:"\694"} 
.fu-malls:before{content:"\695"} 
.fu-radiation:before{content:"\696"} 
.fu-speaker:before{content:"\697"} 
.fu-baby:before{content:"\698"} 
.fu-camera:before{content:"\699"} 
.fu-printer:before{content:"\700"} 
.fu-souvenir:before{content:"\701"} 
.fu-color_palette2:before{content:"\702"} 
.fu-hay:before{content:"\703"} 
.fu-overtime:before{content:"\704"} 
.fu-truck:before{content:"\705"} 
.fu-love:before{content:"\706"} 
.fu-dentistry:before{content:"\707"} 
.fu-aromatic:before{content:"\708"} 
.fu-voice:before{content:"\709"} 
.fu-feeding_bottle:before{content:"\710"} 
.fu-housing:before{content:"\711"} 
.fu-vinyl:before{content:"\712"} 
.fu-glass:before{content:"\713"} 
.fu-engineer:before{content:"\714"} 
.fu-intestine:before{content:"\715"} 
.fu-bus:before{content:"\716"} 
.fu-rope:before{content:"\717"} 
.fu-fireman:before{content:"\718"} 
.fu-livingroom:before{content:"\719"} 
.fu-estate:before{content:"\720"} 
.fu-infinity:before{content:"\721"} 
.fu-check_list:before{content:"\722"} 
.fu-almond:before{content:"\723"} 
.fu-provider:before{content:"\724"} 
.fu-gazebo:before{content:"\725"} 
.fu-lip_balm:before{content:"\726"} 
.fu-toilet:before{content:"\727"} 
.fu-market:before{content:"\728"} 
.fu-diving_mask:before{content:"\729"} 
.fu-marble:before{content:"\730"} 
.fu-rent_sign:before{content:"\731"} 
.fu-building_renovation:before{content:"\732"} 
.fu-truck2:before{content:"\733"} 
.fu-guitar:before{content:"\734"} 
.fu-lawyer2:before{content:"\735"} 
.fu-epilation:before{content:"\736"} 
.fu-fireproof:before{content:"\737"} 
.fu-tiles:before{content:"\738"} 
.fu-fireproof2:before{content:"\739"} 
.fu-bases:before{content:"\740"} 
.fu-kitchen:before{content:"\741"} 
.fu-engineering:before{content:"\742"} 
.fu-metall:before{content:"\743"} 
.fu-packaging:before{content:"\744"} 
.fu-sim_toolkit:before{content:"\745"} 
.fu-dop_obrazovan:before{content:"\746"} 
.fu-anchor:before{content:"\747"} 
.fu-dish:before{content:"\748"} 
.fu-tinted_glass:before{content:"\749"} 
.fu-government:before{content:"\750"} 
.fu-tiles2:before{content:"\751"} 
.fu-windows:before{content:"\752"} 
.fu-hirudotherapy:before{content:"\753"} 
.fu-plot:before{content:"\754"} 
.fu-chiropractic:before{content:"\755"} 
.fu-education:before{content:"\756"} 
.fu-pipe:before{content:"\757"} 
.fu-household:before{content:"\758"} 
.fu-fruit:before{content:"\759"} 
.fu-surf:before{content:"\760"} 
.fu-sakura:before{content:"\761"} 
.fu-life_insurance:before{content:"\762"} 
.fu-soybean:before{content:"\763"} 
.fu-car_repair:before{content:"\764"} 
.fu-knife:before{content:"\765"} 
.fu-services_equip:before{content:"\766"} 
.fu-boomerang_stick:before{content:"\767"} 
.fu-pharmacy:before{content:"\768"} 
.fu-medical_goods:before{content:"\769"} 
.fu-creativity:before{content:"\770"} 
.fu-butterfly2:before{content:"\771"} 
.fu-valenki:before{content:"\772"} 
.fu-bank:before{content:"\773"} 
.fu-reading_eyeglasses:before{content:"\774"} 
.fu-warehouse:before{content:"\775"} 
.fu-frame:before{content:"\776"} 
.fu-judge:before{content:"\777"} 
.fu-joint:before{content:"\778"} 
.fu-home_cinema:before{content:"\779"} 
.fu-government2:before{content:"\780"} 
.fu-carburetor:before{content:"\781"} 
.fu-computer:before{content:"\782"} 
.fu-hot:before{content:"\783"} 
.fu-hairdressers:before{content:"\784"} 
.fu-acupuncture:before{content:"\785"} 
.fu-tires:before{content:"\786"} 
.fu-bed_sheets:before{content:"\787"} 
.fu-reflector:before{content:"\788"} 
.fu-sketch:before{content:"\789"} 
.fu-mobile_phone:before{content:"\790"} 
.fu-duck_shooting:before{content:"\791"} 
.fu-development:before{content:"\792"} 
.fu-nachos:before{content:"\793"} 
.fu-search_engine:before{content:"\794"} 
.fu-bankruptcy:before{content:"\795"} 
.fu-phone:before{content:"\796"} 
.fu-protection:before{content:"\797"} 
.fu-no_virus:before{content:"\798"} 
.fu-smoke:before{content:"\799"} 
.fu-match:before{content:"\800"} 
.fu-announcement:before{content:"\801"} 
.fu-tractor:before{content:"\802"} 
.fu-face_scanner:before{content:"\803"} 
.fu-signboard:before{content:"\804"} 
.fu-reflex_hammer:before{content:"\805"} 
.fu-funicular:before{content:"\806"} 
.fu-hair_transplant:before{content:"\807"} 
.fu-eat:before{content:"\808"} 
.fu-mortgage:before{content:"\809"} 
.fu-pest_control:before{content:"\810"} 
.fu-polling_place:before{content:"\811"} 
.fu-face_of_a_woman_outline:before{content:"\812"} 
.fu-thunderbolt:before{content:"\813"} 
.fu-embroidery:before{content:"\814"} 
.fu-therapist:before{content:"\815"} 
.fu-growth:before{content:"\816"} 
.fu-tourism:before{content:"\817"} 
.fu-military_hat:before{content:"\818"} 
.fu-skate_park:before{content:"\819"} 
.fu-toothpaste:before{content:"\820"} 
.fu-aquarium:before{content:"\821"} 
.fu-fabric:before{content:"\822"} 
.fu-tree:before{content:"\823"} 
.fu-id_card:before{content:"\824"} 
.fu-noise:before{content:"\825"} 
.fu-hotels:before{content:"\826"} 
.fu-key_chain:before{content:"\827"} 
.fu-dishes:before{content:"\828"} 
.fu-express_mail:before{content:"\829"} 
.fu-cosmetics:before{content:"\830"} 
.fu-calendar:before{content:"\831"} 
.fu-license_plate:before{content:"\832"} 
.fu-sausage:before{content:"\833"} 
.fu-renovation:before{content:"\834"} 
.fu-lotion:before{content:"\835"} 
.fu-carbon_dioxide:before{content:"\836"} 
.fu-customs:before{content:"\837"} 
.fu-geriatrics:before{content:"\838"} 
.fu-pets:before{content:"\839"} 
.fu-couple_with_daughter_in_a_heart:before{content:"\840"} 
.fu-zoo:before{content:"\841"} 
.fu-examination:before{content:"\842"} 
.fu-communication:before{content:"\843"} 
.fu-electronic_cigarette:before{content:"\844"} 
.fu-pension:before{content:"\845"} 
.fu-glue:before{content:"\846"} 
.fu-nutritionist:before{content:"\847"} 
.fu-pharmacies:before{content:"\848"} 
.fu-literature:before{content:"\849"} 
.fu-dermatology:before{content:"\850"} 
.fu-cheese:before{content:"\851"} 
.fu-chair:before{content:"\852"} 
.fu-ATV:before{content:"\853"} 
.fu-console:before{content:"\854"} 
.fu-compact_disk:before{content:"\855"} 
.fu-employee:before{content:"\856"} 
.fu-transport:before{content:"\857"} 
.fu-suitcases:before{content:"\858"} 
.fu-canal:before{content:"\859"} 
.fu-wig:before{content:"\860"} 
.fu-airbrush:before{content:"\861"} 
.fu-ear:before{content:"\862"} 
.fu-flame:before{content:"\863"} 
.fu-grocery:before{content:"\864"} 
.fu-atom:before{content:"\865"} 
.fu-other:before{content:"\866"} 
.fu-ice_cream:before{content:"\867"} 
.fu-sport_goods:before{content:"\868"} 
.fu-bowling_pin:before{content:"\869"} 
.fu-parking:before{content:"\870"} 
.fu-psychology:before{content:"\871"} 
.fu-lawyer:before{content:"\872"} 
.fu-shops:before{content:"\873"} 
.fu-hostels:before{content:"\874"} 
.fu-souvenirs:before{content:"\875"} 
.fu-shopping_cart:before{content:"\876"} 
.fu-airplane:before{content:"\877"} 
.fu-spa:before{content:"\878"} 
.fu-automotive:before{content:"\879"} 
.fu-female:before{content:"\880"} 
.fu-ski:before{content:"\881"} 
.fu-baby_dummy:before{content:"\882"} 
.fu-plumbing:before{content:"\883"} 
.fu-mirror:before{content:"\884"} 
.fu-building:before{content:"\885"} 
.fu-headlight:before{content:"\886"} 
.fu-celebration:before{content:"\887"} 
.fu-history:before{content:"\888"} 
.fu-gavel:before{content:"\889"} 
.fu-rack:before{content:"\890"} 
.fu-tow_truck:before{content:"\891"} 
.fu-med_center:before{content:"\892"} 
.fu-garbage:before{content:"\893"} 
.fu-tuning:before{content:"\894"} 
.fu-roof:before{content:"\895"} 
.fu-diving_goggles:before{content:"\896"} 
.fu-swimming_pool:before{content:"\897"} 
.fu-comic:before{content:"\898"} 
.fu-water_cooler:before{content:"\899"} 
.fu-karaoke:before{content:"\900"} 
.fu-cleaning:before{content:"\901"} 