{% extends "core/base.html" %}
{% load mtags %}
{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
<style type="text/css">
  #current_edit_form .bordered{
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  .welding_joint_file{
    text-align: center;
    padding: 5px 10px;
    border: 1px dotted #ccc;
  }
</style>
{% endblock %}

{% block content %}
{% if row.id %}
  <a class="btn btn-primary pull-right mr-sm" href="{{ root_url }}pdf/{{ row.id }}/" target="_blank">
    <em class="fa fa-file-pdf-o fa-fw mr-sm"></em> PDF {{ singular_obj }}
  </a>
  {% if joint_conclusion or perms.weld.add_jointconclusion %}
    <a class="btn btn-primary pull-right mr-sm" href="{{ root_url }}conclusion/{{ row.id }}/">
      <em class="fa fa-gavel fa-fw mr-sm"></em> Заключение
    </a>
  {% endif %}
{% endif %}


<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{{ url_form }}" id="current_edit_form">
        <div class="panel-heading">
          {{ singular_obj }}
          {% if row.joint %}
            №{{ row.joint.name }}, линия {{ row.joint.line.name }}, титул {{ row.joint.line.titul.name }}, объект {{ row.joint.line.titul.subject.name }}, {{ row.joint.line.titul.subject.company.name }}
          {% endif %}
          {% if row.state %}
            <h4>Статус: <span id="current_request_state">{{ state }}</span></h4> заявка создана {{ row.created }}
          {% endif %}
        </div>
        <div class="panel-body">
          {% csrf_token %}
          <div class="form-group bordered">
            <div class="col-lg-6">
              <p>{% if row.joint %}{{ row.joint.line.titul.subject.company.location }}{% else %}-{% endif %}</p>
              <p>место строительства предприятия</p>
            </div>
            <div class="col-lg-6">
              <p>{% if row.joint %}{{ row.joint.line.titul.subject.company.contractor }}{% else %}-{% endif %}</p>
              <p>наименование генподрядной и строильеной оргганизации и ее ведомственная принадлежность</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p>{% if row.joint %}{{ row.joint.line.titul.subject.company.name }}{% else %}-{% endif %}</p>
              <p>наименование предприятия-заказчика</p>
            </div>
            <div class="col-lg-6">
              <p>{% if row.joint %}{{ row.joint.line.titul.subject.company.fitter }}{% else %}-{% endif %}</p>
              <p>наименование монтажной организации</p>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p>{% if row.joint %}{{ row.joint.line.titul.subject.name }}{% else %}-{% endif %}</p>
              <p>наименование сооружаемого объекта</p>
            </div>
            <div class="col-lg-6">

            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Дата заявки на НК</p>
            </div>
            <div class="col-lg-6">
              <input type="text" placeholder="Дата заявки на НК" class="form-control" name="request_control_date" value="{% if row.request_control_date %}{{ row.request_control_date }}{% else %}{{ today }}{% endif %}" autocomplete="off" readonly>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Заявка №</p>
            </div>
            <div class="col-lg-6">
              <input id="current_request_number" type="text" placeholder="Номер заявки на НК" class="form-control" name="request_number" value="{% if row.request_number %}{{ row.request_number }}{% endif %}" autocomplete="off" readonly>
            </div>
            <div class="col-lg-12">
              <p class="text-center">на выполнение контроля качества сварных соединений</p>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-12">
              <ul>
                <li>Сварные стыки зачищены и не имеют наружных дефектов</li>
                <li>Исполнительная схема (чертеж) сварных соединений предоставлена</li>
                <li>Рабочее место соответствует требованиям СНиП по технике безопасности (леса, ограждения), доступ людей на радиационно-опасную зону исключен</li>
              </ul>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Сварное соединение (стык)</p>
            </div>
            <div class="col-lg-6">
              <select id="joint_select2" name="joint" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% if row.joint %}
                  <option value="{{ row.joint.id }}" selected>{{ row.joint.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Свариваемые элементы</p>
            </div>
            <div class="col-lg-3">
              <select id="join_type_from_select2" name="join_type_from" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for join_type in join_types %}
                  <option value="{{ join_type.0 }}"{% ifequal join_type.0 row.join_type_from %} selected{% endifequal %}>{{ join_type.1 }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-3">
              <select id="join_type_to_select2" name="join_type_to" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for join_type in join_types %}
                  <option value="{{ join_type.0 }}"{% ifequal join_type.0 row.join_type_to %} selected{% endifequal %}>{{ join_type.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Материал (сталь)</p>
            </div>
            <div class="col-lg-6">
              <select id="material_select2" name="material" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for material in material_choices %}
                  <option value="{{ material.0 }}"{% ifequal material.0 row.material %} selected{% endifequal %}>{{ material.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Толщина стенки, мм</p>
            </div>
            <div class="col-lg-6">
              <input type="text" placeholder="Толщина стенки, мм" class="form-control" name="side_thickness" value="{% if row.side_thickness %}{{ row.side_thickness }}{% endif %}" autocomplete="off">
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Диаметр трубопровода, мм</p>
            </div>
            <div class="col-lg-6">
              <input type="text" placeholder="Диаметр трубопровода, мм" class="form-control" name="diameter" value="{% if row.diameter %}{{ row.diameter }}{% endif %}" autocomplete="off">
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Сварщик 1</p>
            </div>
            <div class="col-lg-6">
              <select id="welder1_select2" name="welder1" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% if welders.1 %}
                  <option value="{{ welders.1.id }}" selected>{{ welders.1.name }} - {{ welders.1.stigma }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Сварщик 2</p>
            </div>
            <div class="col-lg-6">
              <select id="welder2_select2" name="welder2" autocomplete="off">
                <option value="">Не выбрано</option>
                {% if welders.2 %}
                  <option value="{{ welders.2.id }}" selected>{{ welders.2.name }} - {{ welders.2.stigma }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Сварщик 1 по факту</p>
            </div>
            <div class="col-lg-6">
              <select id="welder3_select2" name="welder3" autocomplete="off">
                <option value="">Не выбрано</option>
                {% if welders.3 %}
                  <option value="{{ welders.3.id }}" selected>{{ welders.3.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Сварщик 2 по факту</p>
            </div>
            <div class="col-lg-6">
              <select id="welder4_select2" name="welder4" autocomplete="off">
                <option value="">Не выбрано</option>
                {% if welders.4 %}
                  <option value="{{ welders.4.id }}" selected>{{ welders.4.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Вид сварного соединения</p>
            </div>
            <div class="col-lg-6">
              <select id="welding_conn_view_select2" name="welding_conn_view" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for welding_conn_view in welding_conn_view_choices %}
                  <option value="{{ welding_conn_view.0 }}"{% ifequal welding_conn_view.0 row.welding_conn_view %} selected{% endifequal %}>{{ welding_conn_view.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Тип сварки</p>
            </div>
            <div class="col-lg-6">
              <select id="welding_type_select2" name="welding_type" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for welding_type in welding_type_choices %}
                  <option value="{{ welding_type.0 }}"{% ifequal welding_type.0 row.welding_type %} selected{% endifequal %}>{{ welding_type.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Дата сварки</p>
            </div>
            <div class="col-lg-6">
              <input id="welding_date" type="text" placeholder="Дата сварки" class="form-control" name="welding_date" value="{% if row.welding_date %}{{ row.welding_date }}{% else %}{{ today }}{% endif %}" autocomplete="off">
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Вид контроля</p>
            </div>
            <div class="col-lg-6">
              <select id="control_type_select2" name="control_type" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for control_type in control_choices %}
                  <option value="{{ control_type.0 }}"{% ifequal control_type.0 row.control_type %} selected{% endifequal %}>{{ control_type.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Категория трубопровода</p>
            </div>
            <div class="col-lg-6">
              <select id="category_select2" name="category" autocomplete="off">
                <option value="">Не выбрано</option>
                {% for category in category_choices %}
                  <option value="{{ category.0 }}"{% ifequal category.0 row.category %} selected{% endifequal %}>{{ category.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          {% if row.joint %}
          <div class="form-group bordered">
            <div class="col-lg-12">
              <p class="text-center"><strong>Стыков на линии: {{ total_joints }}</strong></p>
            </div>
            <div class="col-lg-3">
              <p class="text-center">Новых стыков: {% if row.joint.line.new_joints %}{{ row.joint.line.new_joints }}{% else %}0{% endif %}</p>
            </div>
            <div class="col-lg-3">
              <p class="text-center">Стыков в работе: {% if row.joint.line.in_progress_joints %}{{ row.joint.line.in_progress_joints }}{% else %}0{% endif %}</p>
            </div>
            <div class="col-lg-3">
              <p class="text-center">Стыков в ремонте: {% if row.joint.line.repair_joints %}{{ row.joint.line.repair_joints }}{% else %}0{% endif %}</p>
            </div>
            <div class="col-lg-3">
              <p class="text-center">Готовых стыков: {% if row.joint.line.complete_joints %}{{ row.joint.line.complete_joints }}{% else %}0{% endif %}</p>
            </div>
          </div>
          {% endif %}

          {% if row.id and files_permissions.create %}
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label"><small>Загрузка изображения/файла</small></label>
                <div class="col-sm-10">
                  <div id="upload-drop-files" class="box-placeholder text-center">
                    <p>
                      <em class="fa fa-cloud-upload fa-2x"></em>
                    </p>
                    Перетащите файл сюда или
                    <div class="btn-link form-file">выберите файл для загрузки
                      <input id="upload-select-files" type="file" name="path">
                    </div>
                  </div>
                  <div id="progressbar-files" class="progress hidden">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="progress-bar-files"></div>
                  </div>
                </div>
              </div>
            </fieldset>
          {% endif %}

          {% if row.id and files_permissions.view %}
          <div class="form-group bordered">
            <div class="col-lg-2">
              <p class="text-right">Изображения/файлы</p>
            </div>
            <div class="col-lg-10">
              <div class="row-masonry row-masonry-md-4 row-masonry-sm-2" id="welding_joint_files">
                {% for file in files %}
                  <div class="col-masonry welding_joint_file" id="file_index_{{ file.id }}">
                    {% comment %}<!--<img src="{% imagine file.img '150x150' file.get_folder True %}" alt="{{ file.name|textize }}" class="img-thumbnail img-responsive">-->{% endcomment %}
                    <a target="_blank" href="/media/{{ file.folder }}{{ file.path }}" class="fname">{{ file.name }} ({{ file.mime }})</a>
                    <br />
                    <a href="{{ root_url }}welding_files/download/{{ file.id }}/" class="mt-sm btn-xs btn btn-info"><i class="fa fa-download"></i></a>

                    <a href="javascript:void(0);" class="mt-sm btn-xs btn btn-danger" data-toggle="modal" data-target="#ajax_drop_file" onclick="prepare_for_drop_file({{ file.id }})"><i class="fa fa-trash"></i></a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Заявку подал</p>
            </div>
            <div class="col-lg-6">
              <select id="requester_select2" name="requester" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% if requester %}
                  <option value="{{ requester.id }}" selected>{{ requester.name }} ({{ requester.login }} id={{ requester.id }})</option>
                {% else %}
                  <option value="{{ request.user.id }}" selected>Я, {{ request.user.customuser }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group bordered">
            <div class="col-lg-6">
              <p class="text-right">Заявку принял</p>
            </div>
            <div class="col-lg-6">
              <select id="receiver_select2" name="receiver" autocomplete="off">
                <option value="">Не выбрано</option>
                {% if receiver %}
                  <option value="{{ receiver.id }}" selected>{{ receiver.name }} ({{ receiver.login }} id={{ receiver.id }})</option>
                {% endif %}
              </select>
            </div>
          </div>
          {% if welding_joint_state_permissions.edit %}
            {% if row.state == 1 %}
              <!-- Принять заявку в работу -->
              <div class="form-group">
                <div class="col-lg-offset-6 col-lg-6">
                  <div class="checkbox c-checkbox">
                    <a id="state_for_{{ row.id }}" class="btn-xs btn btn-warning pull-left" href="javascript:void(0);" onclick="state_to_progress({{ row.id }}, 0)" title='Принять заявку в работу'><i class='fa fa-check-square-o'></i> Принять заявку в работу</a>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if row.state == 2 %}
              <!-- Принять стык как готовый -->
              <div class="form-group">
                <div class="col-lg-offset-6 col-lg-6">
                  <div class="checkbox c-checkbox">
                    <a id="state_for_{{ row.id }}" class="btn-xs btn btn-success pull-left" href="javascript:void(0);" onclick="state_to_complete({{ row.id }}, 0)" title='Принять стык как готовый'><i class='fa fa-check-square-o'></i> Принять стык как готовый</a>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-6 col-lg-6">
                  <div class="checkbox c-checkbox">
                    <a id="state_for_{{ row.id }}_r" class="btn-xs btn btn-danger pull-left" href="javascript:void(0);" onclick="state_to_repair({{ row.id }}, 0)" title='Отправить стык в ремонт'><i class='fa fa-check-square-o'></i> Отправить стык в ремонт</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% else %}<!-- Сварщик не имеет прав на редактирование заявки -->
            {% if welding_joint_state_permissions.repair_completed and row.state == 4%}
              <!-- Ремонт выполнен отправляет заявку в работу -->
              <div class="form-group">
                <div class="col-lg-offset-6 col-lg-6">
                  <div class="checkbox c-checkbox">
                    <a id="state_for_{{ row.id }}" class="btn-xs btn btn-warning pull-left" href="javascript:void(0);" onclick="state_to_new({{ row.id }}, 0)" title='Ремонт выполнен'><i class='fa fa-check-square-o'></i> Ремонт выполнен</a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          <div class="form-group">
            <div class="col-lg-6">
              <p class="text-right">Примечание</p>
            </div>
            <div class="col-lg-6">
              <input type="text" placeholder="Примечание" class="form-control" name="notice" value="{% if row.notice %}{{ row.notice }}{% endif %}" autocomplete="off">
            </div>
          </div>

          <div class="hidden">
            <input type="text" name="workshift" value="{{ row.workshift }}">
            {% if row.state %}
              <input type="text" name="state" value="{{ row.state }}">
            {% else %}
              <input type="text" value="new" name="new_state" autocomplete="off">
            {% endif %}
            {% include "core/forms/row_position.html" %}
            {% include "core/forms/row_is_active.html" %}
          </div>
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <div id="ajax_drop_file" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFile" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h4 id="myModalLabelFile" class="modal-title">{{ action_drop }} файла из {{ rp_singular_obj }}</h4>
        </div>
        <div class="modal-body">Вы уверены, что хотите удалить файл id=<span id="ajax_drop_file_id"></span><span class="hidden" id="ajax_drop_file_ind"></span>?</div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary" id="ajax_drop_file_button">Да</button>
        </div>
      </div>
    </div>
  </div>
  <form class="hidden" method="get" action="{{ root_url }}" id="current_drop_file_form">{% csrf_token %}</form>

  {% include "welding_js.html" %}
  <script src="/static/admin/js/parsley.min.js"></script>
  <script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
  <script type="text/javascript">

    function prepare_for_drop_file(pk, row_index){
      $("#ajax_drop_file_id").html(pk);
      $("#current_drop_file_form").attr("action", "{{ root_url }}welding_files/drop/" + pk + "/");
    }

    $(document).ready(function(){
      $("#current_edit_form").parsley();
      $("#current_edit_form").submit(function(e) {
        var $form = $(this);
        var msg = 'Произошла ошибка, обновите страничку';
        var status = 'danger'; // success, warning, info, danger
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
            window.location.href = r.redirect;
          }
          $.notify({
              message: msg,
          },{
              status: status,
          });
          // Переадресация, если создается дубликат
          if(r.redirect_on_error){
            window.location.href = r.redirect_on_error;
          }
        }).fail(function() {
          $.notify({
              message: msg,
          },{
              status: status,
          });
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });

      $("#welding_date").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        todayButton: new Date(),
      });

      $('#joint_select2').select2({
        placeholder: 'Выберите стык',
        allowClear: true,
        width: '100%',
        ajax: {
          url: "{% url 'welding:search_joints' %}",
          data: function (params) {
            var query = {
              q: params.term,
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        },
      });

      for(var i=1; i<=4; i++){
        $('#welder' + i + '_select2').select2({
          placeholder: 'Выберите сварщика',
          allowClear: true,
          width: '100%',
          ajax: {
            url: "{% url 'welding:search_welders' %}",
            data: function (params) {
              var query = {
                q: params.term,
                page: params.page || 1,
              }
              return query;
            },
            cache: false,
            dataType: 'json',
          }
        });
      }

      $('#requester_select2').select2({
        placeholder: 'Выберите пользователя',
        allowClear: true,
        width: '100%',
        ajax: {
          url: "{% url 'login:search_users' %}",
          data: function (params) {
            var query = {
              q: params.term,
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        }
      });
      $('#receiver_select2').select2({
        placeholder: 'Выберите пользователя',
        allowClear: true,
        width: '100%',
        ajax: {
          url: "{% url 'login:search_users' %}",
          data: function (params) {
            var query = {
              q: params.term,
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        }
      });

      $('#control_type_select2').select2({
          placeholder: 'Выберите вид контроля',
          allowClear: true,
          width: '100%',
      });
      $('#welding_conn_view_select2').select2({
          placeholder: 'Выберите вид сварного соединения',
          allowClear: true,
          width: '100%',
      });
      $('#welding_type_select2').select2({
          placeholder: 'Выберите тип сварки',
          allowClear: true,
          width: '100%',
      });
      $('#category_select2').select2({
          placeholder: 'Выберите категорию',
          allowClear: true,
          width: '100%',
      });
      $('#control_result_select2').select2({
          placeholder: 'Выберите результат контроля',
          allowClear: true,
          width: '100%',
      });
      $('#material_select2').select2({
          placeholder: 'Выберите материал',
          allowClear: true,
          width: '100%',
      });
      $('#join_type_from_select2').select2({
          placeholder: 'Свариваемый элемент',
          allowClear: true,
          width: '100%',
      });
      $('#join_type_to_select2').select2({
          placeholder: 'Свариваемый элемент',
          allowClear: true,
          width: '100%',
      });

      // --------------
      // Удаление файла
      // --------------
      $('#ajax_drop_file_button').click(function(){
        var pk = $('#ajax_drop_file_id').html();
        var $form = $('#current_drop_file_form');
        var msg = 'Произошла ошибка, сообщите администратору';
        var status = 'danger';

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
            // Удаляем блок с файлом
            $("#file_index_" + pk).remove();
          }
          $.notify({
            message: msg,
          },{
           status: status,
          });
        }).fail(function() {
          $.notify({
            message: msg,
          },{
            status: status,
          });
        });
      });
      function update_links(r){
        // Добавление файла в заявку на стык
        var msg = 'Произошла ошибка, сообщите администратору';
        var status = 'danger';
        if(r.error){
          msg = r.error;
        }else if(r.success){
          msg =  r.success;
          status = 'success';
        }
        $.notify({
          message: msg,
        },{
         status: status,
        });

        var file = r['file'];
        if(!file){
          return;
        }
        var html = '';
        html += '<div class="col-masonry welding_joint_file" id="file_index_' + file['id'] + '">';
        //html += '<img src="' + file['thumb'] + '" class="img-thumbnail img-responsive">';
        html += '<a target="_blank" href="/media/' + file['folder'] + file['path'] + '" class="fname">' + file['name'] + ' (' + file['mime'] + ')</a>';

        html += '<br /><a href="{{ root_url }}welding_files/download/' + file['id'] + '/" class="mt-sm btn-xs btn btn-info">';
        html += '<i class="fa fa-download"></i></a>';
        html += ' ';
        html += '<a href="javascript:void(0);" class="mt-sm btn-xs btn btn-danger" data-toggle="modal" data-target="#ajax_drop_file" onclick="prepare_for_drop_file(' + file['id'] + ')">';
        html += '<i class="fa fa-trash"></i></a>';

        html += '</div>'
        $("#welding_joint_files").append($(html));
        return;
      }

      {% if row.id %}
        var progressbar = $('#progressbar-files'),
          bar         = progressbar.find('.progress-bar-files'),
          settings    = {
            action: '{% url "welding:edit_welding" "file" row.id %}',
            allow : '*.*',
            param: 'path',
            params: {csrfmiddlewaretoken: getCookie('csrftoken')},
            loadstart: function() {
              bar.css('width', '0%').text('0%');
              progressbar.removeClass('hidden');
            },
            progress: function(percent) {
              percent = Math.ceil(percent);
              bar.css('width', percent+'%').text(percent+'%');
            },
            allcomplete: function(response) {
              bar.css('width', '100%').text('100%');
              setTimeout(function(){
                progressbar.addClass('hidden');
              }, 750);
              // Upload Completed
              //alert(response);
            },
            complete: function(response) {
              // Обновление ссылок
              var r = JSON.parse(response);
              update_links(r);
            }
          };
        var select = new $.upload.select($('#upload-select-files'), settings),
        drop   = new $.upload.drop($('#upload-drop-files'), settings);
      {% endif %}

    });
  </script>
{% endblock %}