{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
  <a class="btn btn-primary pull-right mr-sm" href="{{ url_create }}">
    <em class="fa fa-plus-circle fa-fw mr-sm"></em> {{ action_create }} {{ rp_singular_obj }}
  </a>
{% endif %}
<a class="btn btn-primary pull-right mr-sm" href="{{ url_form }}">
  <em class="fa fa-plus-circle fa-fw mr-sm"></em> Заявка на стык
</a>

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){

  var repair_choices = {
    "": "Без фильтра",
    {% for repair_choice in repair_choices %}
      {{ repair_choice.0 }}: "{{ repair_choice.1 }}",
    {% endfor %}
  };
  var workshift_choices = {
    "": "Без фильтра",
    {% for workshift_choice in workshift_choices %}
      {{ workshift_choice.0 }}: "{{ workshift_choice.1 }}",
    {% endfor %}
  };
  var control_type_choices = {
    "": "Без фильтра",
    {% for control_choice in control_choices %}
      {{ control_choice.0 }}: "{{ control_choice.1 }}",
    {% endfor %}
  };
  var conn_view_choices = {
    "": "Без фильтра",
    {% for conn_view_choice in welding_conn_view_choices %}
      {{ conn_view_choice.0 }}: "{{ conn_view_choice.1 }}",
    {% endfor %}
  };
  var welding_type_choices = {
    "": "Без фильтра",
    {% for welding_type_choice in welding_type_choices %}
      {{ welding_type_choice.0 }}: "{{ welding_type_choice.1 }}",
    {% endfor %}
  };
  var category_choices = {
    "": "Без фильтра",
    {% for category_choice in category_choices %}
      {{ category_choice.0 }}: "{{ category_choice.1 }}",
    {% endfor %}
  };
  var control_result_choices = {
    "": "Без фильтра",
    {% for control_result_choice in control_result_choices %}
      {{ control_result_choice.0 }}: "{{ control_result_choice.1 }}",
    {% endfor %}
  };
  var material_choices = {
    "": "Без фильтра",
    {% for material in material_choices %}
      {{ material.0 }}: "{{ material.1 }}",
    {% endfor %}
  };
  var state_choices = {
    "": "Без фильтра",
    {% for state in state_choices %}
      {{ state.0 }}: "{{ state.1 }}",
    {% endfor %}
  };

  var titulFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['titul'] ? data['titul']['name'] : '';
  };
  var lineFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['joint'] ? data['joint']['line']['name']  : '';
  };
  var jointFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['joint'] ? data['joint']['name']  : '';
  };
  var repairFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return repair_choices[pk];
  };
  var joinTypeFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['join_type'] ? data['join_type']['name']  : '';
  };
  var workshiftFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return workshift_choices[pk];
  };
  var controlTypeFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return control_type_choices[pk];
  };
  var connViewFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return conn_view_choices[pk];
  };
  var weldingTypeFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return welding_type_choices[pk];
  };
  var categoryFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return category_choices[pk];
  };
  var controlResultFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return control_result_choices[pk];
  };
  var materialFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return material_choices[pk];
  };
  var stateFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return state_choices[pk];
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {
        title: "Титул",
        field: "titul__name",
        headerFilterPlaceholder: "Титул",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: titulFormatter,
        minWidth: 90,
      },
      {
        title: "Линия",
        field: "joint__line__name",
        headerFilterPlaceholder: "Линия",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: lineFormatter,
        minWidth: 90,
      },
      {
        title: "Узел",
        field: "joint__name",
        headerFilterPlaceholder: "Узел",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: jointFormatter,
        minWidth: 90,
      },
      {
        title: "Ремонт",
        field: "repair",
        headerFilterPlaceholder: "Ремонт",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: repair_choices,
        },
        editable: false,
        editor: "select",
        formatter: repairFormatter,
        width: 90,
        downloadTitle: "repair",
      },
      {
        title: "Вырез",
        field: "cutout",
        headerFilterPlaceholder: "Вырез",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
         values: {"": "Без фильтра", true: "Да", false: "Нет"},
        },
        editable: false,
        editor: "select",
        formatter: booleanFormatter,
        width: 90,
        downloadTitle: "cutout",
        accessorDownload: accessor_is_active,
        //accessorDownloadParams: {test: 'test'},
      },
      {
        title: "Диаметр",
        field: "diameter",
        headerFilterPlaceholder: "Диаметр",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 90,
      },
      {
        title: "Толщина стенки",
        field: "side_thickness",
        headerFilterPlaceholder: "Толщина стенки",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 90,
      },
      {
        title: "Материал",
        field: "material",
        headerFilterPlaceholder: "Материал",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: material_choices,
        },
        editable: false,
        editor: "select",
        formatter: materialFormatter,
        width: 90,
        downloadTitle: "material",
      },
      {
        title: "Свар. элементы",
        field: "join_type__name",
        headerFilterPlaceholder: "Свар. элементы",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: joinTypeFormatter,
        minWidth: 120,
      },
      {
        title: "Дата сварки",
        field: "welding_date",
        headerFilterPlaceholder: "Дата сварки",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 120,
      },
      {
        title: "Смена",
        field: "workshift",
        headerFilterPlaceholder: "Смена",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: workshift_choices,
        },
        editable: false,
        editor: "select",
        formatter: workshiftFormatter,
        width: 90,
        downloadTitle: "workshift",
      },
      {
        title: "№ заявки на НК",
        field: "request_number",
        headerFilterPlaceholder: "№ заявки на НК",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 120,
      },
      {
        title: "Дата заявки на НК",
        field: "request_control_date",
        headerFilterPlaceholder: "Дата заявки на НК",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 120,
      },
      {
        title: "Вид контроля",
        field: "control_type",
        headerFilterPlaceholder: "Вид контроля",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: control_type_choices,
        },
        editable: false,
        editor: "select",
        formatter: controlTypeFormatter,
        width: 90,
        downloadTitle: "control_type",
      },
      {
        title: "Вид сварного соединения",
        field: "welding_conn_view",
        headerFilterPlaceholder: "Вид сварного соединения",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: conn_view_choices,
        },
        editable: false,
        editor: "select",
        formatter: connViewFormatter,
        width: 90,
        downloadTitle: "welding_conn_view",
      },
      {
        title: "Тип сварки",
        field: "welding_type",
        headerFilterPlaceholder: "Тип сварки",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: welding_type_choices,
        },
        editable: false,
        editor: "select",
        formatter: weldingTypeFormatter,
        width: 90,
        downloadTitle: "welding_type",
      },
      {
        title: "Категория",
        field: "category",
        headerFilterPlaceholder: "Категория",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: category_choices,
        },
        editable: false,
        editor: "select",
        formatter: categoryFormatter,
        width: 90,
        downloadTitle: "category",
      },
      {
        title: "Результат контроля",
        field: "control_result",
        headerFilterPlaceholder: "Результат контроля",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: control_result_choices,
        },
        editable: false,
        editor: "select",
        formatter: controlResultFormatter,
        width: 90,
        downloadTitle: "control_result",
      },
      {
        title: "Номер заключения",
        field: "conclusion_number",
        headerFilterPlaceholder: "Номер заключения",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 120,
      },
      {
        title: "Дата заключения",
        field: "conclusion_date",
        headerFilterPlaceholder: "Дата заключения",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 120,
      },
      {
        title: "Примечание",
        field: "notice",
        headerFilterPlaceholder: "Примечание",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 120,
      },
      {
        title: "Статус",
        field: "state",
        headerFilterPlaceholder: "Статус",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: state_choices,
        },
        editable: false,
        editor: "select",
        formatter: stateFormatter,
        width: 90,
        downloadTitle: "state",
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "welding_date" || $(this).attr("tabulator-field") === "request_control_date" || $(this).attr("tabulator-field") === "conclusion_date"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        position: "left top",
        todayButton: new Date(),
      });
    }
  });
});
</script>
{% endblock %}