{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
  {% comment %}<!--
    {% include "core/forms/default_create.html" %}

{% if permissions.create %}
  <a class="btn btn-primary pull-right" href="{{ url_form }}">
    <em class="fa fa-plus-circle fa-fw mr-sm"></em>
    Создание заявки на стык
  </a>
{% endif %}

-->{% endcomment %}

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
{% include "welding_js.html" %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;
$(document).ready(function(){
  var pdfFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var pk = cell.getValue();
    var actions = "<div class='padding-rl5'>";
    actions += " <a class='btn-xs btn btn-info pull-left' href='{{ root_url }}pdf/" + pk + "/' title='PDF документ' target='_blank'><i class='fa fa-file-pdf-o'></i></a> ";
    actions += "</div>";
    return actions;
  };
  var actionsJointFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var rowIndex = row.getIndex();
    var pk = cell.getValue();
    var data = row.getData();
    var actions = "<div class='padding-rl5'>";

    {% if permissions.create %}
      actions += "<a class='btn-xs btn btn-info pull-left' href='{{ root_url }}conclusion/" + pk + "/' title='Заключения'><i class='fa fa-gavel'></i></a> ";
    {% endif %}

    {% if perms.weld.change_weldingjointstate %}
      if(data.state == 1){
        actions += " <a id='state_for_" + pk + "' class='btn-xs btn btn-warning pull-left ml' href='javascript:void(0);' onclick='state_to_progress(" + pk + ", " + rowIndex + ")' title='Принять заявку в работу'><i class='fa fa-check-square-o'></i></a> ";
        actions += " <a id='state_for_" + pk + "_r2' class='btn-xs btn btn-danger pull-left ml' href='javascript:void(0);' onclick='state_to_rejected(" + pk + ", " + rowIndex + ")' title='Отклонить заявку'><i class='fa fa-repeat'></i></a> ";
      }else if(data.state == 2){
        actions += " <a id='state_for_" + pk + "_r2' class='btn-xs btn btn-danger pull-left ml' href='javascript:void(0);' onclick='state_to_rejected(" + pk + ", " + rowIndex + ")' title='Отклонить заявку'><i class='fa fa-repeat'></i></a> ";
      }
    {% endif %}

    {% if perms.weld.repair_completed %}
      if(data.state == 4){
        actions += " <a id='state_for_" + pk + "' class='btn-xs btn btn-warning pull-left ml' href='javascript:void(0);' onclick='state_to_new(" + pk + ", " + rowIndex + ")' title='Ремонт выполнен'><i class='fa fa-check-square-o'></i></a> ";
      }
    {% endif %}

    {% if permissions.create %}
      actions += " <a class='btn-xs btn btn-info pull-left ml' href='{{ root_url }}form/" + pk + "/' title='Редактировать'><i class='fa fa-edit'></i></a> ";
    {% endif %}

    {% if permissions.edit %}
      {% comment %}
        /*
         не даем возможности редактировать

      actions += " <a class='btn-xs btn btn-primary pull-left ml' href='{{ root_url }}edit/" + pk + "/'><i class='fa fa-edit'></i></a> ";
        */
      {% endcomment %}
    {% endif %}

    {% if permissions.drop %}
      actions += " <a class='btn-xs btn btn-danger pull-right ml' href='javascript:void(0);' data-toggle='modal' data-target='#ajax_drop_obj' onclick='prepare_for_drop(" + pk + ", " + rowIndex + ");'><i class='fa fa-trash'></i></a> ";
    {% endif %}
    actions += "</div>";
    return actions;
  };
  var repair_choices = {
    "": "Без фильтра",
    {% for repair_choice in repair_choices %}
      {{ repair_choice.0 }}: "{{ repair_choice.1 }}",
    {% endfor %}
  };
  var control_type_choices = {
    "": "Без фильтра",
    {% for control_choice in control_choices %}
      {{ control_choice.0 }}: "{{ control_choice.1 }}",
    {% endfor %}
  };
  var conn_view_choices = {
    "": "Без фильтра",
    {% for conn_view_choice in welding_conn_view_choices %}
      {{ conn_view_choice.0 }}: "{{ conn_view_choice.1 }}",
    {% endfor %}
  };
  var welding_type_choices = {
    "": "Без фильтра",
    {% for welding_type_choice in welding_type_choices %}
      {{ welding_type_choice.0 }}: "{{ welding_type_choice.1 }}",
    {% endfor %}
  };
  var material_choices = {
    "": "Без фильтра",
    {% for material in material_choices %}
      {{ material.0 }}: "{{ material.1 }}",
    {% endfor %}
  };
  var join_types = {
    "": "Без фильтра",
    {% for join_type in join_types %}
      {{ join_type.0 }}: "{{ join_type.1 }}",
    {% endfor %}
  };
  var conclusion_states = {
    "": "Без фильтра",
    {% for conclusion_state in conclusion_states %}
      {{ conclusion_state.0 }}: "{{ conclusion_state.1 }}",
    {% endfor %}
  };
  var jointFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['joint'] ? data['joint']['name']  : '';
  };
  var lineFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    if(!data['joint']){
      return "";
    }
    return data['joint']['line'] ? data['joint']['line']['name']  : '';
  };
  var titulFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    if(!data['joint'] || !data['joint']['line'] || !data['joint']['line']['titul']){
      return "";
    }
    return data['joint']['line']['titul'] ? data['joint']['line']['titul']['name'] : '';
  };
  var subjectFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    if(!data['joint'] || !data['joint']['line'] || !data['joint']['line']['titul'] || !data['joint']['line']['titul']){
      return "";
    }
    return data['joint']['line']['titul']['subject'] ? data['joint']['line']['titul']['subject']['name'] : '';
  };
  var companyFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    if(!data['joint'] || !data['joint']['line'] || !data['joint']['line']['titul'] || !data['joint']['line']['titul']['subject']){
      return "";
    }
    return data['joint']['line']['titul']['subject']['company'] ? data['joint']['line']['titul']['subject']['company']['name'] : '';
  };
  var controlTypeFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return control_type_choices[pk];
  };
  var connViewFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var conn_view = data['joint'] ? data['joint']['welding_conn_view']  : '';
    return conn_view_choices[conn_view];
  };
  var weldingTypeFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var welding_type = data['joint'] ? data['joint']['welding_type']  : '';
    return welding_type_choices[welding_type];
  };
  var materialFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var material = data['joint'] ? data['joint']['material']  : '';
    return material_choices[material];
  };
  var stateFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return state_choices[pk];
  };
  var joinTypeFromFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var join_type_from = data['joint'] ? data['joint']['join_type_from']  : '';
    return join_types[join_type_from];
  };
  var joinTypeToFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var join_type_to = data['joint'] ? data['joint']['join_type_to']  : '';
    return join_types[join_type_to];
  };
  var jointConclusionDateFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['joint_conclusion'] ? data['joint_conclusion']['date'] : '';
  };
  var conclusionStateFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['joint_conclusion'] ? conclusion_states[data['joint_conclusion']['state']] : '';
  };
  var diameterFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['joint'] ? data['joint']['diameter']  : '';
  };
  var sideThicknessFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['joint'] ? data['joint']['side_thickness']  : '';
  };
  var weldingDateFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['joint'] ? data['joint']['welding_date']  : '';
  };
  var noticeFormatter = function(cell, formatterParams, onRendered){
    var result = "<div style='white-space:normal;'>";
    var data = cell.getRow().getData();
    if(data['joint_conclusion']){
      if(data['joint_conclusion']['vik_defects']){
        result += "ВИК дефекты:<br>" + data['joint_conclusion']['vik_defects'] + "<br>";
      }
      if(data['joint_conclusion']['rk_frames']){
        result += "РК дефекты:<br>";
        for(var i=0; i<data['joint_conclusion']['rk_frames'].length; i++){
          result += data['joint_conclusion']['rk_frames'][i] + "<br>";
        }
      }
      if(data['joint_conclusion']['pvk_defects']){
        result += "ПВК дефекты:<br>" + data['joint_conclusion']['pvk_defects'] + "<br>";
      }
      if(data['joint_conclusion']['uzk_defects']){
        result += "УЗК дефекты:<br>" + data['joint_conclusion']['uzk_defects'] + "<br>";
      }
    }
    result += "</div>";
    return result;
  };
  var accessor_state = function(value, data, type, params, column){
    return state_choices[value];
  }
  var accessor_conclusion_date = function(value, data, type, params, column){
    return data['joint_conclusion'] ? data['joint_conclusion']['date'] : '';
  }
  var accessor_conclusion_state = function(value, data, type, params, column){
    return data['joint_conclusion'] ? conclusion_states[data['joint_conclusion']['state']] : '';
  }
  var accessor_welding_type = function(value, data, type, params, column){
    var welding_type = data['joint'] ? data['joint']['welding_type']  : '';
    return welding_type_choices[welding_type];
  }
  var accessor_conn_view = function(value, data, type, params, column){
    var conn_view = data['joint'] ? data['joint']['welding_conn_view']  : '';
    return conn_view_choices[conn_view];
  }
  var accessor_control_type = function(value, data, type, params, column){
    return control_type_choices[value];
  }
  var accessor_join_type_from = function(value, data, type, params, column){
    var join_type_from = data['joint'] ? data['joint']['join_type_from']  : '';
    return join_types[join_type_from];
  }
  var accessor_join_type_to = function(value, data, type, params, column){
    var join_type_to = data['joint'] ? data['joint']['join_type_to']  : '';
    return join_types[join_type_to];
  }
  var accessor_material = function(value, data, type, params, column){
    return material_choices[value];
  }
  var accessor_company = function(value, data, type, params, column){
    if(!data['joint'] || !data['joint']['line'] || !data['joint']['line']['titul'] || !data['joint']['line']['titul']['subject']){
      return "";
    }
    return data['joint']['line']['titul']['subject']['company'] ? data['joint']['line']['titul']['subject']['company']['name'] : '';
  }
  var accessor_subject = function(value, data, type, params, column){
    if(!data['joint'] || !data['joint']['line'] || !data['joint']['line']['titul']){
      return "";
    }
    return data['joint']['line']['titul']['subject'] ? data['joint']['line']['titul']['subject']['name'] : '';
  }
  var accessor_titul = function(value, data, type, params, column){
    if(!data['joint'] || !data['joint']['line']){
      return "";
    }
    return data['joint']['line']['titul'] ? data['joint']['line']['titul']['name'] : '';
  }
  var accessor_line = function(value, data, type, params, column){
    if(!data['joint']){
      return "";
    }
    return data['joint']['line'] ? data['joint']['line']['name'] : '';
  }
  var accessor_joint = function(value, data, type, params, column){
    return data['joint'] ? data['joint']['name'] : '';
  }
  var accessor_diameter = function(value, data, type, params, column){
    return data['joint'] ? data['joint']['diameter'] : '';
  }
  var accessor_side_thickness = function(value, data, type, params, column){
    return data['joint'] ? data['joint']['side_thickness'] : '';
  }
  var accessor_welding_date = function(value, data, type, params, column){
    return data['joint'] ? data['joint']['welding_date'] : '';
  }
  var accessor_notice = function(value, data, type, params, column){
    var result = "";
    if(data['joint_conclusion']){
      if(data['joint_conclusion']['vik_defects']){
        result += "ВИК дефекты:\n" + data['joint_conclusion']['vik_defects'] + "\n";
      }
      if(data['joint_conclusion']['rk_frames']){
        result += "РК дефекты:\n";
        for(var i=0; i<data['joint_conclusion']['rk_frames'].length; i++){
          result += data['joint_conclusion']['rk_frames'][i] + "\n";
        }
      }
      if(data['joint_conclusion']['pvk_defects']){
        result += "ПВК дефекты:\n" + data['joint_conclusion']['pvk_defects'] + "\n";
      }
      if(data['joint_conclusion']['uzk_defects']){
        result += "УЗК дефекты:\n" + data['joint_conclusion']['uzk_defects'] + "\n";
      }
    }
    return result;
  }

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "№ заявки на НК",
        field: "request_number",
        headerFilterPlaceholder: "№ заявки на НК",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 250,
        frozen: true,
        accessorDownload: accessor_not_empty,
      },
      {
        title: "Дата заявки на НК",
        field: "request_control_date",
        headerFilterPlaceholder: "Дата заявки на НК",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 90,
        frozen:true,
      },
      {
        title: "Стык",
        field: "joint__name",
        headerFilterPlaceholder: "Стык",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: jointFormatter,
        minWidth: 70,
        accessorDownload: accessor_joint,
      },
      {
        title: "Линия",
        field: "joint__line__name",
        headerFilterPlaceholder: "Линия",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: lineFormatter,
        minWidth: 120,
        accessorDownload: accessor_line,
      },
      {
        title: "Титул",
        field: "joint__line__titul__name",
        headerFilterPlaceholder: "Титул",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: titulFormatter,
        minWidth: 90,
        accessorDownload: accessor_titul,
      },
/*
      {
        title: "Объект",
        field: "joint__line__titul__subject__name",
        headerFilterPlaceholder: "Объект",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: subjectFormatter,
        minWidth: 90,
        accessorDownload: accessor_subject,
      },
      {
        title: "Компания",
        field: "joint__line__titul__subject__company__name",
        headerFilterPlaceholder: "Компания",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: companyFormatter,
        minWidth: 90,
        accessorDownload: accessor_company,
      },
*/
      {
        title: "Диаметр",
        field: "joint__diameter",
        headerFilterPlaceholder: "Диаметр",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: diameterFormatter,
        minWidth: 70,
        accessorDownload: accessor_diameter,
      },
      {
        title: "Толщина стенки",
        field: "joint__side_thickness",
        headerFilterPlaceholder: "Толщина стенки",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: sideThicknessFormatter,
        minWidth: 70,
        accessorDownload: accessor_side_thickness,
      },
      {
        title: "Материал",
        field: "joint__material",
        headerFilterPlaceholder: "Материал",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: material_choices,
        },
        editable: false,
        editor: "select",
        formatter: materialFormatter,
        width: 90,
        accessorDownload: accessor_material,
      },
      {
        title: "Свар. эл. 1",
        field: "joint__join_type_from",
        headerFilterPlaceholder: "Свар. эл. 1",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: join_types,
        },
        editable: false,
        editor: "select",
        formatter: joinTypeFromFormatter,
        width: 90,
        accessorDownload: accessor_join_type_from,
      },
      {
        title: "Свар. эл. 2",
        field: "joint__join_type_to",
        headerFilterPlaceholder: "Свар. эл. 2",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: join_types,
        },
        editable: false,
        editor: "select",
        formatter: joinTypeToFormatter,
        width: 90,
        accessorDownload: accessor_join_type_to,
      },
      {
        title: "Вид сварного соединения",
        field: "joint__welding_conn_view",
        headerFilterPlaceholder: "Вид сварного соединения",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: conn_view_choices,
        },
        editable: false,
        editor: "select",
        formatter: connViewFormatter,
        width: 90,
        accessorDownload: accessor_conn_view,
      },
      {
        title: "Тип сварки",
        field: "joint__welding_type",
        headerFilterPlaceholder: "Тип сварки",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: welding_type_choices,
        },
        editable: false,
        editor: "select",
        formatter: weldingTypeFormatter,
        width: 90,
        accessorDownload: accessor_welding_type,
      },
      {
        title: "Дата сварки",
        field: "joint__welding_date",
        headerFilterPlaceholder: "Дата сварки",
        headerFilter: "input",
        headerFilterFunc: "=",
        formatter: weldingDateFormatter,
        minWidth: 90,
        accessorDownload: accessor_welding_date,
      },
      {
        title: "Вид контроля",
        field: "control_type",
        headerFilterPlaceholder: "Вид контроля",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: control_type_choices,
        },
        editable: false,
        editor: "select",
        formatter: controlTypeFormatter,
        width: 90,
        accessorDownload: accessor_control_type,
      },
      {
        title: "Результат контроля",
        field: "joint_conclusion__state",
        headerFilterPlaceholder: "Результат контроля",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: conclusion_states,
        },
        editable: false,
        editor: "select",
        formatter: conclusionStateFormatter,
        width: 90,
        accessorDownload: accessor_conclusion_state,
      },
      {
        title: "Дата заключения",
        field: "joint_conclusion__date",
        headerFilterPlaceholder: "Дата заключения",
        headerFilter: "input",
        headerFilterFunc: "=",
        formatter: jointConclusionDateFormatter,
        minWidth: 90,
        accessorDownload: accessor_conclusion_date,
      },
      // В примечание пишем дефекты,
      // если они есть по заключениям
      {
        title: "Примечание",
        field: "notice",
        headerSort: false,
        formatter: noticeFormatter,
        minWidth: 250,
        accessorDownload: accessor_notice,
      },
      {
        title: "PDF",
        field: "id",
        headerSort: false,
        formatter: pdfFormatter,
        width: 50,
        download: false,
      },
      {
        title: "Статус",
        field: "state",
        headerFilterPlaceholder: "Статус",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: state_choices,
        },
        editable: false,
        editor: "select",
        formatter: stateFormatter,
        width: 120,
        downloadTitle: "state",
        accessorDownload: accessor_state,
      },
      {
        title: "Действия",
        field: "actions",
        headerSort: false,
        formatter: actionsJointFormatter,
        width: 160,
        download: false,
      },
    ],
  });
  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "joint__welding_date" || $(this).attr("tabulator-field") === "request_control_date" || $(this).attr("tabulator-field") === "joint_conclusion__date"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        position: "left top",
        todayButton: new Date(),
      });
    }
  });
});
</script>
{% endblock %}