<div id="not_registered_error" class="hidden" style="color:brown; font-weight: bold;">Вы должны <a href="/login/" target="_blank" class="action">зарегистрироваться на сайте или войти, если уже зарегистрированы</a>, чтобы делать бесплатные звонки</div>
<div id="not_confirmed_phone_error" class="hidden" style="color:brown; font-weight: bold;">Вы должны <a href="/profile/" target="_blank" class="action">подтвердить ваш телефон</a>, чтобы делать бесплатные звонки</div>
<div class="call_buttons">
  <button class="action primary btn make_call">
    <i class="fa fa-phone"></i> Позвонить
  </button>
  <button class="action primary btn hangup">
    <i class="fa fa-phone"></i> Завершить
  </button>
  <span class="call_timer"></span>
  <label id="call_error"></label>
</div>
