<span title="Клавиатура" class="keypad-toggle-link">
  <i class="fa fa-th"></i>
</span>
<div class="digits{% comment %} visible{% endcomment %}">
  <table class="digits">
    <tbody>
      <tr>
        <td class="js-call_phone_btn"><span>1</span></td>
        <td class="js-call_phone_btn"><span>2</span></td>
        <td class="js-call_phone_btn"><span>3</span></td>
      </tr>
      <tr>
        <td class="js-call_phone_btn"><span>4</span></td>
        <td class="js-call_phone_btn"><span>5</span></td>
        <td class="js-call_phone_btn"><span>6</span></td>
      </tr>
      <tr>
        <td class="js-call_phone_btn"><span>7</span></td>
        <td class="js-call_phone_btn"><span>8</span></td>
        <td class="js-call_phone_btn"><span>9</span></td>
      </tr>
      <tr>
        <td class="js-call_phone_btn"><span>*</span></td>
        <td class="js-call_phone_btn"><span>0</span></td>
        <td class="js-call_phone_btn"><span>#</span></td>
      </tr>
      <tr class="actions-row">
        <td class="clear_phone"><span>C</span></td>
        <td><input type="text" id="ext_dial" value="" /></td>
        <td>
          <span class="ext_dial_button"><i class="fa fa-plus-circle"></i><br />Донабор</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
