{% load mtags %}
{% for block in blocks %}
<section class="vc_row bg-cover slider4" data-tooltip="{{ block.description|textize }}">
  {% if container.description %}<div class="video-bg">{{ container.description|safe }}</div>{% endif %}
  <div class="imga pt-100" id="block_{{ block.id }}">
    <a href="{{ block.link }}" class="btn btn-naked text-uppercase fresco btn-icon-left btn-icon-xlg btn-icon-circle btn-icon-solid btn-icon-ripple font-size-13 font-weight-bold ltr-sp-1 lqd-unit-animation-done blue">
      <span>
        <span class="btn-icon font-size-20"><i class="fa fa-play"></i></span>
      </span>
    </a>
    <img src="{% imagine block.img '1920x1080' block.get_folder True %}" />
  </div>
  <div class="container pt-100">
    <div class="row">
      <div class="lqd-column col-lg-7 col-md-9 col-lg-offset-5 col-md-offset-3">
        <div class="row">
          <div class="lqd-column col-md-9 col-md-offset-3 mt-30">
            <h2 class="h1 ltr-sp--05 font-weight-bold text-white">
              <span class="ld-fh-txt">{{ block.name }}</span>
            </h2>
          </div>
        </div>

        <div class="row">
          <div class="lqd-column col-md-9 col-md-offset-3">
            <div class="ld-fancy-heading mask-text">
              <p class="mb-5 h3 text-white">
                <span class="ld-fh-txt grey">{{ block.html|safe }}</span>
              </p>
            </div>
            {% for item in block.sub %}
              {% if item.link %}
                <a href="{{ item.link }}" target="_blank" class="btn classic text-uppercase font-size-12 font-weight-bold ltr-sp-1 hvr-sweep-to-right">
                  <span>
                    <span class="btn-txt">{{ item.name }}</span>
                    <span class="btn-icon">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </span>
                </a>
              {% endif %}
            {% endfor %}
            <div class="clearfix"></div><br /><br /><br />
          </div>
        </div>
      </div>
      <div class="clearfix"></div><br /><br />
    </div>
  </div>
</section>
{% endfor %}