{% load mtags %}
<main id="content" class="content bg-black" data-liquid-stack="true" data-stack-options='{"navigation":true, "prevNextButtons":true, "pageNumber":true, "effect":"fadeScale", "autoPlay": false}'>
{% for block in blocks %}
<section class="vc_row py-7 mt-25 bg-cover slider1" data-tooltip="{{ block.description|textize }}" id="anchor_block_{{ block.id }}">

  <div class="imga" id="block_{{ block.id }}">
    {% if block.description %}<div class="imga_text">{{ block.description|textize }}</div>{% endif %}
    <a href="{{ block.link }}" class="btn btn-naked text-uppercase fresco btn-icon-left btn-icon-xlg btn-icon-circle btn-icon-solid btn-icon-ripple font-size-13 font-weight-bold ltr-sp-1 lqd-unit-animation-done blue">
      <span>
        <span class="btn-icon font-size-20"><i class="fa fa-play"></i></span>
      </span>
    </a>
    <img src="{% imagine block.img '1920x1080' block.get_folder True %}" />

    <table class="slider_pagination">
      <tr>
        {% for block in blocks %}
          <td data-anchor="block_{{ block.id }}">{{ forloop.counter }}</td>
        {% endfor %}
      </tr>
    </table><br />
  </div>

  <div class="container">
    <div class="row">
      <div class="lqd-column col-lg-7 col-md-9">

        <div class="row">
          <div class="lqd-column col-md-9">
            <h2 class="h1 ltr-sp--05 font-weight-bold text-white" data-fittext="true" data-fittext-options='{"compressor":0.375,"maxFontSize": 42,"minFontSize": 20}' data-split-text="true" data-split-options='{"type":"lines"}' data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":"1600","delay":"160","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":150,"rotateZ":-5,"opacity":0},"animations":{"translateY":0,"rotateZ":0,"opacity":1}}'>
              <span class="ld-fh-txt">{{ block.name }}</span>
            </h2>
          </div>
        </div>

        <div class="row">
          <div class="lqd-column col-md-9">
            <div class="ld-fancy-heading mask-text">
              <p class="mb-5 h3 text-white" data-split-text="true" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":"1600","startDelay":"300","delay":"160","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":60,"rotateZ":-5},"animations":{"translateY":0,"rotateZ":0}}' data-split-options='{"type":"lines"}'>
                <span class="ld-fh-txt grey">{{ block.html|safe }}</span>
              </p>
            </div>
            {% for item in block.sub %}
              {% if item.link %}
                <a href="{{ item.link }}" target="_blank" class="btn classic text-uppercase font-size-12 font-weight-bold ltr-sp-1 hvr-sweep-to-right">
                  <span>
                    <span class="btn-txt">{{ item.name }}</span>
                    <span class="btn-icon">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </span>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="clearfix"></div><br /><br />
    </div>
  </div>

</section>
{% endfor %}
</main>