  <tr>
    <td>
      <div id="annons" class="annons mobileonly" style="margin-top:-20px; display:block"></div>
      <div class="mobileonly blok news" style="clear:both; background:#eee; padding:50px;">
        <table class="iblok">
          <tr>
            <td valign="top">
              <ul class="iblokl PT" style="margin-right:50px;">
                <li><a href="">Новости и события</a></li>
                <li><a href="">Как оформить заказ</a></li>
                <li><a href="">Возврат / обмен товаров</a></li>
              </ul>
            </td>
            <td valign="top">
              <ul class="iblokl mini">
                <li>
                  <a class="shortli" href="">Режим работы магазинов в праздничные дни.</a>
                  <p class=blok >27 Апреля 2020</p>
                </li>
                <li>
                  <a class="shortli" href="">Режим работы магазинов.</a>
                  <p class=blok >27 Марта 2020</p>
                </li>
                <li>
                  <b>
                    <a href="">Посмотреть все записи</a>
                  </b>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="mobileonly blok news"  style="clear:both; background:#fff; padding:10px; border-top:1px solid #ccc"></div>
    </td>
  </tr>