{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;
$(document).ready(function(){
  var welding_types = {
    "": "Без фильтра",
    {% for welding_type in welding_types %}
      {{ welding_type.0 }}: "{{ welding_type.1 }}",
    {% endfor %}
  };
  var group_choices = {
    "": "Без фильтра",
    {% for group_choice in group_choices %}
      {{ group_choice.0 }}: "{{ group_choice.1 }}",
    {% endfor %}
  };
  var subjectFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder']['subject'] ? data['welder']['subject']['name']  : '';
  };
  var welderNameFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['name']  : '';
  };
  var stigmaFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['stigma']  : '';
  };
  var stigma2Formatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['stigma2']  : '';
  };
  var weldingTypeFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return welding_types[pk];
  };
  var noticeFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['notice']  : '';
  };
  var sectionsFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var html = "";
    var group;
    if(data['sections']){
      for(var i=0; i<data['sections'].length; i++){
        group = group_choices[data['sections'][i]['group']];
        if(group){
          group = group.split(" ")[0];
        }
        html += group + ": " + data['sections'][i]['points'] + "<br>";
      }
    }
    return html;
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "ФИО",
        field: "welder__name",
        headerFilterPlaceholder: "ФИО",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: welderNameFormatter,
        minWidth: 150,
      },
      {
        title: "Клеймо",
        field: "welder__stigma",
        headerFilterPlaceholder: "Клеймо",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: stigmaFormatter,
        width: 90,
      },
      {
        title: "Клеймо по приказу",
        field: "welder__stigma2",
        headerFilterPlaceholder: "Клеймо по приказу",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: stigma2Formatter,
        width: 90,
      },
      {
        title: "Вид сварочных работ",
        field: "certsections__group",
        headerFilterPlaceholder: "Вид сварочных работ",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: group_choices,
        },
        editor: "select",
        width: 120,
      },
      {
        title: "Номер удостоверения",
        field: "number",
        headerFilterPlaceholder: "Номер удостоверения",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 120,
      },
      {
        title: "Способ сварки",
        field: "welding_type",
        headerFilterPlaceholder: "Способ сварки",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: welding_types,
        },
        editor: "select",
        formatter: weldingTypeFormatter,
        width: 120,
      },
      {
        title: "Годен до",
        field: "best_before",
        headerFilterPlaceholder: "Годен до",
        headerFilter: "input",
        headerFilterFunc: "=",
        download: false,
        minWidth: 120,
      },
      {
        title: "Область аттестации",
        field: "certsections__points",
        headerFilterPlaceholder: "Область аттестации",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: sectionsFormatter,
        minWidth: 120,
      },
      {
        title: "Место удостоверения",
        field: "place",
        headerFilterPlaceholder: "Место удостоверения",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 120,
      },
      {
        title: "На объекте",
        field: "welder__subject__name",
        headerFilterPlaceholder: "На объекте",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: subjectFormatter,
        minWidth: 90,
      },
      {
        title: "Примечание",
        field: "welder__notice",
        headerFilterPlaceholder: "Примечание",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: noticeFormatter,
        minWidth: 150,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });

  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "best_before"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        todayButton: new Date(),
      });
    }
  });
});
</script>
{% endblock %}