{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;
$(document).ready(function(){

  var state_choices = {
    "": "Без фильтра",
    {% for state in state_choices %}
      {{ state.0 }}: "{{ state.1 }}",
    {% endfor %}
  };
  var stateFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return state_choices[pk];
  };
  var accessor_state = function(value, data, type, params, column){
    return state_choices[value];
  }

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "ФИО",
        field: "name",
        headerFilterPlaceholder: "ФИО",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "№ удостоверения",
        field: "stigma",
        headerFilterPlaceholder: "№ удостоверения",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Должность",
        field: "state",
        headerFilterPlaceholder: "Должность",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: state_choices,
        },
        editable: false,
        editor: "select",
        formatter: stateFormatter,
        width: 90,
        accessorDownload: accessor_state,
      },
      {
        title: "Примечание",
        field: "notice",
        headerFilterPlaceholder: "Примечание",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Работает",
        field: "is_active",
        headerFilterPlaceholder: "Работает",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: {"": "Без фильтра", true: "Да", false: "Нет"},
        },
        editable: false,
        editor: "select",
        formatter: booleanFormatter,
        width: 90,
        downloadTitle: "is_active",
        accessorDownload: accessor_is_active,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}