{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;
$(document).ready(function(){
  var materials = {
    "": "Без фильтра",
    {% for material in materials %}
      {{ material.0 }}: "{{ material.1 }}",
    {% endfor %}
  };
  var group_choices = {
    "": "Без фильтра",
    {% for group_choice in group_choices %}
      {{ group_choice.0 }}: "{{ group_choice.1 }}",
    {% endfor %}
  };
  var welding_types = {
    "": "Без фильтра",
    {% for welding_type in welding_types %}
      {{ welding_type.0 }}: "{{ welding_type.1 }}",
    {% endfor %}
  };
  var welderFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['name']  : '';
  };
  var stigmaFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['stigma']  : '';
  };
  var stigma2Formatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['stigma2']  : '';
  };
  var noticeFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['notice']  : '';
  };
  var materialFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return materials[pk];
  };
  var weldingTypeFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['certification'] ? welding_types[data['certification']['welding_type']] : '';
  };
  var bestBeforeFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['certification'] ? data['certification']['best_before']  : '';
  };
  var sectionsFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var html = "";
    var group;
    if(data['sections']){
      for(var i=0; i<data['sections'].length; i++){
        group = group_choices[data['sections'][i]['group']];
        if(group){
          group = group.split(" ")[0];
        }
        html += group + ": " + data['sections'][i]['points'] + "<br>";
      }
    }
    return html;
  };
  var accessor_material = function(value, data, type, params, column){
    return materials[value];
  }
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "Сварщик",
        field: "welder__name",
        headerFilterPlaceholder: "Сварщик",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: welderFormatter,
        minWidth: 120,
      },
      {
        title: "Клеймо",
        field: "welder__stigma",
        headerFilterPlaceholder: "Клеймо",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: stigmaFormatter,
        width: 90,
      },
      {
        title: "Клеймо по приказу",
        field: "welder__stigma2",
        headerFilterPlaceholder: "Клеймо по приказу",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: stigma2Formatter,
        width: 90,
      },
      {
        title: "Типоразмер",
        field: "standard_size",
        headerFilterPlaceholder: "Типоразмер",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 120,
      },
      {
        title: "Материал",
        field: "material",
        headerFilterPlaceholder: "Материал",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: materials,
        },
        editable: false,
        editor: "select",
        formatter: materialFormatter,
        width: 90,
        accessorDownload: accessor_material,
      },
      {
        title: "Номер КСС",
        field: "number",
        headerFilterPlaceholder: "Номер КСС",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 90,
      },
      {
        title: "Номер ВИК/УЗК/РК",
        field: "test_number",
        headerFilterPlaceholder: "Номер ВИК/УЗК/РК",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 90,
      },
      {
        title: "Дата ВИК/УЗК/РК",
        field: "test_date",
        headerFilterPlaceholder: "Дата ВИК/УЗК/РК",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 90,
      },
      {
        title: "ТТ/МК",
        field: "certification__certsections__group",
        headerFilterPlaceholder: "Вид сварочных работ",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: group_choices,
        },
        editor: "select",
        width: 120,
      },
      {
        title: "Способ сварки",
        field: "certification__welding_type",
        headerFilterPlaceholder: "Способ сварки",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: welding_types,
        },
        editor: "select",
        formatter: weldingTypeFormatter,
        width: 120,
      },
      {
        title: "Годен до",
        field: "certification__best_before",
        headerFilterPlaceholder: "Годен до",
        headerFilter: "input",
        headerFilterFunc: "=",
        formatter: bestBeforeFormatter,
        minWidth: 120,
      },
      {
        title: "НГДО/СК",
        field: "certification__certsections__points",
        headerFilterPlaceholder: "НГДО/СК",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: sectionsFormatter,
        minWidth: 120,
      },
      {
        title: "Примечание",
        field: "welder__notice",
        headerFilterPlaceholder: "Примечание",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: noticeFormatter,
        minWidth: 150,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "test_date" || $(this).attr("tabulator-field") === "certification__best_before"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        position: "left top",
        todayButton: new Date(),
      });
    }
  });
});
</script>
{% endblock %}