{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Гарантийное письмо</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Гарантийное письмо" class="form-control" name="name" value="{% if row.name %}{{ row.name }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Сварщик</label>
            <div class="col-lg-10">
              <select id="welder_select2" name="welder" autocomplete="off"  data-parsley-required>
                <option value="">Не выбрано</option>
                {% if row.welder %}
                  <option value="{{ row.welder.id }}" selected>{{ row.welder.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          {% include "core/forms/row_image.html" %}
          {% include "core/forms/hidden_fields.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    {% if row %}
      var upload_img_url = '{% url "welding:edit_letter_of_guarantee" "img" row.id %}';
    {% endif %}
    $(document).ready(function(){
      $('#welder_select2').select2({
        placeholder: 'Выберите сварщика',
        allowClear: true,
        width: '100%',
        tags: true,
        ajax: {
          url: "{% url 'welding:search_welders' %}",
          data: function (params) {
            var query = {
              q: params.term,
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        }
      });
    });
  </script>
  {% include "core/forms/row_js.html" %}
{% endblock %}