{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;
$(document).ready(function(){
  var welderFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['welder'] ? data['welder']['name']  : '';
  };
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "Гарантийное письмо",
        field: "name",
        headerFilterPlaceholder: "Гарантийное письмо",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Сварщик",
        field: "welder__name",
        headerFilterPlaceholder: "Сварщик",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: welderFormatter,
        minWidth: 150,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}