{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Номер удостоверения</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Номер удостоверения" class="form-control" name="number" value="{% if row.number %}{{ row.number }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Тип сварки</label>
            <div class="col-lg-10">
              <select id="welding_type_select2" name="welding_type" autocomplete="off">
                <option value="">Не выбрано</option>
                {% for welding_type in welding_type_choices %}
                  <option value="{{ welding_type.0 }}"{% ifequal welding_type.0 row.welding_type %} selected{% endifequal %}>{{ welding_type.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Годен до</label>
            <div class="col-lg-10">
              <input id="best_before_date" type="text" placeholder="Годен до" class="form-control" name="date" value="{% if row.best_before %}{{ row.best_before }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">НГДО/СК</label>
            <div class="col-lg-10">
              <input type="text" placeholder="НГДО/СК" class="form-control" name="acl" value="{% if row.acl %}{{ row.acl }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" value="1" name="half_year_mark" {% if row.half_year_mark %} checked{% endif %} autocomplete="off">
                <span class="fa fa-check"></span> Полугодовая отметка
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Место удостоверения</label>
            <div class="col-lg-10">
              <select id="identification_select2" name="identification" autocomplete="off">
                <option value="">Не выбрано</option>
                {% for identification in identification_choices %}
                  <option value="{{ identification.0 }}"{% ifequal identification.0 row.identification %} selected{% endifequal %}>{{ identification.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Сварщик</label>
            <div class="col-lg-10">
              <select id="welder_select2" name="welder" autocomplete="off"  data-parsley-required>
                <option value="">Не выбрано</option>
                {% if row.welder %}
                  <option value="{{ row.welder.id }}" selected>{{ row.welder.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          {% include "core/forms/row_image.html" %}
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
  <script type="text/javascript">
    {% if row %}
      var upload_img_url = '{% url "welding:edit_vik" "img" row.id %}';
    {% endif %}
    $(document).ready(function(){
      $("#best_before_date").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        todayButton: new Date(),
      });

      $('#welder_select2').select2({
        placeholder: 'Выберите сварщика',
        allowClear: true,
        width: '100%',
        tags: true,
        ajax: {
          url: "{% url 'welding:search_welders' %}",
          data: function (params) {
            var query = {
              q: params.term,
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        }
      });
      $('#welding_type_select2').select2({
          placeholder: 'Выберите тип сварки',
          allowClear: true,
          width: '100%',
          tags: true,
      });
      $('#identification_select2').select2({
          placeholder: 'Выберите место удостоверения',
          allowClear: true,
          width: '100%',
          tags: true,
      });

    });
  </script>
  {% include "core/forms/row_js.html" %}
{% endblock %}