{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;
$(document).ready(function(){
  var subjectFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['subject'] ? data['subject']['name']  : '';
  };
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "ФИО",
        field: "name",
        headerFilterPlaceholder: "ФИО",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Имя",
        field: "first_name",
        headerFilterPlaceholder: "Имя",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Фамилия",
        field: "last_name",
        headerFilterPlaceholder: "Фамилия",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Отчество",
        field: "middle_name",
        headerFilterPlaceholder: "Отчество",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Клеймо",
        field: "stigma",
        headerFilterPlaceholder: "Клеймо",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "На объекте",
        field: "subject__name",
        headerFilterPlaceholder: "На объекте",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: subjectFormatter,
        minWidth: 90,
      },
      {
        title: "Примечание",
        field: "notice",
        headerFilterPlaceholder: "Примечание",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 150,
      },
      {
        title: "Работает",
        field: "is_active",
        headerFilterPlaceholder: "Работает",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: {"": "Без фильтра", true: "Да", false: "Нет"},
        },
        editable: false,
        editor: "select",
        formatter: booleanFormatter,
        width: 90,
        downloadTitle: "is_active",
        accessorDownload: accessor_is_active,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}