{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Имя</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Имя" class="form-control" name="name" value="{% if row.name %}{{ row.name }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Клеймо</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Клеймо" class="form-control" name="stigma" value="{% if row.stigma %}{{ row.stigma }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">На объекте</label>
            <div class="col-lg-10">
              <select id="subject_select2" name="subject" autocomplete="off">
                <option value="">Не выбрано</option>
                {% if row.subject %}
                  <option value="{{ row.subject.id }}" selected>{{ row.subject.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Примечание</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Примечание" class="form-control" name="notice" value="{% if row.notice %}{{ row.notice }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          {% include "core/forms/row_image.html" %}
          <div class="hidden">
            {% include "core/forms/row_position.html" %}
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" value="1" name="is_active" {% if row.is_active or not row %} checked{% endif %} autocomplete="off">
                  <span class="fa fa-check"></span> Работает?
                </label>
              </div>
            </div>
          </div>
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    {% if row %}
      var upload_img_url = '{% url "welding:edit_welder" "img" row.id %}';
    {% endif %}
    $(document).ready(function(){
      $('#subject_select2').select2({
        placeholder: 'Выберите объект',
        allowClear: true,
        width: '100%',
        tags: true,
        ajax: {
          url: "{% url 'welding:search_subjects' %}",
          data: function (params) {
            var query = {
              q: params.term,
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        }
      });
    });
  </script>
  {% include "core/forms/row_js.html" %}
{% endblock %}