{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;

// Обработка кнопок для управления демонами
// после загрузки таблицы
window.tabulator_render_completed = function(){
  $(".get_daemon_status").each(function(){
    if($(this).hasClass("touched")){
      return;
    }
    $(this).addClass("touched");
    $(".get_daemon_status").click(function(){
      return false;
    });
  });
}

$(document).ready(function(){
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name.html" %}
      {
        title: "Токен",
        field: "token",
        headerFilterPlaceholder: "Токен",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 120,
      },
      {
        title: "Исполняемый файл",
        field: "exec_path",
        headerFilterPlaceholder: "Исполняемый файл",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 160,
      },
      /*{% include "core/tabulator_cell/image.html" %}*/
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}