{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<a class="btn btn-primary pull-right" href="{{ url_create }}">
  <em class="fa fa-plus-circle fa-fw mr-sm"></em> {{ action_create }} {{ rp_singular_obj }}
</a>

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){
  var actionsJointFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var rowIndex = row.getIndex();
    var pk = cell.getValue();
    var actions = "<div class='padding-rl5'>";
    actions += " <a class='btn-xs btn btn-info pull-left' href='{% url 'welding:create_welding' 'form' %}?joint=" + pk + "' title='Заявка на стык'><i class='fa fa-file'></i></a> ";
    actions += " <a class='btn-xs btn btn-primary pull-left ml' href='{{ root_url }}edit/" + pk + "/'><i class='fa fa-edit'></i></a> ";
    actions += " <a class='btn-xs btn btn-danger pull-right' href='javascript:void(0);' data-toggle='modal' data-target='#ajax_drop_obj' onclick='prepare_for_drop(" + pk + ", " + rowIndex + ");'><i class='fa fa-trash'></i></a> ";
    actions += "</div>";
    return actions;
  };
  var lineFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line'] ? data['line']['name']  : '';
  };
  var titulFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line']['titul'] ? data['line']['titul']['name']  : '';
  };
  var baseFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line']['base'] ? data['line']['base']['name']  : '';
  };
  var subjectFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line']['titul']['subject'] ? data['line']['titul']['subject']['name']  : '';
  };
  var companyFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line']['titul']['subject']['company'] ? data['line']['titul']['subject']['company']['name']  : '';
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {
        title: "Номер узла",
        field: "name",
        headerFilterPlaceholder: "Номер узла",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 90,
      },
      {
        title: "Линия",
        field: "line__name",
        headerFilterPlaceholder: "Линия",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: lineFormatter,
        minWidth: 90,
      },
      {
        title: "Титул",
        field: "line__titul__name",
        headerFilterPlaceholder: "Титул",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: titulFormatter,
        minWidth: 90,
      },
      {
        title: "Установка",
        field: "line__base__name",
        headerFilterPlaceholder: "Установка",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: baseFormatter,
        minWidth: 90,
      },
      {
        title: "Объект",
        field: "line__titul__subject__name",
        headerFilterPlaceholder: "Объект",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: subjectFormatter,
        minWidth: 90,
      },
      {
        title: "Компания",
        field: "line__titul__subject__company__name",
        headerFilterPlaceholder: "Компания",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: companyFormatter,
        minWidth: 90,
      },
      {
        title: "Действия",
        field: "actions",
        headerSort: false,
        formatter: actionsJointFormatter,
        width: 120,
        download: false,
      },
    ],
  });
});
</script>
{% endblock %}