{% extends "core/base.html" %}
{% load mtags %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% if row.id %}
  <a class="btn btn-primary pull-right mr-sm" href="{% url 'welding:create_welding' 'form' %}?joint={{ row.id }}" target="_blank">
    <em class="fa fa-unlink fa-fw mr-sm"></em> Заявка на стык
  </a>
{% endif %}

<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">
          {{ singular_obj }}
          {% if row %}{{ row.name }}, линия {{ row.line.name }}, титул {{ row.line.titul.name }}, объект {{ row.line.titul.subject.name }}, компания {{ row.line.titul.subject.company.name }}{% endif %}
        </div>
        <div class="panel-body">
          {% csrf_token %}
          {% include "core/forms/row_name.html" %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Линия</label>
            <div class="col-lg-10">
              <select id="line_select2" name="line" autocomplete="off" data-parsley-required>
                {% if row.line %}
                  <option value="{{ row.line.id }}" selected>{{ row.line.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Диаметр</label>
            <div class="col-lg-10">
              <select id="diameter_select2" name="diameter" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% if row.diameter %}
                  <option value="{{ row.diameter|money_format }}" selected>{{ row.diameter|money_format }}</option>
                {% endif %}
                {% for diameter in diameters %}
                  <option value="{{ diameter }}">{{ diameter }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Толщина стенки</label>
            <div class="col-lg-10">
              <input type="number" step="0.01" placeholder="Толщина стенки" class="form-control" name="side_thickness" value="{% if row.side_thickness %}{{ row.side_thickness }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Дата сварки</label>
            <div class="col-lg-10">
              <input id="welding_date" type="text" placeholder="Дата сварки" class="form-control" name="welding_date" value="{% if row.welding_date %}{{ row.welding_date }}{% endif %}" autocomplete="off" data-parsley-required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Тип сварки</label>
            <div class="col-lg-10">
              <select id="welding_type_select2" name="welding_type" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for welding_type in welding_type_choices %}
                  <option value="{{ welding_type.0 }}"{% ifequal welding_type.0 row.welding_type %} selected{% endifequal %}>{{ welding_type.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Вид сварного соединения</label>
            <div class="col-lg-10">
              <select id="welding_conn_view_select2" name="welding_conn_view" autocomplete="off">
                <option value="">Не выбрано</option>
                {% for welding_conn_view in welding_conn_view_choices %}
                  <option value="{{ welding_conn_view.0 }}"{% ifequal welding_conn_view.0 row.welding_conn_view %} selected{% endifequal %}>{{ welding_conn_view.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Свариваемые элементы</label>
            <div class="col-lg-5">
              <select id="join_type_from_select2" name="join_type_from" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for join_type in join_types %}
                  <option value="{{ join_type.0 }}"{% ifequal join_type.0 row.join_type_from %} selected{% endifequal %}>{{ join_type.1 }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-5">
              <select id="join_type_to_select2" name="join_type_to" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for join_type in join_types %}
                  <option value="{{ join_type.0 }}"{% ifequal join_type.0 row.join_type_to %} selected{% endifequal %}>{{ join_type.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Материал (сталь)</label>
            <div class="col-lg-10">
              <select id="material_select2" name="material" autocomplete="off" data-parsley-required>
                <option value="">Не выбрано</option>
                {% for material in material_choices %}
                  <option value="{{ material.0 }}"{% ifequal material.0 row.material %} selected{% endifequal %}>{{ material.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="panel panel-defaul">
            <div class="panel-heading">Сварщик</div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-lg-2 control-label">Сварщик 1</label>
                <div class="col-lg-10">
                  <select id="welder1_select2" name="welder1" autocomplete="off" data-parsley-required>
                    <option value="">Не выбрано</option>
                    {% if welders.1 %}
                      <option value="{{ welders.1.id }}" selected>{{ welders.1.name }} - {{ welders.1.stigma }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Сварщик 2</label>
                <div class="col-lg-10">
                  <select id="welder2_select2" name="welder2" autocomplete="off">
                    <option value="">Не выбрано</option>
                    {% if welders.2 %}
                      <option value="{{ welders.2.id }}" selected>{{ welders.2.name }} - {{ welders.2.stigma }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Сварщик 1 по факту</label>
                <div class="col-lg-10">
                  <select id="welder3_select2" name="welder3" autocomplete="off">
                    <option value="">Не выбрано</option>
                    {% if welders.3 %}
                      <option value="{{ welders.3.id }}" selected>{{ welders.3.name }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Сварщик 2 по факту</label>
                <div class="col-lg-10">
                  <select id="welder4_select2" name="welder4" autocomplete="off">
                    <option value="">Не выбрано</option>
                    {% if welders.4 %}
                      <option value="{{ welders.4.id }}" selected>{{ welders.4.name }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
          </div>

          {% include "core/forms/row_image.html" %}
          {% include "core/forms/hidden_fields.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
  {% if row %}
    var upload_img_url = '{% url "welding:edit_joint" "img" row.id %}';
  {% endif %}
  $(document).ready(function(){
    $("#welding_date").datepicker({
      onSelect: function (fd, d, calendar) {
        calendar.hide();
      },
      todayButton: new Date(),
    });
    $('#line_select2').select2({
      placeholder: 'Линия узла',
      width: '100%',
      tags: false,
      ajax: {
        url: "{% url 'welding:search_lines' %}",
        data: function (params) {
          var query = {
            q: params.term,
            page: params.page || 1,
          }
          return query;
        },
        cache: false,
        dataType: 'json',
      }
    });
    $('#welding_conn_view_select2').select2({
      placeholder: 'Выберите вид сварного соединения',
      allowClear: true,
      width: '100%',
    });
    $('#welding_type_select2').select2({
      placeholder: 'Выберите тип сварки',
      allowClear: true,
      width: '100%',
    });
    $('#material_select2').select2({
      placeholder: 'Выберите материал',
      allowClear: true,
      width: '100%',
    });
    $('#diameter_select2').select2({
      placeholder: 'Выберите диаметр',
      tags: true,
      allowClear: true,
      width: '100%',
    });
    $('#join_type_from_select2').select2({
      placeholder: 'Свариваемый элемент',
      allowClear: true,
      width: '100%',
    });
    $('#join_type_to_select2').select2({
      placeholder: 'Свариваемый элемент',
      allowClear: true,
      width: '100%',
    });
    for(var i=1; i<=4; i++){
      $('#welder' + i + '_select2').select2({
        placeholder: 'Выберите сварщика',
        allowClear: false,
        width: '100%',
        ajax: {
          url: "{% url 'welding:search_welders' %}",
          data: function (params) {
            var query = {
              q: params.term,
              page: params.page || 1,
            }
            return query;
          },
          cache: false,
          dataType: 'json',
        }
      });
    }
  });
</script>
{% include "core/forms/row_js.html" %}
{% endblock %}