{% extends "core/base.html" %}

{% block extrahead %}
<link href="/static/datetimepicker/datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
window.disableMovableRows = true;
function tabulator_ajax_response(url, params, response){
  console.log(response['dinc']);
  $(".main_panel .panel-heading strong").html("Стыки. D'Inch: " + response['dinc']);
}
var main_table = null;
var state_choices = {
  "": "Без фильтра",
  {% for state in state_choices %}
    {{ state.0 }}: "{{ state.1 }}",
  {% endfor %}
};
$(document).ready(function(){
  var welding_type_choices = {
    "": "Без фильтра",
    {% for welding_type_choice in welding_type_choices %}
      {{ welding_type_choice.0 }}: "{{ welding_type_choice.1 }}",
    {% endfor %}
  };
  var material_choices = {
    "": "Без фильтра",
    {% for material in material_choices %}
      {{ material.0 }}: "{{ material.1 }}",
    {% endfor %}
  };
  var join_types = {
    "": "Без фильтра",
    {% for join_type in join_types %}
      {{ join_type.0 }}: "{{ join_type.1 }}",
    {% endfor %}
  };
  var conn_view_choices = {
    "": "Без фильтра",
    {% for conn_view_choice in welding_conn_view_choices %}
      {{ conn_view_choice.0 }}: "{{ conn_view_choice.1 }}",
    {% endfor %}
  };
  var actionsJointFormatter = function(cell, formatterParams, onRendered){
    var row = cell.getRow();
    var rowIndex = row.getIndex();
    var pk = cell.getValue();
    var actions = "<div class='padding-rl5'>";
    actions += " <a class='btn-xs btn btn-info pull-left' href='{% url 'welding:create_welding' 'form' %}?joint=" + pk + "' title='Заявка на стык'><i class='fa fa-file'></i></a> ";
    {% if permissions.edit %}
      actions += " <a class='btn-xs btn btn-primary pull-left ml' href='{{ root_url }}edit/" + pk + "/'><i class='fa fa-edit'></i></a> ";
    {% endif %}
    {% if permissions.drop %}
      actions += " <a class='btn-xs btn btn-danger pull-right' href='javascript:void(0);' data-toggle='modal' data-target='#ajax_drop_obj' onclick='prepare_for_drop(" + pk + ", " + rowIndex + ");'><i class='fa fa-trash'></i></a> ";
    {% endif %}
    actions += "</div>";
    return actions;
  };
  var weldingTypeFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return welding_type_choices[pk];
  };
  var materialFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return material_choices[pk];
  };
  var connViewFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return conn_view_choices[pk];
  };
  var joinTypeFormatter = function(cell, formatterParams, onRendered){
    var pk = cell.getValue();
    return join_types[pk];
  };
  var lineFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line'] ? data['line']['name']  : '';
  };
  var titulFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line']['titul'] ? data['line']['titul']['name']  : '';
  };
  var subjectFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line']['titul']['subject'] ? data['line']['titul']['subject']['name']  : '';
  };
  var companyFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['line']['titul']['subject']['company'] ? data['line']['titul']['subject']['company']['name']  : '';
  };
  var stateFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    //return state = data['welding_joint'] ? state_choices[data['welding_joint']['state']]  : '';
    var state = data['welding_joint'] ? data['welding_joint']['state']  : '';
    var result = '';
    switch(state){
      case 1:
        result = "<i title='Новый' class='fa fa-leaf'></i>";
        break;
      case 2:
        result = "<i title='На контроле ЗНК' class='fa fa-eye'></i>";
        break;
      case 3:
        result = "<i title='Годен' class='fa fa-check-square-o'></i>";
        break;
      case 4:
        result = "<i title='В ремонте' class='fa fa-unlink'></i>";
        break;
      default:
        break;
    }
    return "<p class='text-center'>" + result + "</p>";
  };
  var stigmaFormatter = function(cell, formatterParams, onRendered){
    var result = "";
    var data = cell.getRow().getData();
    for(var i=0; i<data['stigma'].length; i++){
      result += data['stigma'][i] + "<br>";
    }
    return result;
  };

  var accessor_welding_type = function(value, data, type, params, column){
    return welding_type_choices[value];
  }
  var accessor_material = function(value, data, type, params, column){
    return material_choices[value];
  }
  var accessor_join_type = function(value, data, type, params, column){
    return join_types[value];
  }
  var accessor_conn_view = function(value, data, type, params, column){
    return conn_view_choices[value];
  }
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "Номер узла",
        field: "name",
        headerFilterPlaceholder: "Номер узла",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 90,
      },
      {
        title: "Дата сварки",
        field: "welding_date",
        headerFilterPlaceholder: "Дата сварки",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 90,
      },
      {
        title: "Толщина стенки",
        field: "side_thickness",
        headerFilterPlaceholder: "Толщина стенки",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 70,
      },
      {
        title: "Диаметр",
        field: "diameter",
        headerFilterPlaceholder: "Диаметр",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 70,
      },
      {
        title: "Материал",
        field: "material",
        headerFilterPlaceholder: "Материал",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: material_choices,
        },
        editable: false,
        editor: "select",
        formatter: materialFormatter,
        width: 90,
        accessorDownload: accessor_material,
      },
      {
        title: "Свар. эл. 1",
        field: "join_type_from",
        headerFilterPlaceholder: "Свар. эл. 1",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: join_types,
        },
        editable: false,
        editor: "select",
        formatter: joinTypeFormatter,
        width: 90,
        accessorDownload: accessor_join_type,
      },
      {
        title: "Свар. эл. 2",
        field: "join_type_to",
        headerFilterPlaceholder: "Свар. эл. 2",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: join_types,
        },
        editable: false,
        editor: "select",
        formatter: joinTypeFormatter,
        width: 90,
        accessorDownload: accessor_join_type,
      },
      {
        title: "Вид сварного соединения",
        field: "welding_conn_view",
        headerFilterPlaceholder: "Вид сварного соединения",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: conn_view_choices,
        },
        editable: false,
        editor: "select",
        formatter: connViewFormatter,
        width: 90,
        accessorDownload: accessor_conn_view,
      },
      {
        title: "Тип сварки",
        field: "welding_type",
        headerFilterPlaceholder: "Тип сварки",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: welding_type_choices,
        },
        editable: false,
        editor: "select",
        formatter: weldingTypeFormatter,
        width: 90,
        accessorDownload: accessor_welding_type,
      },
      {
        title: "D'Inch",
        field: "dinc",
        headerFilterPlaceholder: "D'Inch",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 90,
      },
      {
        title: "Клеймо",
        field: "jointwelder__welder__stigma",
        headerFilterPlaceholder: "Клеймо",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: stigmaFormatter,
        width: 90,
      },
      {
        title: "Статус",
        field: "welding_joint__state",
        headerFilterPlaceholder: "Статус",
        headerFilter: true,
        headerFilterFunc: "=",
        headerFilterParams: {
          values: state_choices,
        },
        editable: false,
        editor: "select",
        formatter: stateFormatter,
        width: 70,
        downloadTitle: "state",
      },
      {
        title: "Линия",
        field: "line__name",
        headerFilterPlaceholder: "Линия",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: lineFormatter,
        width: 90,
      },
      {
        title: "Титул",
        field: "line__titul__name",
        headerFilterPlaceholder: "Титул",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: titulFormatter,
        width: 90,
      },
/*
      {
        title: "Объект",
        field: "line__titul__subject__name",
        headerFilterPlaceholder: "Объект",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: subjectFormatter,
        width: 90,
      },
      {
        title: "Компания",
        field: "line__titul__subject__company__name",
        headerFilterPlaceholder: "Компания",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: companyFormatter,
        width: 90,
      },
*/
      {
        title: "Действия",
        field: "actions",
        headerSort: false,
        formatter: actionsJointFormatter,
        width: 120,
        download: false,
      },
    ],
  });
  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "welding_date"){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        position: "right top",
        todayButton: new Date(),
      });
    }
  });
});
</script>
{% endblock %}