{% extends "core/base.html" %}

{% block extrahead %}
<style type="text/css">
  #current_edit_form .bordered{
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  .line_file{
    text-align: center;
    padding: 5px 10px;
    border: 1px dotted #ccc;
  }
</style>
{% endblock %}

{% block content %}
<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">
          {{ singular_obj }}
          {% if row %}, титул {{ row.titul.name }}, объект {{ row.titul.subject.name }}, компания {{ row.titul.subject.company.name }}{% endif %}
        </div>
        <div class="panel-body">
          {% csrf_token %}
          {% include "core/forms/row_name.html" %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Номер изометрической схемы</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Номер изометрической схемы" class="form-control" name="scheme_number" value="{% if row.scheme_number %}{{ row.scheme_number }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Стыков по проекту</label>
            <div class="col-lg-10">
              <input type="number" step="1" placeholder="Стыков по проекту" class="form-control" name="project_joint_count" value="{% if row.project_joint_count %}{{ row.project_joint_count }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">D-inc по проекту</label>
            <div class="col-lg-10">
              <input type="number" step="0.01" placeholder="D-inc по проекту" class="form-control" name="project_dinc" value="{% if row.project_dinc %}{{ row.project_dinc }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Титул</label>
            <div class="col-lg-10">
              <select id="titul_select2" name="titul" autocomplete="off"  data-parsley-required>
                <option value="">Не выбрано</option>
                {% if row.titul %}
                  <option value="{{ row.titul.id }}" selected>{{ row.titul.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>
{% comment %}<!--
          <div class="form-group">
            <label class="col-lg-2 control-label">Установка</label>
            <div class="col-lg-10">
              <select id="base_select2" name="base" autocomplete="off">
                <option value="">Не выбрано</option>
                {% if row.base %}
                  <option value="{{ row.base.id }}" selected>{{ row.base.name }}</option>
                {% endif %}
              </select>
            </div>
          </div>
-->{% endcomment %}

          {% if row.id and files_permissions.create %}
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label"><small>Загрузка изображения/файла</small></label>
                <div class="col-sm-10">
                  <div id="upload-drop-files" class="box-placeholder text-center">
                    <p>
                      <em class="fa fa-cloud-upload fa-2x"></em>
                    </p>
                    Перетащите файл сюда или
                    <div class="btn-link form-file">выберите файл для загрузки
                      <input id="upload-select-files" type="file" name="path">
                    </div>
                  </div>
                  <div id="progressbar-files" class="progress hidden">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="progress-bar-files"></div>
                  </div>
                </div>
              </div>
            </fieldset>
          {% endif %}

          {% if row.id and files_permissions.view %}
          <div class="form-group bordered">
            <div class="col-lg-2">
              <p class="text-right">Изображения/файлы</p>
            </div>
            <div class="col-lg-10">
              <div class="row-masonry row-masonry-md-4 row-masonry-sm-2" id="line_files">
                {% for file in files %}
                  <div class="col-masonry line_file" id="file_index_{{ file.id }}">
                    <a target="_blank" href="/media/{{ file.folder }}{{ file.path }}" class="fname">{{ file.name }} ({{ file.mime }})</a>
                    <br />
                    <a href="{{ root_url }}line_files/download/{{ file.id }}/" class="mt-sm btn-xs btn btn-info"><i class="fa fa-download"></i></a>

                    <a href="javascript:void(0);" class="mt-sm btn-xs btn btn-danger" data-toggle="modal" data-target="#ajax_drop_file" onclick="prepare_for_drop_file({{ file.id }})"><i class="fa fa-trash"></i></a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}

          {% include "core/forms/hidden_fields.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
<div id="ajax_drop_file" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFile" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="myModalLabelFile" class="modal-title">{{ action_drop }} файла из {{ rp_singular_obj }}</h4>
      </div>
      <div class="modal-body">Вы уверены, что хотите удалить файл id=<span id="ajax_drop_file_id"></span><span class="hidden" id="ajax_drop_file_ind"></span>?</div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="ajax_drop_file_button">Да</button>
      </div>
    </div>
  </div>
</div>
<form class="hidden" method="get" action="{{ root_url }}" id="current_drop_file_form">{% csrf_token %}</form>

<script src="/static/admin/js/parsley.min.js"></script>
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>
<script type="text/javascript">
  function prepare_for_drop_file(pk, row_index){
    $("#ajax_drop_file_id").html(pk);
    $("#current_drop_file_form").attr("action", "{{ root_url }}line_files/drop/" + pk + "/");
  }

  $(document).ready(function(){
    $('#titul_select2').select2({
      placeholder: 'Выберите титул',
      allowClear: true,
      width: '100%',
      tags: false,
      ajax: {
        url: "{% url 'welding:search_tituls' %}",
        data: function (params) {
          var query = {
            q: params.term,
            page: params.page || 1,
          }
          return query;
        },
        cache: false,
        dataType: 'json',
      }
    });

    $("#current_edit_form").parsley();
    $("#current_edit_form").submit(function(e) {
      var $form = $(this);
      var msg = 'Произошла ошибка, обновите страничку';
      var status = 'danger'; // success, warning, info, danger
      $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serialize()
      }).done(function(r) {
        if(r.error){
          msg = r.error;
        }else if(r.success){
          msg =  r.success;
          status = 'success';
          window.location.href = r.redirect;
        }
        $.notify({
          message: msg,
        },{
          status: status,
        });
        // Переадресация, если создается дубликат
        if(r.redirect_on_error){
          window.location.href = r.redirect_on_error;
        }
      }).fail(function() {
        $.notify({
          message: msg,
        },{
          status: status,
        });
      });
      //отмена действия по умолчанию для кнопки submit
      e.preventDefault();
    })

    // --------------
    // Удаление файла
    // --------------
    $('#ajax_drop_file_button').click(function(){
      var pk = $('#ajax_drop_file_id').html();
      var $form = $('#current_drop_file_form');
      var msg = 'Произошла ошибка, сообщите администратору';
      var status = 'danger';
      $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serialize()
      }).done(function(r) {
        if(r.error){
          msg = r.error;
        }else if(r.success){
          msg =  r.success;
          status = 'success';
          // Удаляем блок с файлом
          $("#file_index_" + pk).remove();
        }
        $.notify({
          message: msg,
        },{
         status: status,
        });
      }).fail(function() {
        $.notify({
          message: msg,
        },{
          status: status,
        });
      });
    });
    function update_links(r){
      // Добавление файла в заявку на стык
      var msg = 'Произошла ошибка, сообщите администратору';
      var status = 'danger';
      if(r.error){
        msg = r.error;
      }else if(r.success){
        msg =  r.success;
        status = 'success';
      }
      $.notify({
        message: msg,
      },{
       status: status,
      });
      var file = r['file'];
      if(!file){
        return;
      }
      var html = '';
      html += '<div class="col-masonry line_file" id="file_index_' + file['id'] + '">';
      //html += '<img src="' + file['thumb'] + '" class="img-thumbnail img-responsive">';
      html += '<a target="_blank" href="/media/' + file['folder'] + file['path'] + '" class="fname">' + file['name'] + ' (' + file['mime'] + ')</a>';
      html += '<br /><a href="{{ root_url }}line_files/download/' + file['id'] + '/" class="mt-sm btn-xs btn btn-info">';
      html += '<i class="fa fa-download"></i></a>';
      html += ' ';
      html += '<a href="javascript:void(0);" class="mt-sm btn-xs btn btn-danger" data-toggle="modal" data-target="#ajax_drop_file" onclick="prepare_for_drop_file(' + file['id'] + ')">';
      html += '<i class="fa fa-trash"></i></a>';
      html += '</div>'
      $("#line_files").append($(html));
      return;
    }

    {% if row.id %}
      var progressbar = $('#progressbar-files'),
        bar         = progressbar.find('.progress-bar-files'),
        settings    = {
          action: '{% url "welding:edit_line" "file" row.id %}',
          allow : '*.*',
          param: 'path',
          params: {csrfmiddlewaretoken: getCookie('csrftoken')},
          loadstart: function() {
            bar.css('width', '0%').text('0%');
            progressbar.removeClass('hidden');
          },
          progress: function(percent) {
            percent = Math.ceil(percent);
            bar.css('width', percent+'%').text(percent+'%');
          },
          allcomplete: function(response) {
            bar.css('width', '100%').text('100%');
            setTimeout(function(){
              progressbar.addClass('hidden');
            }, 750);
            // Upload Completed
            //alert(response);
          },
          complete: function(response) {
            // Обновление ссылок
            var r = JSON.parse(response);
            update_links(r);
          }
        };
      var select = new $.upload.select($('#upload-select-files'), settings),
      drop   = new $.upload.drop($('#upload-drop-files'), settings);
    {% endif %}
  });
</script>
{% endblock %}