{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;
$(document).ready(function(){
  var titulFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['titul'] ? data['titul']['name']  : '';
  };
  var subjectFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['titul']['subject'] ? data['titul']['subject']['name']  : '';
  };
  var companyFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['titul']['subject']['company'] ? data['titul']['subject']['company']['name'] : '';
  };
  var totalJointsFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var new_joints= data['new_joints'] ? parseInt(data['new_joints']) : 0;
    var in_progress_joints = data['in_progress_joints'] ? parseInt(data['in_progress_joints']) : 0;
    var repair_joints = data['repair_joints'] ? parseInt(data['repair_joints']) : 0;
    var complete_joints = data['complete_joints'] ? parseInt(data['complete_joints']) : 0;
    var incomplete_joints = new_joints + in_progress_joints + repair_joints;
    var total_joints = incomplete_joints + complete_joints;
    return total_joints;
  };
  var progressFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var new_joints= data['new_joints'] ? parseInt(data['new_joints']) : 0;
    var in_progress_joints = data['in_progress_joints'] ? parseInt(data['in_progress_joints']) : 0;
    var repair_joints = data['repair_joints'] ? parseInt(data['repair_joints']) : 0;
    var complete_joints = data['complete_joints'] ? parseInt(data['complete_joints']) : 0;
    var incomplete_joints = new_joints + in_progress_joints + repair_joints;
    var total_joints = incomplete_joints + complete_joints;
    var progress = parseInt(complete_joints * 100 / total_joints);
    return progress + "%";
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/name.html" %}
      {
        title: "Новые стыки",
        field: "new_joints",
        headerFilterPlaceholder: "Новые стыки",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 70,
      },
      {
        title: "В работе",
        field: "in_progress_joints",
        headerFilterPlaceholder: "В работе",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 70,
      },
      {
        title: "В ремонте",
        field: "repair_joints",
        headerFilterPlaceholder: "В ремонте",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 70,
      },
      {
        title: "Готовые стыки",
        field: "complete_joints",
        headerFilterPlaceholder: "Готовые стыки",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 70,
      },
      {
        title: "Всего стыков",
        field: "",
        headerSort: false,
        formatter: totalJointsFormatter,
        minWidth: 70,
      },
      {
        title: "Готовность",
        field: "",
        headerSort: false,
        formatter: progressFormatter,
        minWidth: 70,
      },
      {
        title: "Номер схемы",
        field: "scheme_number",
        headerFilterPlaceholder: "Номер схемы",
        headerFilter: "input",
        headerFilterFunc: "like",
        minWidth: 120,
      },
      {
        title: "Титул",
        field: "titul__name",
        headerFilterPlaceholder: "Титул",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: titulFormatter,
        minWidth: 90,
      },
      {
        title: "Объект",
        field: "titul__subject__name",
        headerFilterPlaceholder: "Объект",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: subjectFormatter,
        minWidth: 90,
      },
      {
        title: "Компания",
        field: "titul__subject__company__name",
        headerFilterPlaceholder: "Компания",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: companyFormatter,
        minWidth: 90,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}