{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
window.disableMovableRows = true;
var main_table = null;
$(document).ready(function(){
  var titulFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['titul'] ? data['titul']['name']  : '';
  };
  var subjectFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['titul']['subject'] ? data['titul']['subject']['name']  : '';
  };
  var companyFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['titul']['subject']['company'] ? data['titul']['subject']['company']['name'] : '';
  };
  var totalJointsFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var new_joints= data['new_joints'] ? parseInt(data['new_joints']) : 0;
    var in_progress_joints = data['in_progress_joints'] ? parseInt(data['in_progress_joints']) : 0;
    var repair_joints = data['repair_joints'] ? parseInt(data['repair_joints']) : 0;
    var complete_joints = data['complete_joints'] ? parseInt(data['complete_joints']) : 0;
    var incomplete_joints = new_joints + in_progress_joints + repair_joints;
    var total_joints = incomplete_joints + complete_joints;
    return total_joints;
  };
  var progressFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    var new_joints= data['new_joints'] ? parseInt(data['new_joints']) : 0;
    var in_progress_joints = data['in_progress_joints'] ? parseInt(data['in_progress_joints']) : 0;
    var repair_joints = data['repair_joints'] ? parseInt(data['repair_joints']) : 0;
    var complete_joints = data['complete_joints'] ? parseInt(data['complete_joints']) : 0;
    var incomplete_joints = new_joints + in_progress_joints + repair_joints;
    var total_joints = incomplete_joints + complete_joints;
    var progress = parseInt(complete_joints * 100 / total_joints);
    return progress + "%";
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {
        title: "Титул",
        field: "titul__name",
        headerFilterPlaceholder: "Титул",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: titulFormatter,
        width: 90,
      },
      {% include "core/tabulator_cell/name.html" %}
      {
        title: "Стыков по проекту",
        field: "project_joint_count",
        headerFilterPlaceholder: "Стыков по проекту",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 70,
      },
      {
        title: "D-inc по проекту",
        field: "project_dinc",
        headerFilterPlaceholder: "D-inc по проекту",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 70,
      },
      {
        title: "Выполнено стыков",
        field: "complete_joints",
        headerFilterPlaceholder: "Выполнено стыков",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 70,
      },
      {
        title: "Выполнено D-inc",
        field: "complete_dinc",
        headerFilterPlaceholder: "Выполнено D-inc",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 70,
      },
      {
        title: "Заявки на стыки",
        field: "new_joints",
        headerFilterPlaceholder: "Заявки на стыки",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 70,
      },
      {
        title: "В работе ЛНК",
        field: "in_progress_joints",
        headerFilterPlaceholder: "В работе ЛНК",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 70,
      },
      {
        title: "В ремонте",
        field: "repair_joints",
        headerFilterPlaceholder: "В ремонте",
        headerFilter: "input",
        headerFilterFunc: "=",
        width: 70,
      },
/*
      {
        title: "Всего стыков",
        field: "",
        headerSort: false,
        formatter: totalJointsFormatter,
        width: 70,
      },
*/
      {
        title: "Процент завершения",
        field: "",
        headerSort: false,
        formatter: progressFormatter,
        width: 70,
      },
      {
        title: "Процент контроля",
        field: "",
        headerSort: false,
        //formatter: progressFormatter,
        width: 70,
      },
      {
        title: "Номер схемы",
        field: "scheme_number",
        headerFilterPlaceholder: "Номер схемы",
        headerFilter: "input",
        headerFilterFunc: "like",
        width: 120,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}