{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<a class="btn btn-primary pull-right" href="{{ url_create }}">
  <em class="fa fa-plus-circle fa-fw mr-sm"></em> {{ action_create }} {{ rp_singular_obj }}
</a>

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){
  var subjectFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['subject'] ? data['subject']['name']  : '';
  };
  var companyFormatter = function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();
    return data['subject']['company'] ? data['subject']['company']['name']  : '';
  };

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name.html" %}
      {
        title: "Объект",
        field: "subject__name",
        headerFilterPlaceholder: "Объект",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: subjectFormatter,
        minWidth: 90,
      },
      {
        title: "Компания",
        field: "subject__company__name",
        headerFilterPlaceholder: "Компания",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: companyFormatter,
        minWidth: 90,
      },
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}