{% if perms.jabber.view_registrations %}
<li{% ifequal menu 'jabber' %} class="active"{% endifequal %} id="left_menu_jabber">
  <a class="has-submenu" data-toggle="collapse-next" href="#">
    <em class="fa fa-comments-o"></em>
    <div class="label label-primary pull-right"><i class="fa fa-angle-down"></i></div>
    <span class="item-text">Чат Jabber</span>
  </a>
  <ul class="nav collapse{% ifequal menu 'jabber' %} in{% endifequal %}">
    <li{% ifequal submenu 'registrations' %} class="active"{% endifequal %} id="left_menu_jabber_registrations">
      <a class="no-submenu" data-toggle="" href="{% url 'jabber:show_registrations' %}">
        <span class="item-text">Регистрации</span>
      </a>
    </li>
    <li{% ifequal submenu 'tokens' %} class="active"{% endifequal %} id="left_menu_jabber_tokens">
      <a class="no-submenu" data-toggle="" href="{% url 'jabber:show_tokens' %}">
        <span class="item-text">Токены FCM</span>
      </a>
    </li>
    <li{% ifequal submenu 'test_push' %} class="active"{% endifequal %} id="left_menu_jabber_test_push">
      <a class="no-submenu" data-toggle="" href="{% url 'jabber:test_push' %}">
        <span class="item-text">Отправка PUSH</span>
      </a>
    </li>
<!--
    <li{% ifequal submenu 'device_contacts' %} class="active"{% endifequal %} id="left_menu_device_contacts">
      <a class="no-submenu" data-toggle="" href="{% url 'jabber:show_device_contacts' %}">
        <span class="item-text">Контакты устройств</span>
      </a>
    </li>
-->
  </ul>
</li>
{% endif %}
