{% extends "core/base.html" %}

{% block extrahead %}
<style type="text/css">
  #console_peek {
    height: 300px;
    overflow: scroll;
  }
  #console_peek .incoming {
    color: #499450;
  }
  #console_peek .outgoing {
    color: #979968;
  }
  .xml_punc { color: #888; }   /* <>/= */
  .xml_tag { color: #e77; }    /* el tag name */
  .xml_aname { color: #55d; }  /* attribute name */
  .xml_avalue { color: #77f; } /* attribute value */
  .xml_text { color: #aaa }    /* text children of an element */
  .xml_level0 { padding-left: 0; }
  .xml_level1 { padding-left: 1em; }
  .xml_level2 { padding-left: 2em; }
  .xml_level3 { padding-left: 3em; }
  .xml_level4 { padding-left: 4em; }
  .xml_level5 { padding-left: 5em; }
  .xml_level6 { padding-left: 6em; }
  .xml_level7 { padding-left: 7em; }
  .xml_level8 { padding-left: 8em; }
  .xml_level9 { padding-left: 9em; }

  .chat-name { color: #c33; }
  .chat-message .me { color: #33c; }
  .chat-event { font-style: italic; font-size: 75%; }
  .roster-contact { padding: 3px; }
  .roster-contact:hover { background-color: #aaa; color: white; }
  .roster-name { font-size: 150%; }
  .online { color: #3c3; }
  .away { color: #c33; }
  .offline { color: #ccc; }
</style>
{% endblock %}

{% block content %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}

<div class="panel panel-default" id="jabber_login_form">
  <div class="panel-heading">Авторизация в чате</div>
  <div class="panel-body">
    <form role="form" method="get">
      <div class="form-group">
        <label>Логин</label>
        <input type="email" placeholder="Например, admin@chat.server.ru" class="form-control" value="jocker@anhel.1sprav.ru">
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input type="password" placeholder="Пароль" class="form-control" value="Cnfylfhnysq1">
      </div>
      <button type="submit" class="btn btn-sm btn-default">Вход</button>
    </form>
  </div>
</div>

<div class="panel panel-default hidden" id="jabber_new_contact_form">
  <div class="panel-heading">Добавить контакт</div>
  <div class="panel-body">
    <form role="form" method="get">
      <div class="form-group">
        <label>Логин</label>
        <input type="text" class="form-control" placeholder="Логин" name="jabber_id">
      </div>
      <div class="form-group">
        <label>Имя</label>
        <input type="text" class="form-control" placeholder="Имя" name="name">
      </div>
      <button type="submit" class="btn btn-sm btn-default">Добавить</button>
    </form>
  </div>
</div>

<div class="hidden" id="jabber_approve_contact_form">
</div>

<div class="panel panel-default hidden" id="jabber_message_form">
  <div class="panel-heading">Чат</div>
  <div class="panel-body">
    <form role="form" method="get">
      <div class="form-group">
        <label>Сообщение</label>
        <textarea class="form-control" placeholder="Ваше сообщение"></textarea>
      </div>
      <button type="submit" class="btn btn-sm btn-default">Отправить</button>
    </form>
  </div>
</div>

<div class="panel panel-default hidden" id="jabber_logout_form">
  <div class="panel-heading">Чат</div>
  <div class="panel-body">
    <form role="form" method="get">

      <button type="submit" class="btn btn-sm btn-default">Выход</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="jabber_dialogs_container" class="hidden">
    </div>
  </div>
  <div class="col-md-6">
    <ul id="jabber_roster_container" class="hidden">
    </ul>
  </div>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="ejabberd"></div>
  </div>
  <div class="col-md-6">
    <div id="console_peek"></div>
    <div class="clear_console_peek"><i class="fa fa-trash"></i></div>
  </div>
  <div class="clearfix"></div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/chat/strophe.js"></script>
<script type="text/javascript" src="/static/chat/ChatPeek.js"></script>
<script type="text/javascript" src="/static/chat/jabber_functions.js"></script>
<script type="text/javascript">
  // var ref = conn.addHandler(my_handler_function, null, “message”);
  // addHandler: function (handler, ns, name, type, id, from) {
  //   // если handler не возвращает true, то он удаляется
  // }
  // once the handler is no longer needed: connection.deleteHandler(ref);

  var jabber_vars = {
    "ejabberd_id": "ejabberd",
    "receiver": null, // Получатель (например, "alex@anhel.1sprav.ru")
    "connected": false,
    "conn": null,
    "scheme": "https://",
    "host": null,
    "login": null,
    "passwd": null,
    "login_form_id": "jabber_login_form",
    "logout_form_id": "jabber_logout_form",
    "message_form_id": "jabber_message_form",
    "new_contact_form_id": "jabber_new_contact_form",

    "dialogs_container_id": "jabber_dialogs_container",
    "roster_container_id": "jabber_roster_container",

    "ping_started": 0,
    "pending_subscriber": null,


  };
  // Добавляем функционал в jabber_vars
  add_functions2jabber(jabber_vars);


  $("#" + jabber_vars.ejabberd_id).bind("connected", function(){
    jabber_vars.log("connected");
    jabber_vars.connected = true;
    $("#" + jabber_vars.login_form_id).addClass("hidden");
    $("#" + jabber_vars.logout_form_id).removeClass("hidden");
    $("#" + jabber_vars.message_form_id).removeClass("hidden");
    $("#" + jabber_vars.new_contact_form_id).removeClass("hidden");
    $("#" + jabber_vars.dialogs_container_id).removeClass("hidden");
    $("#" + jabber_vars.roster_container_id).removeClass("hidden");

    // handlers
    //jabber_vars.conn.addHandler(jabber_vars.pong, null, "iq", null, "ping1");
    jabber_vars.conn.addHandler(jabber_vars.on_message, null, "message", "chat");
    jabber_vars.conn.addHandler(jabber_vars.on_presence, null, "presence");
    jabber_vars.conn.addHandler(jabber_vars.on_roster_changed, Strophe.NS.ROSTER, "iq", "set");

    // events
    //jabber_vars.ping(); // ping1
    //$("#" + jabber_vars.ejabberd_id).trigger("get_server_version");
    jabber_vars.get_roster();
    jabber_vars.conn.send($pres());
  })
  .bind("disconnected", function(){
    jabber_vars.log("disconnected");
    jabber_vars.connected = false;
    jabber_vars.receiver = null;
    jabber_vars.pending_subscriber = null;
    jabber_vars.conn = null;

    $("#" + jabber_vars.login_form_id).removeClass("hidden");
    $("#" + jabber_vars.logout_form_id).addClass("hidden");
    $("#" + jabber_vars.message_form_id).addClass("hidden");
    $("#" + jabber_vars.new_contact_form_id).addClass("hidden");
    $("#" + jabber_vars.dialogs_container_id).addClass("hidden").html("");
    $("#" + jabber_vars.roster_container_id).addClass("hidden").html("");
  })
  .bind("read_credentials", function(){
      var login = $("#" + jabber_vars.login_form_id + " form input[type='email']").val();
      jabber_vars.login = login;
      var passwd = $("#" + jabber_vars.login_form_id + " form input[type='password']").val();
      jabber_vars.passwd = passwd;
      if(login.indexOf("@") < 0){
        jabber_vars.host = null;
        alert("login incorrect");
        return;
      }
      var host = login.split("@")[1];
      jabber_vars.host = host;
  })
  .bind("logout", function(){
    jabber_vars.log("logout");
    jabber_vars.conn.disconnect();
    jabber_vars.connected = false;
    $("#" + jabber_vars.login_form_id).removeClass("hidden");
    jabber_vars.conn = null;
  })
  // TODO: переделать на другое поле
  .bind("send_xml", function(){
    if(!jabber_vars.connected){
      console.log('not connected');
      return;
    }
    var msg = $("#" + jabber_vars.message_form_id + " form textarea").val();
    msg = $.trim(msg);
    if(msg.length < 1){
      console.log("empty message");
      return;
    }
    var xml = jabber_vars.text2xml(msg);
    if(!xml){
      $("#" + jabber_vars.message_form_id + " form textarea").css("borderColor", "#f00");
      return;
    }
    jabber_vars.conn.send(xml);
  })
  .bind("send_message", function(){
    var msg = $("#" + jabber_vars.message_form_id + " form textarea").val();
    jabber_vars.send_message(msg);
  })
  .bind("get_server_version", function(){
    if(!jabber_vars.connected){
      console.log('not connected');
      return;
    }
    var xml = $iq({
      type: "get",
      id: "version1",
      to: jabber_vars.host,
    }).c("query", {xmlns: "jabber:iq:version"});
    jabber_vars.conn.send(xml);
  })
  .bind("get_roster", function(){
    var iq = $iq({
      type: 'get',
    }).c("query", {xmlns: Strophe.NS.ROSTER});
    jabber_vars.conn.sendIQ(iq, jabber_vars.handle_roster);
  })
  .bind("new_contact", function(){
    // Добавление нового контакта
    var jabber_id = $("#" + jabber_vars.new_contact_form_id + " input[name='jabber_id']").val();
    var name = $("#" + jabber_vars.new_contact_form_id + " input[name='name']").val();
    jabber_vars.roster_subscribe(jabber_id, name);
  })
  .bind("pengind_subscriber", function(){
    alert("pending_subscriber " + jabber_vars.pending_subscriber);
  })
  .bind("empty_trigger", function(){
    // Втыкать фукнции выше этой,
    // чтобы не получать ошибки по поводу;
  });


  function connect2jabber(){
    $("#" + jabber_vars.ejabberd_id).trigger("read_credentials");
    if(jabber_vars.host == null){
      alert("host incorrect");
      return;
    }
    if(jabber_vars.conn != null){
      console.log("conn already created");
    }else{
      var urla = jabber_vars.scheme + jabber_vars.host + "/bosh/";
      var conn = new Strophe.Connection(urla);
      jabber_vars.conn = conn;

      // ChatPeek for debug
      ChatPeek.conn = jabber_vars.conn;

      // ChatPeek debug handlers
/*
      jabber_vars.conn.xmlInput = function(body){
        ChatPeek.show_traffic(body, "incoming");
      }
      jabber_vars.conn.xmlOutput = function(body){
        ChatPeek.show_traffic(body, "outgoing");
      }
*/
    }
    jabber_vars.conn.connect(jabber_vars.login, jabber_vars.passwd, function(status){
      if (status === Strophe.Status.CONNECTED){
        $("#" + jabber_vars.ejabberd_id).trigger("connected");
      }else if (status === Strophe.Status.DISCONNECTED){
        $("#" + jabber_vars.ejabberd_id).trigger("disconnected");
      }
    });
  }
  $(document).ready(function(){
    $("#" + jabber_vars.login_form_id + " form").submit(function(e){
      connect2jabber();
      e.preventDefault();
    });
    $("#" + jabber_vars.logout_form_id + " form").submit(function(e){
      $("#" + jabber_vars.ejabberd_id).trigger("logout");
      e.preventDefault();
    });
    $("#" + jabber_vars.message_form_id + " form").submit(function(e){
      $("#" + jabber_vars.ejabberd_id).trigger("send_message");
      e.preventDefault();
    });
    $("#" + jabber_vars.message_form_id + " form textarea").keypress(function(){
      $(this).css("borderColor", "#fff");
    });
    $("#" + jabber_vars.new_contact_form_id + " form").submit(function(e){
      $("#" + jabber_vars.ejabberd_id).trigger("new_contact");
      e.preventDefault();
    });


    $(".clear_console_peek").click(function(){
      $("#console_peek").html("");
    });
    connect2jabber();
  });
</script>
{% endblock %}