{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/datetimepicker/datepicker.min.js"></script>

<script type="text/javascript">
var main_table = null;
var main_table_columns = null;
$(document).ready(function(){

  main_table_columns = [
    {% include "core/tabulator_cell/drag.html" %}
    {% include "core/tabulator_cell/id.html" %}
    {
      title: "Владелец",
      field: "jid_owner",
      headerFilterPlaceholder: "Владелец",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Отображаемое имя",
      field: "display_name",
      headerFilterPlaceholder: "Отображаемое имя",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Имя",
      field: "given_name",
      headerFilterPlaceholder: "Имя",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Отчество",
      field: "middle_name",
      headerFilterPlaceholder: "Отчество",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Фамилия",
      field: "family_name",
      headerFilterPlaceholder: "Фамилия",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Компания",
      field: "company",
      headerFilterPlaceholder: "Компания",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Должность",
      field: "job_title",
      headerFilterPlaceholder: "Должность",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Emails",
      field: "emails",
      headerFilterPlaceholder: "Emails",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Телефоны",
      field: "phones",
      headerFilterPlaceholder: "Телефоны",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "Почтовый адрес",
      field: "postal_addresses",
      headerFilterPlaceholder: "Почтовый адрес",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {
      title: "День рождения",
      field: "birthday",
      headerFilterPlaceholder: "День рождения",
      headerFilter: "input",
      headerFilterFunc: "like",
      width: 150,
    },
    {% include "core/tabulator_cell/created_updated.html" %}
    {% include "core/tabulator_cell/is_active.html" %}
    {% include "core/tabulator_cell/position.html" %}
    {% include "core/tabulator_cell/actions.html" %}
  ];

  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns: main_table_columns,
  });

  $(".tabulator-headers .tabulator-col").each(function(){
    if($(this).attr("tabulator-field") === "created" || $(this).attr("tabulator-field") === "updated" ){
      $(this).find("input").datepicker({
        onSelect: function (fd, d, calendar) {
          calendar.hide();
        },
        position: "left top",
        todayButton: new Date(),
      });
    }
  });

});
</script>
{% endblock %}