{% load mtags %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% if q_string.title or page.title %}
    <title>{% if q_string.title %}{{ q_string.title|textize }}{% else %}{{ page.title|textize }}{% endif %}{% if containers.main.tags.company_name %} - {{ containers.main.tags.company_name.title }}{% endif %}</title>
{% endif %}

<meta name="description" content="{% if q_string.description %}{{ q_string.description|textize }}{% else %}{{ page.description|textize }}{% endif %}" />
{% if q_string.keywords or page.keywords %}
<meta name="keywords" content="{% if q_string.keywords %}{{ q_string.keywords|textize }}{% else %}{{ page.keywords|textize }}{% endif %}" />
{% endif %}

{% if containers.main.tags.favicon.img %}
    <link rel="shortcut icon" href="{{ containers.main.tags.favicon.imagine }}" type="image/{% if '.png' in containers.main.tags.favicon.img %}png{% else %}jpeg{% endif %}"/>
{% else %}
    <link rel="shortcut icon" href="/media/favicons/favicon.ico" type="image/x-icon"/>
{% endif %}

{% if q_string.canonical and q_string.full_canonical %}
    {% ifnotequal request.META.PATH_INFO q_string.canonical %}
        <link rel="canonical" href="{{ q_string.full_canonical|safe }}" />
    {% endifnotequal %}
{% endif %}

{% if containers.main.tags.apple114.img %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ containers.main.tags.apple114.imagine }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ containers.main.tags.apple114.imagine }}" />
{% else %}
    <link rel="apple-touch-icon" sizes="57x57" href="/media/favicons/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/media/favicons/apple-touch-icon-114.png" />
{% endif %}

{% if containers.main.tags.apple144.img %}
    <link rel="apple-touch-icon" sizes="72x72" href="{{ containers.main.tags.apple144.imagine }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ containers.main.tags.apple144.imagine }}" />
{% else %}
    <link rel="apple-touch-icon" sizes="72x72" href="/media/favicons/apple-touch-icon-144.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/media/favicons/apple-touch-icon-144.png" />
{% endif %}
<meta name="author" content="Kramorov Den (Jocker)" />