{% load mtags %}
<div class="about-section article3"{% if container.img %} style="background-image:url('{{ container.imagine }}');"{% endif %}>
  <div class="skew"></div>
  <div class="container">
    {% for block in blocks %}
      <div class="row">
        {% if block.img %}
          <div class="col-md-6">
            {% imagine block.img '800x600' block.get_folder %}
          </div>
        {% endif %}
        <div class="col-md-6 pt-50 pb-50">
          <h2 class="subtitle">{{ block.name }}</h2>
          {{ block.html|safe }}
        </div>

      </div>
    {% endfor %}
  </div>
</div>