{% load mtags %}
<div class="widget widget-featured">
  <h3 class="widget-title">Featured Products</h3>
  <div class="widget-body">
    <div class="owl-carousel widget-featured-products">
      <div class="featured-col">
        <div class="product-default left-details product-widget">
          <figure>
            <a href="product.html">
              <img src="assets/images/products/small/product-1.jpg">
            </a>
          </figure>
          <div class="product-details">
            <h2 class="product-title">
              <a href="product.html">Product Short Name</a>
            </h2>
            <div class="ratings-container">
              <div class="product-ratings">
                <span class="ratings" style="width:100%"></span>
                <span class="tooltiptext tooltip-top"></span>
              </div>
            </div>
            <div class="price-box">
              <span class="product-price">$49.00</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>