<div class="half-section">
  <div class="row no-gutters">
    <div class="col-md-6 order-md-last half-img" style="background-image: url(misc/bg-1.jpg');">
      <h2 class="half-title">Men's<br>Collection</h2>
    </div>
    <div class="col-md-6">
      <div class="half-content">
        <div class="title-group">
          <h2 class="subtitle">New Men's Collection</h2>
          <p>Yes, this is our new collection, check it out our new arrivals.</p>
        </div>
        <div class="products-slider owl-carousel owl-theme owl-nav-top">
          <div class="product-default inner-quickview inner-icon">
            <figure>
              <a href="product.html">
                <img src="/media/misc/product-1.jpg">
              </a>
              <div class="label-group">
                <div class="product-label label-cut">-20%</div>
              </div>
              <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
              </div>
              <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
            </figure>
            <div class="product-details">
              <div class="category-wrap">
                <div class="category-list">
                  <a href="category.html" class="product-category">category</a>
                </div>
                <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
              </div>
              <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
              </h2>
              <div class="ratings-container">
                <div class="product-ratings">
                  <span class="ratings" style="width:100%"></span>
                  <span class="tooltiptext tooltip-top"></span>
                </div>
              </div>
              <div class="price-box">
                <span class="old-price">$90</span>
                <span class="product-price">$70</span>
              </div>
            </div>
          </div>
          <div class="product-default inner-quickview inner-icon">
            <figure>
              <a href="product.html">
                <img src="/media/misc/product-2.jpg">
              </a>
              <div class="label-group">
                <div class="product-label label-cut">-20%</div>
              </div>
              <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
              </div>
              <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
            </figure>
            <div class="product-details">
              <div class="category-wrap">
                <div class="category-list">
                  <a href="category.html" class="product-category">category</a>
                </div>
                <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
              </div>
              <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
              </h2>
              <div class="ratings-container">
                <div class="product-ratings">
                  <span class="ratings" style="width:100%"></span>
                  <span class="tooltiptext tooltip-top"></span>
                </div>
              </div>
              <div class="price-box">
                <span class="old-price">$90</span>
                <span class="product-price">$70</span>
              </div>
            </div>
          </div>
          <div class="product-default inner-quickview inner-icon">
            <figure>
              <a href="product.html">
                <img src="/media/misc/product-1.jpg">
              </a>
              <div class="label-group">
                <div class="product-label label-cut">-20%</div>
              </div>
              <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
              </div>
              <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
            </figure>
            <div class="product-details">
              <div class="category-wrap">
                <div class="category-list">
                  <a href="category.html" class="product-category">category</a>
                </div>
                <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
              </div>
              <h2 class="product-title">
                <a href="product.html">Product Short Name</a>
              </h2>
              <div class="ratings-container">
                <div class="product-ratings">
                  <span class="ratings" style="width:100%"></span>
                  <span class="tooltiptext tooltip-top"></span>
                </div>
              </div>
              <div class="price-box">
                <span class="old-price">$90</span>
                <span class="product-price">$70</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>