{% load mtags %}

  <div class="slider-product-home slider-single-1">
    
    <div class="basic-products">
    <div class="primary-title">
      <h2>Smartphone & Tablet</h2>
    </div>
    
        <div class="product-slider products-grid">
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
                            
                            <div class="effect-default">
                <a href="/" title="Jowl shoulder meatloa" class="product-image">
                  <img id="product-collection-image-907" src="misc/smartphone_1__1.jpg" alt="Jowl shoulder meatloa" />
                </a>
              </div>
                            
              <div class="button-top">
                <a class="hidden" href="http://demo.flytheme.net/themes/sm_destino/sazen-kutemas.html"></a>
                <ul class="add-to-links">
                                      <li>
                      <a class="btn-action link-wishlist" title="Wishlist" href="/" >
                        <span class="btn-text">Wishlist</span>
                      </a>
                    </li>
                                                        <li>
                      <a class="btn-action link-compare" title="Compare" href="/" >
                        <span>Compare</span>
                      </a>
                    </li>
                                  </ul>
              </div>

                            
              <!--LABEL PRODUCT-->
              

                                  <div class="label-product label-new">
                      <span class="new-product-icon">New</span>
                    </div>
                              
              <!--END LABEL PRODUCT-->
            
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Jowl shoulder meatloa">Jowl shoulder meatloa</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:60%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/907/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                            
                    

                            <span class="special-price">
                    <span class="price-label">Special Price</span>
          <span class="price" id="product-price-907">
            $80.00          </span>
          
            
                </span>
                  
      <span class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-907">
                    $84.00                </span>
            </span>
        
    
        </div>

              
              <div class="button-bottom">
                                  <button class="btn-action btn-cart" type="button" title="Add to Cart"  onclick="setLocation('http://demo.flytheme.net/themes/sm_destino/sazen-kutemas.html')">
                    <span>
                      <span>Add to Cart</span>
                    </span>
                  </button>
                              </div>

            </div>

            
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
                            
                            <div class="effect-default">
                <a href="/" title="Meatball turkey swine" class="product-image">
                  <img id="product-collection-image-908" src="misc/electronics_3__2.jpg" alt="Meatball turkey swine" />
                </a>
              </div>
                            
              <div class="button-top">
                <a class="hidden" href="http://demo.flytheme.net/themes/sm_destino/dumas-chukame.html"></a>
                <ul class="add-to-links">
                                      <li>
                      <a class="btn-action link-wishlist" title="Wishlist" href="/" >
                        <span class="btn-text">Wishlist</span>
                      </a>
                    </li>
                                                        <li>
                      <a class="btn-action link-compare" title="Compare" href="/" >
                        <span>Compare</span>
                      </a>
                    </li>
                                  </ul>
              </div>

                            
              <!--LABEL PRODUCT-->
              

                                  <div class="label-product label-new">
                      <span class="new-product-icon">New</span>
                    </div>
                              
              <!--END LABEL PRODUCT-->
            
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Meatball turkey swine">Meatball turkey swine</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:87%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/908/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-908">
                                                        <span class="price">$44.00</span>              
            
                                    </span>
                        
        </div>

              
              <div class="button-bottom">
                                  <button class="btn-action btn-cart" type="button" title="Add to Cart"  onclick="setLocation('http://demo.flytheme.net/themes/sm_destino/checkout/cart/add/uenc/aHR0cDovL2RlbW8uZmx5dGhlbWUubmV0L3RoZW1lcy9zbV9kZXN0aW5vLz9fX19zdG9yZT1kZWZhdWx0JmFtcDtfX19mcm9tX3N0b3JlPWFyZ2VudGluYQ,,/product/908/form_key/oYpPOWgBGwzYLuoC/')">
                    <span>
                      <span>Add to Cart</span>
                    </span>
                  </button>
                              </div>

            </div>

            
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
                            
                            <div class="effect-default">
                <a href="/" title="Salami chicken turduc" class="product-image">
                  <img id="product-collection-image-911" src="misc/smartphone_3_.jpg" alt="Salami chicken turduc" />
                </a>
              </div>
                            
              <div class="button-top">
                <a class="hidden" href="http://demo.flytheme.net/themes/sm_destino/wasem-mitema.html"></a>
                <ul class="add-to-links">
                                      <li>
                      <a class="btn-action link-wishlist" title="Wishlist" href="/" >
                        <span class="btn-text">Wishlist</span>
                      </a>
                    </li>
                                                        <li>
                      <a class="btn-action link-compare" title="Compare" href="/" >
                        <span>Compare</span>
                      </a>
                    </li>
                                  </ul>
              </div>

                            
              <!--LABEL PRODUCT-->
              

                                  <div class="label-product label-new">
                      <span class="new-product-icon">New</span>
                    </div>
                              
              <!--END LABEL PRODUCT-->
            
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Salami chicken turduc">Salami chicken turduc</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/911/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-911">
                                                        <span class="price">$66.00</span>              
            
                                    </span>
                        
        </div>

              
              <div class="button-bottom">
                                  <button class="btn-action btn-cart" type="button" title="Add to Cart"  onclick="setLocation('http://demo.flytheme.net/themes/sm_destino/checkout/cart/add/uenc/aHR0cDovL2RlbW8uZmx5dGhlbWUubmV0L3RoZW1lcy9zbV9kZXN0aW5vLz9fX19zdG9yZT1kZWZhdWx0JmFtcDtfX19mcm9tX3N0b3JlPWFyZ2VudGluYQ,,/product/911/form_key/oYpPOWgBGwzYLuoC/')">
                    <span>
                      <span>Add to Cart</span>
                    </span>
                  </button>
                              </div>

            </div>

            
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
                            
                            <div class="effect-default">
                <a href="/" title="Bacon shoulder pork" class="product-image">
                  <img id="product-collection-image-909" src="misc/electronics_4__3.jpg" alt="Bacon shoulder pork" />
                </a>
              </div>
                            
              <div class="button-top">
                <a class="hidden" href="http://demo.flytheme.net/themes/sm_destino/amire-tracemis.html"></a>
                <ul class="add-to-links">
                                      <li>
                      <a class="btn-action link-wishlist" title="Wishlist" href="/" >
                        <span class="btn-text">Wishlist</span>
                      </a>
                    </li>
                                                        <li>
                      <a class="btn-action link-compare" title="Compare" href="/" >
                        <span>Compare</span>
                      </a>
                    </li>
                                  </ul>
              </div>

                            
              <!--LABEL PRODUCT-->
              

                            
              <!--END LABEL PRODUCT-->
            
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Bacon shoulder pork">Bacon shoulder pork</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:93%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/909/'; return false;">2 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-909">
                                                        <span class="price">$85.00</span>              
            
                                    </span>
                        
        </div>

              
              <div class="button-bottom">
                                  <button class="btn-action btn-cart" type="button" title="Add to Cart"  onclick="setLocation('http://demo.flytheme.net/themes/sm_destino/checkout/cart/add/uenc/aHR0cDovL2RlbW8uZmx5dGhlbWUubmV0L3RoZW1lcy9zbV9kZXN0aW5vLz9fX19zdG9yZT1kZWZhdWx0JmFtcDtfX19mcm9tX3N0b3JlPWFyZ2VudGluYQ,,/product/909/form_key/oYpPOWgBGwzYLuoC/')">
                    <span>
                      <span>Add to Cart</span>
                    </span>
                  </button>
                              </div>

            </div>

            
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
                            
                            <div class="effect-default">
                <a href="/" title="Filet mignon corne" class="product-image">
                  <img id="product-collection-image-910" src="misc/electronics_8__1.jpg" alt="Filet mignon corne" />
                </a>
              </div>
                            
              <div class="button-top">
                <a class="hidden" href="http://demo.flytheme.net/themes/sm_destino/cazen-latrema.html"></a>
                <ul class="add-to-links">
                                      <li>
                      <a class="btn-action link-wishlist" title="Wishlist" href="/" >
                        <span class="btn-text">Wishlist</span>
                      </a>
                    </li>
                                                        <li>
                      <a class="btn-action link-compare" title="Compare" href="/" >
                        <span>Compare</span>
                      </a>
                    </li>
                                  </ul>
              </div>

                            
              <!--LABEL PRODUCT-->
              

                            
              <!--END LABEL PRODUCT-->
            
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Filet mignon corne">Filet mignon corne</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:80%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/910/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-910">
                                                        <span class="price">$221.00</span>              
            
                                    </span>
                        
        </div>

              
              <div class="button-bottom">
                                  <button class="btn-action btn-cart" type="button" title="Add to Cart"  onclick="setLocation('http://demo.flytheme.net/themes/sm_destino/checkout/cart/add/uenc/aHR0cDovL2RlbW8uZmx5dGhlbWUubmV0L3RoZW1lcy9zbV9kZXN0aW5vLz9fX19zdG9yZT1kZWZhdWx0JmFtcDtfX19mcm9tX3N0b3JlPWFyZ2VudGluYQ,,/product/910/form_key/oYpPOWgBGwzYLuoC/')">
                    <span>
                      <span>Add to Cart</span>
                    </span>
                  </button>
                              </div>

            </div>

            
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
                            
                            <div class="effect-default">
                <a href="/" title="Rump venison filetis" class="product-image">
                  <img id="product-collection-image-912" src="misc/electronics_1__1.jpg" alt="Rump venison filetis" />
                </a>
              </div>
                            
              <div class="button-top">
                <a class="hidden" href="http://demo.flytheme.net/themes/sm_destino/zutan-mipane.html"></a>
                <ul class="add-to-links">
                                      <li>
                      <a class="btn-action link-wishlist" title="Wishlist" href="/" >
                        <span class="btn-text">Wishlist</span>
                      </a>
                    </li>
                                                        <li>
                      <a class="btn-action link-compare" title="Compare" href="/" >
                        <span>Compare</span>
                      </a>
                    </li>
                                  </ul>
              </div>

                            
              <!--LABEL PRODUCT-->
              

                            
              <!--END LABEL PRODUCT-->
            
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Rump venison filetis">Rump venison filetis</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:60%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/912/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-912">
                                                        <span class="price">$33.00</span>              
            
                                    </span>
                        
        </div>

              
              <div class="button-bottom">
                                  <button class="btn-action btn-cart" type="button" title="Add to Cart"  onclick="setLocation('http://demo.flytheme.net/themes/sm_destino/checkout/cart/add/uenc/aHR0cDovL2RlbW8uZmx5dGhlbWUubmV0L3RoZW1lcy9zbV9kZXN0aW5vLz9fX19zdG9yZT1kZWZhdWx0JmFtcDtfX19mcm9tX3N0b3JlPWFyZ2VudGluYQ,,/product/912/form_key/oYpPOWgBGwzYLuoC/')">
                    <span>
                      <span>Add to Cart</span>
                    </span>
                  </button>
                              </div>

            </div>

            
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
                            
                            <div class="effect-default">
                <a href="/" title="Spicy jalapeno insirloin" class="product-image">
                  <img id="product-collection-image-913" src="misc/electronics_6__5.jpg" alt="Spicy jalapeno insirloin" />
                </a>
              </div>
                            
              <div class="button-top">
                <a class="hidden" href="http://demo.flytheme.net/themes/sm_destino/kazen-diman.html"></a>
                <ul class="add-to-links">
                                      <li>
                      <a class="btn-action link-wishlist" title="Wishlist" href="/" >
                        <span class="btn-text">Wishlist</span>
                      </a>
                    </li>
                                                        <li>
                      <a class="btn-action link-compare" title="Compare" href="/" >
                        <span>Compare</span>
                      </a>
                    </li>
                                  </ul>
              </div>

                            
              <!--LABEL PRODUCT-->
              

                            
              <!--END LABEL PRODUCT-->
            
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Spicy jalapeno insirloin">Spicy jalapeno insirloin</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:100%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/913/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-913">
                                                        <span class="price">$73.00</span>              
            
                                    </span>
                        
        </div>

              
              <div class="button-bottom">
                                  <button class="btn-action btn-cart" type="button" title="Add to Cart"  onclick="setLocation('http://demo.flytheme.net/themes/sm_destino/checkout/cart/add/uenc/aHR0cDovL2RlbW8uZmx5dGhlbWUubmV0L3RoZW1lcy9zbV9kZXN0aW5vLz9fX19zdG9yZT1kZWZhdWx0JmFtcDtfX19mcm9tX3N0b3JlPWFyZ2VudGluYQ,,/product/913/form_key/oYpPOWgBGwzYLuoC/')">
                    <span>
                      <span>Add to Cart</span>
                    </span>
                  </button>
                              </div>

            </div>

            
          </div>
        </div>
                    <div class="item">
          <div class="item-inner">
            <div class="box-image">
                            
                            <div class="effect-default">
                <a href="/" title="Tongue corned beefe" class="product-image">
                  <img id="product-collection-image-914" src="misc/electronics_10__1.jpg" alt="Tongue corned beefe" />
                </a>
              </div>
                            
              <div class="button-top">
                <a class="hidden" href="http://demo.flytheme.net/themes/sm_destino/pizan-mitemas.html"></a>
                <ul class="add-to-links">
                                      <li>
                      <a class="btn-action link-wishlist" title="Wishlist" href="/" >
                        <span class="btn-text">Wishlist</span>
                      </a>
                    </li>
                                                        <li>
                      <a class="btn-action link-compare" title="Compare" href="/" >
                        <span>Compare</span>
                      </a>
                    </li>
                                  </ul>
              </div>

                            
              <!--LABEL PRODUCT-->
              

                            
              <!--END LABEL PRODUCT-->
            
            </div>
            
            <div class="box-info">
              <h2 class="product-name">
                <a href="/" title="Tongue corned beefe">Tongue corned beefe</a>
              </h2>

                  <div class="ratings" >
                          <div class="rating-box">
                <div class="rating" style="width:60%"></div>
            </div>
                
<span class="amount">
<a href="#" onclick="var t = opener ? opener.window : window; t.location.href='http://demo.flytheme.net/themes/sm_destino/review/product/list/id/914/'; return false;">1 Review(s)
</a>
</span>
    </div>

               

                        
    <div class="price-box">
                                                                <span class="regular-price" id="product-price-914">
                                                        <span class="price">$83.00</span>              
            
                                    </span>
                        
        </div>

              
              <div class="button-bottom">
                                  <button class="btn-action btn-cart" type="button" title="Add to Cart"  onclick="setLocation('http://demo.flytheme.net/themes/sm_destino/checkout/cart/add/uenc/aHR0cDovL2RlbW8uZmx5dGhlbWUubmV0L3RoZW1lcy9zbV9kZXN0aW5vLz9fX19zdG9yZT1kZWZhdWx0JmFtcDtfX19mcm9tX3N0b3JlPWFyZ2VudGluYQ,,/product/914/form_key/oYpPOWgBGwzYLuoC/')">
                    <span>
                      <span>Add to Cart</span>
                    </span>
                  </button>
                              </div>

            </div>

            
          </div>
        </div>
                    </div>
    </div>

    
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".slider-single-1 .product-slider").owlCarousel({
          responsive:{
            0:{
              items:1
            },
            480:{
              items:3
            },
            768:{
              items:4
            },
            992:{
              items:4
            },
            1200:{
              items:5
            }
          },
          
          autoplay:false,
          loop:false,
          nav : true, 
          dots: false,
          autoplaySpeed : 500,
          navSpeed : 500,
          dotsSpeed : 500,
          autoplayHoverPause: true,
          margin:20,
        });    
      });  
    </script>
  </div>
  