{% load tags mtags %}
{% if cost_filter %}
<div class="filter-wrapp Price">
  <dt class="Price"><span>Цена</span></dt>
  <dd class="scroll-2">
    <div class="wrap-price-shopby">
      <div class="ac-shopby">
        <div class="price-input">

          <div class="section-filter-price">
            <div class="range-slider section-filter-price" data-min="0" data-max="{{ cost_filter.max }}" data-from="{{ cost_filter.min }}" data-to="{{ cost_filter.max }}" data-postfix=" ₽" data-grid="false"></div>
          </div>

          <button title="Фильтр" class="button btn-shopby"><span><span>Фильтр</span></span></button>
          <div class="clearer"></div>
        </div>
      </div>

    </div>
  </dd>
</div>
{% endif %}