<div class="iq-sidebar sidebar-default">
  <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
    <a href="/" class="header-logo">
      <img src="/media/misc/logo.png" class="img-fluid rounded-normal light-logo" alt="logo">
      <img src="/media/misc/logo-white.png" class="img-fluid rounded-normal darkmode-logo" alt="logo">
    </a>
    <div class="iq-menu-bt-sidebar">
      <i class="las la-bars wrapper-menu"></i>
    </div>
  </div>
  <div class="data-scrollbar" data-scroll="1">
    {% block sidebar_actions %}
{% comment %}<!--{% include "web/menu/actions.html" %}-->{% endcomment %}
    {% endblock %}
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li{% ifequal request.META.PATH_INFO '/' %} class="active"{% endifequal %}>
          <a href="/">
            <i class="las la-home iq-arrow-left"></i>
            <span>Дашборд</span>
          </a>
          <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
          </ul>
        </li>
        {% include "web/menu/ip.html" %}
        {% include "web/menu/clients.html" %}
{% comment %}<!--{% include "web/menu/simple.html" %}-->{% endcomment %}
        {% include "web/menu/demo.html" %}
      </ul>
    </nav>
    <div class="sidebar-bottom">
      <h4 class="mb-3"><i class="las la-cloud mr-2"></i>Диск</h4>
      <p>17.1 / 20 GB исп</p>
      <div class="iq-progress-bar mb-3">
        <span class="bg-primary iq-progress progress-1" data-percent="67"></span>
      </div>
      <p>75% все - 2.9 GB своб</p>
      <a href="#" class="btn btn-outline-primary view-more mt-4">Увеличить</a>
    </div>
    <div class="p-3"></div>
  </div>
</div>