{% load mtags %}
<div class="dropdownmenu-wrapper">
  <div class="dropdown-cart-products">
    {% for purchase in cart.purchases %}
      <div class="product">
        <div class="product-details">
          <h4 class="product-title">
            <a href="{{ purchase.link }}">{{ purchase.product_name }}</a>
          </h4>
          <span class="cart-product-info">
            <span class="cart-product-qty">{{ purchase.count }}</span>
            x {{ purchase.cost }} ₽
          </span>
        </div>
        <figure class="product-image-container">
          <a href="{{ purchase.link }}" class="product-image">
            <img src="{{ purchase.thumb }}" alt="{{ purchase.product_name|textize }}">
          </a>
          <a href="javascript:void(0);" class="btn-remove" title="Удалить товар" onclick="purchase_drop('{{ purchase.id }}')">
            <i class="icon-cancel"></i>
          </a>
        </figure>
      </div>
    {% endfor %}
  </div>
  <div class="dropdown-cart-total">
    <span>Итого</span>
    <span class="cart-total-price">{% if cart %}{{ cart.total|money_format }}{% else %}0{% endif %} ₽</span>
  </div>
  <div class="dropdown-cart-action">
    <a href="/shop/cart/" class="btn">Оформить заказ</a>
  </div>
</div>
<script type="text/javascript">
  document.querySelector(".cart-count").innerHTML = "{% if cart %}{{ cart.items }}{% else %}0{% endif %}";
</script>

