<h2 class="block-title"><span>Написать нам</span></h2>
<form name="contact-form" method="post" action="/feedback/" class="contact-form">
  {% csrf_token %}
  <div class="outer required">
    <div class="form-group af-inner">
      <label class="sr-only">Ваше имя</label>
      <input type="text" name="name" placeholder="Ваше имя" value="" data-toggle="tooltip" title="Введите имя" class="form-control placeholder required"/>
    </div>
  </div>
  <div class="outer required">
    <div class="form-group af-inner">
      <label class="sr-only">Ваш Email</label>
      <input type="text" name="email" placeholder="Email" value="" data-toggle="tooltip" title="Введите Email" class="form-control placeholder email"/>
    </div>
  </div>
  <div class="outer required">
    <div class="form-group af-inner">
      <label class="sr-only">Ваш телефон</label>
      <input type="text" name="phone" placeholder="Ваш телефон" value="" data-toggle="tooltip" title="Введите телефон" class="form-control placeholder phone required"/>
    </div>
  </div>
  <div class="form-group af-inner">
    <label class="sr-only" for="input-message">Ваше сообщение</label>
    <textarea name="msg" id="input-message" placeholder="Сообщение" rows="4" cols="50" data-toggle="tooltip" title="Введите сообщение" class="form-control placeholder"></textarea>
  </div>

  <div class="form-group af-inner">
    <div class="feedback_alerts"></div>
  </div>

  <div class="outer required">
    <div class="form-group af-inner">
      <input type="submit" class="form-button form-button-submit btn btn-theme btn-theme-dark" value="Отправить" />
    </div>
  </div>
</form>