{% load flatcontent_tags %}
<div class="top-bar-left">
  <ul class="list-inline">
    {% flatmenu request "topmenu" %}
{% comment %}<!--
    <li class="dropdown flags">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/media/misc/flag.gif" alt=""/> Eng
        <i class="fa fa-angle-down"></i>
      </a>
      <ul role="menu" class="dropdown-menu">
        <li>
          <a href="#">
            <img src="/media/misc/flag.gif" alt=""/> Eng
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/media/misc/flag.gif" alt=""/> Eng
          </a>
        </li>
      </ul>
    </li>
-->{% endcomment %}
  </ul>
</div>