<li class="megamenu">
  <a href="#">Features</a>
  <ul>
    <li class="row">
      <div class="col-md-2">
        <h4 class="block-title"><span>Womens</span></h4>
        <ul>
          <li><a href="#">Dresses</a></li>
          <li><a href="#">Rompers & Jumpsuits</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4 class="block-title"><span>Mens</span></h4>
        <ul>
          <li><a href="#">T-Shirts & Vests</a></li>
          <li><a href="#">Sweaters & Cardigans</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4 class="block-title"><span>Pages</span></h4>
        <ul>
          <li><a href="shortcodes.html"><strong>Shortcodes</strong></a></li>
          <li><a href="typography.html"><strong>Typography</strong></a></li>
        </ul>
      </div>
      <div class="col-md-2 visible-xs">
        <h4 class="block-title"><span>My Account</span></h4>
        <ul>
          <li><a href="accountinformation.html"> Account Information</a></li>
          <li><a href="myaccount.html">My Account</a></li>
          <li><a href="cng-pw.html">Change Password</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="block-title"><span>Header styles</span></h4>
        <ul>
          <li><a href="index-style-1.html"><strong>Header style 1</strong></a></li>
          <li><a href="index-style-2.html"><strong>Header style 2</strong></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="product-list">
          <div class="media">
            <a class="pull-left media-link" href="#">
              <img class="media-object" src="/media/misc/top-sellers-2.jpg" alt="">
              <i class="fa fa-plus"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="#">Standard Product Header</a>
              </h4>
              <div class="rating">
                <span class="star"></span>
                <span class="star active"></span>
                <span class="star active"></span>
                <span class="star active"></span>
                <span class="star active"></span>
              </div>
              <div class="price">
                <ins>$400.00</ins>
                <del>$425.00</del>
              </div>
            </div>
          </div>
          <div class="media">
            <a class="pull-left media-link" href="#">
              <img class="media-object" src="/media/misc/top-sellers-3.jpg" alt="">
              <i class="fa fa-plus"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="#">Standard Product Header</a>
              </h4>
              <div class="rating">
                <span class="star"></span>
                <span class="star active"></span>
                <span class="star active"></span>
                <span class="star active"></span>
                <span class="star active"></span>
              </div>
              <div class="price">
                <ins>$400.00</ins>
                <del>$425.00</del>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>