<div class="top-bar-right">
  <ul class="list-inline">
    <li class="dropdown currency">
      <a href="/" class="dropdown-toggle" data-toggle="dropdown">
        Московская область
        <i class="fa fa-angle-down"></i>
      </a>
      <ul role="menu" class="dropdown-menu">
        <li>
          <a href="/">Московская область</a>
        </li>
      </ul>
    </li>
    <li class="icon-user">
      <a href="/login/">
        <img src="/media/misc/icon-1.png" alt="Вход/Регистрация"/>
        {% if request.session.shopper %}
          <span>{{ request.session.shopper.name }}</span>
        {% else %}
          <span>Вход/Регистрация</span>
        {% endif %}
      </a>
    </li>
  </ul>
</div>