/* Alternative color blue */
.main-menu nav > ul > li.active > a,
.main-menu nav > ul > li:hover > a,
.hero-side-category nav.category-menu > ul > li > a:hover,
.category-mega-menu > li > a,
.slider .slick-arrow:hover i.fa,
.tab-slider-wrapper .nav-tabs .nav-link.active,
a:hover,
a.readmore-btn:hover,
.copyright-section .copyright-segment p a:hover,
.single-navigation-section ul li a:hover,
.header-top-menu ul li a:hover,
.breadcrumb-area .breadcrumb-container ul li.active,
.sidebar-area .sidebar ul.product-categories li a:hover,
.sidebar-area .sidebar ul.product-categories li a.active,
.sidebar-area .sidebar .top-rated-product-container .single-top-rated-product p.product-price span.discounted-price,
.sidebar-area .sidebar .top-rated-product-container .single-top-rated-product p a:hover,
.shop-grid-view-product .product-content .price-box .discounted-price,
.shop-list-view-product .product-content .price-box .discounted-price,
.shop-grid-view-product .product-content .product-categories a:hover,
.shop-list-view-product .product-content .product-categories a:hover,
.tab-slider-sub-product .product-content .price-box .discounted-price,
.best-seller-sub-product .product-content .price-box .discounted-price,
.product-feature-details h2.product-price,
.cart-table td.pro-title a:hover,
.cart-floating-box .cart-float-single-item .cart-float-single-item-desc p.product-title a:hover,
.sub-menu li.active > a,
.sub-menu li:hover > a{
  color:#4b7ea9; /* Light */
}
.slider .slick-arrow:hover i.fa,
.sidebar-area .sidebar ul.product-categories li a:hover:before,
.sidebar-area .sidebar ul.product-categories li a.active:before,
.cart-floating-box .cart-float-single-item .cart-float-single-item-image a:hover{
  border-color: #416e93; /* Dark */
  color: #416e93; /* Dark */
}
.subscription-form button,
.category-toggle-wrap:before,
.hero-side-category .category-toggle-wrap,
.header-advance-search button,
a.slider-two-btn,
.slider .section-title h3:before,
.slider .section-title h3,
.tab-slider-wrapper .nav-tabs .nav-link.active:before,
.tab-slider-wrapper .nav-tabs .nav-link:hover:before,
a.scroll-top:hover,
.pagination-content ul li a.active,
.pagination-content ul li a:hover,
.view-mode-icons a:hover,
.view-mode-icons a.active,
.product-hover-icons a,
.list-product-icons a,
.place-order,
.register-button,
.myaccount-tab-menu a:hover,
.myaccount-tab-menu a.active{
  background-color:#4b7ea9; /* Light */
}
.newsletter-section,
.subscription-form button:hover,
.header-advance-search button:hover,
a.slider-two-btn:hover,
.product-hover-icons a:hover,
.list-product-icons a:hover,
.place-order:hover,
.register-button:hover{
  background-color: #416e93; /* Dark */
}
.category-toggle-wrap:after,
.slider .section-title h3:after{
  border-top: 15px solid #416e93; /* Dark */
}
.single-product-tab-section .ratting-form input[type="submit"],
.single-product-content-container .product-feature-details .add-to-cart-btn a,
.discount-coupon form input[type="submit"],
.cart-summary .cart-summary-button button.checkout-btn,
.myaccount-content button.save-change-btn,
.myaccount-content a.edit-address-btn{
  background-color:#4b7ea9; /* Light */
  border: 1px solid #4b7ea9; /* Light */
}
.single-product-tab-section .ratting-form input[type="submit"]:hover,
.contact-form-btn:hover,
.single-product-content-container .product-feature-details .add-to-cart-btn a:hover,
.floating-cart-btn a:hover,
.discount-coupon form input[type="submit"]:hover,
.cart-summary .cart-summary-button button.checkout-btn:hover,
.myaccount-content button.save-change-btn:hover,
.myaccount-content a.edit-address-btn:hover{
  background-color: #416e93;/* Dark */
  border: 1px solid #416e93; /* Dark */
}
.saved-message{
  border-color: #4b7ea9;
}