<div class="pagination-wrapper">
  <ul class="pagination">
    {% if paginator.prev_link %}
      <li>
        <a href="{{ paginator.prev_link }}">
          <i class="fa fa-angle-double-left"></i> Назад
        </a>
      </li>
    {% endif %}
    {% for page in pages %}
      {% if page.ellipsis %}
        <li class="disabled"><a>...</a></li>
      {% else %}
        <li{% if page.active %} class="active"{% endif %}>
          <a href="{{ page.link }}">
            {{ page.content }}
            {% if page.active %}
              <span class="sr-only">(выбрана)</span>
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_link %}
      <li>
        <a href="{{ paginator.next_link }}">
          <i class="fa fa-angle-double-right"></i> Вперед
        </a>
      </li>
    {% endif %}
  </ul>
</div>
