    <div class="new-create select-dropdown input-prepend input-append">
      <div class="btn-group">
        <div data-toggle="dropdown">
          <div class="search-query selet-caption">
            <i class="las la-plus pr-2"></i>Добавить
          </div>
          <span class="search-replace"></span>
          <span class="caret"><!--icon--></span>
        </div>
        <ul class="dropdown-menu">
          <li>
            <div class="item">
              <i class="ri-folder-add-line pr-3"></i>Папку
            </div>
          </li>
            <li>
            <div class="item">
              <i class="ri-file-upload-line pr-3"></i>Загрузить файл
            </div>
          </li>
          <li>
            <div class="item">
              <i class="ri-folder-upload-line pr-3"></i>Загрузить папку
            </div>
          </li>
        </ul>
      </div>
    </div>