{% extends "skeleton.html" %}
{% load tags mtags %}

{% block extrahead %}
<style type="text/css">
  #show_facet_filters {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #4b7ea9;
    text-align:center;
    padding: 10px;
    margin-bottom: 5px;
  }
  #facet_filters .sidebar{
    display: inline-block;
  }
  #facet_filters .sidebar-title{
    white-space: nowrap;
    overflow-x: hidden;
  }
  #facet_filters .sidebar .product-categories{
    display: block;
    height: 150px;
    overflow: scroll;
  }

  /* LOADER */
  .lds-dual-ring {
    margin: 0 auto;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #4b7ea9;
    border-color: #4b7ea9 transparent #4b7ea9 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<script type="text/javascript">window.cat_id = {{ page.id }};</script>
{% endblock %}

{% block extracontent %}
{% endblock %}

{% block content %}
<div class="shop-page-container mb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-2 order-lg-1">
        <div class="sidebar-area">
          {% sidebar_cats request %}
{% comment %}<!--
          <div class="sidebar mb-35">
            <h3 class="sidebar-title">Filter By</h3>
            <ul class="product-categories">
              <li><a class="active" href="shop-left-sidebar.html">Gold</a></li>
              <li><a href="shop-left-sidebar.html">Green</a></li>
              <li><a href="shop-left-sidebar.html">White</a></li>
            </ul>
          </div>
          <div class="sidebar mb-35">
            <h3 class="sidebar-title">Filter By Price</h3>
            <div class="sidebar-price">
              <div id="price-range"></div>
              <input type="text" id="price-amount" readonly>
            </div>
          </div>
          <div class="sidebar mb-35">
            <h3 class="sidebar-title">Compare</h3>
            <ul class="product-list">
              <li>
                <a href="single-product.html" class="remove" title="Remove">x</a>
                <a class="title" href="single-product.html">Cillum dolore tortor nisl fermentum</a>
              </li>
              <li>
                <a href="single-product.html" class="remove" title="Remove">x</a>
                <a class="title" href="single-product.html">Condimentum posuere consectetur</a>
              </li>
            </ul>
            <div class="compare-btns">
              <a href="#" class="clear-all">Clear all</a>
              <a href="#" class="compare">Compare</a>
            </div>
          </div>
-->{% endcomment %}
          {% random_products request 'under_catalogue' 'Высокий спрос' %}
{% comment %}<!--
          <div class="sidebar">
            <h3 class="sidebar-title">Product Tags</h3>
            <ul class="tag-container">
              <li><a href="shop-left-sidebar.html">new</a> </li>
              <li><a href="shop-left-sidebar.html">bags</a> </li>
              <li><a href="shop-left-sidebar.html">new</a> </li>
              <li><a href="shop-left-sidebar.html">kids</a> </li>
              <li><a href="shop-left-sidebar.html">fashion</a> </li>
              <li><a href="shop-left-sidebar.html">Accessories</a> </li>
            </ul>
          </div>
-->{% endcomment %}
        </div>
      </div>
      <div class="col-lg-9 order-1 order-lg-2 mb-sm-35 mb-xs-35">
        {% if page.img %}
          <div class="shop-page-banner mb-35">
            <a href="javascript:void(0);">
              <img src="{% imagine page.img '800x600' page.get_folder True %}" class="img-fluid" alt="{{ page.name|textize }}" loading="lazy">
            </a>
          </div>
        {% endif %}
        {% if page.html %}{{ page.html|safe }}<br />{% endif %}

        <a href="javascript:void(0);" id="show_facet_filters">Показать фильтры</a>
        <form class="sidebar-area mb-35 hidden" id="facet_filters" action="{{ page.link }}">
<!--
          <div class="sidebar mb-35">
            <h3 class="sidebar-title">Filter By</h3>
            <ul class="product-categories">
              <li><a class="active" href="shop-left-sidebar.html">Gold</a></li>
              <li><a href="shop-left-sidebar.html">Green</a></li>
              <li><a href="shop-left-sidebar.html">White</a></li>
            </ul>
          </div>
-->
        </form>

        <div class="shop-header mb-35">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
              <div class="view-mode-icons mb-xs-10">
                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                <a href="#" data-target="list"><i class="fa fa-list"></i></a>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">
              <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                <p class="mr-10">Сортировка:</p>
                <select name="sort-by" id="sort-by" class="nice-select">
                  <option value="">По популярности</option>
                  <option value="price"{% ifequal q_string.q.sort 'price' %} selected{% endifequal %}>Цена по возрастанию</option>
                  <option value="-price"{% ifequal q_string.q.sort '-price' %} selected{% endifequal %}>Цена по убыванию</option>
                </select>
              </div>
              <p class="result-show-message" id="my_paginator">{{ my_paginator.total_records }} {{ my_paginator.ends }}</p>
            </div>
          </div>
        </div>
        <div id="products_container">
          {% include "web/cat/plp.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/js/cat.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
{% if search_terms %}
<script type="text/javascript" src="/static/js/jquery.mark.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".product-title a").mark('{% for search_term in search_terms %}{% if not forloop.first %} {% endif %}{{ search_term }}{% endfor %}', {
      'accuracy': 'complementary',
    });
  });
</script>
{% endif %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#facet_filters").ajaxForm({
      beforeSubmit: showLoading,
      success: showResponse,
    });
    function showLoading() {
      $("#products_container").html("<div class='text-center'><div class='lds-dual-ring'></div></div>");
    }
    function showResponse(r, statusText, xhr, $form){
      $("#products_container").html(r['plp']);
      $("#my_paginator").html(r['my_paginator']['total_records'] + " " + r['my_paginator']['ends']);
    }

    $("#sort-by").change(function(){
      var value = $(this).val();
      var new_url = rebuild_query_path_with_param("sort", value);
      if(decodeURIComponent(location.search.substr(1)) !== new_url){
        window.location.href = "{{ request.META.PATH_INFO }}?" + new_url;
      }
    });

    $("#show_facet_filters").click(function(){
      if($("#facet_filters").hasClass("hidden")){
        $("#facet_filters").removeClass("hidden");
        $(this).html("Скрыть фильтры");
      }else{
        $("#facet_filters").addClass("hidden");
        $(this).html("Показать фильтры");
      }
    });

    $.ajax({
      type: "GET",
      url: '{% url "products:facet_filters" page.id %}',
      data: 'search_facet=1',
    }).done(function(r){
      //console.log(r);
      var html = "";
      var name = "";
      var values_length;
      var container = $("#facet_filters");
      container.html("");
      for(var key in r){
        if(typeof(r[key]) == "boolean"){
          continue;
        }
        values_length = r[key]['values'].length;
        if(values_length < 2){
          continue;
        }
        html += '<div class="sidebar col-md-3">';
        name = r[key]['name'];
        if(r[key]['measure'].length > 0){
          name += ", " + r[key]['measure'];
        }
        html += '<h3 class="sidebar-title">' + name + '</h3>';
        html += '<div class="product-categories">';
        for(var i=0; i<values_length; i++){
          //html += '<li><a>' + r[key]['values'][i]['value'] + '</a></li>';
          html += '<label><input id="prop_' + key + '_' + r[key]['values'][i]['id'] + '" type="checkbox" name="prop_' + key + '" value="' + r[key]['values'][i]['id'] + '" autocomplete="off" /> ' + r[key]['values'][i]['value'] + '</label><br>';
        }
        html += '</div>';
        html += '</div>';
      }
      html += '<div class="text-center hidden"><button class="contact-form-btn mt-35" type="submit" value="1" name="ff"> Найти</button></div>';
      container.html(html);

      {% if q_string.q.ff %}
        $("#show_facet_filters").click();
        {% for key, value in facet_filters.items %}
          {% for item in value %}
            $("#prop_{{ key }}_{{ item }}").prop('checked', 'checked');
          {% endfor %}
        {% endfor %}
      {% endif %}

      $("#facet_filters input[type='checkbox']").change(function(){
        $("#facet_filters button[type='submit']").click();
      });

    }).fail(function(){
    });

  });
</script>
{% endblock %}
