{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<a class="btn btn-primary pull-right" href="{{ url_create }}">
  <em class="fa fa-plus-circle fa-fw mr-sm"></em> {{ action_create }} {{ rp_singular_obj }}
</a>

<h3>{{ plural_obj }}<br /><small>{{ action_create }}/{{ action_edit }} {{ rp_plural_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}

{% include "core/excel/xlsx_form.html" %}

{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script src="/static/admin/js/parsley.min.js"></script>
<script type="text/javascript">
var main_table = null;
var excel_table = null;
$(document).ready(function(){
  excel_table = new Tabulator("#excel-table", {
    layout: "fitColumns",
    columns:[
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name.html" %}
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
    ],
  });
  // Настройка отправки формы (файла) через аякс
  set_ajax_form("#import_excel_file_form", function(r){
    // success callback
    // Строим таблицу с данными
    $("#excel-table").removeClass("hidden");
    $("#save_excel_table").removeClass("hidden");
    excel_table.clearData();
    excel_table.addData(r.resp.data);
  }, function(r){
    // error callback
    console.log(r);
  }, true);
  set_ajax_form_save_xlsx("#save_excel_table", excel_table, function(r){
    // success callback
  }, function(r){
    // error callback
  });


  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {% include "core/tabulator_cell/name.html" %}
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}