{% if perms.promotion.view_promotion %}
<li{% ifequal menu 'promotion' %} class="active"{% endifequal %}>
  <a href="{% url 'promotion:show_vocabulary' %}">
    <em class="fa fa-rocket"></em>
    <div class="label label-primary pull-right">1</div>
    <span class="item-text">Продвижение</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse{% ifequal menu 'promotion' %} in{% endifequal %}">
    <li{% ifequal submenu 'vocabulary' %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'promotion:show_vocabulary' %}">
        <span class="item-text">Запросы</span>
      </a>
    </li>
  </ul>
</li>
{% endif %}
