<div class="form-group">
  <label class="col-lg-2 control-label">
    <span class="label_for_translate row_link_label" attr-class_name="row_link_label" attr-edit_mode="popup" attr-placement="bottom">Ссылка</span>
  </label>
  <div class="col-lg-10">
    <input type="text" placeholder="Ссылка" class="form-control" id="field_link" name="link" value="{% if row.link %}{{ row.link }}{% endif %}" autocomplete="off">
    <br>
    <a href="{{ row.link }}" target="_blank" id="field_link_action">{{ row.link }}</a>
  </div>
</div>