<div class="form-group">
  <label class="col-lg-2 control-label">Title</label>
  <div class="col-lg-10">
    <input type="text" placeholder="Title" class="form-control" name="title" value="{% if row.title %}{{ row.title }}{% endif %}" autocomplete="off">
  </div>
</div>
<div class="form-group">
  <label class="col-lg-2 control-label">Description</label>
  <div class="col-lg-10">
    <input type="text" placeholder="Description" class="form-control" name="description" value="{% if row.description %}{{ row.description }}{% endif %}" autocomplete="off">
  </div>
</div>
<div class="form-group">
  <label class="col-lg-2 control-label">Keywords</label>
  <div class="col-lg-10">
    <input type="text" placeholder="Keywords" class="form-control" name="keywords" value="{% if row.keywords %}{{ row.keywords }}{% endif %}" autocomplete="off">
  </div>
</div>