<div class="form-group">
  <label class="col-lg-2 control-label">Контейнер привязан к меню</label>
  <div class="col-lg-10">
    {% if links %}
      <!-- Эта страничка участвует в ссылках -->
      <div class="linked_menus">
        <table class="table">
          <thead>
            <tr>
              <th>Название</th>
              <th>Ид</th>
              <th>Тег</th>
              <th>Ссылка</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            {% for item in links %}
              <tr>
                <td>
                  {% if item.container.state == 4 %}
                    Товар
                  {% else %}
                    <a target="_blank" href="{{ item.blocks }}">{{ item.name }}</a>
                  {% endif %}
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.tag }}</td>
                <td><a href="{{ item.link }}" target="_blank">{{ item.link }}</a></td>
                <td>
                  {% if item.container.state == 4 %}
<!-- На товары не выводим редактирование - служебное меню -->
                  {% else %}
                    <a target="_blank" class="btn-xs btn btn-primary pull-left" href="{{ item.edit }}"><i class="fa fa-edit"></i></a>
                    <a target="_blank" class="btn-xs btn btn-info pull-left ml" href="{{ item.tree }}"><i class="fa fa-sitemap"></i></a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</div>