<div class="form-group">
  <label class="col-lg-2 control-label">
    Содержимое (html)
    {% if domains %}
      <a href="javascript:void(0);" data-attr-translate="html" class="translate_toggle"><i class="fa fa-globe"></i></a>
    {% endif %}
  </label>
  <div class="col-lg-10">
    <textarea class="form-control" name="html" id="html_redactor">{% if row.html %}{{ row.html }}{% endif %}</textarea>
  </div>
</div>

<!-- Переводы для html -->
{% for domain in domains %}
  <div class="form-group translate_html hidden">
    <label class="col-lg-2 control-label">Содержимое (html) {{ domain.name }} ({{ domain.domain }})</label>
    <div class="col-lg-10">
      <textarea placeholder="Содержимое (html) {{ domain.name }} ({{ domain.domain }})" class="form-control" name="translate_html_{{ domain.pk }}" id="html_redactor_{{ domain.pk }}" autocomplete="off">{% if domain.translations.html %}{{ domain.translations.html }}{% endif %}</textarea>
    </div>
  </div>
{% endfor %}