<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <div class="checkbox c-checkbox">
      <label>
        <input type="checkbox" value="1" name="blank" {% if row.blank %} checked{% endif %} autocomplete="off">
        <span class="fa fa-check"></span>
        <strong class="label_for_translate row_open_new_window_label" attr-class_name="row_open_new_window_label" attr-edit_mode="popup" attr-placement="bottom"> Открывать ссылку в новом окне</strong>
      </label>
    </div>
  </div>
</div>