<div class="form-group">
  <label class="col-lg-2 control-label">
    <span class="label_for_translate row_template_position_label" attr-class_name="row_template_position_label" attr-edit_mode="popup" attr-placement="bottom">Позиция в шаблоне</span>
  </label>
  <div class="col-lg-10">
    <input type="text" placeholder="Позиция в шаблоне" class="form-control" name="template_position" value="{% if row.template_position %}{{ row.template_position }}{% endif %}" autocomplete="off">
  </div>
</div>