<div class="form-group">
  <label class="col-lg-2 control-label">
    Класс css
    {% if domains %}
      <a href="javascript:void(0);" data-attr-translate="class_name" class="translate_toggle"><i class="fa fa-globe"></i></a>
    {% endif %}
  </label>
  <div class="col-lg-10">
    <input type="text" placeholder="Класс css" class="form-control" name="class_name" value="{% if row.class_name %}{{ row.class_name }}{% endif %}" autocomplete="off">
  </div>
</div>

<!-- Переводы для class_name -->
{% for domain in domains %}
  <div class="form-group translate_class_name hidden">
    <label class="col-lg-2 control-label">Класс css {{ domain.name }} ({{ domain.domain }})</label>
    <div class="col-lg-10">
      <input placeholder="Класс css {{ domain.name }} ({{ domain.domain }})" class="form-control" name="translate_class_name_{{ domain.pk }}" value="{% if domain.translations.class_name %}{{ domain.translations.class_name }}{% endif %}" autocomplete="off">
    </div>
  </div>
{% endfor %}