<div class="form-group">
  <label class="col-lg-2 control-label">
    <span class="label_for_translate row_description_label" attr-class_name="row_description_label" attr-edit_mode="popup" attr-placement="bottom">Описание</span>
    {% if domains %}
      <a href="javascript:void(0);" data-attr-translate="description" class="translate_toggle"><i class="fa fa-globe"></i></a>
    {% endif %}
  </label>
  <div class="col-lg-10">
    <textarea class="form-control" name="description"{% if not '<script' in row.description %} id="description_redactor"{% endif %}>{% if row.description %}{{ row.description }}{% endif %}</textarea>
  </div>
</div>

<!-- Переводы для description -->
{% for domain in domains %}
  <div class="form-group translate_description hidden">
    <label class="col-lg-2 control-label">
    <span class="row_description_label">Описание</span> {{ domain.name }} ({{ domain.domain }})</label>
    <div class="col-lg-10">
      <textarea placeholder="Описание {{ domain.name }} ({{ domain.domain }})" class="form-control" name="translate_description_{{ domain.pk }}"{% if not '<script' in row.description %} id="description_redactor_{{ domain.pk }}"{% endif %} autocomplete="off">{% if domain.translations.description %}{{ domain.translations.description }}{% endif %}</textarea>
    </div>
  </div>
{% endfor %}