{% load mtags tags flatcontent_tags %}<!DOCTYPE html><html lang="en">
<head>
{% include "skeleton_header.html" %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/media/css/liquid-icon.min.css" />
<link rel="stylesheet" href="/media/css/font-awesome.min.css" />
<link rel="stylesheet" href="/media/css/theme-vendors.min.css" />
<link rel="stylesheet" href="/media/css/theme.min.css" />
<link rel="stylesheet" href="/media/css/multiconcept.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/media/css/custom.css" />
<link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox.min.css">
<script async src="/media/js/modernizr.min.js"></script>

<link rel="stylesheet" href="/media/css/owl.carousel.min.css">
<link rel="stylesheet" href="/media/css/owl.theme.default.min.css">

{% block extrascript %}{% endblock %}
</head>
<body class="lqd-stack-buttons-style-2 header-style-fullscreen" data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="classic" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray">
{%  block body %}
<div id="wrap" class="{% ifequal request.META.PATH_INFO "/" %}homepage{% endifequal %}">

  {% include "web/header.html" %}

{% comment %}<!--
  <main id="content" class="content bg-black"{% ifequal request.META.PATH_INFO "/" %} data-liquid-stack="true" data-stack-options='{"navigation":true, "prevNextButtons":true, "pageNumber":true, "effect":"fadeScale"}'{% endifequal %}>
-->{% endcomment %}
  <main id="content" class="content bg-black">
    {% if breadcrumbs %}
      <section class="mt-30" id="section_mt_30">&nbsp;</section>
    {% endif %}
    <div class="video-bg">
      {% if page.html %}{{ page.html|safe }}{% endif %}
    </div>
    {% block content %}{% endblock %}
  <a href="#" class="scrollup">Наверх</a></main>
  <footer class="main-footer bg-charade pt-20">
    <section>
      <div class="container">
        <div class="row">
{% comment %}<!--
          {% include "web/footer.html" %}
-->{% endcomment %}
          <div class="lqd-column col-md-4 col-sm-6">
            <h3 class="widget-title text-white foot-txt">
              {{ containers.main.tags.phone.html|safe }} <span class="phone"><i class="fa fa-phone"></i></span>
            </h3>
            {{ containers.main.tags.copyright.html|safe }}
          </div>
          <div class="lqd-column col-md-4 col-sm-6">
            <h3 class="widget-title text-white foot-txt">
              {{ containers.main.tags.email.html|safe }} <span class="email"><i class="fa fa-envelope"></i></span>
            </h3>
             <h3 class="widget-title text-white foot-txt">
              <a href="https://www.youtube.com/channel/UCt5jpPk2dJNd4xOipt7-IfQ">Наш youtube канал</a>
<span class="email"><i class="fa fa-youtube"></i></span>
            </h3>
          </div>
          <div class="lqd-column col-md-4 col-sm-6">
            <h3 class="widget-title text-white foot-txt">
              {{ containers.main.tags.address.html|safe }} <span class="address"><i class="fa fa-map-marker"></i></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="clearfix"></div><br /><br />
    </section>
{% comment %}<!--
    <section class="bt-fade-white-015 pt-35 pb-35 mt-50">
      <div class="container">
        <div class="row">
          <div class="lqd-column col-md-6">
            <ul class="lqd-custom-menu reset-ul inline-nav">
              <li><a href="#">Правила пользования сайтом</a></li>
              <li><a href="#">Политика безопасности</a></li>
            </ul>
          </div>
          <div class="lqd-column col-md-6 text-md-right">
            <p class="my-0">{{ containers.main.tags.copyright.html|safe }}</p>
          </div>
        </div>
      </div>
    </section>
-->{% endcomment %}
  </footer>
</div>
<div id="request_call">
  {% include "web/containers/feedback.html" %}
</div>
{% endblock %}
<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/theme-vendors.js"></script>
<script src="/media/js/jquery.pagepiling.min.js"></script>
<script src="/media/js/theme.min.js"></script>
<script src="/media/js/owl.carousel.min.js"></script>
<script src="/media/js/custom.js?v=1"></script>
<script src="/static/fancybox/jquery.fancybox.min.js"></script>


<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script src="/static/js/feedback.js"></script>


<!-- DEBUG:
{% for cont in page.containers %}
  {{ cont.container.name }} - {{ cont.container.tag }}<br />
  {% ifequal cont.container.tag 'main' %}
    {% for block in cont.blocks %}
      __ {{ block.name }}<br />
      {% for item in block.sub %}
        __ __ {{ item.name }}<br />
      {% endfor %}
    {% endfor %}
  {% endifequal %}
{% endfor %}
-->
<form class="hidden" id="all_blocks" method="GET" action="{% url 'flattooltip:api' 'flattooltip' %}">
<input type="text" name="by" value="50" />
<input type="text" name="only_fields" value="name,xpos,ypos,block,direction" />
{% for cont in page.containers %}
  {% for block in cont.blocks %}
    {% if block.img %}
    <input type="text" value="{{ block.id }}" name="blocks_with_images" />
    {% endif %}
  {% endfor %}
{% endfor %}
</form>

{% comment %}<!--{% include "check_feedback_form.html" %}-->{% endcomment %}

<script type="text/javascript">
  function set_nav_height($){
    var window_height = $(window).height();
    var nav_height = $(".navbar-header-overlay").height();
    if(window_height !== nav_height){
      $(".navbar-header-overlay").height(window_height);
    }
  }
  window.addEventListener('resize', function(event){
    set_nav_height(jQuery);
  });
  jQuery(document).ready(function($){

    $("a[href='#request_call']").each(function(){
      $(this).fancybox();
    });

    setTimeout(function(){
      if($("section.slider4").length > 0){
        $("#pp-nav").hide();
        $(".lqd-stack-prevnext-wrap").hide();
        $(".lqd-stack-page-number").hide();
        $(".navbar-header-overlay .helper").hide();
      }
      if($("section.slider1").length > 0){
        $(".navbar-header-overlay .helper").hide();
      }
      set_nav_height($);
    }, 250);

    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('.scrollup').fadeIn();
      } else {
        $('.scrollup').fadeOut();
      }
    });
    $('.scrollup').click(function(){
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
    });

  });
</script>
{% block extrascripts %}{% endblock %}
<audio id="sound_button" src="/media/new/button.ogg"/>
<audio id="sound_tink" src="/media/new/tink.mp3"/>

</body>
</html>