<div class="sidebar mb-35">
  <h3 class="sidebar-title">{{ container.name }}</h3>
  <ul class="product-categories">
    {% for menu in menus %}
      <li>
        <a{% ifequal request.META.PATH_INFO menu.link %} class="active"{% endifequal %} href="{{ menu.link }}">{{ menu.name }}</a>
        {% if menu.sub %}
          <ul class="level2">
            {% for submenu in menu.sub %}
              <li>
                <a{% ifequal request.META.PATH_INFO submenu.link %} class="active"{% endifequal %} href="{{ submenu.link }}">{{ submenu.name }}</a>
                {% if submenu.sub %}
                  <ul class="level3">
                    {% for item in submenu.sub %}
                      <a{% ifequal request.META.PATH_INFO item.link %} class="active"{% endifequal %} href="{{ item.link }}">{{ item.name }}</a>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>