{% extends "skeleton.html" %}
{% load flatcontent_tags mtags %}

{% block extrahead %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<section class="page-section">
  <div class="wrap container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12">

        <form class="form-delivery" action="{% url 'main:show_profile' %}" method="post" id="profile_form">
          {% csrf_token %}
          <div class="information-title">Изменение профиля</div>
          <div class="details-wrap">
            <div class="block-title alt"> <i class="fa fa-angle-down"></i> Изменение вашей персональной информации</div>
            <div class="details-box">
              <div class="row">
<!--
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Ваш логин</label>
                    <input type="text" class="form-control" value="{{ shopper.login }}" autocomplete="off" disabled>
                  </div>
                </div>
-->
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Как к вам обращаться? *</label>
                    <input type="text" name="name" placeholder="Как к вам обращаться?" class="form-control required" value="{% if shopper.name %}{{ shopper.name }}{% endif %}" data-msg="Как к вам обращаться?" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Ваше имя *</label>
                    <input type="text" name="first_name" placeholder="Ваше имя" class="form-control required" value="{% if shopper.first_name %}{{ shopper.first_name }}{% endif %}" data-msg="Ваше имя" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Ваша фамилия *</label>
                    <input type="text" name="last_name" placeholder="Ваша фамилия" class="form-control required" value="{% if shopper.last_name %}{{ shopper.last_name }}{% endif %}" data-msg="Ваша фамилия" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Ваше отчество</label>
                    <input type="text" name="middle_name" placeholder="Ваше отчество" class="form-control" value="{% if shopper.middle_name %}{{ shopper.middle_name }}{% endif %}" data-msg="Ваше отчество" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Ваш Email</label>
                    <input type="text" name="email" placeholder="Ваш Email" class="form-control email" value="{% if shopper.email %}{{ shopper.email }}{% endif %}" data-msg="Ваш Email" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Ваш телефон *</label>
                    <input type="text" name="phone" placeholder="Ваш телефон" class="form-control phone required" value="{% if shopper.phone %}{{ shopper.phone }}{% endif %}" data-msg="Ваш телефон" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label>Адрес доставки</label>
                    <input type="text" name="address" placeholder="Адрес доставки" class="form-control" value="{% if shopper.address %}{{ shopper.address }}{% endif %}" data-msg="Адрес доставки" autocomplete="off">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div><br>
          <div class="details-wrap">
            <div class="block-title alt"> <i class="fa fa-angle-down"></i> Изменение пароля</div>
            <div class="details-box">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Текущий пароль</label>
                    <input type="password" name="passwd" placeholder="Текущий пароль" class="form-control" data-msg="Текущий пароль" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Новый пароль</label>
                    <input type="password" name="passwd1" placeholder="Новый пароль" class="form-control" data-msg="Новый пароль" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Повторите новый пароль</label>
                    <input type="password" name="passwd2" placeholder="Повторите новый пароль" class="form-control" data-msg="Повторите новый пароль" autocomplete="off">
                  </div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <div class="feedback_alerts form-group"></div>
                </div>

                <div class="col-md-12 col-sm-12">
                  <button class="btn btn-theme btn-theme-dark save-change-btn">Сохранить</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      {% include "web/login/profile_menu.html" %}
    </div>
  </div>
</section>

{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}
{% endblock %}

{% block subscribe %}{% endblock %}

{% block extrascripts %}
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script src="/static/js/feedback.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("input.phone").mask("8(999)9 999-999");
    var profile = new FeedBack("profile_form", {
      "wait": "Ждите...",
      //"send": "Отправить",
      "success": "Профиль обновлен",
      "progress": "Пожалуйста, ждите...",
      "error": "Произошла ошибка, сообщите нам по телефону",
      "error_captcha": "Не пройдена проверка на работа",
      "callback_success": "",
      "callback_error": "",
      "dont_reset_on_submit": 1, // or 1
      //"errorClass": "invalid",
    });
  });
</script>
{% endblock %}