{% extends "skeleton.html" %}
{% load flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
  .stylization .btn{
    display: inline-block;
    border: none;
    transition: all 0.2s;
    font-weight: 500;
    background: #373d54;
    padding: 10px 35px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
  }
  .social i{
    font-size:18px;
  }
  .auth-wrap .auth-col label.error{
    float:right;
    width: auto;
  }
  .stylization button.close {
    padding: 5px;
  }

  .register .col-md-12 {
    margin-top: 0 !important;
  }
</style>
{% if request.session.shopper %}
<script type="text/javascript">
  window.location.href = '/profile/';
</script>
{% endif %}
{% endblock %}

{% block content %}
<section class="page-section color">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="block-title"><span>Вход</span></h3>
        <form action="/login/" class="form-login login" id="login_form">
          {% csrf_token %}
          <div class="row">
{% comment %}<!--
            <div class="col-md-12 col-lg-6">
              <a class="btn btn-theme btn-block btn-icon-left facebook" href="#"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
            </div>
            <div class="col-md-12 col-lg-6">
              <a class="btn btn-theme btn-block btn-icon-left twitter" href="#"><i class="fa fa-twitter"></i>Sign in with Twitter</a>
            </div>
-->{% endcomment %}

            <div class="col-md-12">
              <div class="form-group">
                <input class="form-control required" type="text" placeholder="Логин" data-msg="Введите логин">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input class="form-control required" type="password" placeholder="Пароль" data-msg="Введите пароль">
              </div>
            </div>

            <div class="col-md-12">
              <div class="feedback_alerts"></div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-theme btn-block btn-theme-dark" type="submit">Вход</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-sm-6">
        <h3 class="block-title"><span>Регистрация</span></h3>
        <form class="create-account register" action="/registration/" method="post" id="register_form">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="form-group">
              <label>Ваше имя</label>
              <input class="form-control required" type="text" placeholder="Ваше имя" name="name" data-msg="Введите ваше имя">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Ваш Email</label>
              <input class="form-control email" type="text" type="text" placeholder="Ваш Email" name="email" data-msg="Введите ваш Email">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Логин</label>
              <input class="form-control required" type="text" placeholder="Логин" name="login" data-msg="Введите логин">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Ваш телефон</label>
              <input class="form-control required phone" type="text" placeholder="Ваш телефон" name="phone" data-msg="Введите ваш телефон">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Пароль</label>
              <input class="form-control required" type="password" placeholder="Пароль" name="passwd" data-msg="Введите пароль">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Повторите пароль</label>
              <input class="form-control required" type="password" placeholder="Повторите пароль" name="passwd2" data-msg="Повторите пароль">
            </div>
          </div>

          <div class="col-md-12">
            <div class="feedback_alerts"></div>
          </div>

          <div class="col-md-6">
            <button class="btn btn-theme btn-block btn-theme-dark" type="submit">Регистрация</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

{% comment %}<!--
    <div class="social">
      <p>
        <a class="btn btn-default" href="{{ vk_link }}">Войти через <i class="fa fa-vk"></i></a>
        <a class="btn btn-default" href="{{ yandex_link }}">Войти через Yandex</a>
      </p>
    </div>
-->{% endcomment %}


  {% for container in page.containers %}
    {% flatcontent request page container.container.tag %}
  {% endfor %}
{% endblock %}


{% block extrascripts %}
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.maskedinput.min.js"></script>
<script src="/static/js/feedback.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("input.phone").mask("8(999)9 999-999");
    function redirect_to_profile(result){
      setTimeout(function(){
          window.location.href = result['redirect'];
      }, 800);
    }
    var reg = new FeedBack("register_form", {
      "wait": "Ждите...",
      //"send": "Отправить",
      "success": "Пользователь создан",
      "progress": "Пожалуйста, ждите...",
      "error": "Произошла ошибка, сообщите нам по телефону",
      "error_captcha": "Не пройдена проверка на работа",
      "callback_success": redirect_to_profile,
      "callback_error": "",
      "dont_reset_on_submit": 1, // or 1
      //"errorClass": "invalid",
    });
    var auth = new FeedBack("login_form", {
      "wait": "Ждите...",
      //"send": "Отправить",
      "success": "Вы вошли",
      "progress": "Пожалуйста, ждите...",
      "error": "Произошла ошибка, сообщите нам по телефону",
      "error_captcha": "Не пройдена проверка на работа",
      "callback_success": redirect_to_profile,
      "callback_error": "",
      "dont_reset_on_submit": 1, // or 1
      //"errorClass": "invalid",
    });
  });
</script>
{% endblock %}