{% load mtags tags flatcontent_tags %}<!DOCTYPE html><html class="no-js" lang="ru"><head>
{% include "skeleton_header.html" %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/media/css/bootstrap.min.css" rel="stylesheet">
<link href="/media/css/font-awesome.min.css" rel="stylesheet">
<link href="/media/css/elegent.min.css" rel="stylesheet">
<link href="/media/css/plugins.css" rel="stylesheet">
<link href="/media/css/helper.css" rel="stylesheet">
<link href="/media/css/main.css" rel="stylesheet">
<link href="/media/css/alt_color_blue.css" rel="stylesheet">
<script src="/media/js/modernizr-2.8.3.min.js"></script>
<link rel="stylesheet" href="/static/jstree/themes/default/style.min.css" />
<script type="text/javascript">window.cat_id = 0;</script>
{% block extrahead %}{% endblock %}
</head>
<body>
{% block body %}
  <header>
    <div class="header-top pt-10 pb-10 pt-lg-10 pb-lg-10 pt-md-10 pb-md-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center text-sm-left">
            {{ containers.main.tags.logo.html|safe }}
            {% comment %}<!--
              {% include "web/currency_and_language_dropdown.html" %}
            -->{% endcomment %}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center text-sm-right">
            <div class="header-top-menu">
              <ul>
                {% if request.session.shopper %}
                  <li><a href="/profile/">Ваш аккаунт</a></li>
                  <li><a href="/logout/">Выход, {{ request.session.shopper.name }}</a></li>

                {% else %}
                  <li><a href="/registration/">Вход / Регистрация</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom header-bottom-one header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center">
            <div class="logo mt-15 mb-15">
              <a href="/">
                <img src="{{ containers.main.tags.logo.thumb }}" class="img-fluid" loading="lazy">
              </a>
            </div>
          </div>
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="menubar-top d-flex justify-content-between align-items-center flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-sm-15">
              <div class="header-contact d-flex">
                <div class="phone-icon">
                  <img src="/media/misc/icon-phone.png" class="img-fluid" loading="lazy">
                </div>
                <div class="phone-number">
                  {{ containers.main.tags.phone.name }}<span class="number">{{ containers.main.tags.phone.html|safe }}</span>
                </div>
              </div>

              <div class="header-advance-search">
                <form action="/cat/">
                  <input type="text" placeholder="Поиск" name="q" />
                  <button><span class="icon_search"></span></button>
                </form>
              </div>

              <div class="shopping-cart" id="shopping-cart">

                <a href="/shop/cart/">
                  <div class="cart-icon d-inline-block">
                    <span class="icon_bag_alt"></span>
                  </div>
                  <div class="cart-info d-inline-block">
                    <p>Корзина
                      <span><span class="items">0</span> - <span class="total">0.00</span></span>
                    </p>
                  </div>
                </a>
                <div class="cart-floating-box" id="cart-floating-box">
                  {% ajax_cart request %}
                </div>
              </div>
            </div>
            {% flatmenu request "mainmenu" %}
          </div>
          <div class="col-12">
            <div class="mobile-menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if breadcrumbs %}
    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a href="/"><i class="fa fa-home"></i> Главная</a></li>
                {% for crumb in breadcrumbs %}
                  {% if forloop.last %}
                    <li class="active">{{ crumb.name }}</li>
                  {% else %}
                    <li>
                      <a href="{{ crumb.link }}">
                        <i class="fa fa-arror-right"></i> {{ crumb.name }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% block extracontent %}
    <div class="hero-slider-with-category-container mt-35 mb-35">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12">
            {% block left %}{% endblock %}
          </div>

          <div class="col-lg-9 col-md-12">
            {% block right %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  {% block content %}{% endblock %}

  <footer>
    <div class="newsletter-section pt-50 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-20 mb-xs-20">
            <div class="newsletter-title">
              <p class="title"><img src="/media/misc/icon-newsletter.png" alt="Подписаться на новости" loading="lazy"> Подписаться на новости</p>
            </div>
          </div>

          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="subscription-form-wrapper d-flex flex-wrap flex-sm-nowrap">
              <p class="mb-xs-20">Будьте в курсе наших скидок и акций</p>
              <div class="subscription-form">
                <form id="mc-form" class="mc-form subscribe-form">
                  <input type="email" id="mc-email" autocomplete="off" placeholder="Ваш email">
                  <button id="mc-submit" type="submit"> Подписаться!</button>
                </form>
                <div class="mailchimp-alerts">
                  <div class="mailchimp-submitting"></div>
                  <div class="mailchimp-success"></div>
                  <div class="mailchimp-error"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-contact-section pt-50 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 order-2 order-md-2 order-sm-2 order-lg-1">
            <div class="social-media-section">
              <h2>{{ containers.main.tags.social.name }}</h2>
              <div class="social-links">
                {% for block in containers.main.tags.social.sub %}
                  <a class="{{ block.tag }}" href="{{ block.link }}" data-tooltip="{{ block.description|textize }}"><i class="fa fa-{{ block.tag }}"></i></a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 order-1 order-md-1 order-sm-1 order-lg-2  mb-sm-50 mb-xs-50">
            <div class="contact-summery">
              <h2>Контакты</h2>
              <div class="contact-segments d-flex justify-content-between flex-wrap flex-lg-nowrap">
                <div class="single-contact d-flex mb-xs-20">
                  <div class="icon">
                    <span class="icon_pin_alt"></span>
                  </div>
                  <div class="contact-info">
                    <p>{{ containers.main.tags.address.name }}
                      <span>{{ containers.main.tags.address.html|safe }}</span>
                    </p>
                  </div>
                </div>
                <div class="single-contact d-flex mb-xs-20">
                  <div class="icon">
                    <span class="icon_mobile"></span>
                  </div>
                  <div class="contact-info">
                    <p>{{ containers.main.tags.phone.name }}
                      <span>{{ containers.main.tags.phone.html|safe }}</span>
                    </p>
                  </div>
                </div>
                <div class="single-contact d-flex">
                  <div class="icon">
                    <span class="icon_mail_alt"></span>
                  </div>
                  <div class="contact-info">
                    <p>{{ containers.main.tags.email.name }}
                      <span>{{ containers.main.tags.email.html|safe }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% flatmenu request 'bottommenu' %}
    <div class="copyright-section pt-35 pb-35">
      <div class="container">
        <div class="row align-items-md-center align-items-sm-center">
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center text-md-left">
            <div class="copyright-segment">
              <p>
                <a href="#">Защита личных данных</a>
                <span class="separator">|</span>
                <a href="#">Правила пользования</a>
              </p>
              <p class="copyright-text">{{ containers.main.tags.copyright.html|safe }}</p>
            </div>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
            <div class="payment-info text-center text-md-right">
              <p>{{ containers.main.tags.payments.name }}
                <img src="{% imagine containers.main.tags.payments.img '600x400' containers.main.tags.payments.get_folder True %}" class="img-fluid" alt="{{ containers.main.tags.description|textize }}" loading="lazy">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% comment %}<!--{% include "web/quick_view_product_modal.html" %}-->{% endcomment %}
  <a href="#" class="scroll-top"></a>
{% endblock %}
<script src="/media/js/jquery.min.js"></script>
<script type="text/javascript">
  var cart_id = "#cart-floating-box";
</script>
{% include "shop_js.html" %}
<script src="/media/js/popper.min.js"></script>
<script src="/media/js/bootstrap.min.js"></script>
<script src="/media/js/plugins.js"></script>
<script src="/static/jstree/jstree.min.js"></script>
{% include "check_feedback_form.html" %}
{% block extrascripts %}{% endblock %}
<script src="/media/js/main.js"></script>
</body>
</html>