{% load mtags tags flatcontent_tags %}﻿<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
{% include "skeleton_header.html" %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<!--
<link rel="stylesheet" type="text/css" href="/media/css/calendar-win2k-1.css" />
-->
<link rel="stylesheet" type="text/css" href="/media/css/widgets.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/bootstrap-theme.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/theme-default.css?v=3" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/ion.rangeSlider.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/ion.rangeSlider.skinFlat.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/css_fix.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/custom.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/font-awesome.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/fonts.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/select2/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/media/css/print.css" media="print" />
<script type="text/javascript">
window.inline_scripts = [];
window.lazy_css = {};
window.lazy_js = {};
function load_lazy_css(path) {
  if (window.lazy_css[path] == undefined) {
    window.lazy_css[path] = 1;
    $('head').append( $('<link rel="stylesheet" type="text/css" />').attr('href', path));
  }
}
function load_lazy_js(path, callback) {
  if (window.lazy_js[path] == undefined) {
    window.lazy_js[path] = {'callbacks': [callback], 'loaded': false};
    $.getScript(path, function( data, textStatus, jqxhr ) {
      lazy_js[path]['loaded'] = true;
      for(var i=0; i<lazy_js[path]['callbacks'].length; i++) {
        lazy_js[path]['callbacks'][i]();
      }
    });
  } else {
    if (lazy_js[path]['loaded']) {
      // Если загрузился скрипт - выполняем
      callback();
    } else {
      // Если не загрузился, тогда добавляем в колбэки
      lazy_js[path]['callbacks'].push(callback);
    }
  }
}
</script>
{% if containers.main.tags.yandex_metrika.html %}
  {{ containers.main.tags.yandex_metrika.html|safe }}
{% endif %}
{% block extrahead %}{% endblock %}
</head>
<body class=" cms-index-index cms-home-demo-01 wide-style home-page-1 header-1">
<div class="wrapper">
{% block body %}
  {% include "web/header/noscript.html" %}
  <div class="page">
    <a id="yt-totop" href="javascript:void(0)" title="Подняться вверх"></a>
    <div class="header-container header-style-1">
      <div class="header">
        <div class="header-inner">
{% comment %}<!--
          {% include "web/header/top_menu.html" %}
-->{% endcomment %}
          {% include "web/header/components.html" %}
          {% flatmenu request "mainmenu" %}
        </div>
      </div>
    </div>
    <div class="main-container{% comment %} col2-left-layout{% endcomment %}">
      <div class="main">
        {% include "web/breadcrumbs.html" %}
        <div class="col-main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% include "web/footer/footer.html" %}
    {% comment %}<!--
    {% include "web/modals/add_to_cart_modal.html" %}
    {% include "web/modals/loading_modal.html" %}
    -->{% endcomment %}
  </div>
{% endblock %}
</div>
<script type="text/javascript" src="/media/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/media/js/ion.rangeSlider.min.js"></script>
{% include "shop_js.html" %}
<script type="text/javascript" src="/media/js/owl.carousel.js"></script>
<script type="text/javascript" src="/static/select2/select2.min.js"></script>
<script type="text/javascript" src="/media/js/custom.js"></script>
{% block extrascripts %}{% endblock %}
<script type="text/javascript">
$(document).ready(function(){
  for(var i=0; i<window.inline_scripts.length; i++) {
    window.inline_scripts[i]();
  }
});
</script>
</body>
</html>
