{% extends "skeleton.html" %}

{% block top_menu %}{% endblock %}

{% block language_menu %}{% endblock %}

{% block profile_menu %}{% endblock %}

{% block notifications_menu %}{% endblock %}

{% block messages_menu %}{% endblock %}

{% block chat_menu %}{% endblock %}

{% block main_menu %}{% endblock %}

{% block title %}Калькулятор норм КБЖУ{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Автор: Воловникова Алёна / Приймакова Екатерина</h3>
  </div>

  <div class="panel-body container-fluid">
    <div class="row row-lg">
      <div class="col-sm-5">
        <div class="example-wrap">
          <h4>1. Внесите свои данные</h4>
          <div class="example">
            <form autocomplete="off" class="form-horizontal">
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">Пол</label>
                <div class="col-sm-8">
                  <div>
                    <div class="radio-custom radio-default radio-inline">
                      <input type="radio" id="inputBasicMale" name="inputGender" />
                      <label for="inputBasicMale">Мужской</label>
                    </div>
                    <div class="radio-custom radio-default radio-inline">
                      <input type="radio" id="inputBasicFemale" name="inputGender" checked />
                      <label for="inputBasicFemale">Женский</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">Вес, кг</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputBasicWeight" name="inputWeight" placeholder="Вес, кг" autocomplete="off" step="0.01" value="70"/>
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">Рост, см</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputBasicHeight" name="inputHeight" placeholder="Рост, см" autocomplete="off" step="1" value="174" />
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">Возраст, лет</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputBasicAge" name="inputAge" placeholder="Возраст, лет" autocomplete="off" step="1" value="24" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="example-wrap">
          <h4>2. Определите коэффициент физической активности для точной нормы калорий вам необходимо</h4>
          <div class="example">
            <form autocomplete="off" class="form-horizontal" id="inputK">
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">1.25</label>
                <div class="col-sm-8">
                  <div>
                    <div class="radio-custom radio-default radio-inline">
                      <input type="radio" id="inputK1_25" name="inputK" checked value='1.25' />
                      <label for="inputK1_25">нет активности (офисная/сидячая работа, езда на транспорте) либо прогулки не менее часа, зарядка, ходьба на дорожке, бассейн 1 раз в неделю, йога 1-2 раза в неделю, или другая 1 тренировка в неделю</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">1.3</label>
                <div class="col-sm-8">
                  <div>
                    <div class="radio-custom radio-default radio-inline">
                      <input type="radio" id="inputK1_3" name="inputK" value='1.3' />
                      <label for="inputK1_3">2-3 тренировки в неделю низкой интенсивности  (танцы, пилатес, домашние тренировки, бассейн)</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">1.35</label>
                <div class="col-sm-8">
                  <div>
                    <div class="radio-custom radio-default radio-inline">
                      <input type="radio" id="inputK1_35" name="inputK" value='1.35' />
                      <label for="inputK1_35">2-3 тренировки в неделю средней интенсивности, фитнес, силовые, групповые интенсивные</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">1.375</label>
                <div class="col-sm-8">
                  <div>
                    <div class="radio-custom radio-default radio-inline">
                      <input type="radio" id="inputK1_375" name="inputK" value='1.375' />
                      <label for="inputK1_375">стабильно интенсивные от 3-х тренировок (50 мин) в неделю/силовые/фитнес </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">1.4</label>
                <div class="col-sm-8">
                  <div>
                    <div class="radio-custom radio-default radio-inline">
                      <input type="radio" id="inputK1_4" name="inputK" value='1.4' />
                      <label for="inputK1_4">4-5 тренировки в неделю высокой интенсивности</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group form-material row">
                <label class="control-label col-sm-4">1.45</label>
                <div class="col-sm-8">
                  <div>
                    <div class="radio-custom radio-default radio-inline">
                      <input type="radio" id="inputK1_45" name="inputK" value='1.45' />
                      <label for="inputK1_45">5 и более интенсивных тренировок в неделю</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="example-wrap">
          <h4>ВАШ ИНДЕКС МАССЫ ТЕЛА (ИМТ)</h4>
          <div class="example">
            <form autocomplete="off" class="form-horizontal">
              <div class="form-group form-material row">
                <label class="control-label col-sm-4" id="imt">0</label>
                <div class="col-sm-8">
                  <label class="control-label" id="imt_state">Этот ИМТ говорит о вашем весе (норма/избыток/ожирение)</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="example-wrap">
          <h4>Ваша норма калорий:</h4>
          <div class="example">
            <form autocomplete="off" class="form-horizontal">
              <div class="form-group form-material row">
                <div class="col-sm-8">
                  <label class="control-label">Ваш базовый метаболизм (основной обмен) минимальная норма</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label" id="base_metabolism">0</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label">ККал</label>
                </div>
              </div>
              <div class="form-group form-material row">
                <div class="col-sm-8">
                  <label class="control-label">Ваша норма калорий для поддержания веса (не набирать и не худеть)</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label" id="do_not_change_norm">0</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label">ККал</label>
                </div>
              </div>
              <div class="form-group form-material row">
                <div class="col-sm-8">
                  <label class="control-label">Дефицит калорий 20% (для похудения)</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label" id="deficit20">0</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label">ККал</label>
                </div>
              </div>
              <div class="form-group form-material row">
                <div class="col-sm-8">
                  <label class="control-label">Дефицит калорий 15% (для похудения)</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label" id="deficit15">0</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label">ККал</label>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="example-wrap">
          <h4>Чтобы вы активно худели, вам необходимо питаться:</h4>
          <div class="example">
            <form autocomplete="off" class="form-horizontal">
              <div class="form-group form-material row">
                <div class="col-sm-8">
                  <label class="control-label">от</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label" id="eat_from">0</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label">ККал</label>
                </div>
              </div>
              <div class="form-group form-material row">
                <div class="col-sm-8">
                  <label class="control-label">до</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label" id="eat_to">0</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label">ККал</label>
                </div>
              </div>
              <div class="form-group form-material row">
                <div class="col-sm-8">
                  <label class="control-label">НО! В дни ПМС, КД или в те дни, когда чувствуете голод, то питаться можно ДО<br />это тоже будет похудение, но медленное и комфортное</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label" id="eat_lazy_to">0</label>
                </div>
                <div class="col-sm-2">
                  <label class="control-label">ККал</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="example-wrap">
          <h4>Ваши нормы белков, жиров и углеводов</h4>
          <div class="example">
            <table class="table">
              <thead>
                <tr>
                  <th></th><th>ОТ</th><th>ДО</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>БЕЛКИ</td>
                  <td id="proteins_from">0</td>
                  <td id="proteins_to">0</td>
                </tr>
                <tr>
                  <td>ЖИРЫ</td>
                  <td id="fats_from">0</td>
                  <td id="fats_to">0</td>
                </tr>
                <tr>
                  <td>УГЛЕВОДЫ</td>
                  <td id="carbohydrates_from">0</td>
                  <td id="carbohydrates_to">0</td>
                </tr>
                <tr>
                  <td>САХАР</td>
                  <td id="sugar_from">21</td>
                  <td id="sugar_to">30</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="col-sm-12">
        <h4>
          Ниже ваша табличка с нормами сделайте скриншот и отправьте куратору!
          <br /> Спасибо, за то, что сделали свой расчет сами.
          <br /> ЛЕГКОГО ПОХУДЕНИЯ!
        </h4>

        <table class="table">
          <tbody>
            <tr>
              <td>Мой ВЕС</td>
              <td id="my_weight">0</td>
              <td>кг</td>
            </tr>
            <tr>
              <td>Мой РОСТ</td>
              <td id="my_height">0</td>
              <td>см</td>
            </tr>
            <tr>
              <td>Мой ВОЗРАСТ</td>
              <td id="my_age">0</td>
              <td>лет</td>
            </tr>
            <tr>
              <td>Моя активность</td>
              <td id="my_activity">0</td>
              <td></td>
            </tr>
            <tr>
              <td>Мой индекс массы тела</td>
              <td id="my_imt">0</td>
              <td></td>
            </tr>
            <tr>
              <td>Я пользуюсь понижающим коэффициентом</td>
              <td id="my_lk">0</td>
              <td></td>
            </tr>
            <tr>
              <td>Мой БАЗОВЫЙ метаболизм</td>
              <td id="my_base_metabolism">0</td>
              <td></td>
            </tr>
            <tr>
              <td>Моя норма калорий для поддержания веса</td>
              <td id="my_calories_norm">0</td>
              <td></td>
            </tr>
            <tr>
              <td>Я буду худеть ОТ</td>
              <td id="my_kkal_from">0</td>
              <td>ккал в сутки</td>
            </tr>
            <tr>
              <td>Я буду худеть ДО</td>
              <td id="my_kkal_to">0</td>
              <td>ккал в сутки</td>
            </tr>
            <tr>
              <td>НО!В дни ПМС, КД или в те дни, когда я буду чувствовать голод, то питаться можно ДО</td>
              <td id="my_kkal_lazy_to">0</td>
              <td>ккал в сутки</td>
            </tr>
            <tr>
              <td>Кушать белков</td>
              <td id="my_proteins_from">0</td>
              <td id="my_proteins_to"></td>
            </tr>
            <tr>
              <td>Кушать жиров</td>
              <td id="my_fats_from">0</td>
              <td id="my_fats_to"></td>
            </tr>
            <tr>
              <td>Кушать углеводов</td>
              <td id="my_carbohydrates_from">0</td>
              <td id="my_carbohydrates_to"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="clearfix"></div>
      <div class="col-sm-12">
        <h4>
          ВНИМАНИЕ! табличка не учитывает ГВ!<br />
          Если вы на ГВ, то прибавьте к своим нормам дополнительное кол-во калорий и бжу!
          <br />(см табличку ниже)
        </h4>

        <table class="table">
          <tbody>
            <tr>
              <td>0-3 мес</td>
              <td>450-500 ккал/б-40/ж-20/у-40</td>
            </tr>
            <tr>
              <td>3-6 мес</td>
              <td>350-450 ккал/б-35/ж-15/у-30</td>
            </tr>
            <tr>
              <td>6-9 мес</td>
              <td>250-350 ккал/б-25/ж-10/у-20</td>
            </tr>
            <tr>
              <td>9-12 мес</td>
              <td>100-250 кал/б-20/ж-5/у-15</td>
            </tr>
          </tbody>
        </table>
        <p>Важно</p>
        <ul>
          <li>✓Приемы пищи можно менять местами. По голоду и ощущениям.</li>
          <li>✓Время примов пищи не важно! Можно есть даже на ночь (легкие белки - рыба, морепродукты и овощи)</li>
          <li>✓Не забывать пить водичку ПО ЖАЖДЕ! Минимум 1 литр ЧИСТОЙ воды</li>
          <li>✓В дни тренировок рацион можно дополнять перекусами! Перед тренировокой кушайте углеводы</li>
          <li>✓В рацион можно добавлять в любом количестве зелень и листья салатов. Так будет сытнее</li>
          <li>✓В рацион  можно добавлять чай (до 4-х чашек) и кофе без сахара и молока (до 2-х чашек)</li>
          <li>✓Обязательно сократить алкоголь до 250 мл слабоалкогольных напитков (пиво или вино) не чаще, чем 1 раз в 3-4 недели!</li>
        </ul>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var book_of_norm = [ // Справочник для норм
  0, 1.25, 1.3, 1.35, 1.375, 1.4, 1.45, 0, 0, 0.05, 0.1, 0.15, 0.2,
];
var diet_table = [
  //Наименование БЕЛКИ ЖИРЫ УГЛЕВОДЫ КАЛОРИИ
  ['"Epica" йогурт (не питьевой) с добавками (130 г)', 8, 6, 18, 150],
  ['"Epica" йогурт (с добавками) 1 бутылочка (290 г)', 13, 7, 36, 260],
  ['"Epica" натуральный йогурт (без добавок) 1 бутылочка (290 г)', 15, 8, 12, 190],
  ['"Активия" Кефирная 1% 290 г (бутылочка)', 8.4, 3, 13, 113],
  ['Danone творожный 1 баночка (170 г)', 11, 6, 22, 190],
  ['Авокадо 50 г', 1, 10, 3, 100],
  ['Активия Питьевая (любой вкус) 290 мл (75-80 Ккал на 100 г)', 8, 6, 37, 230],
  ['Арбуз 400 г', 2, 0, 23, 100],
  ['Банан 1 шт среднего размера (160-170 г)', 1, 0, 27, 100],
  ['Батончик  "protein bar" xxipower', 8, 5, 30, 200],
  ['Батончик "bombbar" 60 г', 20, 7, 23, 200],
  ['Батончик "Milkyway" 1 шт (26 г)', 1, 4, 17, 120],
  ['Батончик "Protein Rex" (40 г)', 10, 4, 8, 130],
  ['Батончик "Protein Rex" 60г', 18, 9, 20, 205],
  ['Батончик "диyes мюсли без сахара" (25 г)', 1, 1, 19, 90],
  ['Батончик Bite Love вишня 45 г', 1.3, 1.6, 17, 198],
  ['Батончик Fruit Band курага кокос 40 г', 1.6, 4.8, 20.8, 132],
  ['Белковая запеканка с овощами', 30, 24, 6, 350],
  ['Блины тонкие (простые)', 20, 23, 41, 450],
  ['Булгур', 7, 1, 34, 180],
  ['Бутерброд с сыром', 9, 11, 16, 200],
  ['Бутерброд с яйцом и огурцом', 11, 9, 20.5, 210],
  ['Бутерброды с икрой', 6, 5, 15, 130],
  ['Бутерброды с сёмгой', 27, 17, 45, 450],
  ['Бутерброды с сёмгой', 27, 17, 45, 450],
  ['Вино красное полусладкое 250 мл', 0, 0, 11.5, 225],
  ['Вино красное сухое 250 мл', 0.5, 0, 0.75, 170],
  ['Виное белое сухое 250 мл', 0.25, 0, 1.5, 165],
  ['Виски 40 мл', 0, 0, 0.2, 94],
  ['Вишня свежая или размороженная 200 г', 2, 2, 22, 100],
  ['Водка 40 мл', 0, 0, 0, 94],
  ['Голубцы с гарниром', 33, 16, 58, 500],
  ['Горький шоколад 70-75 % 20 г (550 Ккал на 100 г)', 2, 8, 7, 110],
  ['Горячие бутерброды', 25, 25.5, 22, 450],
  ['Гранола с молоком и яйцо', 18, 17, 45, 450],
  ['Грейпфрут 360 г', 1.6, 0.22, 24, 104],
  ['Грецкий орех 20 г или любой другой (несоленый)', 3, 13, 2, 130],
  ['Гречневая крупа', 7, 1, 36, 175],
  ['Грибной суп-пюре', 21, 19, 61, 500],
  ['Домашняя шаурма', 37, 18.5, 43, 500],
  ['Дыня 300 г', 2, 0, 24, 100],
  ['Запеченая индейка или курица в духовке с картофелем и овощами', 35, 4, 41, 350],
  ['Зефир белый 50 г (2 половинки) (320 Ккал на 100 г)', 1, 0, 40, 160],
  ['И салатом', 48, 18, 38, 500],
  ['Капучино Макдональдс 200 мл', 4, 4, 6, 80],
  ['Картофель(200 гр)', 4, 1, 36, 160],
  ['Каша овсяная с творогом', 20, 23, 41, 450],
  ['Каша с бананом и шоколадом', 11.5, 27, 58, 450],
  ['Кекс в кружке', 14, 19, 53, 450],
  ['Кефир 2.5% 200 мл или ацидолакт', 6, 5, 8, 100],
  ['Киви 220 г', 2.2, 1.3, 23, 103],
  ['Клубника свежая или размороженная 250 г', 2, 1, 19, 100],
  ['Коньяк 40 мл', 0, 0, 0, 96],
  ['Котлеты куриные рубленные с сыром', 40, 14, 48, 500],
  ['Котлеты рыбные с гарниром', 40, 15, 60, 500],
  ['Крабовый салат', 19, 10, 35, 300],
  ['Кукурузная крупа', 4, 1, 38, 165],
  ['Курага 50 г', 2, 0, 31, 100],
  ['КУРИНАЯ ГРУДКА НА ГРИЛЕ + гречка с яйцом', 46.5, 13.5, 50, 500],
  ['Куриная отбивная с салатом', 39, 15, 19, 350],
  ['Куриное филе в сметанном соусе с гарниром и салатом', 40, 17, 48, 500],
  ['Куриные ножки с греческим салатом', 40, 32, 14, 500],
  ['Куриные сердечки в сметане с картофелем', 32, 27, 32, 500],
  ['Куриный пирог', 35, 13, 25, 350],
  ['Куриный шашлык с картофелем', 35, 10, 33, 350],
  ['Курица запеченая с ананасами', 47, 16, 45, 500],
  ['Курица на гриле + салат', 34, 16, 15, 350],
  ['Курица под сыром с грибами и гарнир', 42, 18, 45, 500],
  ['Курица по-тайски в кисло-сладком соусе', 36, 11, 58, 500],
  ['Курица с ананасами в сладком соусе', 45, 10.5, 55, 500],
  ['Курица с перцем в чесночно-томатном соусе', 31, 7, 42, 350],
  ['Курица со стручковой фасолью', 42, 11, 30, 350],
  ['Кускус', 6, 1, 38, 180],
  ['Ленивые вареники', 32, 16, 30, 450],
  ['Ликер Baileys 50 мл', 1.5, 6.5, 12.5, 164],
  ['Макароны из ТСП', 6, 1, 36, 180],
  ['Масло растительное 1 ст.л', 0, 14, 0, 120],
  ['Масло растительное 1 ч.л', 0, 5, 0, 40],
  ['Молоко 2.5%  50 мл', 2, 1, 3, 26],
  ['Молочный коктейль шоколад макдональдс', 6.7, 5.0, 43.0, 247.0],
  ['Мороженое 48 копеек 58 г', 0.7, 3.7, 16, 100],
  ['Мясо по-французски с овощами', 33, 31, 20, 500],
  ['Ничего', 0, 0, 0, 0],
  ['Норвежский завтрак', 29, 25, 19, 450],
  ['Овощное рагу с картофелем', 9, 13, 48, 350],
  ['Овсяноблин классический', 24, 24, 31, 450],
  ['Овсяноблин сладкий', 21, 13, 60, 450],
  ['Овсяные оладушки с сыром', 18, 17, 45, 450],
  ['Овсяные хлопья', 7, 3, 29, 180],
  ['Окрошка на кефире', 22, 13, 36, 350],
  ['Оладушки овсяно-банановые', 19, 13, 75, 450],
  ['Оладьи из печени с гречкой', 29, 19.5, 49, 500],
  ['Оливье с курицей', 18, 12, 17, 250],
  ['Омлет в лаваше', 20, 22, 40, 450],
  ['Омлет с помидором под сыром с бутербродом', 25, 30, 25, 450],
  ['Осяные оладушки с сыром и зеленью (не сладкие)', 18, 17, 45, 450],
  ['Паста с брокколи и грибами', 22, 20, 64, 500],
  ['Паста с морепродуктами', 36, 15, 50, 500],
  ['Перловая крупа', 5, 1, 33, 160],
  ['Печенье "bombbar" 60 г', 20, 8, 13, 200],
  ['Печенье "Protein Rex" 2х25 г', 13, 9, 18, 170],
  ['Печенье "Pure Protein" 1 шт 40 г', 14, 10, 10, 186],
  ['Печенье "Sporty" 65 г', 27, 13, 17, 285],
  ['Печенье овсяное 35 г', 2.2, 5, 25, 153],
  ['Печенье Орео 20г', 1, 4, 13, 90],
  ['Пиво светлое 300 мл', 1, 0, 14, 126],
  ['Пиво светлое 300 мл (б/а)', 0, 0, 18, 75],
  ['Пицца гавайская додо-пицца', 24.6, 13, 71, 511],
  ['Пицца на курином тесте с грибами', 37, 18, 8, 350],
  ['Плов из куриного бедра', 22, 23, 51, 500],
  ['Протеин на молоке', 30, 6.5, 12.4, 226],
  ['Рагу с курицей и баклажаном', 36, 14, 21, 350],
  ['Рис', 3, 1, 40, 180],
  ['Рис с грибами и стручковой фасолью', 12, 10, 54, 350],
  ['Рис с курицей и грибами', 30, 26, 44, 500],
  ['Рис с рыбой с/с и яйцо', 29, 19.5, 49, 500],
  ['Рожок макдональдс', 3.5, 3.5, 23, 140],
  ['Роллы филадельфия', 14, 27, 47, 500],
  ['Роллы филадельфия', 14.0, 27.0, 47.0, 500.0],
  ['Рубленные котлеты с овощами', 35, 12, 21, 350],
  ['Рулетики с семгой из лаваша', 14, 15, 28, 300],
  ['Рыба в сливках с рисом + салат', 43.5, 20, 36, 500],
  ['Салат с кальмарами', 34, 15, 20, 350],
  ['Салат с курицей и грибами', 38, 15, 13, 350],
  ['Салат с семгой и яйцом', 21, 29, 4, 350],
  ['Салат с тунцом и яйцом', 37, 12, 27, 350],
  ['Салат цезарь с сухариками', 36, 16, 12, 350],
  ['Сахар 1 ч.л', 0, 0, 4, 20],
  ['Семга запеченая с овощами', 42, 13, 15, 350],
  ['Сливки  10% 10 мл', 1, 1, 1, 12],
  ['Спагетти болоньезе', 40, 15, 50, 500],
  ['Спагетти с курицей и грибами в сливочном соусе', 32, 20, 49, 500],
  ['Суп лапша с куриным бедром', 28, 22, 45, 500],
  ['Сыр "Almette" творожный (сливочный) 20г', 1.2, 4, 0.6, 44],
  ['Сыр твердый 45-50% 30 г', 7, 8, 0, 100],
  ['Сырники', 33, 13, 50, 450],
  ['Тар-тар из семги', 23, 23, 12, 460],
  ['Творог 5% 100 г', 16, 5, 3, 120],
  ['Творог 5% 160 г (пачка) + сметана 15% 50 г + варенье 20 г', 27, 16, 21, 330],
  ['Творог с пудингом', 19, 8, 22, 241],
  ['Творожная запеканка с яблоком и шоколадом', 26, 18, 46, 450],
  ['Творожная масса', 27.5, 13.0, 36.5, 367.0],
  ['Творожная масса', 16.5, 8.0, 12.0, 183.0],
  ['Творожные блины', 28, 14, 58, 450],
  ['Теплый салат с печенью', 26, 13, 33, 350],
  ['Тефтели в томате с гарниром', 25, 20, 53, 500],
  ['Тост с яйцом внутри', 29, 26, 22, 450],
  ['Тосты с арахисовой пастой и бананом +  яйцо', 19, 15.5, 56, 450],
  ['Тосты с яйцом пашот и авокадо', 21.5, 24.5, 22.4, 450],
  ['Треска в томатном соусе с рисом', 26, 9, 45, 350],
  ['Тушеная капуста с курицей', 35, 14, 18, 350],
  ['Тыквенные или др. Семечки  20 г', 5, 9, 1, 110],
  ['Халва в шоколаде (ротфронт)/35 г', 4, 9, 12, 146],
  ['Хлеб "Фитнес" (220 Ккал на 100 г)', 3, 2, 15, 90],
  ['Хлебцы рисовые "Dr. Korner" 3 шт', 3, 1, 20, 90],
  ['Цезарь ролл макдональдс', 20.0, 24.0, 42.0, 472.0],
  ['Чернослив 50 г', 5, 3, 12, 120],
  ['Чизкейк макдональдс', 5.9, 24.0, 31.0, 359.0],
  ['Шампанское 250 мл', 0.5, 0, 12.5, 220],
  ['Яблоко или груша 200-250 г (2 шт маленьких или 1 шт большого размера)', 1, 1, 21, 100],
  ['Яйца с тунцом', 8.5, 3, 1, 70],
  ['Яйцо вареное 1 шт (55 г)', 7, 6, 0, 85],
];
// Дополнительная информация по индексу массы тела (ИМТ)
var imt_states = [
  [18,   "Дефицит веса"],       // 0-18
  [25,   "Норма"],              // 18,5 - 24,99
  [27,   "Избыточный"],         // 25 и выше
  [30,   "Предожирение"],       // 27 - 30
  [35,   "1 степень ожирения"], // 30 - 34,9
  [40,   "2 степень ожирения"], // 35 - 39,9
  [1000, "3 степень ожирения"], // 40 и выше
];
// Дполнительный понижающий коэффициент
var lk = [
  [0,   0.0],  // ИМТ меньше 26
  [26,   0.05], // ИМТ меньше 30
  [30,   0.1],  // ИМТ меньше 35
  [35,   0.15], // ИМТ меньше 40
  [40,   0.2,], // ИМТ от 40
];

// тест на количество полей (не стоят ли запятые вместо точек)
for(var i=0; i<diet_table.length; i++){
  if(diet_table[i].length !== 5){
    console.log('ERROR', diet_table[i], 'len is not 4');
  }
}

function calc_imt(){
  var weight = parseFloat($("#inputBasicWeight").val());
  var height = parseFloat($("#inputBasicHeight").val());
  var imt =  weight / Math.pow(height * 0.01, 2);
  if(isNaN(imt)){
    $("#imt_state").html('Введите вес и рост');
    return;
  }
  $("#imt").html(imt.toFixed(2));
  var state = '';
  for(var i=0; i<imt_states.length; i++){
    if(imt_states[i][0] < imt){
      state = imt_states[i][1];
    }
  }
  $("#imt_state").html(state);

  // Результирующая табличка
  $("#my_weight").html(weight);
  $("#my_height").html(height);
  $("#my_imt").html(imt.toFixed(2));
}

function get_lk(){
  // Получение понижающего коэффициента
  var cur_lk = 0;
  var imt = parseFloat($("#imt").html());
  for(var i=0; i<lk.length; i++){
    if(lk[i][0] <= imt){
      cur_lk = lk[i][1];
    }
  }
  return cur_lk;
}

function get_calories_strategy(){
  // Получить базовый метаболизм, минимальная норма
  // Получить норму калорий для поддержания веса
  // Дефицит калорий 20% (для похудения)
  // Дефицит калорий 15% (для похудения)

  var weight = parseFloat($("#inputBasicWeight").val());
  var height = parseFloat($("#inputBasicHeight").val());
  var age = parseInt($("#inputBasicAge").val());
  var activity = parseFloat($('#inputK input[name=inputK]:checked').val());
  var lk = get_lk();

  // Получить базовый метаболизм, минимальная норма
  var part1 = 655 + 9.6 * weight + 1.8 * height - 4.7 * age;
  var base_metabolism = Math.round(part1 - part1 * lk);
  $("#base_metabolism").html(base_metabolism);

  // Получить норму калорий для поддержания веса
  var calories_norm = Math.round(base_metabolism * activity);
  $("#do_not_change_norm").html(calories_norm);

  // Дефицит калорий 20% (для похудения)
  var deficit20 = Math.round(calories_norm - calories_norm * 0.2);
  $("#deficit20").html(deficit20);
  $("#eat_from").html(deficit20);

  // Дефицит калорий 15% (для похудения)
  var deficit15 = Math.round(calories_norm - calories_norm * 0.15);
  $("#deficit15").html(deficit15);
  $("#eat_to").html(deficit15);

  var deficit10 = Math.round(calories_norm - calories_norm * 0.1);
  $("#eat_lazy_to").html(deficit10);

  // Рассчитать питательные элементы: белки/жиры/углеводы/сахар
  var proteins_from = deficit20 * 0.25 / 4;
  var proteins_to = deficit10 * 0.3 / 4;
  $("#proteins_from").html(proteins_from.toFixed(2));
  $("#proteins_to").html(proteins_to.toFixed(2));
  var fats_from = deficit20 * 0.3 / 9;
  var fats_to = deficit10 * 0.35 / 9;
  $("#fats_from").html(fats_from.toFixed(2));
  $("#fats_to").html(fats_to.toFixed(2));
  var carbohydrates_from = deficit20 * 0.35 / 4;
  var carbohydrates_to = deficit10 * 0.4 / 4;
  $("#carbohydrates_from").html(carbohydrates_from.toFixed(2));
  $("#carbohydrates_to").html(carbohydrates_to.toFixed(2));

  // Результирующая табличка
  $("#my_age").html(age);
  $("#my_activity").html(activity);
  $("#my_lk").html(lk);
  $("#my_base_metabolism").html(base_metabolism);
  $("#my_calories_norm").html(calories_norm);
  $("#my_kkal_from").html(deficit20);
  $("#my_kkal_to").html(deficit15);
  $("#my_kkal_lazy_to").html(deficit10);
  $("#my_proteins_from").html(proteins_from.toFixed(2));
  $("#my_proteins_to").html(proteins_to.toFixed(2));
  $("#my_fats_from").html(fats_from.toFixed(2));
  $("#my_fats_to").html(fats_to.toFixed(2));
  $("#my_carbohydrates_from").html(carbohydrates_from.toFixed(2));
  $("#my_carbohydrates_to").html(carbohydrates_to.toFixed(2));
}

function main_calculator(){
  // Вспомогательная функция для вызова всей калькуляции
  calc_imt();
  get_calories_strategy();
}

$(document).ready(function($){
  $("input").each(function(){
    $(this).change(function(){
      main_calculator();
    });
  });
  main_calculator();
}(jQuery));

</script>
{% endblock %}