{% load mtags %}
{% with blocks|block_by_tag:'title' as title %}
<section id="intro" class="section section-no-border section-angled bg-light pt-0 pb-5 m-0">
  <div class="section-angled-layer-bottom section-angled-layer-increase-angle bg-color-light-scale-1" style="padding: 21rem 0;"></div>
  <div class="container pb-5" style="min-height: 1000px;">
    <div class="row mb-5 pb-lg-3 counters">
      <div class="col-lg-10 text-center offset-lg-1">
        <h2 class="font-weight-bold text-9 mb-0">{{ container.description|safe }}</h2>
        <div class="sub-title text-primary text-4 font-weight-semibold positive-ls-2 mt-2 mb-4">{{ title.title }}
          <span class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-2 highlighted-word-animation-1 highlighted-word-animation-1-no-rotate alternative-font-4 font-weight-semibold line-height-2 pb-2">{{ title.description|safe }}</span>
        </div>
        <div class="text-1rem text-color-default negative-ls-05 pt-3 pb-4 mb-5">
          {{ title.html|safe }}
        </div>
      </div>
      {% for item in blocks %}
        {% ifequal item.tag 'counters' %}
          {% for block in item.sub %}
            <div class="col-sm-6 col-lg-4 offset-lg-2 counter mb-5 mb-md-0">
              <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="750" data-appear-animation-duration="750">
                <h3 class="font-weight-extra-bold text-14 line-height-1 mb-2" data-to="{{ block.title }}" data-append="+" data-plugin-options="{'accY': 50}">0</h3>
                <label class="font-weight-semibold negative-ls-1 text-color-dark mb-0">{{ block.name }}</label>
                <div class="text-color-grey font-weight-semibold pb-1 mb-2">{{ block.html|safe }}</div>
                <p class="mb-0">
                  <a{% comment %} href="#demos" data-hash data-hash-offset="120"{% endcomment %} href="{% if block.link %}{{ block.link }}{% else %}javascript:void(0);{% endif %}" class="text-color-primary d-flex align-items-center justify-content-center text-4 font-weight-semibold text-decoration-none">{{ block.description }} <i class="fas fa-long-arrow-alt-right ml-2 text-4 mb-0"></i></a>
                </p>
              </div>
            </div>
          {% endfor %}
        {% endifequal %}
      {% endfor %}
    </div>
    <div class="intro row align-items-center justify-content-center justify-content-md-start">
      {% for item in blocks %}
        {% ifequal item.tag 'images' %}
          {% for block in item.sub %}
            {% if forloop.counter == 1 %}
              <div class="col-3 pr-0 pl-3 z-index-2">
                <img src="/media/misc/lazy.png" data-src="{{ block.imagine }}" class="lazyload img-fluid border border-width-10 border-color-light box-shadow-3 rounded d-none d-md-block appear-animation" alt="{{ block.name|quotes2apostrophe }}" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                <div class="position-absolute d-none d-md-flex align-items-end appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="900" style="bottom: -60px; right: -90px;">
                  <span class="arrow hlt" style="margin-right: -70px;"></span>
                  <strong class="text-color-dark mb-4 pb-3">{{ block.name }}</strong>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <div class="col-11 col-md-9 pl-0 pr-5 pb-5 pb-md-0 mb-5 mb-md-0">
            {% for block in item.sub %}
              {% if forloop.counter == 2 %}
                <div class="intro2 pt-5 pt-md-0 mt-5 mt-lg-0 appear-animation pr-5" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                  <img src="/media/misc/lazy.png" data-src="{{ block.imagine }}" class="lazyload img-fluid box-shadow-3 position-relative z-index-1 rounded" alt="{{ block.name|quotes2apostrophe }}" style="left: -110px;">
                </div>
              {% endif %}
              {% if forloop.counter == 3 %}
                <div class="intro3 z-index-3 position-absolute appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800" style="top: 20%; right: 4%;">
                  <img src="/media/misc/lazy.png" data-src="{{ block.imagine }}" class="lazyload img-fluid border border-width-10 border-color-light box-shadow-3 rounded" alt="Screenshot 3">
                  <div class="position-absolute d-none d-md-flex align-items-end appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100" style="bottom: -135px; right: -20px;">
                    <strong class="text-color-dark mb-3">{{ block.name }}</strong>
                    <span class="arrow hru"></span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endifequal %}
      {% endfor %}
    </div>
  </div>
</section>
{% endwith %}