{% load mtags %}
<div class="feedback feedback2 section-space pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="section-title">
          <h2>{{ container.name }}
            <br><span class="new" id="search_promocode_result"></span>
          </h2>

          <div class="form-group">
            <input type="text" name="email" class="required" value="" autocomplete="off" placeholder="Email" id="search_promocode" />
          </div>

          <div class="contact-btn">
            <button class="btn btn-secondary" type="button" id="search_promocode_btn">Получить промокод</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>