{% if perms.demo_app.view_demo_app %}
<li{% ifequal menu 'demo_app' %} class="active"{% endifequal %}>
  <a{% comment %} class="has-submenu" data-toggle="collapse-next"{% endcomment %} href="{% url 'demo_app:show_demo_app' %}">
    <em class="fa fa-file"></em>
    <div class="label label-primary pull-right"><i class="fa fa-angle-down"></i></div>
    <span class="item-text">Объекты</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse{% ifequal menu 'demo_app' %} in{% endifequal %}">
    <li{% ifequal submenu 'demo_app' %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'demo_app:show_demo_app' %}">
        <span class="item-text">Объекты</span>
      </a>
    </li>
  </ul>
</li>
{% endif %}
