{% load mtags tags flatcontent_tags %}﻿<!DOCTYPE html><html lang="en"><head>
{% include "skeleton_header.html" %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/media/css/font-awesome.min.css">
<link rel="stylesheet" href="/media/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/css/ion.rangeSlider.css">
<link rel="stylesheet" href="/media/css/ion.rangeSlider.skinFlat.css">
<link rel="stylesheet" href="/media/css/jquery.bxslider.css">
<link rel="stylesheet" href="/media/css/jquery.fancybox.css">
<link rel="stylesheet" href="/media/css/flexslider.css">
<link rel="stylesheet" href="/media/css/swiper.css">
<link rel="stylesheet" href="/media/css/style.css">
<link rel="stylesheet" href="/media/css/media.css">
{% block extrahead %}{% endblock %}
</head>
<body>
{% block body %}
<header class="header">
  <div class="header_top">
    <div class="container">
      <ul class="contactinfo nav nav-pills">
        <li>
          <i class="fa fa-phone"></i> {% if containers.main.tags.phone %}{{ containers.main.tags.phone.html|safe }}{% endif %}
        </li>
        <li>
          <i class="fa fa-envelope"></i> {% if containers.main.tags.email %}{{ containers.main.tags.email.html|safe }}{% endif %}
        </li>
      </ul>
      <ul class="social-icons nav navbar-nav">
        {% for block in containers.main.tags.social.sub %}
          <li>
            <a href="{% if block.link %}{{ block.link }}{% else %}javascript:void(0);{% endif %}" rel="nofollow" target="_blank">
             <i class="fa fa-{{ block.icon }}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="header-middle">
    <div class="container header-middle-cont">
      <div class="toplogo">
        <a href="/">
          <img src="{{ containers.main.tags.logo.thumb }}" alt="{{ containers.main.tags.logo.description|textize }}">
        </a>
      </div>
      <div class="shop-menu">
        <ul>
          <li>
            <a href="/shop/wishlist/">
              <i class="fa fa-heart"></i>
              <span class="shop-menu-ttl">Избранное</span>
              (<span id="topbar-favorites">0</span>)
            </a>
          </li>
          <li>
            <a href="/shop/compare/">
              <i class="fa fa-bar-chart"></i>
              <span class="shop-menu-ttl">Сравнить</span> (0)
            </a>
          </li>
          <li class="topauth">
            {% if request.session.shopper %}
              <a href="/profile/" rel="nofollow">
                <span class="shop-menu-ttl">Ваш профиль</span>
              </a>
              <a href="/logout/" rel="nofollow">
                <span class="shop-menu-ttl">Выход, {{ request.session.shopper.name }}</span>
              </a>
            {% else %}
              <a href="/registration/" rel="nofollow">
                <span class="shop-menu-ttl">Вход</span>
              </a>
              <a href="/registration/" rel="nofollow">
                <i class="fa fa-lock"></i>
                <span class="shop-menu-ttl">Регистрация</span>
              </a>
            {% endif %}
          </li>
          <li>
            <div class="h-cart" id="mini-cart">
              {% ajax_cart request %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container">
      <nav class="topmenu">
        {% catalogue request %}
        {% flatmenu request "mainmenu" %}
        <div class="topsearch">
          <a id="topsearch-btn" class="topsearch-btn" href="#">
            <i class="fa fa-search"></i>
          </a>
          <form class="topsearch-form" action="/cat/">
            <input type="text" placeholder="Поиск" name="q">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </nav>
    </div>
  </div>
</header>
<main>
  <section class="container">
    {% if breadcrumbs %}
      <ul class="b-crumbs">
        <li><a href="/">Главная</a></li>
        {% for crumb in breadcrumbs %}
          {% if forloop.last %}
            <li><span>{{ crumb.name }}</span></li>
          {% else %}
            <li><a href="{{ crumb.link }}">{{ crumb.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <h1 class="main-ttl"><span>{% block page_title %}{{ page.name }}{% endblock %}</span></h1>
    {% endif %}
    {% block content %}{% endblock %}

    <div class="newsletter">
      <h3>Подпишитесь на новости</h3>
      <p>Введите ваш Email и получайте новости об акциях и скидках</p>
      <form action="#">
        <input placeholder="Ваш e-mail" type="text">
        <input value="Отправить" type="submit">
      </form>
    </div>
    {% comment %}<!--АЯКСОМ ПОЛУЧАТЬ {% include "web/product_quickview.html" %}-->{% endcomment %}
</section>
</main>
<footer class="footer-wrap">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="companyinfo">
          <a href="/">
            <img src="{{ containers.main.tags.logo.thumb }}" alt="{{ containers.main.tags.logo.description }}">
            {{ containers.main.tags.logo.html|safe }}
          </a>
        </div>
        <div class="f-block-list">
          {% for block in containers.main.tags.useful.sub %}
            <div class="f-block-wrap">
              <div class="f-block">
                <a href="{% if block.link %}{{ block.link }}{% else %}javascript:void(0);{% endif %}" class="f-block-btn" data-id="#f-block-modal-{{ block.id }}" {% comment %}data-content="
<iframe width='853' height='480' src='https://www.youtube.com/embed/kaOVHSkDoPY?rel=0&amp;showinfo=0' allowfullscreen>
</iframe>"{% endcomment %}>
                  <div class="iframe-img">
                    <img src="{{ block.thumb }}" alt="{{ block.name|textize }}">
                  </div>
                  <div class="overlay-icon">
                    <i class="fa {{ block.icon }}"></i>
                  </div>
                </a>
                <p class="f-info-ttl">{{ block.name }}</p>
                {{ block.html|safe }}
              </div>
            </div>
          {% endfor %}
        </div>
        {% comment %}<!-- Модальные окна для пунктов выше{% include "web/modals_misc.html" %}-->{% endcomment %}
        <div class="f-delivery">
          <img src="{{ containers.main.tags.mapa.thumb }}">
          <h4>{{ containers.main.tags.mapa.name }}</h4>
          {{ containers.main.tags.mapa.html|safe }}
        </div>
      </div>
    </div>
  </div>

  {% flatmenu request "bottommenu" %}
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <ul class="social-icons nav navbar-nav">
          {% for block in containers.main.tags.social.sub %}
            <li>
              <a href="{{ block.link }}" rel="nofollow" target="_blank">
                <i class="fa fa-{{ block.tag }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="footer-copyright">
          {{ containers.main.tags.copyright.html|safe }}
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
<script src="/media/js/jquery-1.11.2.min.js"></script>
{% include "shop_js.html" %}
<script src="/media/js/jquery.bxslider.min.js"></script>
<script src="/media/js/fancybox.js"></script>
<script src="/media/js/jquery.fancybox-thumbs.js"></script>
<script src="/media/js/jquery.flexslider-min.js"></script>
<script src="/media/js/swiper.jquery.min.js"></script>
<script src="/media/js/jquery.waypoints.min.js"></script>
<script src="/media/js/progressbar.min.js"></script>
<script src="/media/js/ion.rangeSlider.min.js"></script>
<script src="/media/js/chosen.jquery.min.js"></script>
<script src="/media/js/jQuery.Brazzers-Carousel.js"></script>
<script src="/media/js/plugins.js"></script>
<script src="/media/js/main.js"></script>
{% block extrascripts %}{% endblock %}
</body>
</html>