{% load tags mtags %}
<div class="prod-i gridview">
  <div class="prod-i-top">
    <a href="{{ product.link }}" class="prod-i-img">
      <img src="{{ product.thumb }}" alt="{{ product.name|textize }}">
    </a>
    <p class="prod-i-info">
      <a href="#" class="prod-i-favorites"><span>Избранное</span><i class="fa fa-heart"></i></a>
      <a href="#" class="qview-btn prod-i-qview"><span>Быстрый просмотр</span><i class="fa fa-search"></i></a>
      <a class="prod-i-compare" href="#"><span>Сравнить</span><i class="fa fa-bar-chart"></i></a>
    </p>
    <a href="#" class="prod-i-buy">В корзину</a>
    <p class="prod-i-properties-label"><i class="fa fa-info"></i></p>
    <div class="prod-i-properties">
      <dl>
        {% for item in product.props %}
          {% if forloop.counter < 5 %}
            <d{% cycle 't' 'd' %}>{{ item.prop.name }}
            {% for pvalue in item.values %}
              {{ pvalue.str_value }}
              {% if item.prop.measure %}{{ item.prop.measure }}{% endif %}
            {% endfor %}
            </d{% cycle 't' 'd' %}>
          {% endif %}
        {% endfor %}
      </dl>
    </div>
{% comment %}<!--
    <div class="prod-sticker">
      <p class="prod-sticker-1">NEW</p>
      <br><p class="prod-sticker-2">HIT</p>
    </div>
-->{% endcomment %}
  </div>
  <h3><a href="{{ product.link }}">{{ product.name }}</a></h3>
  <p class="prod-i-price"><b>{{ product.price|money_format }} ₽</b></p>
</div>
