{% load tags mtags %}
<div class="prodlist-i listview">
  <a class="prodlist-i-img" href="{{ product.link }}">
    <img src="{{ product.thumb }}" alt="{{ product.name|textize }}">
  </a>
  <div class="prodlist-i-cont">
    <h3><a href="{{ product.link }}">{{ product.name }}</a></h3>
    {% if product.mini_info %}
      <div class="prodlist-i-txt">{{ product.mini_info|safe }}</div>
    {% endif %}
{% comment %}<!-- Цвет/размер
    <div class="prodlist-i-skuwrap">
      <div class="prodlist-i-skuitem">
        <p class="prodlist-i-skuttl">Color</p>
        <ul class="prodlist-i-skucolor">
          <li class="active"><img src="img/color/blue.jpg" alt=""></li>
          <li><img src="img/color/red.jpg" alt=""></li>
          <li><img src="img/color/yellow.jpg" alt=""></li>
          <li><img src="img/color/purple.jpg" alt=""></li>
          <li><img src="img/color/green.jpg" alt=""></li>
        </ul>
      </div>
      <div class="prodlist-i-skuitem">
        <p class="prodlist-i-skuttl">Clothes sizes</p>
        <div class="offer-props-select">
          <p>XS</p>
          <ul>
            <li><a href="#">S</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#">L</a></li>
            <li class="active"><a href="#">XS</a></li>
            <li><a href="#">XL</a></li>
            <li><a href="#">XXL</a></li>
            <li><a href="#">XXXL</a></li>
          </ul>
        </div>
      </div>
    </div>
-->{% endcomment %}
    <div class="prodlist-i-action">
      <p class="prodlist-i-qnt">
        <input value="1" type="text">
        <a href="#" class="prodlist-i-plus"><i class="fa fa-angle-up"></i></a>
        <a href="#" class="prodlist-i-minus"><i class="fa fa-angle-down"></i></a>
      </p>
      <p class="prodlist-i-addwrap">
        <a href="#" class="prodlist-i-add">В корзину</a>
      </p>
      <span class="prodlist-i-price">
        <b>{{ product.price|money_format }} ₽</b>
      </span>
    </div>
    <p class="prodlist-i-info">
      <a href="#" class="prodlist-i-favorites"><i class="fa fa-heart"></i> В избранное</a>
      <a href="#" class="qview-btn prodlist-i-qview"><i class="fa fa-search"></i> Быстрый просмотр</a>
      <a class="prodlist-i-compare" href="#"><i class="fa fa-bar-chart"></i> Сравнить</a>
    </p>
  </div>
  <div class="prodlist-i-props-wrap">
    <ul class="prodlist-i-props">
      {% for item in product.props %}
        {% if forloop.counter < 5 %}
          <li>
            <b>{{ item.prop.name }}</b>
            {% for pvalue in item.values %}
              {{ pvalue.str_value }}
              {% if item.prop.measure %}{{ item.prop.measure }}{% endif %}
            {% endfor %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
