<div class="panel-footer">
    <div class="col-lg-6 col-sm-6 padding-tb5">
        <button type="submit" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="fa fa-check"></i></span>
            <span class="label_for_translate footer_button_save_label" attr-class_name="footer_button_save_label" attr-edit_mode="popup" attr-placement="right">Сохранить</span>
        </button>
    </div>
    <div class="col-lg-6 col-sm-6 text-right-not-xs padding-tb5">
        <a class="btn btn-labeled btn-danger" href="{{ root_url }}">
            <span class="btn-label"><i class="fa fa-times"></i></span>
            <span class="label_for_translate footer_button_back_label" attr-class_name="footer_button_back_label" attr-edit_mode="popup" attr-placement="left">Вернуться</span>
        </a>
    </div>
    <div class="clearfix"></div>
</div>