<div class="panel-footer">
    <div class="col-lg-6 col-sm-6 padding-tb5">
        <button type="submit" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="fa fa-check"></i></span>Сохранить
        </button>
    </div>
    <div class="col-lg-6 col-sm-6 text-right-not-xs padding-tb5">
        <a class="btn btn-labeled btn-danger" href="{{ root_url }}">
            <span class="btn-label"><i class="fa fa-times"></i></span>Вернуться
        </a>
    </div>
    <div class="clearfix"></div>
</div>