{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<h3>{{ singular_obj }} {{ row }}<br /><small>Права {{ rp_singular_obj }}</small></h3>
{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{{ url_edit }}" id="current_edit_form">
        <div class="panel-heading">Права {{ rp_singular_obj }} "{{ row }}"</div>
        <div class="panel-body">
          {% csrf_token %}

          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="check-all-table">
                    <div data-toggle="tooltip" data-title="Выбрать все" class="checkbox c-checkbox">
                      <label>
                        <input type="checkbox" name="check-all" autocomplete="off">
                        <span class="fa fa-check"></span>
                      </label>
                    </div>
                  </th>
                  <th>Раздел</th>
                  <th>Просмотр</th>
                  <th>Добавление</th>
                  <th>Изменение</th>
                  <th>Удаление</th>
                </tr>
              </thead>
              <tbody>
                {% for data in permissions %}
                  <tr>
                    <td class="toggle_checkbox_line">
                       <div class="checkbox c-checkbox">
                         <label>
                           <input type="checkbox" name="toggle_{{ data.id }}" autocomplete="off">
                           <span class="fa fa-check"></span>
                         </label>
                       </div>
                     </td>
                     <td>
                       <p>{{ data.name }}</p>
                       {% if data.custom %}
                         {% for perm in data.perms %}
                           {% if perm.code == 'custom' %}
                             <p>
                               <label class="checkbox-inline c-checkbox toggle_{{ data.id }}">
                                 <input type="checkbox" value="{{ perm.id }}" name="perm" {% if perm.access %} checked{% endif %} autocomplete="off">
                                 <span class="fa fa-check"></span>
                                 {{ perm.name }}
                               </label>
                             </p>
                           {% endif %}
                         {% endfor %}
                       {% endif %}
                     </td>
                     {% for perm in data.perms %}
                       {% if perm.code == 'view' %}
                         <td>
                           <label class="checkbox-inline c-checkbox toggle_{{ data.id }}">
                             <input type="checkbox" value="{{ perm.id }}" name="perm" {% if perm.access %} checked{% endif %} autocomplete="off">
                             <span class="fa fa-eye"></span>
                           </label>
                         </td>
                       {% endif %}
                     {% endfor %}
                     {% for perm in data.perms %}
                       {% if perm.code == 'create' %}
                         <td>
                           <label class="checkbox-inline c-checkbox toggle_{{ data.id }}">
                             <input type="checkbox" value="{{ perm.id }}" name="perm" {% if perm.access %} checked{% endif %} autocomplete="off">
                             <span class="fa fa-plus"></span>
                           </label>
                         </td>
                       {% endif %}
                     {% endfor %}
                     {% for perm in data.perms %}
                       {% if perm.code == 'edit' %}
                         <td>
                           <label class="checkbox-inline c-checkbox toggle_{{ data.id }}">
                             <input type="checkbox" value="{{ perm.id }}" name="perm" {% if perm.access %} checked{% endif %} autocomplete="off">
                             <span class="fa fa-edit"></span>
                           </label>
                         </td>
                       {% endif %}
                     {% endfor %}
                     {% for perm in data.perms %}
                       {% if perm.code == 'drop' %}
                         <td>
                           <label class="checkbox-inline c-checkbox toggle_{{ data.id }}">
                             <input type="checkbox" value="{{ perm.id }}" name="perm" {% if perm.access %} checked{% endif %} autocomplete="off">
                             <span class="fa fa-trash-o"></span>
                           </label>
                         </td>
                       {% endif %}
                     {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% for data in permissions %}
            
          {% endfor %}
        </div>
        <div class="panel-footer">
          <div class="col-lg-6 col-sm-6 padding-tb5">
            <button type="submit" class="btn btn-labeled btn-success">
              <span class="btn-label"><i class="fa fa-check"></i></span>Сохранить
            </button>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      // ------------------------------
      // Функция выделения чекбоксов
      // группой с определенным классом
      // ------------------------------
      var Selector = 'td.toggle_checkbox_line';
      $(Selector).on('change', function() {
        var $this = $(this),
        checkbox = $this.find('input[type="checkbox"]'),
        table = $this.parents('table');
        // Make sure to affect only the correct checkbox column
        table.find('tbody > tr > td .' + checkbox.attr('name') + ' input[type="checkbox"]').prop('checked', checkbox[0].checked);
      });
      Selector = 'th.check-all-table';
      $(Selector).on('change', function() {
        var $this = $(this),
        checkbox = $this.find('input[type="checkbox"]'),
        table = $this.parents('table');
        // Make sure to affect only the correct checkbox column
        table.find('tbody > tr > td .c-checkbox input[type="checkbox"]').prop('checked', checkbox[0].checked);
      });

      $("#current_edit_form").submit(function(e) {
        var $form = $(this);
        var msg = 'Произошла ошибка, обновите страничку';
        var status = 'danger'; // success, warning, info, danger
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize()
        }).done(function(r) {
          if(r.error){
            msg = r.error;
          }else if(r.success){
            msg =  r.success;
            status = 'success';
          }
          $.notify({
            message: msg,
          },{
            status: status,
          });
        }).fail(function() {
          $.notify({
            message: msg,
          },{
            status: status,
          });
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });
    });
  </script>
{% endblock %}