{% if perms.auth.view_user %}
<li{% ifequal menu 'users' %} class="active"{% endifequal %}>
  <a class="has-submenu" data-toggle="collapse-next" href="">
    <em class="fa fa-users"></em>
    <div class="label label-primary pull-right">2</div>
    <span class="item-text">Пользователи</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse{% ifequal menu 'users' %} in{% endifequal %}">
    <li{% ifequal submenu 'users' %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:show_users' %}">
        <span class="item-text">Пользователи</span>
      </a>
    </li>
    <li{% ifequal submenu 'groups' %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:show_users' %}">
        <span class="item-text">Группы</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
{% endif %}
{% if request.user.is_superuser %}
<li{% ifequal menu 'demo' %} class="active"{% endifequal %}>
  <a class="has-submenu" data-toggle="collapse-next" href="">
    <em class="fa fa-archive"></em>
    <div class="label label-primary pull-right">19</div>
    <span class="item-text">Демо-странички</span>
  </a>
  <!-- START SubMenu item-->
  <ul class="nav collapse{% ifequal menu 'demo' %} in{% endifequal %}">
    <li{% ifequal submenu "dashboard" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='dashboard' %}">
        <span class="item-text">Главная</span>
      </a>
    </li>
    <li{% ifequal submenu "animations" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='animations' %}">
        <span class="item-text">Анимация</span>
      </a>
    </li>
    <li{% ifequal submenu "buttons" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='buttons' %}">
        <span class="item-text">Кнопки</span>
      </a>
    </li>
    <li{% ifequal submenu "calendar" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='calendar' %}">
        <span class="item-text">Календарь</span>
      </a>
    </li>
    <li{% ifequal submenu "dropdown_animations" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='dropdown_animations' %}">
        <span class="item-text">Выпадающие списки (аним.)</span>
      </a>
    </li>
    <li{% ifequal submenu "typo" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='typo' %}">
        <span class="item-text">Типография</span>
      </a>
    </li>
    <li{% ifequal submenu "tables" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='tables' %}">
        <span class="item-text">Таблицы</span>
      </a>
    </li>
    <li{% ifequal submenu "standard_forms" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='standard_forms' %}">
        <span class="item-text">Формы</span>
      </a>
    </li>
    <li{% ifequal submenu "extended_forms" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='extended_forms' %}">
        <span class="item-text">Расширенные формы</span>
      </a>
    </li>
    <li{% ifequal submenu "form_validation" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='form_validation' %}">
        <span class="item-text">Валидация форм</span>
      </a>
    </li>
    <li{% ifequal submenu "form_wizards" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='form_wizards' %}">
        <span class="item-text">Помощники для форм</span>
      </a>
    </li>
    <li{% ifequal submenu "grid" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='grid' %}">
        <span class="item-text">Разметка</span>
      </a>
    </li>
    <li{% ifequal submenu "grid_mansory" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='grid_mansory' %}">
        <span class="item-text">Адаптивная разметка</span>
      </a>
    </li>
    <li{% ifequal submenu "icons" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='icons' %}">
        <span class="item-text">Иконки</span>
      </a>
    </li>
    <li{% ifequal submenu "notifications" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='notifications' %}">
        <span class="item-text">Уведомления</span>
      </a>
    </li>
    <li{% ifequal submenu "panels" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='panels' %}">
        <span class="item-text">Панели</span>
      </a>
    </li>
    <li{% ifequal submenu "portlets" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='portlets' %}">
        <span class="item-text">Перемещаемые панели</span>
      </a>
    </li>
    <li{% ifequal submenu "widgets" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='widgets' %}">
        <span class="item-text">Виджеты</span>
      </a>
    </li>
    <li{% ifequal submenu "spinners" %} class="active"{% endifequal %}>
      <a class="no-submenu" data-toggle="" href="{% url 'login:demo' action='spinners' %}">
        <span class="item-text">Спинеры</span>
      </a>
    </li>
  </ul>
  <!-- END SubMenu item-->
</li>
{% endif %}

