{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% if row.id %}
  <a class="btn btn-primary pull-right" href="{% url 'login:user_perms' row.id %}">
    <em class="fa fa-key fa-fw mr-sm"></em> Права пользователя
  </a>
{% endif %}

<h3>{{ singular_obj }}<br /><small>{% if row.id %}{{ action_edit }}{% else %}{{ action_create }}{% endif %} {{ rp_singular_obj }}</small></h3>

{% include "core/breadcrumbs.html" %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
        <div class="panel-heading">{{ singular_obj }}</div>
        <div class="panel-body">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-2 control-label">Логин</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Ваш логин" class="form-control" name="username" value="{% if row.username %}{{ row.username }}{% endif %}" autocomplete="off"{% if row %} disabled{% else %} data-parsley-required{% endif %}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Имя</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Имя" class="form-control" name="first_name" value="{% if row.first_name %}{{ row.first_name }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Фамилия</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Фамилия" class="form-control" name="last_name" value="{% if row.last_name %}{{ row.last_name }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Телефон</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Телефон" class="form-control phone" name="customuser.phone" value="{% if row.customuser.phone %}{{ row.customuser.phone }}{% endif %}" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" placeholder="Email" class="form-control" name="email" value="{% if row.email %}{{ row.email }}{% endif %}" autocomplete="off" data-parsley-type="email">
            </div>
          </div>

          {% include "core/forms/row_image.html" %}

          <div class="form-group">
            <label class="col-lg-2 control-label">Пароль</label>
            <div class="col-lg-10">
              <input type="password" placeholder="Пароль" class="form-control" name="passwd" id="passwd1" autocomplete="off" {% ifequal action "create" %}data-parsley-required{% endifequal %} data-parsley-equalto="#passwd2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Повторите пароль</label>
            <div class="col-lg-10">
              <input type="password" placeholder="Повторите пароль" class="form-control" id="passwd2" autocomplete="off" {% ifequal action "create" %}data-parsley-required{% endifequal %} data-parsley-equalto="#passwd1">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" value="1" name="is_superuser" {% if row.is_superuser %} checked{% endif %} autocomplete="off">
                  <span class="fa fa-check"></span> Суперпользователь
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" value="1" name="is_staff" {% if row.is_staff %} checked{% endif %} autocomplete="off">
                  <span class="fa fa-check"></span> В штате
                </label>
              </div>
            </div>
          </div>
          {% include "core/forms/row_position.html" %}
          {% include "core/forms/row_is_active.html" %}
        </div>
        {% include "core/forms/footer_buttons.html" %}
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script src="/static/admin/js/parsley.min.js"></script>
  <script type="text/javascript">
    var upload_img_url = '{% url "login:edit_user" "img" row.id %}';
    $(document).ready(function(){

    });
  </script>
  {% include "core/forms/row_js.html" %}
{% endblock %}