{% load mtags %}
<section class="page-section article2">
  <div class="container">
    <div class="row bg-grey">
      {% for block in blocks %}
        <div class="col-md-6">
          <div class="info">
            {% if block.name %}<h4>{{ block.name }}</h4>{% endif %}
            {% if block.html %}
              <div class="description">
                {{ block.html|safe }}
              </div>
            {% endif %}
            {% if block.link %}
              <div class="form-group">
                <a class="btn btn-theme" href="{{ block.link }}">{{ block.description }}</a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6 imga"{% if block.img %} style="background-image:url('{% imagine block.img '800x600' block.get_folder True %}')"{% endif %}>
          &nbsp;
        </div>
        <div class="clearfix"></div>
      {% endfor %}
    </div>
  </div>
</section>