{% load mtags %}
<section class="page-section cards">
  <div class="container">
    <div class="row blocks shop-info-banners">
      {% for block in blocks %}
        <div class="col-md-4">
          <div class="block">
            <div class="media">
              {% if block.icon %}
                <div class="pull-right"><i class="fa fa-gift"></i></div>
              {% endif %}
              <div class="media-body">
                {% if block.name %}<h4 class="media-heading">{{ block.name }}</h4>{% endif %}
                {% if block.html %}
                  <div class="desc">{{ block.html|safe }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
