{% load mtags %}
<section class="page-section color">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-info">
          {% if container.description %}
            <h2 class="block-title"><span>{{ container.description|safe }}</span></h2>
          {% endif %}
          <div class="media-list">
            <div class="media">
              <i class="pull-left fa fa-home"></i>
              <div class="media-body">
                <strong>{{ containers.main.tags.address.name }}</strong><br>
                {{ containers.main.tags.address.html|safe }}
              </div>
            </div>
            <div class="media">
              <i class="pull-left fa fa-phone"></i>
              <div class="media-body">
                <strong>{{ containers.main.tags.phone.name }}</strong><br>
                {{ containers.main.tags.phone.html|safe }}
              </div>
            </div>
            <div class="media">
              <i class="pull-left fa fa-envelope"></i>
              <div class="media-body">
                <strong>{{ containers.main.tags.email.name }}</strong><br>
                {{ containers.main.tags.email.html|safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 text-left">
        {% include "web/components/feedback_form.html" %}
      </div>
    </div>
  </div>
</section>