{% load mtags %}
<section class="page-section">
  <div class="container">
    <div class="tabs">
      <ul id="tabs" class="nav nav-justified-off">
        {% for block in blocks %}
          <li{% if forloop.first %} class="active"{% endif %}>
            <a href="#tab-{{ block.id }}" data-toggle="tab">{{ block.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="tab-content">
      {% for block in blocks %}
      <div class="tab-pane fade{% if forloop.first %} active in{% endif %}" id="tab-{{ block.id }}">
        <div class="row">
          {% for product in block.products %}
            <div class="col-md-3 col-sm-6">
              <div class="thumbnail no-border no-padding">
                <div class="media">
                  <a class="media-link" data-gal="prettyPhoto" href="{{ product.imagine }}">
                    <img src="{% imagine product.img '600x600' product.get_folder True %}" alt="{{ product.name|textize }}"/>
                    <span class="icon-view">
                      <strong><i class="fa fa-eye"></i></strong>
                    </span>
                  </a>
                </div>
                <div class="caption text-center">
                  <h4 class="caption-title">
                    <a href="{{ product.link }}">{{ product.name }}</a>
                  </h4>
                  <div class="rating">
                    <span class="star"></span>
                    <span class="star active"></span>
                    <span class="star active"></span>
                    <span class="star active"></span>
                    <span class="star active"></span>
                  </div>
                  {% include "web/cat/product_price_row.html" %}
                  {% include "web/cat/product_buy_button.html" %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>