{% load mtags %}
<section class="page-section no-padding slider">
  <div class="container full-width">
    <div class="main-slider">
      <div class="owl-carousel" id="main-slider">
        {% for block in blocks %}
          <div class="item slide2 alt">
            <img class="slide-img" src="{% imagine block.img '1920x1080' block.get_folder True %}" alt="{{ block.title|textize }}"/>
            <div class="caption">
              <div class="container">
                <div class="div-table">
                  <div class="div-cell">
                    <div class="caption-content">
                      {% if block.name %}
                        <h2 class="caption-title">{{ block.name }}</h2>
                      {% endif %}
                      {% if block.html %}
                        <h3 class="caption-subtitle">{{ block.html|safe }}</h3>
                      {% endif %}
                      {% if block.link %}
                        <p class="caption-text">
                          <a class="btn btn-theme" href="{{ block.link }}">{{ block.description }}</a>
                        </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>