{% load mtags welding_tags %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Ярославцев Денис">
<meta name="viewport" content="width=device-width,initial-scale=1">

<style type="text/css">
@font-face {
  font-family: Helvetica;
  src: url("{{ font }}");}
@font-face {
   font-family: Helvetica;
   src: url("{{ font_bold }}");
   font-weight: bold;
}

@font-face {
  font-family: TimesNewRoman;
  src: url("{{ font_times }}");}
@font-face {
   font-family: TimesNewRoman;
   src: url("{{ font_times_bold }}");
   font-weight: bold;
}

body{
  font-family: TimesNewRoman;
  font-size: 11px;
}

@page {
  size: {{ pagesize }};
  @frame main_frame {
    -pdf-frame-content: main_content;
    left: 1cm; width: 19cm; top: 0.2cm; height: 26.8cm;
  }
  @frame footer_frame {
    -pdf-frame-content: footer_content;
    left: 1cm; width: 19cm; top: 27cm; height: 1cm;
  }
}
table.two_col tr th,
table.two_col tr td {
  padding: 8px 6px 3px 6px;
  border: 1px solid #ccc;
  vertical-align: top;
}
p, ul, ul li {
  margin: 0;
  padding: 0;
}
.title {
  font-size: 1.2em;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
table.two_col tr td.first {
  text-align: left;
  padding: 3px 0 1px 0;
  border: 0;
}
table.two_col tr td.second {
  text-align: right;
  padding: 3px 0 1px 0;
  border: 0;
}
table.two_col tr.noborder th,
table.two_col tr th.noborder,
table.two_col tr.noborder td,
table.two_col tr td.noborder {
  border: 0;
}
.logo img {
  height: 50px;
  text-align:center;
  display: block;
  margin-bottom: 10px;
}
table.two_col tr td.inner{
  padding: 0;
}
table.two_col .inner tr td {
  padding: 4px 4px 1px 4px;
  border: 1px solid #ccc;
  vertical-align: top;
  margin: 0;
}
table.two_col .inner tr td.nopadding {
  padding: 0;
  border: 1px solid #ccc;
  vertical-align: top;
  margin: 0;
}
.ml15{
  margin-left: 15px;
}
.ml20{
  margin-left: 20px;
}
.underline{
  text-decoration: underline;
}
table.two_col .inner .signs tr td {
  vertical-align: top;
  padding: 3px 0 3px 0;
}
.sign_notice {
  margin-top: -8px;
  display: block;
  position: relative;
  /*text-decoration: line-through;*/
  border-top: 1px solid #000;
}
.sign_notice2 {
  margin-top: -3px;
  display: block;
  position: relative;
}
</style>
</head>
<body>

{% block content %}
<div id="main_content">
  <div class="logo"><img src="{{ logo }}" /></div>
  <table class="two_col">
    <thead>
      <tr style="height: 0;">
        <th width="40%">&nbsp;</th>
        <th width="60%">&nbsp;</th>
      </tr>
      <tr>
        <td class="first">
          <p>
            Министерство
            {% if joint.line.titul.subject.company.customer %}
              {{ joint.line.titul.subject.company.customer }}
            {% else %}-{% endif %}
          </p>
          <p>
            Объединение, трест
            {% if joint.line.titul.subject.company.fitter %}
              {{ joint.line.titul.subject.company.fitter }}
            {% else %}-{% endif %}
          </p>
          <p>Обособленное подразделение ЛНК г. Иркутск</p>
          <p>Свидетельство об аттестации № 58A171196</p>
          <p>действительно до 14.03.2022 г.</p>
          <p>
            СМУ, СУ, ПМК, КТП
            {% if joint.line.titul.subject.company.name %}
              {{ joint.line.titul.subject.company.name }}
            {% else %}-{% endif %}
          </p>
          <p>
            Участок:
            {% if joint.line.titul.subject.name %}
              {{ joint.line.titul.subject.name }}
            {% else %}-{% endif %}
          </p>
        </td>
        <td class="second">
          <p>Форма № 2.9</p>
          <p>Основание: ВСН 012-88 (Часть II)</p>
          <p>Миннефтегазстрой</p>
          <p>
            Строительство:
            {% if joint.line.titul.code %}
              {{ joint.line.titul.code }}
            {% else %}-{% endif %}
            {% if joint.line.titul.name %}
              {{ joint.line.titul.name }}
            {% else %}-{% endif %}
          </p>
          <p>
            {% if joint.line.titul.description %}
              {{ joint.line.titul.description }}
            {% else %}Титул без описания{% endif %}
          </p>
          <p>
            {% if joint.line.titul.subject.name %}
              {{ joint.line.titul.subject.name }}
            {% else %}-{% endif %}
          </p>
          <p>
            Линия
            {% if joint.line.name %}
              {{ joint.line.name }}
            {% else %}-{% endif %}
          </p>
          <p>
            Категория трубопровода
            {% if row.welding_joint.category %}
              {{ row.welding_joint.get_category_display }}
            {% else %}-{% endif %}
          </p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr class="noborder">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="noborder">
        <td colspan="2">
          <p class="text-center title">
            <strong>
              Заключение № {{ uzk_number }} от
              {% if row.date %}
                {{ row.date|date:'d/m/Y' }}
              {% else %}
                {{ today|date:'d/m/Y' }}
              {% endif %}
            </strong>
          </p>
          <p class="text-center">
            <strong>
              по ультразвуковому контролю качества сварных соединений
            </strong>
          </p>
        </td>
      </tr>
      <tr class="noborder">
        <td>
          <p>Контроль качества сварных стыков</p>
        </td>
        <td>
          <p>
            Линия
            {% if joint.line.name %}
              {{ joint.line.name }}
            {% else %}-{% endif %}
          </p>
        </td>
      </tr>
      <tr class="noborder">
        <td>
          <p>Сварное соединение</p>
        </td>
        <td>
          <p>
            №
            {% if joint.name %}
              {{ joint.name }}
            {% else %}-{% endif %}
          </p>
        </td>
      </tr>
      <tr class="noborder">
        <td colspan="2">
          <p>
            Выполняется ультразвуковым дефектоскопом типа
            <span class="underline">A1212 MASTER зав № 4142899</span>
          </p>
          <p>
            свидетельство о проверке
            <span class="underline">№ 28833-15 до 05.12.2020г</span>
            Рабочая частота 2.5 МГц, 5.0 МГц
          </p>
        </td>
      </tr>
      <tr class="noborder">
        <td colspan="2" class="inner">
          <table>
            <tr style="height:0;">
              <td width="20%">&nbsp;</td>
              <td width="25%">&nbsp;</td>
              <td width="55%">&nbsp;</td>
            </tr>
            <tr>
              <td>Оператор</td>
              <td class="text-center">
                {% if row.uzk_operator.name %}
                  {{ row.uzk_operator.name|surname_and_initials }}
                {% else %}-{% endif %}
                <br>
                <sup class="sign_notice2">(фамилия, инициалы)</sup>
              </td>
              <td>
                Удостоверение
                {% if row.uzk_operator.stigma %}
                 {{ row.uzk_operator.stigma }}
                {% else %}-{% endif %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="noborder">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">
          <h4 class="text-center">Результаты контроля</h4>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="inner text-center nopadding">
          <table>
            <thead>
              <tr style="height: 0;">
                <th width="4%">&nbsp;</th>
                <th width="8%">&nbsp;</th>
                <th width="10%">&nbsp;</th>
                <th width="10%">&nbsp;</th>
                <th width="8%">&nbsp;</th>
                <th width="8%">&nbsp;</th>
                <th width="8%">&nbsp;</th>
                <th width="8%">&nbsp;</th>
                <th width="13%">&nbsp;</th>
                <th width="10%">&nbsp;</th>
                <th width="13%">&nbsp;</th>
              </tr>
              <tr>
                <th>№ п/п</th>
                <th>№ стыка по журналу сварки</th>
                <th>Диаметр, толщина стенки трубы, мм</th>
                <th>Фамилия сварщика</th>
                <th>Шифр сварщика</th>
                <th>Угол ввода луча, градусы</th>
                <th>Условная чувстви- тельность зарубка, мм</th>
                <th>Условная чувстви- тельность зарубка, мм</th>
                <th>Описание обнаруженных дефектов</th>
                <th>Заклю- чения: годен, исправить, вырезать</th>
                <th>Примечание</th>
              </tr>
              <tr>
                {% for i in '12345678901' %}
                  <th>{% if forloop.counter > 9 %}1{% endif %}{{ i }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  {% if joint.name %}{{ joint.name }}{% else %}-{% endif %}
                </td>
                <td>
                  Ø{% if row.welding_joint.diameter %}
                    {{ row.welding_joint.diameter|money_format }}
                  {% endif %}x{% if row.welding_joint.side_thickness %}
                    {{ row.welding_joint.side_thickness|money_format }}
                  {% endif %}
                </td>
                <td>
                  {% if welders.1 and welders.1.name %}
                    {{ welders.1.name }}{% if welders.2 %},{% endif %}
                  {% endif %}
                  {% if welders.2 and welders.2.name %}
                    {{ welders.2.name }}
                  {% endif %}
                </td>
                <td>
                  {% if welders.1 and welders.1.stigma %}
                    {{ welders.1.stigma }}{% if welders.2 %},{% endif %}
                  {% endif %}
                  {% if welders.2 and welders.2.stigma %}
                    {{ welders.2.stigma }}
                  {% endif %}
                </td>
                <td>{% if row.uzk_ray_angle %}{{ row.uzk_ray_angle }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_sensitivity %}{{ row.uzk_sensitivity }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_sensitivity2 %}{{ row.uzk_sensitivity2 }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_defects %}{{ row.uzk_defects }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_state %}{{ row.get_uzk_state_display }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_notice %}{{ row.uzk_notice }}{% else %}-{% endif %}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="noborder">&nbsp;</td>
        <td class="noborder">&nbsp;</td>
      </tr>
      <tr class="noborder">
        <td>&nbsp;</td>
        <td class="inner">
          <table class="signs">
            <tr style="height: 0;">
              <td width="41%"></td>
              <td width="33%"></td>
              <td width="12%"></td>
              <td width="14%"></td>
            </tr>
            <tr class="text-center">
              <td class="text-right">
                Стык принял по внешнему виду
                <br>дефектоскопист
              </td>
              <td>
                {% if row.uzk_defectoscopist1.name %}
                  {{ row.uzk_defectoscopist1.name|surname_and_initials }}
                {% else %}-{% endif %}
                <br>
                <sup class="sign_notice">(фамилия, инициалы)</sup>
              </td>
              <td>
                <br>
                <sup class="sign_notice">(подпись)</sup>
              </td>
              <td>
                {% if row.date %}
                  {{ row.date|date:'d/m/Y' }}
                {% else %}{{ today|date:'d/m/Y' }}{% endif %}
                <br>
                <sup class="sign_notice">(дата)</sup>
              </td>
            </tr>
            <tr class="text-center">
              <td class="text-right">
                Контроль произвел
                <br>дефектоскопист
              </td>
              <td>
                {% if row.uzk_defectoscopist2.name %}
                  {{ row.uzk_defectoscopist2.name|surname_and_initials }}
                {% else %}-{% endif %}
                <br>
                <sup class="sign_notice">(фамилия, инициалы)</sup>
              </td>
              <td>
                <br>
                <sup class="sign_notice">(подпись)</sup>
              </td>
              <td>
                {% if row.date %}
                  {{ row.date|date:'d/m/Y' }}
                {% else %}{{ today|date:'d/m/Y' }}{% endif %}
                <br>
                <sup class="sign_notice">(дата)</sup>
              </td>
            </tr>
            <tr class="text-center">
              <td class="text-right">
                Заключение выдал
                <br>дефектоскопист
              </td>
              <td>
                {% if row.uzk_defectoscopist3.name %}
                  {{ row.uzk_defectoscopist3.name|surname_and_initials }}
                {% else %}-{% endif %}
                <br>
                <sup class="sign_notice">(фамилия, инициалы)</sup>
              </td>
              <td>
                <br>
                <sup class="sign_notice">(подпись)</sup>
              </td>
              <td>
                {% if row.date %}
                  {{ row.date|date:'d/m/Y' }}
                {% else %}{{ today|date:'d/m/Y' }}{% endif %}
                <br>
                <sup class="sign_notice">(дата)</sup>
              </td>
            </tr>
            <tr class="text-center">
              <td>&nbsp;</td>
              <td>
                удостоверение №
              </td>
              <td colspan="2">
                {% if row.uzk_defectoscopist3.stigma %}
                  {{ row.uzk_defectoscopist3.stigma }}
                {% else %}-{% endif %}
              </td>
            </tr>
            <tr class="text-center">
              <td class="text-right">Производитель сварочно-монтажных работ с результатами контроля ознакомлен</td>
              <td>
                <br>
                <sup class="sign_notice">(должность, фамилия, инициалы)</sup>
              </td>
              <td>
                <br>
                <sup class="sign_notice">(подпись)</sup>
              </td>
              <td>
                {% if row.date %}
                  {{ row.date|date:'d/m/Y' }}
                {% else %}{{ today|date:'d/m/Y' }}{% endif %}
                <br>
                <sup class="sign_notice">(дата)</sup>
              </td>
            </tr>
          </table>

        </td>
      </tr>
    </tfoot>
  </table>
</div>

{% comment %}
<div id="footer_content">стр. <pdf:pagenumber> из <pdf:pagecount> <!-- обязательный пробел, чтобы не дублировалось кол-во страничек --></div>
{% endcomment %}

{% endblock %}
</body>
</html>
