<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Ярославцев Денис">
<meta name="viewport" content="width=device-width,initial-scale=1">

<style type="text/css">
@font-face {
  font-family: Helvetica;
  src: url("{{ font }}");}
@font-face {
   font-family: Helvetica;
   src: url("{{ font_bold }}");
   font-weight: bold;
}
@page {
  size: {{ pagesize }};
  @frame main_frame {
    -pdf-frame-content: main_content;
    left: 1cm; width: 19cm; top: 0.2cm; height: 26.8cm;
  }
  @frame footer_frame {
    -pdf-frame-content: footer_content;
    left: 1cm; width: 19cm; top: 27cm; height: 1cm;
  }
}
table.two_col tr th,
table.two_col tr td {
  padding: 8px 6px 3px 6px;
  border: 1px solid #ccc;
  vertical-align: top;
}
p, ul, ul li {
  margin: 0;
  padding: 0;
}
.title {
  font-size: 1.2em;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
table.two_col tr td.noborder {
  border: 0;
}
.logo img {
  height: 50px;
  text-align:center;
  display: block;
  margin-bottom: 10px;
}
table.two_col tr td.inner{
  padding: 0;
}
table.two_col .inner tr td {
  padding: 4px 4px 1px 4px;
  border: 1px solid #ccc;
  vertical-align: top;
  margin: 0;
}
table.two_col .inner tr td.nopadding {
  padding: 0;
  border: 1px solid #ccc;
  vertical-align: top;
  margin: 0;
}
.ml15{
  margin-left: 15px;
}
.ml20{
  margin-left: 20px;
}
.underline{
  text-decoration: underline;
}
</style>
</head>
<body>

{% block content %}
<div id="main_content">
  <div class="logo"><img src="{{ logo }}" /></div>
  <table class="two_col">
    <thead>
      <tr style="height: 0;">
        <th width="40%">&nbsp;</th>
        <th width="60%">&nbsp;</th>
      </tr>
      <tr>
        <td>
          <p>
            Министерство
            {% if joint.line.titul.subject.company.customer %}
              {{ joint.line.titul.subject.company.customer }}
            {% else %}-{% endif %}
          </p>
        </td>
        <td>
          </p>
            Форма № 2.9
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Объединение, трест
            {% if joint.line.titul.subject.company.fitter %}
              {{ joint.line.titul.subject.company.fitter }}
            {% else %}-{% endif %}
          </p>
        </td>
        <td>
          <p>
            Основание: ВСН 012-88 (Часть II)
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Обособленное подразделение ЛНК г. Иркутск</p>
        </td>
        <td>
          <p>
            Миннефтегазстрой
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Свидетельство об аттестации № 58A171196</p>
          <p>действительно до 14.03.2022 г.</p>
        </td>
        <td>
          <p>
            Строительство:
            {% if joint.line.titul.subject.name %}
              {{ joint.line.titul.subject.name }}
            {% else %}-{% endif %}
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            СМУ, СУ, ПМК, КТП
            {% if joint.line.titul.subject.company.name %}
              {{ joint.line.titul.subject.company.name }}
            {% else %}-{% endif %}
          </p>
        </td>
        <td class="inner">
          <table>
            <tr>
              <td>
                {% if joint.line.titul.description %}
                  {{ joint.line.titul.description }}
                {% else %}Титул без описания{% endif %}
              </td>
              <td>
                {% if joint.line.titul.name %}
                  {{ joint.line.titul.name }}
                {% else %}-{% endif %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <p>&nbsp;</p>
        </td>
        <td class="inner">
          <table>
            <tr>
              <td>Линия</td>
              <td>
                {% if joint.line.name %}
                  {{ joint.line.name }}
                {% else %}-{% endif %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <p>&nbsp;</p>
        </td>
        <td class="inner">
          <table>
            <tr>
              <td>категория трубопровода</td>
              <td>
                {% if row.welding_joint.category %}
                  {{ row.welding_joint.get_category_display }}
                {% else %}-{% endif %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="noborder">&nbsp;</td>
        <td class="noborder">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="noborder">
          <p class="text-center title">
            Заключение № {{ row.id }} УЗК от
            {% if row.date %}
              {{ row.date|date:'d/m/Y' }}
            {% else %}
              {{ today|date:'d/m/Y' }}
            {% endif %}
          </p>
          <p class="text-center">
            по ультразвуковому контролю качества сварных соединений
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Контроль качества сварных стыков</p>
        </td>
        <td>
          <p>
            Линия
            {% if joint.line.name %}
              {{ joint.line.name }}
            {% else %}-{% endif %}
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Сварное соединение</p>
        </td>
        <td>
          <p>
            №
            {% if joint.name %}
              {{ joint.name }}
            {% else %}-{% endif %}
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="noborder">
          <p class="text-center">
            Выполняется ультразвуковым дефектоскопом типа A1212 MASTER зав № 4142899
          </p>
          <p class="text-center">
            свидетельство о проверке № 28833-15 до 05.12.2020 г. Рабочая частота 2.5 МГц, 5.0 МГц
          </p>
        </td>
      </tr>
     <tr>
        <td>
          <p>
            Оператор
            {% if row.operator.name %}
              {{ row.operator.name }}
            {% else %}-{% endif %}
          </p>
        </td>
        <td>
          <p>
            Удостоверение
            {% if row.operator.stigma %}
              {{ row.operator.stigma }}
            {% else %}-{% endif %}
          </p>
        </td>
      </tr>
      <tr>
        <td class="noborder">&nbsp;</td>
        <td class="noborder">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">
          <h4 class="text-center">Результаты контроля</h4>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="inner text-center nopadding">
          <table>
            <thead>
              <tr style="height: 0;">
                <th width="4%">&nbsp;</th>
                <th width="8%">&nbsp;</th>
                <th width="15%">&nbsp;</th>
                <th width="9%">&nbsp;</th>
                <th width="9%">&nbsp;</th>
                <th width="8%">&nbsp;</th>
                <th width="9%">&nbsp;</th>
                <th width="13%">&nbsp;</th>
                <th width="12%">&nbsp;</th>
                <th width="13%">&nbsp;</th>
              </tr>
              <tr>
                <th>№ п/п</th>
                <th>№ стыка по журналу сварки</th>
                <th>Диаметр, толщина стенки трубы, мм</th>
                <th>Фамилия сварщика</th>
                <th>Шифр сварщика</th>
                <th>Угол ввода луча, градусы</th>
                <th>Условная чувстви- тельность зарубка, мм</th>
                <th>Описание обнаруженных дефектов</th>
                <th>Заключения: годен, исправить, вырезать</th>
                <th>Примечание</th>
              </tr>
              <tr>
                {% for i in '1234567890' %}
                  <th>{% if forloop.counter > 9 %}1{% endif %}{{ i }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  {% if joint.name %}{{ joint.name }}{% else %}-{% endif %}
                </td>
                <td>
                  Ø{% if row.welding_joint.diameter %}
                    {{ row.welding_joint.diameter }}
                  {% endif %}x{% if row.welding_joint.side_thickness %}
                    {{ row.welding_joint.side_thickness }}
                  {% endif %}
                </td>
                <td>
                  {% if welders.1 and welders.1.name %}
                    {{ welders.1.name }}{% if welders.2 %},{% endif %}
                  {% endif %}
                  {% if welders.2 and welders.2.name %}
                    {{ welders.2.name }}
                  {% endif %}
                </td>
                <td>
                  {% if welders.1 and welders.1.stigma %}
                    {{ welders.1.stigma }}{% if welders.2 %},{% endif %}
                  {% endif %}
                  {% if welders.2 and welders.2.stigma %}
                    {{ welders.2.stigma }}
                  {% endif %}
                </td>
                <td>{% if row.uzk_ray_angle %}{{ row.uzk_ray_angle }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_sensitivity %}{{ row.uzk_sensitivity }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_defects %}{{ row.uzk_defects }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_state %}{{ row.get_uzk_state_display }}{% else %}-{% endif %}</td>
                <td>{% if row.uzk_notice %}{{ row.uzk_notice }}{% else %}-{% endif %}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="noborder">&nbsp;</td>
        <td class="noborder">&nbsp;</td>
      </tr>
      <tr>
        <td class="noborder">&nbsp;</td>
        <td class="inner noborder">
          <table>
            <tr>
              <td>
                Стык принял по внешнему виду
                <br>дефектоскопист
              </td>
              <td>
                {% if row.uzk_defectoscopist1.name %}
                  {{ row.uzk_defectoscopist1.name }}
                {% else %}-{% endif %}
              </td>
              <td>
                {% if row.date %}
                  {{ row.date|date:'d/m/Y' }}
                {% else %}{{ today|date:'d/m/Y' }}{% endif %}
              </td>
            </tr>
            <tr>
              <td>
                Контроль произвел
                <br>дефектоскопист
              </td>
              <td>
                {% if row.uzk_defectoscopist2.name %}
                  {{ row.uzk_defectoscopist2.name }}
                {% else %}-{% endif %}
              </td>
              <td>
                {% if row.date %}
                  {{ row.date|date:'d/m/Y' }}
                {% else %}{{ today|date:'d/m/Y' }}{% endif %}
              </td>
            </tr>
            <tr>
              <td>
                Заключение выдал
                <br>дефектоскопист
              </td>
              <td>
                {% if row.uzk_defectoscopist3.name %}
                  {{ row.uzk_defectoscopist3.name }}
                {% else %}-{% endif %}
                <br>удостоверение
                {% if row.uzk_defectoscopist3.stigma %}
                  {{ row.uzk_defectoscopist3.stigma }}
                {% else %}-{% endif %}
              </td>
              <td>
                {% if row.date %}
                  {{ row.date|date:'d/m/Y' }}
                {% else %}{{ today|date:'d/m/Y' }}{% endif %}
              </td>
            </tr>
            <tr>
              <td>Производитель сварочно-монтажных работ с результатами контроля ознакомлен</td>
              <td>
                &nbsp;
              </td>
              <td>
                {% if row.date %}
                  {{ row.date|date:'d/m/Y' }}
                {% else %}{{ today|date:'d/m/Y' }}{% endif %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

{% comment %}
<div id="footer_content">стр. <pdf:pagenumber> из <pdf:pagecount> <!-- обязательный пробел, чтобы не дублировалось кол-во страничек --></div>
{% endcomment %}

{% endblock %}
</body>
</html>
