<div class="panel panel-default">
  <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
    <input type="hidden" name="state" value="4" />
    <input type="hidden" name="container" value="{{ container.id }}" />

    <div class="panel-heading">{{ singular_obj }}</div>
    <div class="panel-body">
      {% csrf_token %}
      {% include "core/forms/row_name.html" %}
      <div class="form-group">
        <label class="col-lg-2 control-label">Меню</label>
        <div class="col-lg-10">
          <input type="text" placeholder="Меню" class="form-control" name="container_name" value="{% if row.container %}{{ row.container.name }}{% else %}{{ container.name }}{% endif %}" autocomplete="off" readonly>
        </div>
      </div>
      {% include "flatcontent_forms/row_link.html" %}
      <!-- Привязанные странички -->
      <div class="form-group">
        <label class="col-lg-2 control-label">
          Наполнение, привязанные странички
          <a title="Ссылки на пункты меню" href="javascript:void(0);" class="menus_toggle"><i class="fa fa-link"></i></a>
        </label>
        <div class="col-lg-10">
          <select id="linkcontainer_select2" name="linkcontainer" autocomplete="off" multiple>
            {% for item in containers %}
              <option value="{{ item.container.id }}" selected>{{ item.container.name }} #{{ item.container.id }} ({{ item.container.tag }})</option>
            {% endfor %}
          </select>
          <div class="linked_menus hidden">
            <table class="table">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>Ид</th>
                  <th>Тег</th>
                  <th>Действия</th>
                </tr>
              </thead>
              <tbody>
                {% for item in containers %}
                  <tr>
                    <td>
                      <a href="{% url 'flatcontent:show_blocks' 'flatpages' item.container.id %}" target="_blank">{{ item.container.name }}</a>
                    </td>
                    <td>{{ item.container.id }}</td>
                    <td>{{ item.container.tag }}</td>
                    <td>
                      <a target="_blank" class="btn-xs btn btn-primary pull-left" href="{% url 'flatcontent:edit_container' 'flatpages' 'edit' item.container.id %}"><i class="fa fa-edit"></i></a>
                      <a target="_blank" class="btn-xs btn btn-info pull-left ml" target="_blank" href="{% url 'flatcontent:edit_container' 'flatpages' 'show' item.container.id %}"><i class="fa fa-eye"></i></a>
                      <a target="_blank" class="btn-xs btn btn-info pull-left ml" href="{% url 'flatcontent:edit_container' 'flatpages' 'tree' item.container.id %}"><i class="fa fa-sitemap"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% include "flatcontent_forms/row_tag.html" %}
      {% include "flatcontent_forms/row_html.html" %}
      {% include "flatcontent_forms/row_new_window.html" %}
      {% include "flatcontent_forms/row_icon.html" %}
      {% include "flatcontent_forms/row_seo_fields.html" %}
      {% include "flatcontent_forms/row_class_name.html" %}

      {% include "core/forms/row_image.html" %}
      {% include "core/forms/row_position.html" %}
      {% include "core/forms/row_is_active.html" %}
    </div>
    {% if is_tree %}
      {% include "flatcontent_forms/simple_save_button.html" %}
    {% else %}
      {% include "core/forms/footer_buttons.html" %}
    {% endif %}
  </form>
</div>
