<div class="panel panel-default">
  <form class="form-horizontal" method="post" action="{% if action == 'create' %}{{ url_create }}{% endif %}{% if action == 'edit' %}{{ url_edit }}{% endif %}" id="current_edit_form">
    <input type="hidden" name="state" value="1" />
    <input type="hidden" name="container" value="{{ container.id }}" />

    <div class="panel-heading">{{ singular_obj }}</div>
    <div class="panel-body">
      {% csrf_token %}
      {% include "core/forms/row_name.html" %}
      <div class="form-group">
        <label class="col-lg-2 control-label">Контейнер</label>
        <div class="col-lg-10">
          <input type="text" placeholder="Контейнер" class="form-control" name="container_name" value="{% if row.container %}{{ row.container.name }}{% else %}{{ container.name }}{% endif %}" autocomplete="off" readonly>
        </div>
      </div>

      {% include "flatcontent_forms/row_link.html" %}
      {% include "flatcontent_forms/row_tag.html" %}
      {% include "flatcontent_forms/row_html.html" %}
      {% include "flatcontent_forms/row_new_window.html" %}
      {% include "flatcontent_forms/row_icon.html" %}
      {% include "flatcontent_forms/row_seo_fields.html" %}
      {% include "flatcontent_forms/row_class_name.html" %}

      {% include "core/forms/row_image.html" %}
      {% include "core/forms/row_position.html" %}
      {% include "core/forms/row_is_active.html" %}
    </div>
    {% if is_tree %}
      <div class="panel-footer">
        <div class="col-12 text-right padding-tb5">
          <button type="submit" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="fa fa-check"></i></span>Сохранить
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    {% else %}
      {% include "core/forms/footer_buttons.html" %}
    {% endif %}
  </form>
</div>
