{% load mtags flatcontent_tags tags %}<!DOCTYPE html ><html><head>
{% include "skeleton_header.html" %}
<meta name="viewport" content="width=600,user-scalable=no">
<link rel="stylesheet" href="/media/css/css.css"  media="screen" />
<link rel="stylesheet" href="/media/css/outline.css" media="screen" />
<link rel="stylesheet" href="/media/css/ddsmoothmenu.css" type="text/css" />
<!--
<link rel="stylesheet" href="/media/css/cusel.css" type="text/css" />
-->
<link rel="stylesheet" href="/media/css/adaptive.css" type="text/css" />
<link rel="stylesheet" href="/media/css/prettyPhoto.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/liMenuVertpw.css" type="text/css" />
<link rel="stylesheet" href="/media/css/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/owl.carousel.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/owl.theme.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/scrollpane.css" type="text/css" />
<link rel="stylesheet" href="/media/css/custom.css" type="text/css" />

<link rel="stylesheet" href="/static/admin/css/font-awesome.min.css">
<link rel="stylesheet" href="/media/css/bootstrap.min.css" type="text/css" />

<script type="text/javascript" src="/media/js/jquery.js"></script>
<!--
<script type="text/javascript" src="/media/js/cusel.js"></script>
-->
<script type="text/javascript" src="/media/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/media/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/media/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/media/js/jquery.liMenuVertpw.js"></script>
<script type="text/javascript" src="/media/js/jquery-func.js"></script>
<script type="text/javascript" src="/media/js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="/media/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/media/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/media/js/custom.js?v=1"></script>
{% block extrahead %}{% endblock %}
</head>
<body>
{% block body %}
<div id="moderator_error3" style="max-width:500px; padding-bottom:40px; display:none" class="news">
  <span></span>
  <img src="/media/img/closepng2.png" class="closepng" title="закрыть" alt="закрыть" id="errсlose" />
</div>
<div id="overload"></div>
<span class="mobileonly">
  <div id="lefmobiletpanel">
    <div id="lefmobiletpanelclose"></div>
    <div id="lefmobiletpanelmenu">
      <div id="lefmobiletpanelcontentmenu"></div>
    </div>
    <div id="lefmobiletpanelcontent"></div >
  </div>
</span>
{% include "web/components/right_panel.html" %}
<a id="knof" href="/shop/cart/">
  <div class="kolvoround2" style="display:none" id="knofkolvoround"></div>
</a>
<div id="overcover" style="display:none"></div>
<div id="overcover2" style="display:none"></div>
<div id="overcover3" style="display:none"></div>
{% comment %}<!-- Иконка возле верхнего меню
<a href="/" style="background:url('/media/misc/fav32.png') center no-repeat; width:45px; height:45px; position:fixed; display:block; margin-top:-55px; top:0; left:50%; margin-left:-500px; z-index:1000;" id="favicon"></a>
-->{% endcomment %}

<div id="toppanel">
  <span class="mobileonly">
    <div id="menucatalog" class="menucatalog"></div>
    <div id="menuinfo" class="menuinfo"></div>
  </span>
  {% comment %}<!--
  <a href="/profile/" id="userrg" class="auserinfo add"></a>
  -->{% endcomment %}
  <a href="/profile/" id="userrg"></a>
  {% flatmenu request "topmenu" %}
</div>
{% include "web/components/top_panel.html" %}


<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 leftcol pconly">
      {% block left %}
        {% catalogue request %}
{% comment %}<!--
        {% include "web/containers/sidebar_news.html" %}
        {% include "web/containers/sidebar_images.html" %}
-->{% endcomment %}
      {% endblock %}
    </div>
    <div class="maincol pcctyle col-lg-9 col-md-8" id="mainblock">
      <div id="searchpanel" class="pcstyle jsonly">
        <div id="searchrun" rel="0" class="mobileonly searchrunopen"></div>
        <form action="/cat/" method="GET" id="searchform" class="pcstyle">
          <input type="text" name="q" placeholder="Поиск товаров"  class="pcstyle kdwn" id="search" autocomplete="off" tabindex="1" value="{% if q_string.q.q %}{{ q_string.q.q }}{% endif %}" />
        </form>
        <div class="pconly">
          <div class="cont" id="mini-cart">
            {% ajax_cart request %}
          </div>
        </div>
      </div>
      {% block content %}
        {% include "web/containers/products_tabs.html" %}
      {% endblock %}
    </div>
  </div>
</div>


<div id="footer" class="blokc">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="shell iblok">
          <div class="iblok pcstyle white">
            <a href="/">
              <img src="{{ containers.main.tags.logo.thumb }}" />
            </a>
            {% if containers.main.tags.requisites %}
              {{ containers.main.tags.requisites.html|safe }}
            {% endif %}
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
      {% flatmenu request "bottommenu" %}
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="iblok pcstyle white">
          {% for block in containers.main.tags.social.sub %}
            <a href="{{ block.link }}" target="_blank" class="social_link"><i class="fa fa-{{ block.icon }}"></i></a>
          {% endfor %}
        </div>
        <div class="cl">&nbsp;</div>
      </div>

      <div class="col-md-6">
        <div class="iblok pcstyle white">
          <img src="/media/misc/cards.png" />
        </div>
      </div>
<!--
            <div class="col-md-4">
              <div class="iblok pcstyle white subscribe">
                <div class="subscribe_name">Подпишитесь на нашу рассылку</div>
                <small>и будьте вкурсе наших акций и новостей</small>
                <div class="clearfix"></div>
                <input type="text" value="" placeholder="Ваш email" />
                <input type="button" class="btn btn-primary" value="Подписаться" />
              </div>
            </div>
-->
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="copy">
          {% if containers.main.tags.copyright %}
            {{ containers.main.tags.copyright.html|safe }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<a class="scrollTop" href="#header" style="display:none;"></a>
{% include "shop_js.html" %}
{% endblock %}
{% block extrascripts %}{% endblock %}
</body>
</html>