{% extends "skeleton.html" %}
{% load mtags flatcontent_tags %}

{% block extrahead %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
{% if not cart %}
  <article class="stylization">
    <div class="woocommerce">
      <h2 class="text-center pt-100 pb-100">Ваша корзина пуста, сначала выберите, что хотите купить</h2>
    </div>
  </article>
{% else %}
  <div class="news">
     <h2 class="text-center pt-100 pb-100">Ваша корзина</h2>
    <table class="iblokl price cart-items">
      <thead>
        <tr>
          <th class="cart-image">Фото</th>
          <th class="cart-ttl">Наименование</th>
          <th class="cart-price">Цена</th>
          <th class="cart-quantity">Кол-во</th>
          <th class="cart-summ">Сумма</th>
          <th class="cart-del">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in cart.purchases %}
          <tr>
            <td class="cart-image">
              <a href="{{ purchase.link }}" target="_blank">
                <img src="{{ purchase.thumb }}" alt="{{ purchase.product_name|textize }}">
              </a>
            </td>
            <td class="cart-ttl">
              <a href="{{ purchase.link }}">{{ purchase.product_name }}</a>
{% comment %}<!--
              <p>Color: Red</p>
              <p>Size: XS</p>
-->{% endcomment %}
            </td>
            <td class="cart-price">
              <b>{{ purchase.cost|money_format }} ₽</b>
            </td>
            <td class="cart-quantity">
              <p class="cart-qnt" id="qbuttons_{{ purchase.id }}">
                <a href="javascript:void(0);" class="cart-minus minusik"><i class="fa fa-angle-down"></i></a>
                <input value="{{ purchase.count }}" type="text" id="quantity_{{ purchase.id }}" autocomplete="off" class="kol-vo">
                <a href="javascript:void(0);" class="cart-plus plusik"><i class="fa fa-angle-up"></i></a>
              </p>
            </td>
            <td class="cart-summ">
              <b>{{ purchase.total|money_format }} ₽</b>
            </td>
            <td class="cart-del">
              <a href="javascript:void(0);" class="delitkolvoopen remove_from_cart_btn" id="purchase_drop_{{ purchase.id }}"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="6">
            <div class="cart-summ PT">Итого: <b>{{ cart.total|money_format }} ₽</b></div>
            <div class="cart-submit">
              <a href="/shop/checkout/" class="cart-submit-btn PT zakaz pn-button">Оформить заказ</a>
            </div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
{% endif %}

{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}
{% endblock %}

{% block subscribe %}{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function(){
    {% for purchase in cart.purchases %}
      quantity_listener("{{ purchase.id }}",
                        $("#qbuttons_{{ purchase.id }} .cart-plus"),
                        $("#qbuttons_{{ purchase.id }} .cart-minus"),
                        true // сразу обновить
      );
      purchase_drop_listener("{{ purchase.id }}",
                             $("#purchase_drop_{{ purchase.id }}")
      );
    {% endfor %}
  });
</script>
{% endblock %}
