{% extends "skeleton.html" %}
{% load mtags flatcontent_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/css/checkout.css" />
<style type="text/css">
  label.error{
    color: #d20000 !important;
  }
  .order-total strong{
    font-size: 125%;
  }
  .stylization p{
    margin: 0 0 10px;
  }
</style>
{% endblock %}

{% block content %}
<article class="stylization">
  <div class="woocommerce">
    {% if not cart %}
      <h2 class="text-center pt-100 pb-100">Ваша корзина пуста, сначала выберите, что хотите купить</h2>
    {% else %}
      <h2 class="text-center pt-100 pb-100">Оформление заказа</h2>
      {% for error in errors %}
        <label class="error mistake">{{ error }}</label><br />
      {% endfor %}
      <form action="/shop/checkout/" method="POST" id="confirm_order" class="authpane-form">
        {% csrf_token %}

        <fieldset class="authpane-form blokc">
          <legend class="PT red">Информация о получателе</legend>
          <div class="iblokl" style="width:49%;">
            <div class="form-row iblok">
              <div class="form-label">
                <label for="name">Получатель заказа</label><span>Ф.И.О.</span>
              </div>
              <div class="form-value">
                <input class="afname checkme required" style="width:100%;" maxlength="150" type="text" name="name" value="{% if shopper_data.name %}{{ shopper_data.name }}{% endif %}" placeholder="Иван Петров">
              </div>
            </div>
          </div>
          <div class="iblokl" style="width:49%">
            <div class="form-row iblok">
              <div class="form-label">
                <label for="name">Телефон</label><span>Оператор позвонит</span>
              </div>
              <div class="form-value ">
                <input class="afphone checkme phone required" style="width:100%;" required="" maxlength="150" type="text" name="phone" value="{% if shopper_data.phone %}{{ shopper_data.phone }}{% endif %}" placeholder="+7 999 999 9999">
              </div>
            </div>
          </div>
          <div class="iblokl" style="width:49%">
            <div class="form-row iblok">
              <div class="form-label">
                <label for="name">Email</label><span>чтобы контролировать заказ</span>
              </div>
              <div class="form-value ">
                <input class="afemail checkme email required" style="width:100%;" maxlength="150" type="text" name="email" value="{% if shopper_data.email %}{{ shopper_data.email }}{% endif %}" required="true" placeholder="email@email.ru">
              </div>
            </div>
          </div>
          <div class="iblokl" style="width:49%">
            <div class="form-row iblok">
              <div class="form-label">
                <label for="name">Адрес</label><span>для доставки</span>
              </div>
              <div class="form-value ">
                <input class="afdst checkme" style="width:100%;" maxlength="150" type="text" name="address" value="{% if shopper_data.address %}{{ shopper_data.address }}{% endif %}"></div>
              </div>
            </div>
          </div>
        </fieldset>
        <br>
        <div class="wc-proceed-to-checkout col-md-12">
          <button type="submit" class="checkout-button button pull-right PT zakaz pn-button">Оформить заказ</button>
        </div>
        <div class="clearfix"></div><br>

        <div class="col-md-12">
          <h3 id="order_review_heading">Заказ на {{ cart.total|money_format }} ₽</h3>
          <div id="order_review" class="news">
            <table class="price">
              <thead>
                <tr>
                  <th class="product-name">Наименование</th>
                  <th class="product-total">Итого</th>
                </tr>
              </thead>
              <tbody>
                {% for purchase in cart.purchases %}
                  <tr class="cart_item">
                    <td class="product-name">
                      {{ purchase.product_name }}
                      <strong class="product-quantity">X {{ purchase.count }}</strong>
                    </td>
                    <td class="product-total">
                      <span class="woocommerce-Price-amount amount">
                        {{ purchase.total|money_format }} ₽
                      </span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr class="cart-subtotal">
                  <th>Без скидки</th>
                  <td>
                    <span class="woocommerce-Price-amount amount">
                      {{ cart.total|money_format }} ₽
                    </span>
                  </td>
                </tr>
                <tr class="cart-subtotal">
                  <th>Скидка</th>
                  <td>
                    <span class="woocommerce-Price-amount amount">
                      {% if cart.promocode %} (промокод <strong>{{ cart.promocode }}</strong>){% endif %}
                      {{ cart.discount|money_format }} ₽
                    </span>
                  </td>
                </tr>
                <tr class="order-total">
                  <th>Итого</th>
                  <td>
                    <strong>
                      <span class="woocommerce-Price-amount amount">
                        {{ cart.total_with_discount|money_format }} ₽
                      </span>
                    </strong>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </form>
      <div class="clearfix"></div><br>
    {% endif %}
  </div>
</article>

{% for container in page.containers %}
  {% flatcontent request page container.container.tag %}
{% endfor %}
{% endblock %}

{% block subscribe %}{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>

<script type="text/javascript">
  jQuery(document).ready(function($){
    //demo_fill_order();
    $("input[type='text'].phone").mask("8(999)9 999-999");
    $("#confirm_order input[type='submit']").attr("disabled", false);
    $("#confirm_order").validate({
      messages: {
        name: "Введите ваше имя, чтобы мы могли знать как к вам обращаться",
        phone: "Введите телефон, чтобы мы связались с вами по заказу",
        email: "Введите email, чтобы вы могли восстановить доступ к аккаунту",
      },
      submitHandler: function(form) {
        $("#confirm_order button[type='submit']").html("Ждите...").attr("disabled", "disabled");
        form.submit();
      }
    });
  });
</script>
{% endblock %}