@font-face {
  font-family:Montserrat;
  font-style:normal;
  font-weight:400;
  src:url(/media/fonts/Montserrat-Regular.woff2) format("woff2");
}
@font-face{
  font-family:Montserrat;
  font-style:normal;
  font-weight:500;
  src:url(/media/fonts/Montserrat-Medium.woff2) format("woff2");
}
@font-face{
  font-family:Montserrat;
  font-style:normal;
  font-weight:600;
  src:url(/media/fonts/Montserrat-SemiBold.woff2) format("woff2");
}
@font-face{
  font-family:Montserrat;
  font-style:normal;
  font-weight:700;
  src:url(/media/fonts/Montserrat-Bold.woff2) format("woff2");
}
@font-face{
  font-family:Montserrat;
  font-style:normal;
  font-weight:800;src:url(/media/fonts/Montserrat-Black.woff2) format("woff2");
}
@font-face{
  font-family:Montserrat;
  font-style:normal;font-weight:900;
  src:url(/media/fonts/Montserrat-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:400;
  src:url(/media/fonts/Roboto-Regular.woff2) format("woff2")
}
@font-face{
  font-family:"FA Brands";
  font-style:normal;
  font-weight:400;
  src:url(/media/fonts/fa-brands-400.woff2) format("woff2")
}
.roboto {
  font-family:Roboto;
}
.fab{font-family:'FA Brands';font-weight:400;
-moz-osx-font-smoothing: grayscale;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-telegram:before {
  content: "\f2c6";
}
.fa-viber:before {
  content: "\f409";
}
.fa-youtube-play {
  font-size:16px;
  color: red;
}
.fa-instagram {
  content: "\f16d";
}
.fa-vk {
  content: "\f189";
}
.fa-youtube {
  content: "\f167";
}
h1,h2,h3,h4,h5,h6,
.about .title {
  font-family:Montserrat,sans-serif;
}
.text-color-primary {
  color: #ffdd9c !important;
}
.text-color-dark {
  color: #555 !important;
}
.color-primary {
  background-color: #ffdd9c !important;
}
.btn-dark, .btn-light {
  font-family:Montserrat,sans-serif;
  font-weight: 500;
}
.text-color-light, .text-light {
  color: #fff !important;
}
#header .header-nav-main {
  margin: 0 auto;
}
#mainNav .dot:after {
  position: absolute;
  right: -4px;
  content: '■';
  display: block;
  font-size: 12px;
  line-height: 0;
  color: #8d8d8d;
  top: 50%;
}
@media(max-width:1024px){
  #header .header-nav-main nav>ul>li>a:after{display:none}
}
.header-logo svg {
  fill: #fff;
  max-width: 160px;
  width: 90%;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}
.logo_footer {
  fill: #fff;
  width: 150px;
}
/* --- Slider ---*/
.slider {
  margin-top: -114px;
}
.slider .owl-item > .position-relative {
  background-size: cover;
  background-position: center;
  height: 102vh;
  background-repeat: no-repeat;
}
.slider .special_bottom_left {
  position: absolute;
  bottom: 40px;
  left: auto;
}
.slider .special_bottom_left .position-relative {
  color: #fff;
  border-left: 4px solid #fff;
  padding-left: 30px;
  -webkit-filter: drop-shadow(3px 3px 3px #000);
  filter: drop-shadow(3px 3px 3px #000);
}
.slider .special_bottom_left .text-12 {
  line-height: 1.1em;
}
.promo__next, .promo__prev {
  position: absolute;
  z-index: 200;
  top: calc(50% - 45px);
  width: auto;
  height: 70px;
  cursor: pointer;
}
.promo__arrow {
  height: 70px;
  overflow: hidden;
  vertical-align: middle;
}
.promo__next {
  right: 40px;
}
.promo__prev {
  left: 40px;
}
.slider .owl-carousel .owl-nav button.owl-prev:before,
.slider .owl-carousel .owl-nav button.owl-next:before {
  content: '';
}
@media(max-width:1024px){
  .promo__prev, .promo__next {
    display: none;
  }
  .slider .special_bottom_left .text-12 {
    font-size: 2.2em !important;
    line-height: 1.4em;
  }
}
@media(max-width:768px){
  .slider {
    margin-top: 0;
  }
  .slider .owl-item > .position-relative {
    background-position: center;
    height: 300px;
  }
}

/* --- About --- */
.about .title,
.article .title,
.contacts .title {
  font-size: 2em;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.about .desc {
  padding-right: 15px
}
/* --- Article Dark --- */
.article_dark {
  background-color: #41474b;
}
.article_dark h2,
.article_dark .title,
.article_dark .desc,
.article_dark .desc p {
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}
.article_dark .text_block {
  z-index: 2;
  position: relative;
}
.article_dark h2 {
  font-size: 2.5em;
}
.article_dark .title {
  font-size: 2em;
}
.article_dark .imga {
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
}
.article_dark .overflow-hidden {
  position: relative;
}
.imga img {
  max-width: 100%;
}
/* --- Dealers ---*/
#mapContainer {
  height: 400px;
  width: 100%;
}
.dealers .title,
.dealers .name  {
  font-family: Montserrat,sans-serif;
  font-size: 24px;
}
.dealers .title {
  text-transform: uppercase;
  color: #5c5c5c;
  font-weight: 700;
}
.dealers .label {
  color: #5c5c5c;
}
.dealers .name {
  color: #333;
  font-weight: 700;
}
.dealers .desc {
  font-size: 1.1em;
  color: #000;
}
/* --- Catalogue --- */
.catalogue .card {
  background-color: #fafafa;
  border: 0;
}
.catalogue .card:hover {
  -webkit-box-shadow: 0 3px 12px 1px rgba(0,0,0,.2);
  box-shadow: 0 3px 12px 1px rgba(0,0,0,.2);
}
.catalogue .card img {
  max-width: 100%;
}
.catalogue .card a {
  text-decoration: none;
}
.product_card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.product_card {
  transition: .25s;
  background-color: #f8f8f8;
  box-shadow: 0 3px 12px 1px rgba(0,0,0,.2);
}
@media(min-width:1024px){
  .product .product-thumb-info {
    background-color: #fff;
    height: 320px;
  }
}
/* --- CART ---*/
.add_to_cart_btn:hover .fa{
  color: #ed5348 !important;
}
a.add_to_cart_btn {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 100%;
  height: 48px;
  line-height: 48px;
  width: 48px;
  text-align: center;
  color: #333 !important;
  text-decoration: none;
  font-size: 1.1em;
}
.quantity_styled .quantity .inc,
.quantity_styled .quantity .dec {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  color: #5e5e5e;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 13px;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  vertical-align: text-top;
  width: 40px;
  border-radius: 0 .25rem .25rem 0;
  right: 0;
  top: 0;
}
.quantity_styled .quantity .dec {
  left: 0;
  right: auto;
}
.quantity_styled .quantity .qty {
  border: 1px solid #f0f0f0;
  float: left;
  height: 40px;
  padding: 0 39px;
  text-align: center;
  width: 125px;
  font-size: 1em;
  border-radius: .25rem;
}
.quantity_styled .quantity {
    margin: 0 15px 25px 0;
    overflow: hidden;
    position: relative;
    width: 125px;
    height: 40px;
    float: left;
}
/* --- Call to action ---*/
.call_to_action .desc {
  font-size: 2.5em;
  line-height: 1.1em;
  color: #fff;
}
/* --- Button hover arrow ---*/
.btn.hover-animate-icon {
  position: relative;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}
.btn.hover-animate-icon:hover {
  padding-right: 30px;
}
.btn.hover-animate-icon i {
  right: -10px;
  top: 12px;
  opacity: 0;
  position: absolute;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}
.btn.hover-animate-icon:hover i{
  opacity: 1;
  right: 10px;
}
/* --- YouTube videos ---*/
@media(min-width:1024px){
  .videos .owl-carousel.nav-inside.nav-inside-plus .owl-nav button.owl-prev {
    left: -30px;
  }
  .videos .owl-carousel.nav-inside.nav-inside-plus .owl-nav button.owl-next {
    right: -30px;
  }
}
.feedback input[type="text"].form-control,
.feedback textarea.form-control {
  background-color: #ececec;
  border: 2px solid #ececec;
}
.feedback input[type="text"].form-control,
.feedback textarea.form-control {
  background-color: #ececec;
  border: 2px solid #ececec;
}
.feedback input[type="text"].form-control:focus,
.feedback textarea.form-control:focus {
  background-color: var(--color-light);
  outline: 0;
}
.footer-copyright {
  border-top: 1px solid #999;
}
.payment-cc > i {
  width: 40px;
}
