{% if breadcrumbs %}
  <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url('/media/misc/about.jpg');">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-12 align-self-center p-static order-2 text-center">
          <h1 class="text-9 font-weight-bold pt-3">{% block page_title %}{{ page.name }}{% endblock %}</h1>
          {% comment %}<!--<span class="sub-title">subtitle</span>-->{% endcomment %}
        </div>
        <div class="col-md-12 align-self-center order-1">
          <ul class="breadcrumb breadcrumb-light d-block text-center">
            <li><a href="/">Главная</a></li>
            {% for crumb in breadcrumbs %}
              {% if forloop.last %}
                <li class="active">{{ crumb.name }}</li>
              {% else %}
                <li><a href="{{ crumb.link }}">{{ crumb.name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endif %}