{% extends "core/base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% include "core/forms/default_create.html" %}

{% include "core/title/page_title_table.html" %}
{% include "core/breadcrumbs.html" %}
{% include "core/tabulator_table.html" %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
var main_table = null;
$(document).ready(function(){
  main_table = new Tabulator("#main-table", {
    {% include "core/tabulator_table_params.html" %}
    columns:[
      {% include "core/tabulator_cell/drag.html" %}
      {% include "core/tabulator_cell/id.html" %}
      {
        title: "Блок",
        field: "block.name",
        headerFilterPlaceholder: "Блок",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        minWidth: 180,
      },
      {
        title: "Описание",
        field: "name",
        headerFilterPlaceholder: "Описание",
        headerFilter: "input",
        headerFilterFunc: "like",
        formatter: wordwrapFormatter,
        minWidth: 120,
      },
      {
        title: "Позиция х",
        field: "xpos",
        headerFilterPlaceholder: "Позиция х",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 80,
      },
      {
        title: "Позиция у",
        field: "ypos",
        headerFilterPlaceholder: "Позиция у",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 80,
      },
      {
        title: "Размер изображения",
        field: "img_size",
        headerFilterPlaceholder: "Размер изображения",
        headerFilter: "input",
        headerFilterFunc: "=",
        minWidth: 120,
      },
      {% include "core/tabulator_cell/is_active.html" %}
      {% include "core/tabulator_cell/position.html" %}
      {% include "core/tabulator_cell/actions.html" %}
    ],
  });
});
</script>
{% endblock %}